@(attributedetails : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils, Error : com.fasterxml.jackson.databind.JsonNode)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var png= ".png";
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import com.arka.common.utils.JsonUtils
@import java.text.SimpleDateFormat
@import java.sql.Date

@csses={
}
@footerJS = {
<script type="text/javascript" src="@js_url/site/procurement/travel/travelcheckout.js"></script>
<script src="@plugins_url/widgets/datejs/date.js@version"></script>
<script>
var userNo;
var profilecreated;
var errorMsg={};
@if(Error != null){
	@for(errorMsg<-Error.elements()){
		var key="@errorMsg.asText";
		errorMsg[key]="@proputils.get(errorMsg.asText)";
	}
}

 $(document).ready(function() {
	 @if(session().get("AC-GENDER") == null || session().get("AC-GENDER") == ""){
		 $(".male").attr('checked','checked');
	 }
	 @if(session().get("AC-MARITAL") == null || session().get("AC-MARITAL") == ""){
		 $(".unmarried").attr('checked','checked');
	 }
	 
	 $(".input-effect input").ready(function(){
		 var arr = $(".input-effect input");
	 	for(i=0;i< arr.length;i++){
	 		 if (arr[i].value == null || arr[i].value == '' || arr[i].value.length === 0 ) {
	             $(arr[i]).removeClass("has-content");
	         } else {
	             $(arr[i]).addClass("has-content");
	         }
	 	}
	 });
	 
	 $.get("/travel-insurance/states/list",function(data){
		 $(data.items).each(function(index,value){
			 $(value.data.items).each(function(ind,val){
				 $("#ac-state").append($("<option>").val(val.state_name).html(val.state_name));
			 });
		 });
		 if("@session().get("AC-STATE")" == null || "@session().get("AC-STATE")" ==""){
			 $("#ac-state").val('');
		 }else{
			 $("#ac-state").val("@session().get("AC-STATE")");
		 }
		 selectEffect();
		 $("#ac-state").selectpicker('render');
		 $("#ac-state").selectpicker('refresh');
	 });
	 
	 if( "@session().get("AC-DOB")" == null || "@session().get("AC-DOB")" == ""){
			$('#ac-date').val('');
			$('#ac-month').val("1").change();
			$('#ac-year').val('');
			
		 }else{
			 var getDateBack = "@session().get("AC-DOB")";
				var back = convertBackDate(getDateBack);
				var dateParts = back.split(/(\d{1,2})\-(\d{1,2})\-(\d{4})/);
				$('#ac-date').val(dateParts[1]);
				$('#ac-month').val(dateParts[2]).change();
				$('#ac-year').val(dateParts[3]);
		 }
 });
 
 
 
	 function incrementalSave(fielddetails){
		 $.ajax({
			    url: "/travel-insurance/proposalsave/@attributedetails.get("proposalId")",
			    type: "POST",
			    data: JSON.stringify(fielddetails),
			    processData: false,
			    contentType: "application/json; charset=UTF-8",
			});
	 }
	 
	 function proposalSave(fielddetails){
		 $.ajax({
			    url: "/travel-insurance/proposalsave/@attributedetails.get("proposalId")",
			    type: "POST",
			    data: JSON.stringify(fielddetails),
			    processData: false,
			    contentType: "application/json; charset=UTF-8",
			})
			.done(function(){
				window.location.href = "/travel-insurance/checkoutsummary/@attributedetails.get("proposalId")";
			});
		 
	 }
	 
	
	 
	 function userCall(userId){
			var propId = @attributedetails.get("proposalId");
			 $.ajax({
				    url: "/travel-insurance/update/userid/proposal/",
				    type: "POST",
				    data: JSON.stringify({"user_id":userId,"proposal_id":propId}),
				    processData: false,
				    contentType: "application/json; charset=UTF-8",
				});
		};
		
</script>
}

@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | Travel",proputils,footerJS=footerJS,csses=csses){
@attributedetails
	<!--Checkout section start-->
        <section class="checkOut__section">
            <div class="container">
                <div class="checkOut">
                    <div class="checkOut__title">
                        <h1 class="checkOut__titleText">CHECKOUT</h1>
                    </div>
                    <div class="checkOut__outer">
                        <div class="checkOut__inner">
                            <div class="checkOut__carDetailsBox">
                                <h2 class="checkOut__carHeading">Travel Care</h2>
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <div class="checkOutContent__imageBox">
                                   @if(attributedetails.has("output_quote_params") && attributedetails.get("output_quote_params").has("AC-PRODUCT_CODE") ){
                                    <img src="@image_url/@attributedetails.get("output_quote_params").get("AC-PRODUCT_CODE").asText()@png"  class="checkOutContent__img" />
                                }
                                </div>
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <ul class="checkOut__insureDetails">
                                    <li class="checkOut__insureLists">
                                        <span class="checkOut__insureType">Sum Assured</span>
                                        <span class="checkOut__insureAmount">: Rs. 3,17,688</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <span class="checkOut__insureAmountHeading">Payable Amount</span>
                                <span class="checkOut__insureAmountRate"><span class="rs">rs </span>9,292</span>
                            </div>
                        </div>
                    </div>
                    <div class="checkOutDetails">
                        <ul class="checkOutDetails__section">
                            <li class="checkOutDetails__sectionTitle js__checkOutDetails checkOutDetails__sectionTitle--active " id="contacttab" rel="tab1">Contact Details<a href="javascript:;" class="checkOutDetails__sectionTitleEdit" id="tabone" style="display:none";>Edit</a></li>
                            <li class="checkOutDetails__sectionTitle js__checkOutDetails " id="travellertab" rel="tab2">Traveller Details <a href="javascript:;" class="checkOutDetails__sectionTitleEdit" id="tabtwo">Edit</a></li>
                            <li class="checkOutDetails__sectionTitle js__checkOutDetails " id="addresstab" rel="tab3">Address<a href="javascript:;" class="checkOutDetails__sectionTitleEdit" id="tabthree">Edit</a></li>
                        </ul>
                        <div class="checkOutDetails__carOwner">
                            <div id="tab1" class="checkOutDetails__box checkOutDetails__box--active">
                                <form class="checkOutDetails__form" action="javascript:;" method="post">
                                    <div class="row checkOutDetails__formRow">
                                        <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter mb10 field input-effect">
                                                <input class="field__input js__company__input" type="text"  name="ac-first_name" value="@session().get("AC-FIRST_NAME")" id="ac-first_name" onblur="validateFirstName()">
                                                <label class="field__label">First Name</label>
                                                <span class="focus-bg"></span>
                                                <span class="error" id="firstname"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                           <div class="checkOutDetails__inputOuter field input-effect">
                                                <input class="field__input" type="text" name="ac-last_name" value="@session().get("AC-LAST_NAME")" id="ac-last_name" onblur="validateLastName()">
                                                <label class="field__label">Last Name</label>
                                                <span class="focus-bg"></span>
                                                <span class="error" id="lastname"></span>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row checkOutDetails__formRow">
                                       <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter field input-effect">
                                                <input class="field__input" type="email" name="ac-email" value="@session().get("AC-EMAIL")" id="ac-email">
                                                <label class="field__label">Email Address</label>
                                                <span class="focus-bg"></span>
                                                <span class="error" id="emailid"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter field input-effect">
                                                <input class="field__input" type="text" name="ac-mobile_number" maxlength="10" value="@session().get("AC-MOBILE_NUMBER")" id="ac-mobile_number">
                                                <label class="field__label">Mobile Number</label>
                                                <span class="focus-bg"></span>
                                                <span class="error" id="mobilenumber"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <input type="submit" value="Next" onclick="contactTab()" id="contactDetailsButton" class="checkOutDetails__formBtn js__checkOutDetails__btn">
                                    </div>
                                </form>

                            </div>
                            <div id="tab2" class="checkOutDetails__box">
                                <form class="checkOutDetails__form" action="javascript:;" method="post">
                                    <div class="row checkOutDetails__formRow">
                                        <div class="col-sm-4">
                                            <div class="checkOutDetails__genderBox" id="ac-gender">
                                                <h5 class="checkOutDetails__inputInnerTitle ">Gender</h5>
                                                <div class="buyPlanRadio__innerBox">
                                                    <div class="buyPlanRadio__innerCheck commonRadio">
                                                        <input type="radio" name="ac-gender" value="Male" id="cc-6" class="commonRadio__input ac-gender male" @if(session().get("AC-GENDER") != null && session().get("AC-GENDER").equals("Male")){checked="checked"}>
                                                        <label for="cc-6" class="commonRadio__label js__buyPlanRadio__label ac-gender-radio">Male</label>
                                                    </div>
                                                    <div class="buyPlanRadio__innerCheck commonRadio">
                                                        <input type="radio" name="ac-gender" value="Female" id="cc-7" class="commonRadio__input ac-gender female" @if(session().get("AC-GENDER") != null && session().get("AC-GENDER").equals("Female")){checked="checked"}>
                                                        <label for="cc-7" class="commonRadio__label js__buyPlanRadio__label ac-gender-radio">Female</label>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                       <div class="col-sm-4">
                                            <div class="checkOutDetails__genderBox">
                                                <h5 class="checkOutDetails__inputInnerTitle ">Married</h5>
                                                <div class="buyPlanRadio__innerBox">
                                                    <div class="buyPlanRadio__innerCheck commonRadio">
                                                        <input type="radio"  name="ac-marital" value="Yes" id="cc-12" class="commonRadio__input ac-marital married"  @if(session().get("AC-MARITAL") != null  && session().get("AC-MARITAL").equals("Yes")){checked="checked"}>
                                                        <label for="cc-12" class="commonRadio__label js__buyPlanRadio__label ac-marital-radio">Yes</label>
                                                    </div>
                                                    <div class="buyPlanRadio__innerCheck commonRadio">
                                                        <input type="radio" name="ac-marital" value="No" id="cc-13" class="commonRadio__input ac-marital unmarried" @if(session().get("AC-MARITAL") != null  && session().get("AC-MARITAL").equals("No")){checked="checked"}>
                                                        <label for="cc-13" class="commonRadio__label js__buyPlanRadio__label ac-marital-radio">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                         <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter date">
                                                <input class="field__input" maxlength="2" type="text" name="ac-date" id="ac-date">
												<select class="selectPicker relationSelect__select" name="ac-month" id="ac-month">
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
												<input class="field__input" maxlength="4" type="text" name="ac-year" id="ac-year">
                                                <label class="field__label">Date Of Birth</label>
                                                <span class="error" id="dob"></span>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row checkOutDetails__formRow">
                                         <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter field input-effect">
                                                <input class="field__input" type="text" style='text-transform:uppercase' name="atr-passport_number" value="@session().get("ATR-PASSPORT_NUMBER")"  maxlength="8" id="atr-passport_number">
                                                <label class="field__label">Passport No.</label>
                                                <span class="focus-bg"></span>
                                                <span class="error" id="passportnumber"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row checkOutDetails__formRow">
                                        <div class="col-sm-12">
                                            <h4 class="checkOutDetails__formSubHeading">Assignee Details</h4>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter field input-effect">
                                                <input class="field__input" type="text" name="atr-assignee_name" id="atr-assignee_name" value="@session().get("ATR-ASSIGNEE_NAME")">
                                                <label class="field__label">Assignee Name</label>
                                                <span class="focus-bg"></span>
												<span class="error" id="assigneename"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <input type="submit" value="Next" onclick="travellerTab()" id="travellerDetailsButton" class="checkOutDetails__formBtn js__checkOutDetails__btn">
                                    </div>
                                </form>
                            </div>
                            <div id="tab3" class="checkOutDetails__box">
                                <form class="checkOutDetails__form" action="javascript:;" method="post">
                                    <div class="row checkOutDetails__formRow">
                                       <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter field input-effect">
                                                <textarea class="field__input" rows="6" name="ai-address" id="ai-address">@session().get("AI-ADDRESS")</textarea>
                                                <label class="field__label addressLabel">Address</label>
                                                <span class="focus-bg"></span>
                                                <span class="error" id="address"></span>
                                            </div>
                                        </div>
                                       <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter field input-effect">
                                                <div class="field__select">
                                                    <label>State</label>
                                                    <select class="selectPicker relationSelect__select" data-width="100%" name="ac-state" id="ac-state">
                                                	</select>
                                                </div>
                                                <span class="error" id="state"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter field input-effect">
                                            <input class="field__input" type="text" name="ac-city" id="ac-city" value="@session().get("AC-CITY")">
                                            <label>City</label>
                                            <span class="focus-bg"></span>
                                                <span class="error" id="city"></span>
                                                </div>
                                        </div>
                                         <div class="col-sm-4">
                                            <div class="checkOutDetails__inputOuter field input-effect">
                                                <input class="field__input" maxlength="6" type="text" name="ac-pincode" id="ac-pincode" value="@session().get("AC-PINCODE")">
                                                <label class="field__label">Zipcode</label>
                                                <span class="focus-bg"></span>
                                                <span class="error" id="zipcode"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <input type="submit" value="Submit" id="addressDetailsButton" onclick="addressTab()" class="checkOutDetails__formBtn">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Checkout section end-->

}