@(travelJson : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils)

@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import play.libs.Json;
@csses={
<link rel="stylesheet" type="text/css" href="@plugins_url/select2/select2.css">
<link rel="stylesheet" href="@css_url/site/procurement/travel/travel_home.css@version">
}

@footerJS={
<script src="@js_url/lib/bootstrap-datetimepicker.min.js@version"></script>
<script type="text/javascript" src="@js_url/site/procurement/travel/travel_home.js"></script>
<script type="text/javascript" src="@js_url/site/procurement/travel/travel_home_restirction_validation.js"></script>

<script type="text/javascript">
@*
var restriction = '@if(travelJson !=null && travelJson.hasNonNull("restrictions")){@Html(Json.stringify(travelJson.get("restrictions")))}'
var insuranceTypeAtr = "@TravelAttributeCode.ATR_TRAVEL_INSURANCE_TYPE.getCode()";
var tripStartDateAtr = "@TravelAttributeCode.ATR_TRIP_START_DATE.getCode()";
var tripEndDateAtr = "@TravelAttributeCode.ATR_TRIP_END_DATE.getCode()";
var selfDobAtr = "@TravelAttributeCode.ATR_TRAVELLER_SELF_DOB.getCode()";
var spouseDobAtr = "@TravelAttributeCode.ATR_TRAVELLER_SPOUSE_DOB.getCode()";
var fatherDobAtr = "@TravelAttributeCode.ATR_TRAVELLER_FATHER_DOB.getCode()";
var motherDobAtr = "@TravelAttributeCode.ATR_TRAVELLER_MOTHER_DOB.getCode()";
var sonDobAtr = "@TravelAttributeCode.ATR_TRAVELLER_SON_DOB.getCode()";
var daughterDobAtr = "@TravelAttributeCode.ATR_TRAVELLER_DAUGHTER_DOB.getCode()";
var isMultiTripAtr = "@TravelAttributeCode.ATR_IS_ANNUAL_PLAN_MULTI_TRIP.getCode()";
var tripFrequencyAtr = "@TravelAttributeCode.ATR_TRIP_FREQUENCY.getCode()";
var isIndianCitizenAtr = "@TravelAttributeCode.ATR_IS_INDIAN_CITIZEN.getCode()";
var isTripFronIndiaAtr = "@TravelAttributeCode.ATR_IS_TRIP_STARTING_FROM_INDIA.getCode()";
var travellerAgeAtr = "@TravelAttributeCode.ATR_TRAVELLERS_AGE.getCode()";
*@
</script>


}

@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | Travel",proputils,csses=csses,footerJS=footerJS){
	
	<div class="container">
		<div class="center_div">
		 @* @travelJson.get("restrictions")*@
			<form method="POST" 
			action="@com.arka.consumerportal.procurementweb.controllers.routes.TravelController.createEnquiry()" onsubmit="return validateTravelHome()">
				<div class="row">
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-12 div-margin-20 ">
								<input type="radio" name="insuranceType" id="policyForFamily" value="family" @if(session().get("insuranceType")!=null && session().get("insuranceType").equals("family")){checked}>
								<label for="policyForFamily">Family Plan</label>
								<input type="radio" name="insuranceType" id="policyIndividual" value="individual" @if(session().get("insuranceType")!=null && session().get("insuranceType").equals("individual")){checked}>
								<label for="policyIndividual">Individual Plan</label>
								<input type="radio" name="insuranceType" id="policyForStudent" value="student" @if(session().get("insuranceType")!=null && session().get("insuranceType").equals("student")){checked}>
								<label for="policyForStudent">Student Plan</label>
								<input type="radio" name="insuranceType" id="policyForGroup" value="group" @if(session().get("insuranceType")!=null && session().get("insuranceType").equals("group")){checked}>
								<label for="policyForGroup">Group Plan</label>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 div-margin-20 ">
								<label>Start Date</label>
								<div class="form-group">
						            <div class='input-group date' id='datetimepicker6'>
						                <input type='text'  name="tripStartDate" class="form-control"  
						                value="@if(session().get("tripStartDate")!=null){@session().get("tripStartDate")}"/>
						                <span class="input-group-addon">
						                    <span class="glyphicon glyphicon-calendar"></span>
						                </span>
						            </div>
						        </div>
							</div>
							<div class="col-lg-6 div-margin-20 ">
								<label>End Date</label>
								<div class='input-group date' id='datetimepicker7'>
					                <input type='text' name="tripEndDate" value="@if(session().get("tripEndDate")!=null){@session().get("tripEndDate")}" class="form-control" />
					                <span class="input-group-addon">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
					            </div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 div-margin-20 ">
								<label>Yearly Plan</label><br/>
								<input type="checkbox" name="isAnualPlanMultiTrip"  value="true"  id="isAnualPlanForMultiTrip"> 
								<label for="isAnualPlanForMultiTrip">Annual plan for multiple trip</label>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="col-lg-12 div-margin-20 ">
							<label>Select countries</label><br/>
							<select style="width:260px" name="visitingCountries" class="form-control countries" id="tagValue" multiple="true" onchange="updatedValue(this,'.tags')">
							@if(travelJson.hasNonNull("countries")&& travelJson.get("countries").hasNonNull("items")
							&& travelJson.get("countries").get("items").isArray() && travelJson.get("countries").get("items").size()>0){
							
								@for((item,index) <- travelJson.get("countries").get("items").elements().zipWithIndex){
									@if(item.hasNonNull("country_name") && item.hasNonNull("_id") ){
										@if(session().get("visitingCountries")!=null && 
										Json.parse(session().get("visitingCountries")).hasNonNull(item.get("_id").asText())){
											<option value="@item.get("_id").asText()" selected="selected">@item.get("country_name").asText()</option>
										}else{
											<option value="@item.get("_id").asText()" >@item.get("country_name").asText()</option>
										}
									}
								}
								
							}
							</select>
						</div>
						<div class="row">
							<div class="col-lg-6 div-margin-20 ">
								<label>Starting from India</label><br/>
								
								<input type="radio" value="yes" name="isTripFromIndia" @if(session().get("isTripFromIndia")!=null && session().get("isTripFromIndia").equals("yes")){checked} id="isTripFromIndia_yes" >
								<label for="isTripFromIndia_yes">Yes</label>
								<input type="radio" value="no" name="isTripFromIndia" id="isTripFromIndia_no" @if(session().get("isTripFromIndia")!=null && session().get("isTripFromIndia").equals("no")){checked}>
								<label for="isTripFromIndia_no">No</label>
							</div>
							<div class="col-lg-6 div-margin-20 ">
								<label>Resident of India</label><br/>
								<input type="radio" value="yes" name="isResidenOfIndia" id="isResidenOfIndia_yes" @if(session().get("isResidenOfIndia")!=null && session().get("isResidenOfIndia").equals("yes")){checked}>
								<label for="isResidenOfIndia_yes">Yes</label>
								<input type="radio"  value="no" name="isResidenOfIndia" id="isResidenOfIndia_no" @if(session().get("isResidenOfIndia")!=null && session().get("isResidenOfIndia").equals("no")){checked}>
								<label for="isResidenOfIndia_no">No</label>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-6 div-margin-20 ">
								<label>Trip Frequency</label><br/>
								<select class="form-control" name="tripFrequency" id="tripFrequency" 
								 value="@if(session().get("tripFrequency")!=null){@session().get("tripFrequency")}">
									<option value="30" @if(session().get("tripFrequency")!=null && session().get("tripFrequency").equals("30")){selected}>30</option>
									<option value="45" @if(session().get("tripFrequency")!=null && session().get("tripFrequency").equals("45")){selected}>45</option>
									<option value="60" @if(session().get("tripFrequency")!=null && session().get("tripFrequency").equals("60")){selected}>60</option>
								</select>
							</div>
							<div class="col-lg-6 div-margin-20 ">
								<label>Duration</label><br/>
								<span class="form-control" id="tripDuration" placeholder="Trip Duration" >22</span> 
							</div>
						</div>
					
					</div>
					
				</div>
				<div class="row">
					<div class="col-lg-12 text-center" >
						<button type="submit" class="btn btn-warning btn-lg div-margin-20" style="background: #E56220">View Quotes</button>
					</div>
				</div>
	
	
	
<!-- Me and my family Start -->
        <section class="accessories__drop" id="familyAgeDiv">
            <div class="checkoutContainerNew__outer">
                <div class="accessories__dropContainer">
                    <div class="checkoutContainerNew__inner">
                        <a class="js__accesoriesDrop__close checkoutContainerNew__close" onclick="closeAgeDiv(this,'familyAgeDiv')" title="Close"></a>
                        <div class="checkoutContainerNew__tabOuterBox">
                            <div class="checkoutContainerNew__tabTitle">
                                <h2 class="checkoutContainerNew__tabTitleText">Me and my family details</h2>
                            </div>
                            <div class="checkoutContainerNew__detailsForm">
                                <div class="checkoutContainerNew__tabContent" id="familyMembers">
                                	<table class="table">
                                		<tr class="familyMember">
                                			<td>
	                                			<label  for="self">Self</label>
                                			</td>
                                			<td>
                                				<div class='input-group date familyMemberAge' >
									                <input type='text' value="@if(session().get("selfAge")!=null){@session().get("selfAge")}" name="selfAge" class="form-control"  placeholder="DOB" />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
                                			</td>
                                			<td>
                                				&nbsp;
                                			</td>
                                		</tr>
                                		<tr  class="familyMember">
                                			<td>
	                                			<label  for="father">Father</label>
                                			</td>
                                			<td>
                                				<div class='input-group date familyMemberAge' >
									                <input type='text' value="@if(session().get("fatherAge")!=null){@session().get("fatherAge")}" name="fatherAge" class="form-control"  placeholder="DOB"  />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
                                			</td>
                                			<td>
                                				&nbsp;
                                			</td>
                                		</tr>
                                		<tr class="familyMember">
                                			<td>
	                                			<label  for="mother">Mother</label>
                                			</td>
                                			<td>
                                				<div class='input-group date familyMemberAge' >
									                <input type='text' value="@if(session().get("motherAge")!=null){@session().get("motherAge")}" name="motherAge" class="form-control"  placeholder="DOB" />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
									        </td>
                                			<td>
                                				&nbsp;
                                			</td>
                                		</tr>
                                		<tr  class="familyMember">
                                			<td>
	                                			<label  for="spouse">Spouse</label>
                                			</td>
                                			<td>
                                				<div class='input-group date familyMemberAge' >
									                <input type='text' value="@if(session().get("spouseAge")!=null){@session().get("spouseAge")}" name="spouseAge" class="form-control"  placeholder="DOB"  />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
									        </td>
                                			<td>
                                				&nbsp;
                                			</td>
                                		</tr>
                                		@if(session().get("sonsAge")!=null && Json.parse(session().get("sonsAge")).size()>0){
                                		@for((age,age_index)<-  Json.parse(session().get("sonsAge")).elements().zipWithIndex){
                                		<tr  class="familyMember children son">
                                			<td>
	                                			<label>Son</label>
                                			</td>
                                			<td>
                                				<div class='input-group date familyMemberAge' >
									                <input type='text' value="@age" name="sonAge" class="form-control"  placeholder="DOB"  />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
									        </td>
                                			<td class="add-child">
                                				@if(Json.parse(session().get("sonsAge")).size() == (age_index+1)){
                                				<a onclick="addChild('son','familyMemberAge','familyMembers')"><i class="glyphicon glyphicon-plus fa fa-plus"></i></a>
                                				@if(age_index !=0){
	                                				<a onclick="removeChildren(this,'son','familyMemberAge','familyMembers')"><i class="glyphicon glyphicon-remove fa fa-times"></i></a>
	                                			}
                                				}
                                			</td>
                                		</tr>
                                		}
                                		}else{
                                		<tr  class="familyMember children son">
                                			<td>
	                                			<label  for="son_1">Son</label>
                                			</td>
                                			<td>
                                				<div class='input-group date familyMemberAge' >
									                <input type='text' value="" name="sonAge" class="form-control"  placeholder="DOB"  />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
									        </td>
                                			<td class="add-child">
                                				<a onclick="addChild('son','familyMemberAge','familyMembers')"><i class="glyphicon glyphicon-plus fa fa-plus"></i></a>
                                			</td>
                                		</tr>
                                		}
                                		@if(session().get("daughtersAge")!=null && Json.parse(session().get("daughtersAge")).size()>0){
                                		@for((age,age_index)<-  Json.parse(session().get("daughtersAge")).elements().zipWithIndex){
	                                		<tr class="familyMember children daughter">
	                                			<td>
		                                			<label  for="daughter_1">Daughter</label>
	                                			</td>
	                                			<td>
	                                				<div class='input-group date familyMemberAge' >
										                <input type='text' value="@age" name="daughterAge" class="form-control" placeholder="DOB" />
										                <span class="input-group-addon">
										                    <span class="glyphicon glyphicon-calendar"></span>
										                </span>
										            </div>
	                                			</td>
	                                			<td class="add-child">
	                                			@if(Json.parse(session().get("daughtersAge")).size() == (age_index+1)){
	                                				<a onclick="addChild('daughter','familyMemberAge','familyMembers')"><i class="glyphicon glyphicon-plus fa fa-plus"></i></a>
	                                				@if(age_index !=0){
	                                					<a onclick="removeChildren(this,'daughter','familyMemberAge','familyMembers')"><i class="glyphicon glyphicon-remove fa fa-times"></i></a>
	                                				}
	                                			}
	                                			</td>
	                                		</tr>
                                		}
                                		}else{
                                		<tr class="familyMember children daughter">
                                			<td>
	                                			<label  for="daughter_1">Daughter</label>
                                			</td>
                                			<td>
                                				<div class='input-group date familyMemberAge' >
									                <input type='text' value="" name="daughterAge" class="form-control" placeholder="DOB" />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
                                			</td>
                                			<td class="add-child">
                                				<a onclick="addChild('daughter','familyMemberAge','familyMembers')"><i class="glyphicon glyphicon-plus fa fa-plus"></i></a>
                                			</td>
                                		</tr>
                                		}
                                	</table>
                                 </div>
                                <div class="checkoutContainerNew__acknowledge">
                                    <button class="checkoutContainerNew__acknowledgeBtn js__accesoriesDrop__submit" onclick="validateMyFamilyAge(this,'familyAgeDiv')" type="button" name="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Me and my family End -->
        
        
        <!-- Student plan Start -->
        <section class="accessories__drop" id="studentAgeDiv">
            <div class="checkoutContainerNew__outer">
                <div class="accessories__dropContainer">
                    <div class="checkoutContainerNew__inner">
                        <a class="js__accesoriesDrop__close checkoutContainerNew__close" onclick="closeAgeDiv(this,'studentAgeDiv')" title="Close"></a>
                        <div class="checkoutContainerNew__tabOuterBox">
                            <div class="checkoutContainerNew__tabTitle">
                                <h2 class="checkoutContainerNew__tabTitleText">Students</h2>
                            </div>
                            <div class="checkoutContainerNew__detailsForm">
                                <div class="checkoutContainerNew__tabContent" id="studentMembers">
                                	<table class="table">
                                	@if(session().get("studentsAge")!=null && Json.parse(session().get("studentsAge")).size()>0){
                                		@for((age,age_index)<-  Json.parse(session().get("studentsAge")).elements().zipWithIndex){
                                		<tr class="studentMember">
                                			<td>
	                                			<label>Student</label>
                                			</td>
                                			<td>
                                				<div class='input-group date studentMemberAge' >
									                <input type='text' value="@age"  name="studentAge" class="form-control" placeholder="DOB" />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
                                			</td>
                                			<td class="add-student">
                                				@if(Json.parse(session().get("studentsAge")).size() == (age_index+1)){
                                					<a onclick="addTravellerAge('student','studentMemberAge','studentAgeDiv')"><i class="glyphicon glyphicon-plus fa fa-plus"></i></a>
	                                				@if(age_index !=0){
	                                					<a onclick="removeTraveller(this,'student','studentMemberAge','studentMembers')"><i class="glyphicon glyphicon-remove fa fa-times"></i></a>
	                                				}
	                                			}
                                			</td>
                                		</tr>
                                		}
                                	}else{
                                		<tr class="studentMember">
                                			<td>
	                                			<label>Student</label>
                                			</td>
                                			<td>
                                				<div class='input-group date studentMemberAge' >
									                <input type='text' value=""  name="studentAge" class="form-control" placeholder="DOB" />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
                                			</td>
                                			<td class="add-student">
                                				<a onclick="addTravellerAge('student','studentMemberAge','studentAgeDiv')"><i class="glyphicon glyphicon-plus fa fa-plus"></i></a>
                                			</td>
                                		</tr>
                                	}
                                	</table>
                                <div class="checkoutContainerNew__acknowledge">
                                    <button class="checkoutContainerNew__acknowledgeBtn js__accesoriesDrop__submit" onclick="validateStudentAge(this,'studentAgeDiv')" type="button" name="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Student plan End -->
         
        <!-- Group plan Start -->
        <section class="accessories__drop" id="travellerAgeDiv">
            <div class="checkoutContainerNew__outer">
                <div class="accessories__dropContainer">
                    <div class="checkoutContainerNew__inner">
                        <a class="js__accesoriesDrop__close checkoutContainerNew__close" onclick="closeAgeDiv(this,'travellerAgeDiv')" title="Close"></a>
                        <div class="checkoutContainerNew__tabOuterBox">
                            <div class="checkoutContainerNew__tabTitle">
                                <h2 class="checkoutContainerNew__tabTitleText">Group</h2>
                            </div>
                            <div class="checkoutContainerNew__detailsForm">
                                <div class="checkoutContainerNew__tabContent" id="travellerMembers">
                                	<table class="table">
                                	
                                		@if(session().get("travellersAge")!=null && Json.parse(session().get("travellersAge")).size()>0){
                                		@for((age,age_index)<-  Json.parse(session().get("travellersAge")).elements().zipWithIndex){
                                		<tr class="travellerMember">
                                			<td>
	                                			<label>Traveller</label>
                                			</td>
                                			<td>
                                				<div class='input-group date travellerMemberAge' >
									                <input type='text' value="@age"  name="travellerAge" class="form-control" placeholder="DOB" />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
                                			</td>
                                			<td class="add-traveller">
                                				@if(Json.parse(session().get("studentsAge")).size() == (age_index+1)){
                                				<a onclick="addTravellerAge('traveller','travellerMemberAge','travellerAgeDiv')"><i class="glyphicon glyphicon-plus fa fa-plus"></i></a>
	                                				@if(age_index !=0){
	                                					<a onclick="removeTraveller(this,'traveller','travellerMemberAge','travellerMembers')"><i class="glyphicon glyphicon-remove fa fa-times"></i></a>
	                                				}
	                                			}
                                			</td>
                                		</tr>
                                		}
                                		}else{
                                		<tr class="travellerMember">
                                			<td>
	                                			<label>Traveller</label>
                                			</td>
                                			<td>
                                				<div class='input-group date travellerMemberAge' >
									                <input type='text' value=""  name="travellerAge" class="form-control" placeholder="DOB" />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
                                			</td>
                                			<td class="add-traveller">
                                				<a onclick="addTravellerAge('traveller','travellerMemberAge','travellerAgeDiv')"><i class="glyphicon glyphicon-plus fa fa-plus"></i></a>
                                			</td>
                                		</tr>
                                		}
                                	</table>
                                <div class="checkoutContainerNew__acknowledge">
                                    <button class="checkoutContainerNew__acknowledgeBtn js__accesoriesDrop__submit" onclick="validateTravellersAge(this,'travellerAgeDiv')" type="button" name="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Group plan End -->
        <!-- Individual plan Start -->
        <section class="accessories__drop" id="individualAgeDiv">
            <div class="checkoutContainerNew__outer">
                <div class="accessories__dropContainer">
                    <div class="checkoutContainerNew__inner">
                        <a class="js__accesoriesDrop__close checkoutContainerNew__close" onclick="closeAgeDiv(this,'individualAgeDiv')" title="Close"></a>
                        <div class="checkoutContainerNew__tabOuterBox">
                            <div class="checkoutContainerNew__tabTitle">
                                <h2 class="checkoutContainerNew__tabTitleText">Individual</h2>
                            </div>
                            <div class="checkoutContainerNew__detailsForm">
                                <div class="checkoutContainerNew__tabContent" id="individualMembers">
                                	<table class="table">
                                		<tr>
                                			<td>
	                                			<label>Individual</label>
                                			</td>
                                			<td>
                                				<div class='input-group date individualMemberAge' >
									                <input type='text' value="@if(session().get("individualAge")!=null){@session().get("individualAge")}"  name="individualAge" class="form-control" placeholder="DOB" />
									                <span class="input-group-addon">
									                    <span class="glyphicon glyphicon-calendar"></span>
									                </span>
									            </div>
                                			</td>
                                		</tr>
                                	</table>
                                <div class="checkoutContainerNew__acknowledge">
                                    <button class="checkoutContainerNew__acknowledgeBtn js__accesoriesDrop__submit" onclick="validateIndividualAge(this,'individualAgeDiv')" type="button" name="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Group plan End -->
        
        
			</form>
		</div>
	</div>
}