@(attributedetails : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var png= ".png";
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@csses={
}
@formatDate(dateString : String) = @{
	  val sdf = new java.text.SimpleDateFormat("yyyy-MM-dd");
	  sdf.parse(dateString).format("dd-MM-yyyy");
}
@footerJS = {
<script>
	function edit(ele){
		var argument= ele.name;
		if(argument == "contacttab"){
			window.location.href = "/travel-insurance/checkout/@attributedetails.get("proposalId")"
		}else{
		window.location.href = "/travel-insurance/checkout/@attributedetails.get("proposalId")#"+argument;
		}
	}
	
	function vendorPortal(){
		if($(".ac-arkadeclaration").is(":checked")== true){
			$("#commonerror").hide();
			window.location.href = "/travel-insurance/vendorportal/@attributedetails.get("proposalId")";
		}else{
			$("#commonerror").show();
			$("#commonerror").html("Declaration Mandatory");
		}
	}
</script>	
}

@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | Travel",proputils,footerJS=footerJS,csses=csses){
	<!--Checkout section start-->
        <section class="checkOut__section">
            <div class="container">
                <div class="checkOut">
                    <div class="checkOut__title">
                        <h1 class="checkOut__titleText">CHECKOUT SUMMARY</h1>
                    </div>
                       <div class="checkOut__outer">
                        <div class="checkOut__inner">
                            <div class="checkOut__carDetailsBox">
                                <h2 class="checkOut__carHeading">Travel Care</h2>
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <div class="checkOutContent__imageBox">
                                    <img src="@image_url/FUTURE_GENERALI_INSURANCE@png" alt="Future General" class="checkOutContent__img" />
                                </div>
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <ul class="checkOut__insureDetails">
                                    <li class="checkOut__insureLists">
                                        <span class="checkOut__insureType">Sum Assured</span>
                                        <span class="checkOut__insureAmount">: Rs. 3,17,688</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <span class="checkOut__insureAmountHeading">Payable Amount</span>
                                <span class="checkOut__insureAmountRate"><span class="rs">rs </span>9,292</span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="checkOutSummary">
                        <h3 class="checkOutSummary__title">IMPORTANT DETAILS TO REVIEW BEFORE PAYMENT</h3>
                        <div class="checkOutSummary__outer">
                            <div class="checkOutSummary__left">
                                <div class="checkOutSummary__inner">
                                    <div class="checkOutSummary__innerTitle">
                                        <h5 class="checkOutSummary__innerTitletext">Traveller Information<a href="javascript:;" class="checkOutSummary__innerEditText" name="travellertab" onclick="edit(this)">Edit</a></h5>
                                         <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Gender</p>
                                            <p class="checkOutSummary__contentDetails">@if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-GENDER")){@attributedetails.get("proposal_params").get("AC-GENDER").asText()}else{Info Not Available}</p>
                                        </div>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Date of Birth :</p>
                                            <p class="checkOutSummary__contentDetails">@if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-DOB")){@formatDate(attributedetails.get("proposal_params").get("AC-DOB").asText())}else{@if(attributedetails.has("input_quote_params") && attributedetails.get("input_quote_params").has("AC-DOB")){@attributedetails.get("input_quote_params").get("AC-DOB").asText()}else{10-02-1983}}</p>
                                        </div>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Marital Status :</p>
											<p class="checkOutSummary__contentDetails">@if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-MARITAL")){@attributedetails.get("proposal_params").get("AC-MARITAL").asText()}else{Info Not Available}</p>
										</div>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Passport Number :</p>
                                            <p class="checkOutSummary__contentDetails">@if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("ATR-PASSPORT_NUMBER") && attributedetails.get("proposal_params").get("ATR-PASSPORT_NUMBER").asText() != ""){@attributedetails.get("proposal_params").get("ATR-PASSPORT_NUMBER").asText()}else{Info Not Available}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkOutSummary__right">
                                <div class="checkOutSummary__inner">
                                    <div class="checkOutSummary__innerTitle">
                                        <h5 class="checkOutSummary__innerTitletext">Communication Information<a href="javascript:;" class="checkOutSummary__innerEditText">Edit</a></h5>
                                         <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Address</p>
                                            <p class="checkOutSummary__contentDetails addressContent">@if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AI-ADDRESS")){@attributedetails.get("proposal_params").get("AI-ADDRESS").asText()}else{Info Not Available}, @if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-CITY")){@attributedetails.get("proposal_params").get("AC-CITY").asText()}else{Info Not Available}, @if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-STATE")){@attributedetails.get("proposal_params").get("AC-STATE").asText()}else{Info Not Available}, @if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-PINCODE")){@attributedetails.get("proposal_params").get("AC-PINCODE").asText()}else{Info Not Available}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkOutSummary__inner">
                                    <div class="checkOutSummary__innerTitle">
                                        <h5 class="checkOutSummary__innerTitletext">Contact Information<a href="javascript:;" class="checkOutSummary__innerEditText">Edit</a></h5>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Name :</p>
                                            <p class="checkOutSummary__contentDetails">@if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-FIRST_NAME")){@attributedetails.get("proposal_params").get("AC-FIRST_NAME").asText()}else{
                                            @if(attributedetails.has("input_quote_params") && attributedetails.get("input_quote_params").has("AC-FIRST_NAME")){@attributedetails.get("input_quote_params").get("AC-FIRST_NAME").asText()}else{Info Not Available}} <span>@if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-LAST_NAME")){@attributedetails.get("proposal_params").get("AC-LAST_NAME").asText()}else{
                                            @if(attributedetails.has("input_quote_params") && attributedetails.get("input_quote_params").has("AC-LAST_NAME")){@attributedetails.get("input_quote_params").get("AC-LAST_NAME").asText()}else{}}</span></p>
                                        </div>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Mobile No :</p>
                                            <p class="checkOutSummary__contentDetails">@if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-MOBILE_NUMBER")){@attributedetails.get("proposal_params").get("AC-MOBILE_NUMBER").asText()}else{@if(attributedetails.has("input_quote_params") && attributedetails.get("input_quote_params").has("AC-MOBILE_NUMBER")){@attributedetails.get("input_quote_params").get("AC-MOBILE_NUMBER").asText()}else{Info Not Available}}</p>
                                        </div>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Email :</p>
                                            <p class="checkOutSummary__contentDetails">@if(attributedetails.has("proposal_params") && attributedetails.get("proposal_params").has("AC-EMAIL")){@attributedetails.get("proposal_params").get("AC-EMAIL").asText()}else{Info Not Available}</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkOutSummary__outer">
                            <div class="checkOutSummary__left">
                           </div>
                            <div class="checkOutSummary__right">
                                <div class="checkOutSummary__inner">
                                    <div class="checkOutSummary__innerTitle">
                                        <h5 class="checkOutSummary__innerTitletext">Policy Information</h5>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle"></p>
                                            <p class="checkOutSummary__contentDetails"></p>
                                        </div>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Trip Start Date :</p>
                                            <p class="checkOutSummary__contentDetails">@if(attributedetails.has("input_quote_params") && attributedetails.get("input_quote_params").has("ATR-TRIP_START_DATE") && attributedetails.get("input_quote_params").get("ATR-TRIP_START_DATE").asText() != ""){@formatDate(attributedetails.get("input_quote_params").get("ATR-TRIP_START_DATE").asText())}else{10-12-2016}</p>
                                        </div>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Trip End Date :</p>
                                           <p class="checkOutSummary__contentDetails">@if(attributedetails.has("input_quote_params") && attributedetails.get("input_quote_params").has("ATR-TRIP_END_DATE") && attributedetails.get("input_quote_params").get("ATR-TRIP_END_DATE").asText() != ""){@formatDate(attributedetails.get("input_quote_params").get("ATR-TRIP_END_DATE").asText())}else{10-12-2016}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           <div class="checkOutSummary__acknowledgeContent">
                                <div class="checkOutDetails__check">
                              <input id="input-acknowledge" type="checkbox" name="ac-arkadeclaration" value="" class="checkOutDetails__checkBtn ac-arkadeclaration">
                                    <label for="input-acknowledge" class="checkOutDetails__checkLabel js__company__label">I declare that the information provided above is true and accept that if it is found to be false, it may impact claims. I authorize Arka Insurance Broking Pvt. Ltd. to represent me at insurance companies for my insurance needs.</label>
                                </div>
                                <span class="error" id="commonerror"></span>
                            </div>
                            <div class="checkOutDetails__finalSubmit">
               					 <button class="checkOutDetails__finalSubmitBtn" onclick="vendorPortal()" type="button" name="button">Ready to Pay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Checkout section end-->


}