@(image_url : java.lang.String, faqLink : java.lang.String = "javascript:;", claimLink : java.lang.String = "javascript:;", knowYourInsuranceLink : java.lang.String = "javascript:;")
<section class="aboutSection">
  <div class="container">
      <!--<h2 class="aboutSection__head">All You need to know about insurance. <span class="aboutSection__head--color">All Clear.</span></h2>-->

      <h2 style="color:#808080;" class="brandSection__title">
          Know your 
			<span class="brandSection__title--color">insurance</span>
      </h2>
      <div class="row aboutSection__boxOuter">
          <div class="col-sm-6">
              <div class="aboutSection__box">
                  <div class="aboutSection__imgBox">
						<img src="../../../assets/images/cart.png" alt="" data-load="full" style="">
                  </div>
                  <div class="aboutSection__textBox">
                      <h3 class="aboutSection__title text-uppercase">Why should you compare and buy</h3>
                      <p class="aboutSection__text text-justify">Premium rates of different Insurers will vary for the same vehicle and could change with time. So, it is better to compare and buy every time...</p>
                      <a href="javascript:;" class="aboutSection__link" title="Learn More">learn more</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="aboutSection__box">
                  <div class="aboutSection__imgBox">
						<img src="../../../assets/images/questionmark.png" alt="" data-load="full" style="">
                  </div>
                  <div class="aboutSection__textBox">
                      <h3 class="aboutSection__title text-uppercase">FAQs</h3>
                      <p class="aboutSection__text text-justify">Your need for life insurance varies with your age and responsibilities. It is a very important part of financial planning. There are several reasons to purchase life...</p>
                      <a href="@faqLink" class="aboutSection__link" title="Learn More">learn more</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="aboutSection__box">
                  <div class="aboutSection__imgBox">
						<img src="../../../assets/images/notepad.png" alt="" data-load="full" style="">
                  </div>
                  <div class="aboutSection__textBox">
                      <h3 class="aboutSection__title text-uppercase">CLAIMS</h3>
                      <p class="aboutSection__text text-justify">Keeping up a Promise is simple yet powerful. However, for your Insurers to keep up their claim promises, you have to follow the prescribed claim procedure. Please be sure of the claims process after you buy a policy...</p>
                      <a href="@claimLink" class="aboutSection__link" title="Learn More">learn more</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="aboutSection__box">
                  <div class="aboutSection__imgBox">
						<img src="../../../assets/images//key.png" alt="" data-load="full" style="">
                    </div>
                    <div class="aboutSection__textBox">
                        <h3 class="aboutSection__title text-uppercase">Know Your Insurance</h3>
                        <p class="aboutSection__text text-justify">You don’t need thirteen reasons why insurance is important. You just need one. And that is to be prepared for the volleys, life might hurl at you when you least expect them. Insurance shields you against bearing the brunt of the loss...</p>
                        <a href="@knowYourInsuranceLink" class="aboutSection__link" title="Learn More">learn more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>