@(session : play.mvc.Http.Session, dataJson :  com.fasterxml.jackson.databind.JsonNode)
@import com.arka.common.utils.JsonUtils
@import com.arka.common.insurance.constants.InsuranceAttributeCode
@import com.arka.consumerportal.procurementweb.constants.CheckoutSessionKeys


@makeModelValueSetter(variant : String,typeS : String)={
	@if(typeS.equals("items") && JsonUtils.isValidField(dataJson,"items")){
		@for(element <- dataJson.get("items").elements()){
			@if(JsonUtils.isValidField(element,"code") && JsonUtils.isValidField(element,"value") && element.get("code").asText().equals(variant)){
					@if(element.get("code").asText().equals("AC-REGNO")){
							@element.get("value").asText().replace("[", "").replace("]", "").replace(",", "-")
					}else{
						@element.get("value").asText()
					}
			}
		}
		
	}else{
		@if(typeS.equals("makeModel") && JsonUtils.isValidField(dataJson,"makeModel") && JsonUtils.isValidField(dataJson.get("makeModel"),variant)){
				@dataJson.get("makeModel").get(variant).asText().toUpperCase()
		}
	}

}


<script>

function getModifieddiscounts(){
	$('.js__arai span').text("");
	$('.js__aai span').text("");
	$('.js__dobTag').text("");
	var vulnarability=$(".js__vulnaraBiltiy").children("select option:selected").val();
	var profession=$(".js__profession").children("select option:selected").val();
	var dob=$(".js__dob").val();
	var anti_theft="";
	var aai="";
	$(".js__arai div").children('input').each(function(){
		  if($(this).is(':checked')){
			  anti_theft=$(this).val();
		  }
		});
	
	$(".js__aai div").children('input').each(function(){
		  if($(this).is(':checked')){
			  aai=$(this).val();
		  }
		});
	
	if(errorBuilder(vulnarability,"js__vulnaraBiltiy","Discount Can't be null") && errorBuilder(profession,"js__professionError","Profession Can't be null") 
			 && errorBuilder(anti_theft,"js__arai_error span","Select One") &&	errorBuilder(aai,"js__aai_error span","Select One") && ageCheck(dob)){
		var splitDate=dob.split('/');
		var dateFormat=""+splitDate[2]+"-"+splitDate[1]+"-"+splitDate[0];
		var finalJson={"AC-ANTI_THEFT_DEVICE":anti_theft,"AI-DATE_OF_BIRTH":dateFormat,"AIOCCUPATION":profession,"AC-MEMBER_OF_AUTOMOBILE_ASSOCIATION_OF_INDIA":aai
				,"AC-VOLUNTARY_DEDUCTIBLE_AMOUNT":vulnarability,"AC-APPLY_DISCOUNT":true};
		
		filterRecordArray.push('AC-PRODUCT_DISCOUNTS');
		updateEnqiryAjaxCall(finalJson);
	}
	
	
}

function ageCheck(dateString){
	if(dateString !="")
	{
		var splitDate=dateString.split('/');
	    var today = new Date();
	    var birthDate = new Date(splitDate[2], splitDate[1], splitDate[0], today.getHours(), today.getMinutes(), today.getSeconds(), today.getMilliseconds());
	    var age = today.getFullYear() - birthDate.getFullYear();
	    var m = today.getMonth() - birthDate.getMonth();
	    var da = today.getDate() - birthDate.getDate();
	    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
	        age--;
	    }
	    if(m<0){
	        m +=12;
	    }
	    if(da<0){
	        da +=30;
	    }
		
	  if(age < 18)
	{
		  $('.js__dobTag').text("Age must be greater than 18");
		  return false;
	}else if(age > 100){
		$('.js__dobTag').text("Age must be lesser than 100");
		return false;
	} else {
	return true;
	}
	} else {
		$('.js__dobTag').text("Please provide your date of birth");
	}
return false;
}

function errorBuilder(field,clazz,msg){
	if(field===""){
		$('.'+clazz).text(msg);
		return false;
	}
	return true;
}

$(document).ready(function(){
	@if(session.containsKey("AC-DATE_OF_BIRTH_VAL")){
		$('.datePicker').datepicker("setDate", '@session.get("AC-DATE_OF_BIRTH_VAL")');
		//$('.datePicker').datepicker({ dateFormat: 'dd-mm-yy' , changeYear: true,defaultDate: '@session.get("AC-DATE_OF_BIRTH_VAL")' });
	}
});

</script>



        <!-- Apply Discounts Start -->
        <section class="applyDiscounts js__applyDiscounts">
            <div class="applyDiscountsContainer__outer">
                <div class="applyDiscountsContainer">
                    <div class="applyDiscountsContainer__inner">
                        <a class="js__applyDiscountsContainer__close applyDiscountsContainer__close" href="javascript:;" title="Close"></a>
                        <div class="applyDiscountsContainer__tabOuterBox">
                            <div class="applyDiscountsContainer__tabTitle">
                                <h2 class="applyDiscountsContainer__tabTitleText">Get Additional Discounts.</h2>
                                <h5 class="applyDiscountsContainer__tabInnerText">Some insurance companies offer discounts based on these criteria.</h5>
                            </div>
                            <div class="applyDiscountsContainer__detailsForm">
                                <div class="applyDiscountsContainer__tabContent">
                                    <div class="applyDiscountsContainer__tabTotal">
                                        <h3 class="applyDiscountsContainer__tabContentTitle">Choose a voluntary deductible amount</h3>
                                        <div class="applyDiscountsContainer__tabToolTip">
                                            <a href="javascript:;" class="applyDiscountsContainer__tabContentLink js__applyDiscountsContainer__tabContentLink">Know more</a>
                                            <div class="applyDiscountsContainer__toolTip">
                                                <div class="applyDiscountsContainer__toolTipBox">
                                                    <p class="applyDiscountsContainer__toolTipText">You can get additional discount on your premium by selecting a voluntary deductible amount. This is the amount that you agree to pay at the time of claim settlement. The balance amount will be paid by
                                                        Insurance Company. It is advisable not to claim small value repairs, to save your No Claim Bonus. It could be a good decision to go ahead with a Rs. 2500 voluntary deductible and get a good deal
                                                        on the premium.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="applyDiscountsContainer__tabInnerBox applyDiscountsContainer__dateWidthChange">
                                        <select class="applyDiscountsContainer__select selectPicker js__vulnaraBiltiy">
                                            @if(JsonUtils.isValidField(dataJson,"VOLUNTARY_DEDUCTABLE_AMOUNT") && JsonUtils.isValidField(dataJson.get("VOLUNTARY_DEDUCTABLE_AMOUNT"),"constraint_value")
                                           && JsonUtils.isValidIndex(dataJson.get("VOLUNTARY_DEDUCTABLE_AMOUNT").get("constraint_value"),0)){
                                          @defining(dataJson.get("VOLUNTARY_DEDUCTABLE_AMOUNT").get("constraint_value").get(0)){ rangeJson =>
                                          
                                          @if(JsonUtils.isValidField(rangeJson,"min") && JsonUtils.isValidField(rangeJson,"max") && JsonUtils.isValidField(rangeJson,"interval")){
                                          
                                          @for( range <- rangeJson.get("min").asInt() to rangeJson.get("max").asInt() by rangeJson.get("interval").asInt()){
                                            	
                                            	@if(makeModelValueSetter("AC-VOLUNTARY_DEDUCTIBLE_AMOUNT","items").toString().trim().equals(range.toString())){
                                            		<option selected="selected" value='@range'>@range</option>
                                            	}else{
                                            	@if(session.containsKey("AC-VOLUNTARY_DEDUCTIBLE_AMOUNT_VAL") && session.get("AC-VOLUNTARY_DEDUCTIBLE_AMOUNT_VAL").equals(range.toString())){
                                    				<option selected="selected" value='@range'>@range</option>
                                   		 		}else{
                                          		<option value="@range">@range</option>
                                          		}
                                          		}
                                          }
                                          }
                                          }
                                          }
                                        </select>
                                    </div>
									<span class="error__class js__professionError js__error pull-right"></span>
                                </div>
                                <div class="applyDiscountsContainer__tabContent">
                                    <div class="applyDiscountsContainer__tabTotal">
                                        <h3 class="applyDiscountsContainer__tabContentTitle">Your occupation</h3>
                                    </div>
                                    <div class="applyDiscountsContainer__tabInnerBox">
                                        <select class="applyDiscountsContainer__select selectPicker js__profession">
                                            @if(JsonUtils.isValidField(dataJson,"APPLY_DISCOUNT_PROFESSION") && JsonUtils.isValidField(dataJson.get("APPLY_DISCOUNT_PROFESSION"),"constraint_value")
                                           && JsonUtils.isValidIndex(dataJson.get("APPLY_DISCOUNT_PROFESSION").get("constraint_value"),0)){
                                           @for(profession <- dataJson.get("APPLY_DISCOUNT_PROFESSION").get("constraint_value").elements()){
                                           		 
                                           		 @if(makeModelValueSetter(InsuranceAttributeCode.AI_OCCUPATION.getCode(),"items").toString().trim().equals(profession.asText())){
                                            		<option selected="selected" value='@profession.asText()'>@profession.asText()</option>
                                            	}else{
                                           		 @if(session.containsKey(InsuranceAttributeCode.AI_OCCUPATION.getCode()+"_VAL") && session.get(InsuranceAttributeCode.AI_OCCUPATION.getCode()+"_VAL").equals(profession.asText())){
                                    				<option value='@profession.asText()' selected>@profession.asText()</option>
                                   				 }else{
                                   				 	<option value='@profession.asText()'>@profession.asText()</option>
                                   				 }
                                   				 }
                                           }
                                           }
                                        </select>
                                    </div>
									<span class="error__class js__voluntaryError js__error pull-right"></span>
                                </div>
                                <div class="applyDiscountsContainer__tabContent">
                                    <div class="applyDiscountsContainer__tabTotal">
                                        <h3 class="applyDiscountsContainer__tabContentTitle">Date of Birth</h3>
                                    </div>
                                    <div class="applyDiscountsContainer__tabInnerBox applyDiscountsContainer__dateInput">
                                    
                                    	@if(!makeModelValueSetter("AC-ANTI_THEFT_DEVICE","items").toString().trim().equals("")){
                                    		<input type="text" name="Date" value='@session.get("AC-DATE_OF_BIRTH_VAL")' class="datePicker js__dob">
                                    	}else{
										@if(session.containsKey("AC-DATE_OF_BIRTH_VAL")){
                                    			<input type="text" name="Date" value='@makeModelValueSetter("AC-ANTI_THEFT_DEVICE","items").toString().trim()' class="datePicker js__dob">
                                   		}else{
                                        	<input type="text" name="Date" class="datePicker js__dob">
                                   		}}
                                   		<span class="formField__errorMsg js__dobTag"></span>
                                        <i class="calender__icon"></i>
                                    </div>
                                </div>
                                <div class="applyDiscountsContainer__tabContent">
                                    <div class="applyDiscountsContainer__tabTotal">
                                        <h3 class="applyDiscountsContainer__tabContentTitle">Is your vehicle fitted with ARAI approved anti-theft device?</h3>
                                    </div>
                                    <div class="applyDiscountsContainer__tabInnerBox applyDiscountsContainer__tabInnerYesNo">
                                        <div class="buyPlanRadio__box js__arai">
                                            <div class="buyPlanRadio__check">
                                                <input type="radio" name="ARAI" value=true 
                                                @if(makeModelValueSetter("AC-ANTI_THEFT_DEVICE","items").toString().trim().equals("true")){
                                                	checked="checked"
                                                }else{
                                                @if(session.containsKey("AC-ANTI_THEFT_DEVICE_VAL") && session.get("AC-ANTI_THEFT_DEVICE_VAL").equals("true")){
                                    				checked="checked"
                                    			}} id="yes-select" class="buyPlanRadio__input">
                                                <label for="yes-select" class="buyPlanRadio__label js__antiTheft__click">Yes</label>
                                            </div>
                                            <div class="buyPlanRadio__check">
                                                <input type="radio" name="ARAI" value="false" 
                                                 @if(makeModelValueSetter("AC-ANTI_THEFT_DEVICE","items").toString().trim().equals("false")){
                                                	checked="checked"
                                                }else{
                                                @if(!makeModelValueSetter("AC-ANTI_THEFT_DEVICE","items").toString().trim().equals("true")){
                                    				checked="checked"
                                    			}} id="no-select" class="buyPlanRadio__input">
                                                <label for="no-select" class="buyPlanRadio__label js__antiTheft__click">No</label>
                                            </div>
											<span class="error__class js__error js__arai_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="applyDiscountsContainer__tabContent">
                                    <div class="applyDiscountsContainer__tabTotal">
                                        <h3 class="applyDiscountsContainer__tabContentTitle">Are you a member of Automobile Association of India?</h3>
                                    </div>
                                    <div class="applyDiscountsContainer__tabInnerBox applyDiscountsContainer__tabInnerYesNo">
                                        <div class="buyPlanRadio__box js__aai">
                                            <div class="buyPlanRadio__check">
                                                <input type="radio" name="AAI" value=true 
                                                 @if(makeModelValueSetter("AC-MEMBER_OF_AUTOMOBILE_ASSOCIATION_OF_INDIA","items").toString().trim().equals("true")){
                                                	checked="checked"
                                                }else{
                                                @if(session.containsKey("AC-MEMBER_OF_AUTOMOBILE_ASSOCIATION_OF_INDIA_VAL") && session.get("AC-MEMBER_OF_AUTOMOBILE_ASSOCIATION_OF_INDIA_VAL").equals("true")){
                                    				checked="checked"
                                    			}} id="yes-aai" class="buyPlanRadio__input">
                                                <label for="yes-aai" class="buyPlanRadio__label js__aai__click">Yes</label>
                                            </div>
                                            <div class="buyPlanRadio__check">
                                                <input type="radio" name="AAi" value=false 
                                                @if(makeModelValueSetter("AC-MEMBER_OF_AUTOMOBILE_ASSOCIATION_OF_INDIA","items").toString().trim().equals("false")){
                                                	checked="checked"
                                                }else{
                                                @if(!makeModelValueSetter("AC-MEMBER_OF_AUTOMOBILE_ASSOCIATION_OF_INDIA","items").toString().trim().equals("true")){
                                    				checked="checked"
                                    			} }id="no-aai" class="buyPlanRadio__input">
                                                <label for="no-aai" class="buyPlanRadio__label js__aai__click">No</label>
                                            </div>
											<span class="error__class js__error js__aai_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="applyDiscountsContainer__acknowledge">
                                    <button class="applyDiscountsContainer__acknowledgeBtn" onclick="getModifieddiscounts()" type="button" name="button">Submit</button>
                                    <button class="applyDiscountsContainer__acknowledgeCancelBtn js__applyDiscountsContainer__close" type="button" name="button">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Apply Discounts End -->