@(attributedetails : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils,proposalId : String,categoryCode : String)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import com.arka.common.utils.JsonUtils
@import org.apache.commons.lang3.StringUtils 
@import com.arka.common.policy.constants.PolicyFields;
@import com.arka.common.procurement.constants.CategoryCode;


@csses={
<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
<link rel="stylesheet" href="@css_url/site/procurement/car/checkoutpage.css@version">
}


@procurementwebmain("Imright | ConsumerPortal",proputils,csses=csses) {
 <section class="policySection @if(categoryCode.equalsIgnoreCase("CAR")){car-insurance-bg} if(categoryCode.equalsIgnoreCase("BIKE")){two-wheeler-insurance-bg} if(categoryCode.equalsIgnoreCase("HEALTH")){}">
	<div class="container">
		<div class="policyBlock">
			<div class="policyBlock__details">
				<div class="policyBlock__detailTabBox">
					<div class="policyBlock__detailBoxOuter policyBlock__detailBoxOuter--active">
							<p class="">
								<div class="brandSection__title">
									Your Purchase has been unsuccessful
								</div>
							</p>
							<div class="isa_error">
								  <strong>Error!  </strong>
								   @if(JsonUtils.isValidField(attributedetails,"error") && JsonUtils.isValidField(attributedetails,"errorKeyJson")){
								   	@for(errorMsg<-attributedetails.get("errorKeyJson").fields()){
        								@if(attributedetails.get("error").asText().equals(errorMsg.getKey())){
        									@errorMsg.getValue().asText()
        								}
								   	}
								   	
								   }
							</div>
						<div class="policyBlock__btnBlock" style="margin-top: 19px;">
                       @if(JsonUtils.isValidField(attributedetails,PolicyFields.CATEGORY_CODE.getCode()) && attributedetails.get(PolicyFields.CATEGORY_CODE.getCode()).asText().equals(CategoryCode.HEALTH.name())){
                     	    <a href="/health-insurance/checkoutsummary/@proposalId" class="policyBlock__btn">Try Again</a>
                        }else{
                          <a href="/motor/insurance/checkoutsummary/@proposalId" class="policyBlock__btn">Try Again</a>
                        }
                        </div>
					</div>
				</div>
			</div>
			 @com.arka.consumerportal.procurementweb.views.html.insurance_list("car")
		</div>
	</div>
</section>	
<section class="brandSection">  
		@com.arka.consumerportal.procurementweb.views.html.licensedby(imageUrl = image_url)
         @com.arka.consumerportal.procurementweb.views.html.glossary()
        </section>

        @com.arka.consumerportal.procurementweb.views.html.all_you_need_to_know(image_url)
        
        @com.arka.consumerportal.procurementweb.views.html.partners(image_url)
}