@(attributedetails : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var png= ".png";
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import scala.collection.mutable.ListBuffer; var nonSupportedAdOns = new ListBuffer[String]()
@import com.arka.common.utils.JsonUtils
@import org.apache.commons.lang3.StringUtils 
@import org.apache.commons.lang3.StringEscapeUtils
@import com.arka.common.insurance.constants.InsuranceAttributeCode
@import com.arka.consumerportal.procurementweb.constants.CheckoutSessionKeys
@import scala.collection.mutable.Map; var adons_map=Map("AC-COVER-ZERO_DEPRICIATION"->"Zero Deprecation","AC-COVER-INVOICE_COVER"->"Invoice Cover","AC-COVER-INVOICE_COVER"->"Invoice Cover", "AC-COVER-ENGINE_PROTECTOR"->"Engine Protector","AC-COVER-KEY_AND_LOCK_REPLACEMENT"->"Key and Lock Replacement","AC-COVER-DRIVER_COVER"->"Driver Cover","AC-COVER-24x7_ROADSIDE_ASSISTANCE"->"24x7 Roadside Assistance","AC-COVER-NCB_PROTECTION"->"NCB Protection","AC-COVER-PASSENGER_COVER"->"Passenger Cover","AC-COVER-LPG_CNG_KIT"->"LPG/CNG Kit","AC-COVER-CONSUMABLES"->"Consumables","AC-COVER-DAILY_ALLOWANCE"->"Daily Allowance","AC-COVER-WINDSHIELD"->"Windshield","AC-COVER-BAGGAGE_COVER"->"Baggage Cover","AC-COVER-COVER_FOR_ROAD_TAX"->"Cover For Road Tax")
													


@csses={
	<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
	<style>
	.checkOut__titleText{
	margin-bottom: 12px;
	}
	.checkOutSummary__block .checkOutSummary__contentDetails{
	padding-top: 14px;
	padding-bottom: 14px;
	}
	.checkoutSubmitBtn {
        display: none;
    }
	</style>
}

@checkElement(mainkey : String,innerkey : String)= {
	@if(JsonUtils.isValidField(attributedetails,mainkey) && JsonUtils.isValidIndex(attributedetails.get(mainkey),0)){
			@for((element) <- attributedetails.get(mainkey).elements()
			.filter( element => JsonUtils.isValidField(element,"code") && JsonUtils.isValidField(element,"value") && element.get("code").asText().equals(innerkey))){
					@element.get("value").asText()				
				}
			}
		}

@formatDate(dateString : String) = @{
	  val sdf = new java.text.SimpleDateFormat("yyyy-MM-dd");
	  sdf.parse(dateString).format("dd-MMM-yyyy");
}
@formatmonth(dateString : String) = @{
	val sdf = new java.text.SimpleDateFormat("dd-MM-yyyy");
	  sdf.parse(dateString).format("dd-MMM-yyyy");
}

@formatMobileNumber(mobString : String) =  @{
	if(StringUtils.isNotEmpty(mobString) && mobString.length() > 5){
	 	new StringBuilder(mobString).insert(mobString.length()-5, " ").toString();
	 }
}

@checkElementWithTag(mainkey : String,innerKey : String,tag : String)={
		@if(JsonUtils.isValidField(attributedetails,mainkey) && JsonUtils.isValidIndex(attributedetails.get(mainkey),0)){
			@for((element)<-attributedetails.get(mainkey).elements()){
			@if(JsonUtils.isValidField(element,"tag") && JsonUtils.isValidField(element,"code") && JsonUtils.isValidField(element,"value")){
				@if(element.get("code").asText().equals(innerKey)){
					@for((ele)<-element.get("tag").elements()){
						@if(ele.asText().equals(tag)){
							@element.get("value").asText()
						}
					}
				}
			}
			}
	}
}
       									 
@footerJS = {
<script src="@js_url/site/procurement/motor/motorcheckoutsummarry.js@version"></script>
<script src="@plugins_url/widgets/sweetalert/sweetalert.min.js@version"></script>
<script src="@js_url/site/login.js@version"></script>

<script type="text/javascript">
var proposalId;
@if(JsonUtils.isValidField(attributedetails,"proposalId")){
	proposalId = "@attributedetails.get("proposalId").asText()";
}

var mobileNumber='@checkElement("proposal_params",InsuranceAttributeCode.AI_MOBILE_NUMBER.getCode()).toString().trim()'
var email='@checkElement("proposal_params",InsuranceAttributeCode.AI_EMAIL.getCode()).toString().trim()'

	var regno;
	@if(attributedetails.has("input_quote_params") && attributedetails.hasNonNull("input_quote_params") || attributedetails.has("proposal_params") && attributedetails.hasNonNull("proposal_params")){
		  @if(StringUtils.isNotEmpty(checkElement("input_quote_params","AC-REGNO").toString().trim())) {
			regno = '@checkElement("input_quote_params","AC-REGNO").toString().trim()';
					
		}else{
			@*@if(!checkElement("proposal_params","AC-REGNO").toString().trim().equals("") && !checkElement("proposal_params","AC-REGNO").toString().trim().equals(null)){*@
			@if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-REGNO").toString().trim())) {
				regno = '@checkElement("proposal_params","AC-REGNO").toString().trim()';
			
			}
		}		
	}
	
	var idv;
	@if(JsonUtils.isValidField(attributedetails,"output_quote_params")){
		@if(StringUtils.isNotEmpty(checkElement("output_quote_params","AC-PRODUCT_IDV").toString().trim())) {
			idv = @checkElement("output_quote_params","AC-PRODUCT_IDV").toString().trim();
		}
	}
	
	var payable;
	@if(JsonUtils.isValidField(attributedetails,"output_quote_params")){
		@if(StringUtils.isNotEmpty(checkElement("output_quote_params","AC-PRODUCT_PREMIUM").toString().trim())) {
			payable = @checkElement("output_quote_params","AC-PRODUCT_PREMIUM").toString().trim();
		}
	}
</script>
}

@isAddonsRemoved()={
	@if(attributedetails.has("add_on_covers")){
        @if(attributedetails.get("add_on_covers").size() > 0){
        	@for((element) <- attributedetails.get("add_on_covers").elements()){
        		@if(!(checkElement("output_quote_params","AC-ADDON_APPLICABLE").toString().trim().split(",") contains element.asText())){
        			@{nonSupportedAdOns +=element.asText()}
        		}
        	}
        }
    }
                                            	
}

@procurementwebmain(if(attributedetails.get("vehicleType").asText=="car"){"Imright | Car Insurance Summary"}else {"Imright | Two Wheeler Insurance Summary"},proputils,footerJS=footerJS,csses=csses){
   <!--Checkout section start-->
        <section class="checkOut__section">
        	@nonSupportedAdOns.mkString(",")
            <div class="container">
                <div class="checkOut">
                    <div class="checkOut__title">
                        <h1 class="checkOut__titleText checkOutSummaryTitle">Checkout Summary</h1>
                    </div>
                    <div class="checkOut__outer checkOut__summary">
                        <div class="checkOut__inner">
                            <div class="checkOut__carDetailsBox">
                                <h2 class="checkOut__carHeading capitalize">@attributedetails.get("vehicleType").asText DETAILS</h2>
                            	
                                 <span class="checkOut__carNumber registration_number"></span>
                            	@if(StringUtils.isEmpty(checkElement("input_quote_params","AC-REGNO").toString().trim())
                            			&& StringUtils.isEmpty(checkElement("proposal_params","AC-REGNO").toString().trim())) {
                                 	@if(StringUtils.isNotEmpty(checkElement("input_quote_params","AC-RTOCODE").toString().trim())){
                                  		<span class="checkOut__carNumber">@checkElement("input_quote_params","AC-RTOCODE").toString().trim()</span>
                                  		}
                                  }
                                @if(attributedetails.has("output_quote_params") && attributedetails.hasNonNull("output_quote_params")){
                                	<h3 class="checkOut__carModel">
	                                	@if(attributedetails.has("AC-MAKE") && attributedetails.hasNonNull("AC-MAKE")){
	                                		@attributedetails.get("AC-MAKE").asText()
	                                	}else{}
                                	</h3>
                                }
                                <p class="checkOut__carType">
                                	@if(attributedetails.has("AC-VARIANT") && attributedetails.hasNonNull("AC-VARIANT")){
                                		@attributedetails.get("AC-VARIANT").asText()
                                	}else{}
                                </p>
                                
                           		<p class="checkOut__carType">
                           			@if(attributedetails.has("AC-FUEL_TYPE") && attributedetails.hasNonNull("AC-FUEL_TYPE")){
	                           			@if(attributedetails.get("AC-FUEL_TYPE").asText().trim().equalsIgnoreCase("petrol") && checkElement("input_quote_params","AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED").toString().trim().equalsIgnoreCase("true")){
	                           				lpg/cng (Externally Fitted)
	                           			}else{
	                           				@attributedetails.get("AC-FUEL_TYPE").asText()
	                           			}
	                           		}else{}
                           		</p>
                           		
                           		@*@if(checkElement("input_quote_params","AC-RTOCODE").toString().trim().length>0
                           			&& checkElement("input_quote_params","AC-VEHICLE_STATE").toString().trim().length>0
                           			&& checkElement("input_quote_params","AC-VEHICLE_STATE").toString().trim().equalsIgnoreCase("newcar")){
                                    <div class="dataBox__body">
                                        <p class="dataBox__subText js__vehicleModel capitalize">@checkElement("input_quote_params","AC-RTOCODE").toString().trim()
                                        </p>
                                    </div>
                                }*@
                           		
                           		
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <div class="checkOutContent__imageBox">
                                 @if(attributedetails.has("image_url") && attributedetails.hasNonNull("image_url")){
                                    <img src="@attributedetails.get("image_url").asText()"  class="checkOutContent__img" />
                                }
                                </div>
                            </div>
                           <div class="checkOut__carDetailsBox">
                                <ul class="checkOut__insureDetails">
                                    <li class="checkOut__insureLists"> 
                                    <span class="checkOut__insureType">IDV</span> 
                                    <span class="checkOut__insureAmount"><span>:  </span> <span class="rs"> rs </span><span class="idv"></span></span>
                                    </li>
                                     <li class="checkOut__insureLists">
                                    	 @if(checkElement("input_quote_params","AC-CLAIMED").toString().trim().equals("") && checkElement("input_quote_params","AC-PREVPOLICYSTATUS").toString().trim().equals("")){
                                   	
                                   }else{
                                    	@if(JsonUtils.isValidField(attributedetails,"AC-DATE_OF_REGISTRATION")){
                                        <span class="checkOut__insureType">Registration Date</span>
                                        <span class="checkOut__insureAmount"><span>:  </span> <span>  @formatmonth(attributedetails.get("AC-DATE_OF_REGISTRATION").asText())</span></span>
                                        }
                                        }
                                    </li>
                                    <li class="checkOut__insureLists">
                                    	@if(JsonUtils.isValidField(attributedetails,"AC-PREVIOUS_POLICY_EXPIRED_ON")){
                                        <span class="checkOut__insureType">Past policy expiry date</span>
                                        <span class="checkOut__insureAmount"><span>:  </span><span>  @formatmonth(attributedetails.get("AC-PREVIOUS_POLICY_EXPIRED_ON").asText())</span></span>
                                        }
                                    </li>
                                </ul>
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <span class="checkOut__insureAmountHeading">Payable Amount</span>
                                <span class="checkOut__insureAmountRate"><span class="rs">  rs</span><span class="payable"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="checkOutSummary">
                        <h3 class="checkOutSummary__title">IMPORTANT DETAILS TO REVIEW BEFORE PAYMENT</h3>
                        <div class="checkOutSummary__outer">
                            <div class="checkOutSummary__block">
                                <h5 class="checkOutSummary__innerTitletext">Personal Information</h5>
                                <div class="checkOutSummary__innerTitle">
                                    <div class="checkOutSummary__contentDiv company__name">
                                       <p class="checkOutSummary__contentTitle">Name</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__name">
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode).toString().trim())) {
	                                            	@checkElement("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode).toString().trim()
	                                            }else{
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_COMPANY_NAME.getCode()).toString().trim())) {
		                                            	@checkElement("proposal_params",InsuranceAttributeCode.AI_COMPANY_NAME.getCode()).toString().trim() 
		                                            	@if(attributedetails.get("vehicleType") != null && attributedetails.get("vehicleType").asText == "bike") {
		                                            		<span>(Company Owned Bike)</span>
		                                            	} else {
		                                            		<span>(Company Owned Car)</span>
		                                            	}
		                                            }else{}
		                                        }   
		                                        <span>
			                                        @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode).toString().trim())) {
			                                         @checkElement("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode).toString().trim()
			                                        }else{}
		                                        </span>
	                                       </p>
                                    </div>
                                    
                                    @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_GENDER.getCode()).toString().trim())) {
                                    <div class="checkOutSummary__contentDiv">
                                       <p class="checkOutSummary__contentTitle">Gender  </p>
                                       <p class="checkOutSummary__contentDetails checkOutSummary__gender">
	                                        @*@if(!checkElement("proposal_params",InsuranceAttributeCode.AI_GENDER.getCode()).toString().trim().equals("") && !checkElement("proposal_params",InsuranceAttributeCode.AI_GENDER.getCode()).toString().trim().equals(null)){*@
	                                        @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_GENDER.getCode()).toString().trim())) {
	                                        	@checkElement("proposal_params",InsuranceAttributeCode.AI_GENDER.getCode()).toString().trim()
	                                        }
                                       </p>
                                    </div>
                                    }
                                    @*@if(!checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_MARITAL.getCode(),"self").toString().trim().equals("") && !checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_MARITAL.getCode(),"self").toString().trim().equals(null)){*@
                                     @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_MARITAL.getCode(),"self").toString().trim())) {
                                    	<div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Marital</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="checkOutSummary__contentDetails">@if(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_MARITAL.getCode(),"self").toString().trim().equalsIgnoreCase("No")){Single}else{Married}</p>
                                        </div>
                                    </div>
                                    }
                                    @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_DOB.getCode).toString().trim())) { 
                                    <div class="checkOutSummary__contentDiv">
                                       <p class="checkOutSummary__contentTitle">Date of Birth</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__dob">@formatDate(checkElement("proposal_params",InsuranceAttributeCode.AI_DOB.getCode).toString().trim())</p>
                                    </div>
                                    }
	                                @if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-OCCUPATION").toString().trim())) {
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Occupation</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="checkOutSummary__contentDetails">
	                                        	@checkElement("proposal_params","AC-OCCUPATION").toString().trim()
											</p>
                                        </div>
                                    </div>
	                                }
                                </div>
                            </div>
                        </div>
                        
                        <div class="checkOutSummary__outer">
                            <div class="checkOutSummary__inner">
                                <div class="checkOutSummary__innerTitle">
                                   <h5 class="checkOutSummary__innerTitletext">Communication Information<a class="checkOutSummary__innerEditText" href="javascript:;" id="editone" name="communication" onclick="edit(this)">Edit</a></h5>
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Address</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="healthCheckoutAddressTag checkOutSummary__contentDetails addressContent">
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params","AI-ADDRESS_LINE_1").toString().trim())) {
	                                            	<span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params","AI-ADDRESS_LINE_1").toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span>
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params","AI-ADDRESS_LINE_2").toString().trim())) { 
	                          					   <span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params","AI-ADDRESS_LINE_2").toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span>
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_PLACE.getCode()).toString().trim())) {
	                                            	<span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params",InsuranceAttributeCode.AI_PLACE.getCode()).toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span> 
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_DISTRICT.getCode()).toString().trim())) {
	                                             <span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params",InsuranceAttributeCode.AI_DISTRICT.getCode()).toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span> 
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_STATE.getCode()).toString().trim())) {
	                                             <span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params",InsuranceAttributeCode.AI_STATE.getCode()).toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span>
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_PINCODE.getCode()).toString().trim())) {
	                                             <span>@checkElement("proposal_params",InsuranceAttributeCode.AI_PINCODE.getCode()).toString().trim()</span>
	                                            }
                                            </p>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="checkOutSummary__inner">
                                <div class="checkOutSummary__innerTitle">
                                    <h5 class="checkOutSummary__innerTitletext">Contact Information<a href="javascript:;" class="checkOutSummary__innerEditText" name="contact" id="edittwo" onclick="edit(this)">Edit</a></h5>
                                    <div class="checkOutSummary__contentDiv">
                                        <p class="checkOutSummary__contentTitle">Mobile No</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__mobileNumber">
                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_MOBILE_NUMBER.getCode()).toString().trim())) { 
                                            	@formatMobileNumber(checkElement("proposal_params",InsuranceAttributeCode.AI_MOBILE_NUMBER.getCode()).toString().trim())
                                            }else{N/A}</p>
                                    </div>
                                    <div class="checkOutSummary__contentDiv">
                                        <p class="checkOutSummary__contentTitle">Email</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__email">
                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_EMAIL.getCode()).toString().trim())) {
                                            	@checkElement("proposal_params",InsuranceAttributeCode.AI_EMAIL.getCode()).toString().trim()
                                            }else{N/A}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkOutSummary__outer">
                            <div class="checkOutSummary__inner">
                                <div class="checkOutSummary__innerTitle">
                                    <h5 class="checkOutSummary__innerTitletext text-capitalize">Your @attributedetails.get("vehicleType").asText Information</h5>
                                    <div class="checkOutSummary__contentDiv">
                                        <p class="checkOutSummary__contentTitle text-capitalize">@attributedetails.get("vehicleType").asText Name</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__carName">
                                           @if(attributedetails.has("AC-MAKE") && attributedetails.hasNonNull("AC-MAKE")){
                                           		@attributedetails.get("AC-MAKE").asText()
                                            }else{Information not available}
                                            </p>
                                    </div>
                                    <div class="checkOutSummary__contentDiv">
                                       <p class="checkOutSummary__contentTitle">Fuel Type</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__fuelType">
                                             @if(attributedetails.has("AC-FUEL_TYPE") && attributedetails.hasNonNull("AC-FUEL_TYPE")){
                                           		@attributedetails.get("AC-FUEL_TYPE").asText()
                                             }else{Information not available}
                                            </p>
                                    </div>
                                    <div class="checkOutSummary__contentDiv">
                                       <p class="checkOutSummary__contentTitle">Model</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__carModel">
                                             @if(attributedetails.has("AC-MODEL") && attributedetails.hasNonNull("AC-MODEL")){
                                           		@attributedetails.get("AC-MODEL").asText()
                                             }else{Information not available}
                                            </p>
                                    </div>
                                    @if(StringUtils.isNotEmpty(checkElement("input_quote_params","AC-REGNO").toString().trim())) {
                                    <div class="checkOutSummary__contentDiv">
                                        <p class="checkOutSummary__contentTitle">Registration Number</p>
                                            <p class="checkOutSummary__contentDetails registration_number"></p>
                                    </div>
                                    }else{
                                     @if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-REGNO").toString().trim())) {
                                     <div class="checkOutSummary__contentDiv">
                                        <p class="checkOutSummary__contentTitle">Registration Number</p>
                                            <p class="checkOutSummary__contentDetails registration_number"></p>
                                    </div>
                                     }
                                    }
                                    <div class="checkOutSummary__contentDiv">
                                        <p class="checkOutSummary__contentTitle">Registration Date</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__registrationDate">@if(attributedetails.has("AC-DATE_OF_REGISTRATION") && attributedetails.hasNonNull("AC-DATE_OF_REGISTRATION")){@formatmonth(attributedetails.get("AC-DATE_OF_REGISTRATION").asText())}else{01-01-2012}</p>
                                    </div>
                                    <div class="checkOutSummary__contentDiv">
                                        <p class="checkOutSummary__contentTitle">Engine Number</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__engineNumber" style="text-transform: uppercase;">
                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-ENGINE_NUMBER").toString().trim())) {
                                            	@checkElement("proposal_params","AC-ENGINE_NUMBER").toString().trim()
                                            }else{Information not available}</p>
                                    </div>
                                    <div class="checkOutSummary__contentDiv">
                                        <p class="checkOutSummary__contentTitle">Chassis Number</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__chassisNumber" style="text-transform: uppercase;">
                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-CHASSIS_NUMBER").toString().trim())) {
                                            	@checkElement("proposal_params","AC-CHASSIS_NUMBER").toString().trim()
                                            }else{Information not available}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="checkOutSummary__inner">
                                <div class="checkOutSummary__innerTitle">
                                    <h5 class="checkOutSummary__innerTitletext">Policy Information</h5>
                                    @if(attributedetails.has("AC-PREVIOUS_POLICY_EXPIRED_ON")){
                                    <div class="checkOutSummary__contentDiv">
                                       <p class="checkOutSummary__contentTitle">Expiry Date</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__prePolicyExpDate">@if(attributedetails.has("AC-PREVIOUS_POLICY_EXPIRED_ON")){@formatmonth(attributedetails.get("AC-PREVIOUS_POLICY_EXPIRED_ON").asText())}else{}</p>
                                    </div>
                                    }
                                    <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Claimed </p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__claimed">
                                            @if(StringUtils.isNotEmpty(checkElement("input_quote_params","AC-CLAIMED").toString().trim()) && checkElement("input_quote_params","AC-CLAIMED").toString().trim().equals("true") ) {
                                            	Yes
                                            }else{No}</p>
                                        </div>
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">No Claim Bonus (NCB)</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__ncb">
                                            @if(StringUtils.isNotEmpty(checkElement("input_quote_params","AC-NCB_PERCENT").toString().trim())) {
                                            	@*temporary N/A fix added*@
                                            	@if((checkElement("input_quote_params","AC-CLAIMED").toString().trim().equals("true") && checkElement("input_quote_params","IS-PREVIOUS_POLICY_NCB_ADDON_SELECTED").toString().trim().equals("false"))
	                                      			|| checkElement("input_quote_params","IS-OWNERSHIP_CHANGED").toString().trim().equals("true")
	                                      			) {
	                                      			N/A
	                                      		} else {
	                                       			@checkElement("input_quote_params","AC-NCB_PERCENT").toString().trim() %
		                                       	}
                                            }else{N/A}</p>
                                        </div>
                                     @if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-PREVIOUS_POLICY_INSURER_NAME").toString().trim())) {
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Previous Policy Insurer</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__policyInsurer">@checkElement("proposal_params","AC-PREVIOUS_POLICY_INSURER_NAME")</p>
                                        </div>
                                        }
                                    <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Loan Provider</p>
                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-LOAN_WITH_VEHICLE").toString().trim()) && checkElement("proposal_params","AC-LOAN_WITH_VEHICLE").toString().trim().equals("No")) {
                                            <p class="checkOutSummary__contentDetails checkOutSummary__loanProvider text-capitalize">@attributedetails.get("vehicleType").asText not on Loan</p>
                                            }else{
                                             <p class="checkOutSummary__contentDetails checkOutSummary__loanProvider">
                                             @if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-LOAN_WITH_VEHICLE").toString().trim())) {
                                             	@checkElement("proposal_params","AC-LOAN_WITH_VEHICLE").toString().trim()
                                             }else{}
                                             </p>
                                            }
                                        </div>
                                  @*  <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Zero Depreciation</p>
                                             @if(StringUtils.isEmpty(checkElement("input_quote_params","AC-COVER-ZERO_DEPRICIATION").toString().trim()) || checkElement("input_quote_params","AC-COVER-ZERO_DEPRICIATION").toString().trim().equals("false")) {
                                            <p class="checkOutSummary__contentDetails checkOutSummary__zeroDepr">No</p>
                                            }else{
                                            <p class="checkOutSummary__contentDetails checkOutSummary__zeroDepr">Yes</p>
                                            }
                                        </div>*@
                                       @if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-PREV_POLICY_NUMBER").toString().trim())) {
                                        <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Previous Policy Number</p>
                                            <p class="checkOutSummary__contentDetails checkOutSummary__prePolicyNumber"  style="text-transform: uppercase;">
                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params","AC-PREV_POLICY_NUMBER").toString().trim())) {
                                            	@checkElement("proposal_params","AC-PREV_POLICY_NUMBER").toString().trim()
                                            }else{Information not available}
                                            </p>
                                        </div>
                                        }   
                                     <div class="checkOutSummary__contentDiv">
                                            <p class="checkOutSummary__contentTitle">Additional Covers</p>
                                            @if(StringUtils.isNotEmpty(checkElement("output_quote_params","AC-ADDON_APPLICABLE").toString().trim())) {
												@if(attributedetails.has("add_on_covers")){
                                            @if(attributedetails.get("add_on_covers").size() > 0){
                                            	<div class="checkout_AddOns">
                                            	@for((element) <- attributedetails.get("add_on_covers").elements()){
                                            	  @if(checkElement("output_quote_params","AC-ADDON_APPLICABLE").toString().trim().split(",") contains element.asText()){
                                            	  	@if(adons_map.contains(element.asText())){
                                            			<span class="checkout_InnerAddOns">✓ @adons_map.get(element.asText())</span>
                                            		}
                                            	  }else{
                                            	  	@if(adons_map.contains(element.asText())){
                                            			<span class="checkout_InnerAddOns">&#10005; @{adons_map.get(element.asText())}(Not Supported)</span>
                                            		}
                                            	  }
                                            	}
                                            	</div>
                                            }else{
                                           		<p class="checkOutSummary__contentDetails checkOutSummary__additionalCover">No</p>
                                            }
                                            }
			
											}else{
											
                                            @if(attributedetails.has("add_on_covers")){
                                            @if(attributedetails.get("add_on_covers").size() > 0){
                                            	<div class="checkout_AddOns">
                                            	@for((element) <- attributedetails.get("add_on_covers").elements()){
                                            	 	@if(adons_map.contains(element.asText())){
                                            			<span class="checkout_InnerAddOns">✓ @adons_map.get(element.asText())</span>
                                            		}
                                            	}
                                            	</div>
                                            }else{
                                           		<p class="checkOutSummary__contentDetails checkOutSummary__additionalCover">No</p>
                                            }
                                            }
											}
                                        </div>
                                </div>
                            </div>

                            <div class="checkOutSummary__acknowledgeContent">
                                <div class="checkOutDetails__check">
                                    <input id="input-acknowledge" type="checkbox" name="ac-arkadeclaration" value="" class="checkOutDetails__checkBtn ac-arkadeclaration">
                                    <label for="input-acknowledge" class="checkOutDetails__checkLabel js__company__label" style="text-transform:none;line-height: 20px;">I am aware that the insurance policy is being issued based on the information provided by me in the proposal form.  I also understand that any incorrect information or suppression of facts in the proposal form may result in either cancellation of policy or rejection of claim or both. I hereby authorise Arka Insurance Broking Private Limited (imright.com) to represent on my behalf with the Insurance Companies in all matters relating to my insurance policy.</label>
                                </div>
                                <span class="error" id="commonerror"></span>
                            </div>
                            <div class="checkOutDetails__finalSubmit">
                            <input type="hidden" id="productCode" @if(attributedetails.get("productCode") != null){value="@attributedetails.get("productCode").asText"}>

                            	@if(attributedetails.get("otpVerified") != null && attributedetails.get("otpVerified").toString() == "true") {
                            		<button class="checkOutDetails__finalSubmitBtn" onclick="vendorPortal()" type="button" name="button">Ready to Pay</button>
                            	} else {
                            		<button class="checkOutDetails__finalSubmitBtn" type="button" name="button"
                       			    onclick="sendOtpToMblFromCheckout('@checkElement("proposal_params",InsuranceAttributeCode.AI_MOBILE_NUMBER.getCode()).toString().trim()','@checkElement("proposal_params",InsuranceAttributeCode.AI_EMAIL.getCode()).toString().trim()')">Ready to Pay</button>
                            	}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @confirmotp(proputils)
         <section class="loadingSection">	  
		<img src="@image_url/loader.gif" class="loadgif">
        </section>
        <!--Checkout section end-->
    }