<div class="policyBlock__detailBoxOuter policyBlock__detailBoxOuter--active policyBlock__detailBoxOuter__comingSoon" data-tab="1">
	<div class="policyBlock__detailBoxInner policyBlock__detailBoxInner__comingSoon">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 500 300">
			<style>
				@@keyframes float {
				  0% { transform: none }
				  50% { transform: translateY(-20px) }
				  0% { transform: none }
				}
				
				#astronaut {
				  transform: none;
				  animation: float 15s ease-in-out infinite;
				}
				
				@@keyframes pulse {
				  100% { opacity: 1; }
				  30% { opacity: 0 }
				  0% { opacity: 1 }
				}
				.star {
					fill: #9bc0ef;
				} 
				#stars path {
				  animation-name: pulse;
				  animation-duration: 4s;
				  animation-iteration-count: infinite;
				}
				#star-2 {
				  animation-delay: 0.5s;
				}
				#star-3 {
				  animation-delay: 1s;
				}
				#star-4 {
				  animation-delay: 1.5s;
				}
				#star-5 {
				  animation-delay: 2s;
				}
			</style>
			<g fill="none" fill-rule="evenodd"><g id="illustration"><g xmlns="http://www.w3.org/2000/svg" id="astronaut" transform="translate(106.000000, 45.000000)">
				<text font-style="normal" xml:space="preserve" text-anchor="start" font-family="'Montserrat', 'Book Antiqua', Palatino, serif" font-size="18" id="svg_1" y="110" x="90" stroke-width="0" stroke="#000" fill="#144B64">We are going to be with you soon</text>
				<text xml:space="preserve" text-anchor="start" font-family="'Montserrat', 'Book Antiqua', Palatino, serif" font-size="18" id="svg_2" y="80" x="110" stroke-width="0" stroke="#000" fill="#D56B2F">Thanks for your patronage</text>
			</g>
			<g id="stars">
				<path id="star-1" class="star" d="M42.39 64.21l1.105 6.972 7.027.918-7.027.916-1.106 6.987-.925-6.987-7.007-.916 7.007-.918z"></path>
		  		<path id="star-2" class="star" d="M472.39 144.21l1.105 6.972 7.027.918-7.027.916-1.106 6.987-.925-6.987-7.007-.916 7.007-.918z"></path>
		  		<path id="star-3" class="star" d="M168.944.197l1.105 6.99 7.006 1.098-7.007.92-1.106 6.97-.924-6.97-7.02-.92 7.02-1.1z"></path>
		  		<path id="star-4" class="star" d="M319.188 134.206l1.105 6.99 7.007 1.098-7.007.92-1.105 6.97-.925-6.97-7.02-.92 7.02-1.1z"></path>
		  		<path id="star-5" class="star" d="M287.01 51l1.106 6.97 7.008 1.106-7.008.914-1.106 6.99-.923-6.99-7.008-.914 7.007-1.106z"></path>
		  	</g>
		</svg>
	</div>
</div>