@(proputils : com.arka.common.utils.PropUtils)
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
<section class="checkoutModal">
            <div class="checkoutContainer__outer">
                <div class="checkoutContainer otpContainerOut">
                    <div class="checkoutContainer__inner">
                        <a class="js__checkoutContainer__close loginContainer__close checkoutContainer__close" href="javascript:;" title="Close"></a>
                        <div class="checkoutContainer__tabOuterBox">
                        	<div class="loginContainer__logo"><img class="loginContainer__logoImg img-responsive paddingimage" src="@image_url/logo-min.png" alt="Logo" />
                    		</div>
                            <form class="loginContainer__form" action="#" method="post" onSubmit="return false;">
                            <span  id="yErrMsg_mobile_otp_chk"></span>
				                <div class="js__loginContainer__phoneOtp loginContainer__Otp" style="display: block;">
				                  <span  id="yErrMsg_mobile_otp_chk"></span>
				                    <div class="loginContainer__inputOuter">
				                        <div class="loginContainer__inputInner">
				                            <div class="formField__column input-effect">  
				                                <input class="formField__input login_input digit-only" type="text" placeholder="" maxlength="4" id="mobileOTPCheckout">
				                                <label>Please enter the OTP</label>
				                                <input type="hidden" placeholder="" maxlength="4" id="mobileNoCheckout">
			                                 <span class="focus-border"></span>
			                            	 <span class="yErrMsg"></span>
			                            </div>
			                            <span class="formField__inputMandatory"></span>
			                            <span class="sprite validMark validMark--active"></span>
			                            <span class="sprite inValidMark"></span>
			                        </div>
			                         <a class="otpContainer otpResend row" href="javascript:;">Resend OTP</a>
			                    <button class="loginContainer__submitBtn otpbtn js__loginContainer__doneBtn" type="submit" name="name" onclick="return (verifyMblOTPFromCheckout());">Verify</button>
			                    </div>
			                    
			                </div>
			            </form>
                    </div>
                </div>
            </div>
        </section>