<section class="glossarySection ">
<h2 style="color:#808080;" class="brandSection__title">
                  Glossary
                  <span class="brandSection__title--color">of terms</span>
              </h2>
<div class="columns-pin row container">
<div class="col-md-3">
	<figure class="glossarie_card">
	<div class="learn_more">
	<button type="button" class="btn learn_more_btn">Learn More</button>
	</div>
		<!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg"> -->
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 64.002 64.002" style="enable-background:new 0 0 64.002 64.002;" xml:space="preserve" class="glossarySvg">
	<g></g>
		<path class="glossarie_svg" d="M54.628,9.375c-6.044-6.045-14.08-9.374-22.627-9.374c-8.548,0-16.583,3.329-22.627,9.374C3.329,15.419,0,23.454,0,32.001   s3.329,16.582,9.374,22.626c6.044,6.045,14.079,9.374,22.627,9.374c8.547,0,16.583-3.329,22.627-9.374   c6.045-6.044,9.374-14.079,9.374-22.626S60.673,15.419,54.628,9.375z M53.214,53.213c-5.666,5.667-13.2,8.788-21.213,8.788   c-8.014,0-15.547-3.121-21.213-8.788C5.121,47.547,2,40.014,2,32.001s3.121-15.546,8.788-21.212   c5.666-5.667,13.199-8.788,21.213-8.788c8.013,0,15.547,3.121,21.213,8.788c5.667,5.666,8.788,13.199,8.788,21.212   S58.881,47.547,53.214,53.213z" fill="#bcbac2"/>
		<path class="glossarie_svg" d="M20,16.001v2h8.001c0.025,0,2.583,0.012,5.121,1.051c1.711,0.7,2.964,1.692,3.776,2.949H20v2h17.754   c0.155,0.624,0.247,1.285,0.247,2c0,2.482-0.742,4.421-2.205,5.762c-2.875,2.633-7.656,2.248-7.795,2.238H20v2.435l15.318,14.296   l1.366-1.462L22.466,36l5.444-0.003c0.231,0.021,5.694,0.477,9.227-2.751c1.9-1.735,2.864-4.173,2.864-7.245   c0-0.719-0.085-1.374-0.206-2H44v-2h-4.823c-0.811-1.779-2.147-3.078-3.681-4H44v-2H28.001H20z" fill="#bcbac2"/>
	<g></g>
	</svg>
		<figcaption><b>IDV</b><br>The sum insured for the vehicle is called “Insured’s Declared Value (IDV)”. 
		IDV is the value arrived at based on the current market value considering depreciation based on the age of the vehicle</figcaption>
	</figure>

	<figure class="glossarie_card">
	<div class="learn_more">
	<button type="button" class="btn learn_more_btn">Learn More</button>
	</div>
		<!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.016 512.016" style="enable-background:new 0 0 512.016 512.016;" xml:space="preserve" class="glossarySvg">
			<g>
				<g>
					<path class="glossarie_svg" d="M501.92,274.664c-7.936-10.24-19.424-16.736-32.224-18.304c-12.736-1.664-25.152,1.984-35.04,9.728L320.64,354.504    c-11.04,8.704-24.928,13.504-39.04,13.504h-27.456C274.976,347.656,288,319.368,288,288.04c0-8.832-7.168-16-16-16l-176-0.032v-16    c0-8.832-7.168-16-16-16H16c-8.832,0-16,7.168-16,16v224c0,8.832,7.168,16,16,16h64c8.832,0,16-7.168,16-16v-16h213.12    c17.408,0,34.72-5.952,48.832-16.8L493.28,341.96c10.24-7.904,16.768-19.328,18.368-32.16    C513.216,297.096,509.728,284.584,501.92,274.664z M64,464.008H32v-192h32V464.008z M479.904,305.832    c-0.544,4.288-2.72,8.128-6.208,10.848L338.4,421.896c-8.48,6.528-18.912,10.112-29.28,10.112H96v-128l158.4,0.032    c-7.424,36.448-39.776,63.968-78.4,63.968c-8.832,0-16,7.168-16,16c0,8.832,7.168,16,16,16h105.6    c21.28,0,42.176-7.264,58.784-20.32L454.4,291.304c3.232-2.56,7.328-3.616,11.392-3.2c4.32,0.544,8.16,2.72,10.912,6.272    C479.264,297.64,480.384,301.704,479.904,305.832z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M272,16.008c-26.464,0-48,21.536-48,48s21.536,48,48,48s48-21.536,48-48S298.464,16.008,272,16.008z M272,80.008    c-8.8,0-16-7.2-16-16s7.2-16,16-16s16,7.2,16,16S280.8,80.008,272,80.008z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M368,144.008c-26.464,0-48,21.536-48,48s21.536,48,48,48s48-21.536,48-48S394.464,144.008,368,144.008z M368,208.008    c-8.8,0-16-7.2-16-16s7.2-16,16-16s16,7.2,16,16S376.8,208.008,368,208.008z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M410.272,19.72c-6.816-5.632-16.896-4.736-22.56,2.048l-160,192c-5.664,6.784-4.736,16.864,2.048,22.528    c2.976,2.496,6.624,3.712,10.24,3.712c4.576,0,9.12-1.984,12.288-5.76l160-192C417.952,35.464,417.024,25.384,410.272,19.72z" fill="#bcbac2"/>
				</g>
			</g>
			</svg>
					
		<figcaption><b>NCB</b><br>No Claim Bonus (NCB) is the discount offered on OD Premium for not making any claims during the previous policy period/s.</figcaption>
	</figure>
</div>
<div class="col-md-3">
	<figure class="glossarie_card">
	<div class="learn_more">
	<button type="button" class="btn learn_more_btn">Learn More</button>
	</div>
		<!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/belle.jpg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" class="glossarySvg" viewBox="0 0 964.799 964.798" style="enable-background:new 0 0 964.799 964.798;" xml:space="preserve">
			<g>
				<g>
					<path class="glossarie_svg" d="M817.298,894.549c27.6,0,50-22.4,50-50v-117.7l-3.6,2.4c-9.2,6.2-19.801,9.5-30.801,9.5c-14.199,0-27.699-5.4-38.1-15.3    c-9.9-9.4-15.7-21.801-16.8-35.301c-25.101-2.3-50-5.3-74.5-8.899v165.3c0,27.6,22.399,50,50,50H817.298z" fill="#bcbac2"/>
					<path class="glossarie_svg" d="M587.598,894.549c27.601,0,50-22.4,50-50v-176.7c-2-0.399-4-0.8-6-1.2c-25.5-5.199-51-11.199-75.899-17.8    c-27.9-7.399-55.4-15.8-82-24.899v220.5c0,27.6,22.399,50,50,50h63.899V894.549z" fill="#bcbac2"/>
					<path class="glossarie_svg" d="M357.897,894.549c27.601,0,50-22.4,50-50v-245.4c-4-1.6-7.899-3.3-11.8-5c-48.7-20.8-94.7-44.899-137-71.5    c-5.1-3.199-10.1-6.399-15-9.699v331.6c0,27.6,22.4,50,50,50H357.897z" fill="#bcbac2"/>
					<path class="glossarie_svg" d="M64.398,894.549h63.8c27.6,0,50-22.4,50-50v-379.8c-6.7-5.5-13.3-11-19.7-16.601c-42.8-37.399-79.2-78.3-108.3-121.6    c-13.6-20.3-25.5-41-35.8-62.1v580.1C14.398,872.149,36.798,894.549,64.398,894.549z" fill="#bcbac2"/>
					<path class="glossarie_svg" d="M21.398,203.449c3.3,9.4,6.9,18.8,10.9,28c2.1,4.8,4.2,9.7,6.5,14.5c0.1,0.3,0.3,0.6,0.4,0.9c5,10.7,10.6,21.3,16.6,31.8    s12.4,20.9,19.4,31.2c8.7,12.9,18,25.5,28,37.9c2,2.5,4,4.9,6.1,7.4c4.1,4.9,8.3,9.8,12.6,14.6c2.2,2.399,4.3,4.8,6.5,7.2    c8.8,9.6,18,19,27.6,28.199c7.2,6.9,14.7,13.7,22.3,20.4c20.4,17.8,42.3,34.9,65.9,51.2c2.5,1.7,5,3.5,7.6,5.2    c2.6,1.699,5.1,3.399,7.7,5.199c5.2,3.4,10.4,6.801,15.7,10.101c7.7,4.899,15.5,9.6,23.5,14.3c10.6,6.2,21.4,12.3,32.3,18.1    c2.7,1.5,5.5,2.9,8.3,4.4c13.8,7.2,28,14.2,42.4,20.8c8.699,4,17.399,7.9,26.3,11.7l0,0c21.399,9.1,43.3,17.7,65.899,25.7l0,0    c3.601,1.3,7.301,2.5,10.9,3.8c25.6,8.7,51.9,16.7,78.8,23.9c12.2,3.199,24.5,6.3,36.8,9.199c3.101,0.7,6.2,1.4,9.301,2.101    c9.3,2.1,18.6,4.1,28,6l0,0c21.699,4.399,43.699,8.3,65.899,11.6h0.101c3.899,0.601,7.699,1.101,11.6,1.7c1.2,0.2,2.3,0.3,3.5,0.5    c2.9,0.4,5.8,0.8,8.7,1.2c1.2,0.2,2.3,0.3,3.5,0.5c3.399,0.399,6.8,0.899,10.2,1.3c0.6,0.1,1.1,0.1,1.699,0.2    c4.2,0.5,8.4,1,12.601,1.5c0.2,0,0.3,0,0.5,0.1c4,0.4,7.899,0.9,11.899,1.3c0.601,0.101,1.2,0.101,1.801,0.2    c3.8,0.4,7.699,0.8,11.5,1.101c0.3,0,0.6,0.1,0.899,0.1c8.7,0.8,17.3,1.5,26,2.2v23.2c0,14.699,12.101,25,25.101,25    c4.699,0,9.5-1.4,14-4.4l20.399-13.9l86.2-58.5c14.5-9.8,14.7-31,0.4-41.1l-106.601-75.3c-4.5-3.2-9.5-4.601-14.3-4.601    c-13,0-25.1,10.301-25.1,25v24.2c-35.301-2.8-70.101-7-104.4-12.6c-22.2-3.601-44.2-7.8-65.9-12.601    c-16.3-3.6-32.399-7.5-48.399-11.8c-40.3-10.7-78.8-23.3-115.5-37.8c-22.7-8.9-44.7-18.5-65.9-28.8    c-27.899-13.5-54.399-28.2-79.5-44c-31-19.601-59.2-40.4-84.3-62.4c-32.8-28.6-60.5-61.8-86.9-96.2    c-37-48.2-50.8-119.7-55.8-157.8c-1.9-15-14.7-26.1-29.7-26.1h-41.9c-17.5,0-31.3,14.9-29.9,32.3c2.1,26.6,6.9,53,14.4,78.9    C16.498,188.75,18.898,196.149,21.398,203.449z" fill="#bcbac2"/>
				</g>
			</g>
		</svg>
					
		<figcaption><b>Zero Depreciation Cover</b><br>Makes the Insurer pays the claims towards spare parts replacements or total loss without any deduction towards depreciation.</figcaption>
	</figure>

	<figure class="glossarie_card">
	<div class="learn_more">
	<button type="button" class="btn learn_more_btn">Learn More</button>
	</div>
		<!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.694 31.694" style="enable-background:new 0 0 31.694 31.694;" xml:space="preserve" class="glossarySvg">
			<g>
			<path class="glossarie_svg" d="M23.112,9.35c-4.473,2.742-7.697,6.205-9.006,7.744l-3.361-2.633c-0.089-0.064-1.934,1.574-1.885,1.625l6.121,6.223   c0.045,0.051,0.107,0.074,0.174,0.074c0.012,0,0.031,0,0.047-0.004c0.08-0.018,0.148-0.072,0.178-0.152   c0.986-2.521,4.242-7.799,8.4-11.627c0.074-0.07,0.1-0.18,0.059-0.275C23.838,10.324,23.174,9.312,23.112,9.35z" fill="#bcbac2"/>
			<path class="glossarie_svg" d="M27.126,3.842c-9.268,0-10.836-3.518-10.85-3.551C16.208,0.119,16.04,0.004,15.85,0c0,0-0.004,0-0.008,0   c-0.184,0-0.354,0.115-0.428,0.283C15.403,0.32,13.801,3.842,4.568,3.842c-0.258,0-0.462,0.209-0.462,0.461v15.764   c0,6.453,11.084,11.383,11.553,11.59c0.062,0.027,0.121,0.037,0.188,0.037c0.061,0,0.127-0.01,0.186-0.037   c0.473-0.207,11.555-5.137,11.555-11.59V4.303C27.586,4.051,27.381,3.842,27.126,3.842z M25.038,19.15   c0,5.049-8.678,8.912-9.047,9.072c-0.045,0.023-0.098,0.031-0.145,0.031c-0.051,0-0.098-0.008-0.146-0.031   c-0.365-0.16-9.046-4.023-9.046-9.072V6.811c0-0.199,0.161-0.363,0.362-0.363c7.229,0,8.482-2.756,8.494-2.783   c0.057-0.133,0.189-0.223,0.334-0.223c0.002,0,0.006,0,0.006,0c0.148,0.002,0.279,0.092,0.332,0.229   c0.012,0.025,1.24,2.777,8.494,2.777c0.201,0,0.361,0.164,0.361,0.363L25.038,19.15L25.038,19.15z" fill="#bcbac2"/>
			<g>
			</g>
		</svg>
		<figcaption><b>NCB Protection</b><br>Protects the NCB earned even if there is a claim in the existing or expiring policy.
		</figcaption>
	</figure>
</div>
<div class="col-md-3">
	<figure class="glossarie_card">
	<div class="learn_more">
	<button type="button" class="btn learn_more_btn">Learn More</button>
	</div>
		<!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="glossarySvg">
			<g>
				<g>
					<path class="glossarie_svg" d="M505.061,394.613l-52.931-52.932l9.288-19.257c2.786-5.775,3.156-12.291,1.042-18.344    c-2.114-6.053-6.459-10.921-12.235-13.707c-9.186-4.432-20.201-2.564-27.408,4.644c-1.905,1.906-3.468,4.109-4.643,6.549    l-2.004,4.155l-16.859-16.859l9.288-19.255c2.786-5.775,3.157-12.29,1.044-18.344c-2.114-6.054-6.459-10.922-12.235-13.708    c-9.183-4.429-20.199-2.565-27.408,4.644c-1.906,1.906-3.469,4.11-4.644,6.549l-2.004,4.155l-16.859-16.859l9.288-19.257    c2.786-5.775,3.157-12.29,1.044-18.344c-2.114-6.054-6.459-10.922-12.235-13.708c-9.182-4.428-20.198-2.565-27.407,4.643    c-0.001,0-0.001,0-0.002,0.001c-1.905,1.905-3.468,4.108-4.644,6.549l-2.004,4.155l-16.859-16.858l9.288-19.257    c2.786-5.775,3.156-12.291,1.042-18.344c-2.114-6.053-6.459-10.921-12.234-13.707c-9.184-4.431-20.2-2.566-27.409,4.644    c-3.069,3.07-4.795,6.865-6.647,10.704l-22.369-22.37l39.609-39.609c9.358-9.36,9.358-24.59,0-33.951L231.193,7.578    c-9.255-9.254-24.696-9.254-33.951,0l-48.402,48.403c-3.125,3.125-3.125,8.192,0,11.316c3.126,3.125,8.192,3.125,11.317,0    l13.319-13.319l55.074,55.075l-86.762,86.762L86.714,140.74l45.587-45.587c3.125-3.125,3.125-8.192,0-11.316    c-3.126-3.125-8.192-3.125-11.317,0l-80.667,80.668c-9.255,9.254-9.255,24.696-0.001,33.951l43.759,43.759    c9.24,9.24,24.711,9.239,33.951,0l39.609-39.609l49.505,49.505l-9.289,19.258c-5.75,11.922-0.729,26.301,11.193,32.051    c5.71,2.756,12.354,3.136,18.341,1.046c6.056-2.113,10.926-6.46,13.711-12.238l2.004-4.155l16.858,16.859l-9.288,19.255    c-3.287,6.815-3.138,14.898,0.367,21.601c3.17,6.061,8.925,10.524,15.563,12.159c4.487,1.104,9.244,0.859,13.605-0.663    c6.056-2.113,10.925-6.46,13.71-12.238l2.004-4.155l16.858,16.859l-9.288,19.255c-4.393,9.107-2.496,20.329,4.682,27.457    c7.408,7.358,19.035,9.052,28.251,4.156c4.482-2.381,8.109-6.184,10.311-10.754l2.004-4.155l16.859,16.859l-9.289,19.256    c-4.393,9.105-2.495,20.329,4.682,27.457c7.408,7.358,19.035,9.052,28.251,4.156c4.482-2.381,8.109-6.184,10.311-10.754    l2.005-4.156l25.795,25.795c9.255,9.254,24.696,9.254,33.951,0l43.757-43.758C514.313,419.31,514.313,403.868,505.061,394.613z     M106.709,230.897c-3.121,3.12-8.197,3.121-11.317,0l-43.759-43.759c-3.083-3.085-3.082-8.233,0.001-11.316l23.765-23.766    l55.075,55.075L106.709,230.897z M184.795,42.661l23.765-23.766c3.082-3.083,8.233-3.083,11.315,0l43.759,43.758    c3.121,3.12,3.121,8.197,0,11.317L239.87,97.735L184.795,42.661z M168.951,191.288l55.074-55.074l26.321,26.322l-35.842,74.306    L168.951,191.288z M226.68,285.275c-2.069,4.292-7.594,5.82-11.587,3.218c-3.32-2.164-4.547-6.607-2.829-10.172l61.867-128.258    c1.898-3.933,6.749-5.616,10.683-3.73c3.929,1.884,5.624,6.758,3.731,10.683L226.68,285.275z M250.465,272.803l35.842-74.307    l16.859,16.858l-35.842,74.308L250.465,272.803z M279.499,338.094c-1.895,3.932-6.748,5.619-10.685,3.729    c-3.927-1.885-5.623-6.758-3.73-10.683l61.866-128.258c1.859-3.86,6.611-5.587,10.517-3.806c4.028,1.836,5.827,6.758,3.898,10.76    L279.499,338.094z M303.284,325.622l35.842-74.307l16.859,16.859l-35.842,74.307L303.284,325.622z M332.318,390.914    c-1.895,3.932-6.746,5.618-10.683,3.728c-3.927-1.885-5.624-6.757-3.731-10.683l61.866-128.258    c1.895-3.934,6.752-5.616,10.685-3.73c3.927,1.884,5.623,6.758,3.73,10.683L332.318,390.914z M356.102,378.44l35.842-74.308    l16.859,16.859l-35.843,74.307L356.102,378.44z M385.137,443.733c-1.895,3.932-6.747,5.618-10.683,3.728    c-3.927-1.885-5.624-6.757-3.731-10.683l61.867-128.258c1.897-3.933,6.75-5.618,10.683-3.73c3.927,1.884,5.624,6.758,3.731,10.683    L385.137,443.733z M493.742,417.247l-43.757,43.758c-1.512,1.512-3.522,2.344-5.659,2.344c-2.138,0-4.147-0.832-5.658-2.344    l-29.747-29.747l35.842-74.307l48.979,48.98c1.511,1.512,2.343,3.521,2.343,5.658S495.254,415.735,493.742,417.247z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg"  d="M229.59,395.33l-46.2-80.022c-4.275-7.404-12.242-12.003-20.791-12.003H70.197c-8.549,0-16.515,4.6-20.79,12.003    l-46.2,80.022c-4.275,7.404-4.275,16.603,0,24.007l46.2,80.022c4.275,7.404,12.241,12.003,20.79,12.003h13.768    c4.42,0,8.002-3.583,8.002-8.002c0-4.419-3.582-8.002-8.002-8.002H70.197c-2.85,0-5.504-1.533-6.93-4.001l-46.2-80.022    c-1.425-2.468-1.425-5.534,0-8.002l46.2-80.022c1.425-2.468,4.08-4.001,6.93-4.001h92.402c2.85,0,5.505,1.533,6.931,4.001    l46.2,80.022c1.425,2.468,1.425,5.534,0,8.002l-46.2,80.022c-1.425,2.468-4.081,4.001-6.931,4.001h-35.954    c-4.42,0-8.002,3.583-8.002,8.002c0,4.419,3.582,8.002,8.002,8.002h35.954c8.55,0,16.515-4.6,20.791-12.003l46.2-80.022    C233.865,411.933,233.865,402.734,229.59,395.33z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M204.641,403.333l-40.656-70.419c-1.43-2.475-4.07-4.001-6.93-4.001H75.742c-2.859,0-5.5,1.526-6.93,4.001l-40.655,70.419    c-1.43,2.475-1.43,5.527,0,8.002l40.655,70.419c1.43,2.475,4.07,4.001,6.93,4.001h81.313c2.858,0,5.5-1.525,6.93-4.001    l40.656-70.419C206.071,408.859,206.071,405.808,204.641,403.333z M152.435,469.751H80.362l-36.036-62.417l36.036-62.417h72.073    l36.037,62.417L152.435,469.751z" fill="#bcbac2"/>
				</g>
			</g>
		</svg>
		<figcaption><b>Consumables</b><br>Normally consumables like nuts, bolts, engine oil, screen washers and others are not paid under accident repair claim. This add-on will allow to claim the cost of consumables
		</figcaption>
	</figure>

	<figure class="glossarie_card">
	<div class="learn_more">
	<button type="button" class="btn learn_more_btn">Learn More</button>
	</div>
		<!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="glossarySvg">
			<g>
				<g>
					<path class="glossarie_svg" d="M145.726,123.077c-4.345-7.526-11.361-12.91-19.756-15.16c-8.396-2.249-17.163-1.095-24.689,3.25    c-7.526,4.345-12.911,11.361-15.16,19.756c-2.25,8.395-1.095,17.163,3.25,24.689c4.345,7.526,11.361,12.91,19.756,15.16    c2.803,0.751,5.647,1.123,8.474,1.123c5.638,0,11.202-1.479,16.215-4.373c7.526-4.345,12.91-11.361,15.16-19.756    C151.226,139.371,150.071,130.603,145.726,123.077z M129.656,142.589c-0.867,3.235-2.941,5.938-5.841,7.612    c-2.9,1.674-6.28,2.117-9.513,1.252c-3.234-0.867-5.938-2.941-7.612-5.842c-1.673-2.899-2.118-6.277-1.252-9.512    c0.867-3.234,2.941-5.938,5.841-7.612c1.932-1.115,4.075-1.685,6.248-1.685c1.089,0,2.186,0.144,3.265,0.433    c3.234,0.867,5.938,2.941,7.612,5.841C130.078,135.976,130.523,139.354,129.656,142.589z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M511.169,106.463c-1.665-6.214-5.65-11.408-11.222-14.625L382.846,24.23c-11.501-6.641-26.261-2.686-32.901,8.815    l-74.651,129.299c-2.762,4.783-1.123,10.899,3.66,13.66l20.737,11.973c3.969,2.292,8.989,1.591,12.179-1.699l14.674-15.133    l4.138,2.389l-23.203,40.548c-2.743,4.793-1.081,10.903,3.712,13.646c4.793,2.742,10.903,1.08,13.646-3.712l23.165-40.481    l31.307,18.075L301.06,332.52c-2.833,4.741-1.288,10.881,3.453,13.715c1.607,0.96,3.375,1.418,5.121,1.418    c3.402-0.001,6.72-1.738,8.593-4.871l78.404-131.171l4.235,2.445l-5.77,20.275c-1.254,4.408,0.649,9.105,4.618,11.397    l20.737,11.972c1.575,0.909,3.294,1.342,4.991,1.342c3.456,0,6.817-1.794,8.669-5.002c0,0,65.495-113.44,65.496-113.441    c0.001-0.001,0.001-0.003,0.002-0.004l9.153-15.854C511.979,119.167,512.834,112.676,511.169,106.463z M421.792,235.378    l-5.325-3.074l5.77-20.275c1.254-4.408-0.649-9.105-4.618-11.397l-19.511-11.265c-0.002-0.001-0.004-0.003-0.006-0.004    l-48.792-28.17c-0.002-0.001-0.004-0.002-0.005-0.003l-19.512-11.265c-3.97-2.292-8.989-1.593-12.179,1.699l-14.674,15.133    l-5.325-3.074l55.496-96.121l124.177,71.694L421.792,235.378z M491.442,114.737l-4.156,7.198L363.11,50.242l4.155-7.198    c1.127-1.95,3.631-2.619,5.581-1.495l117.101,67.608c1.275,0.736,1.74,1.87,1.903,2.48S492.178,113.462,491.442,114.737z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M425.879,130.923c-2.249-8.395-7.633-15.411-15.16-19.756c-7.526-4.346-16.293-5.5-24.689-3.25    c-8.395,2.25-15.411,7.633-19.756,15.16c-4.346,7.526-5.5,16.294-3.25,24.689c2.25,8.395,7.633,15.411,15.16,19.756    c5.014,2.895,10.577,4.374,16.215,4.373c2.826,0,5.671-0.372,8.474-1.123c8.395-2.25,15.411-7.633,19.756-15.159    C426.974,148.086,428.128,139.318,425.879,130.923z M405.309,145.612c-1.674,2.9-4.378,4.975-7.612,5.841    c-3.233,0.866-6.612,0.423-9.513-1.252c-2.9-1.674-4.975-4.378-5.841-7.612c-0.866-3.234-0.422-6.613,1.252-9.513    c1.674-2.9,4.378-4.975,7.612-5.841c1.08-0.289,2.176-0.433,3.265-0.433c2.172,0,4.316,0.57,6.248,1.685    c2.9,1.674,4.975,4.378,5.841,7.612S406.983,142.712,405.309,145.612z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M302.739,248.926c-1.86-1.86-4.44-2.93-7.07-2.93c-2.64,0-5.21,1.07-7.07,2.93c-1.87,1.86-2.93,4.44-2.93,7.07    c0,2.63,1.06,5.21,2.93,7.069c1.86,1.861,4.44,2.931,7.07,2.931c2.63,0,5.2-1.07,7.07-2.931c1.86-1.859,2.93-4.439,2.93-7.069    C305.669,253.366,304.599,250.786,302.739,248.926z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M256.159,390.994c-16.542,0-30,13.458-30,30c0,16.542,13.458,30,30,30s30-13.458,30-30    C286.159,404.452,272.701,390.994,256.159,390.994z M256.159,430.994c-5.514,0-10-4.486-10-10s4.486-10,10-10    c5.514,0,10,4.486,10,10S261.673,430.994,256.159,430.994z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M286.597,357.969c-0.211-0.662-0.49-1.313-0.849-1.94l-18.296-31.971c0.274-0.356,0.527-0.735,0.757-1.136l15.91-27.803    c2.743-4.794,1.081-10.903-3.712-13.646c-4.794-2.745-10.904-1.08-13.646,3.713l-10.776,18.831l-74.668-130.483l4.138-2.389    l14.674,15.133c3.19,3.292,8.209,3.99,12.179,1.699l20.737-11.973c4.783-2.761,6.422-8.877,3.66-13.66l-74.65-129.299    c-6.64-11.501-21.399-15.455-32.901-8.815L12.053,91.838c-5.572,3.217-9.557,8.411-11.222,14.625    c-1.665,6.214-0.811,12.705,2.406,18.276l9.153,15.854c0.001,0.001,0.001,0.003,0.002,0.004    c0.001,0.001,65.496,113.441,65.496,113.441c1.852,3.208,5.213,5.002,8.669,5.002c1.696,0,3.416-0.433,4.991-1.342l20.737-11.972    c3.969-2.292,5.873-6.989,4.618-11.397l-5.77-20.275l4.235-2.445l50.834,85.048c2.833,4.74,8.974,6.284,13.714,3.453    c4.741-2.834,6.287-8.974,3.453-13.715l-50.679-84.788l31.308-18.074l95.886,167.562c-1.233-0.065-2.474-0.101-3.723-0.101    c-38.597,0-69.999,31.402-69.999,69.999c0,38.597,31.402,69.999,69.999,69.999c38.597,0,69.999-31.401,69.999-69.999    C326.158,393.299,309.989,369.311,286.597,357.969z M20.557,114.738c-0.736-1.275-0.571-2.49-0.408-3.1    c0.164-0.61,0.628-1.744,1.903-2.48L139.154,41.55c1.95-1.126,4.455-0.456,5.581,1.495l4.155,7.198L24.713,121.936L20.557,114.738    z M162.697,161.191c-0.002,0.001-0.004,0.002-0.005,0.003l-48.792,28.17c-0.002,0.001-0.004,0.003-0.006,0.004l-19.511,11.265    c-3.969,2.292-5.873,6.989-4.618,11.397l5.77,20.275l-5.327,3.074l-55.495-96.122L158.89,67.562l55.496,96.122l-5.325,3.074    l-14.674-15.133c-3.19-3.292-8.211-3.99-12.179-1.699L162.697,161.191z M256.159,470.993c-27.57,0-49.999-22.43-49.999-49.999    s22.43-49.999,49.999-49.999s49.999,22.43,49.999,49.999S283.729,470.993,256.159,470.993z" fill="#bcbac2"/>
				</g>
			</g>
			<g>
				<g>
					<path class="glossarie_svg" d="M203.231,320.216c-1.86-1.86-4.44-2.93-7.07-2.93c-2.63,0-5.21,1.069-7.07,2.93c-1.86,1.861-2.93,4.44-2.93,7.07    c0,2.63,1.07,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931c2.63-0.001,5.21-1.071,7.07-2.931    c1.86-1.859,2.93-4.439,2.93-7.069C206.161,324.656,205.091,322.076,203.231,320.216z" fill="#bcbac2"/>
				</g>
			</g>
		</svg>
		<figcaption><b>Engine Protect Cover</b><br>Protects your vehicleâ€™s engine against damage due to ingress of water during monsoon/heavy rains
		</figcaption>
	</figure>
</div>
<div class="col-md-3">
	<figure class="glossarie_card">
	<div class="learn_more">
	<button type="button" class="btn learn_more_btn">Learn More</button>
	</div>
		<!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 491.695 491.695" style="enable-background:new 0 0 491.695 491.695;" xml:space="preserve" class="glossarySvg">
			<g>
				<path class="glossarie_svg" d="M436.714,0H149.471c-16.438,0-29.812,13.374-29.812,29.812v66.714c-54.49,15.594-94.489,65.857-94.489,125.288   c0,59.431,39.998,109.694,94.489,125.288v114.783c0,16.438,13.374,29.812,29.812,29.812h234.733c2.785,0,5.455-1.106,7.425-3.075   l71.821-71.822c1.969-1.969,3.075-4.64,3.075-7.425V29.812C466.525,13.374,453.152,0,436.714,0z M149.471,21h287.243   c4.858,0,8.811,3.953,8.811,8.812v31.689H140.659V29.812C140.659,24.953,144.612,21,149.471,21z M46.17,221.813   c0-60.263,49.027-109.29,109.29-109.29c60.263,0,109.29,49.027,109.29,109.29s-49.027,109.291-109.29,109.291   C95.197,331.104,46.17,282.076,46.17,221.813z M140.659,461.884V351.258c4.86,0.552,9.797,0.846,14.802,0.846   c39.135,0,74.292-17.347,98.195-44.752h64.336c5.799,0,10.5-4.701,10.5-10.5s-4.701-10.5-10.5-10.5h-49.381   c9.133-15.95,14.984-34.005,16.644-53.242h32.736c5.799,0,10.5-4.701,10.5-10.5c0-5.799-4.701-10.5-10.5-10.5h-32.603   c-1.42-19.194-7.02-37.242-15.886-53.241h48.488c5.799,0,10.5-4.701,10.5-10.5c0-5.799-4.701-10.5-10.5-10.5h-62.974   c-23.918-28.323-59.67-46.347-99.558-46.347c-5.005,0-9.942,0.294-14.802,0.846v-9.867h304.866v316.372h-42.009   c-16.439,0-29.811,13.374-29.811,29.811v42.011H149.471C144.612,470.695,140.659,466.743,140.659,461.884z M394.705,455.845v-27.16   c0-4.859,3.953-8.811,8.811-8.811h27.16L394.705,455.845z" fill="#bcbac2"/>
				<path class="glossarie_svg" d="M359.246,158.869h34.87c5.799,0,10.5-4.701,10.5-10.5c0-5.799-4.701-10.5-10.5-10.5h-34.87c-5.799,0-10.5,4.701-10.5,10.5   C348.746,154.168,353.447,158.869,359.246,158.869z" fill="#bcbac2"/>
				<path class="glossarie_svg" d="M359.246,233.11h34.87c5.799,0,10.5-4.701,10.5-10.5c0-5.799-4.701-10.5-10.5-10.5h-34.87c-5.799,0-10.5,4.701-10.5,10.5   C348.746,228.409,353.447,233.11,359.246,233.11z" fill="#bcbac2"/>
				<path class="glossarie_svg" d="M359.246,307.352h34.87c5.799,0,10.5-4.701,10.5-10.5s-4.701-10.5-10.5-10.5h-34.87c-5.799,0-10.5,4.701-10.5,10.5   S353.447,307.352,359.246,307.352z" fill="#bcbac2"/>
				<path class="glossarie_svg" d="M394.116,381.593c5.799,0,10.5-4.701,10.5-10.5s-4.701-10.5-10.5-10.5h-98.225c-5.799,0-10.5,4.701-10.5,10.5   s4.701,10.5,10.5,10.5H394.116z" fill="#bcbac2"/>
				<path class="glossarie_svg" d="M236.982,168.845l-12.81-12.81c-3.45-3.449-8.036-5.349-12.915-5.349s-9.465,1.9-12.915,5.349l-67.19,67.19l-18.573-18.573   c-3.449-3.448-8.036-5.348-12.914-5.348c-4.878,0-9.465,1.9-12.914,5.349l-12.813,12.812c-7.12,7.121-7.12,18.708,0.001,25.829   l44.297,44.296c3.45,3.451,8.037,5.351,12.916,5.351c0,0,0.001,0,0.001,0c4.878,0,9.465-1.9,12.913-5.349l92.917-92.917   C244.103,187.554,244.103,175.966,236.982,168.845z M131.151,270.807l-40.429-40.428l8.942-8.942l24.062,24.062   c4.101,4.101,10.749,4.101,14.85,0l72.681-72.681l8.942,8.942L131.151,270.807z" fill="#bcbac2"/>
			</g>
		</svg>
		<figcaption><b>Invoice Price Cover</b><br>In this case, the IDV will be equivalent to the showroom price as on the date of claim
		</figcaption>
	</figure>

	<figure class="glossarie_card">
	<div class="learn_more">
	<button type="button" class="btn learn_more_btn">Learn More</button>
	</div>
		<!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.333 469.333" style="enable-background:new 0 0 469.333 469.333;" xml:space="preserve" class="glossarySvg"class="glossarySvg">
			<g>
				<g>
					<g>
						<path class="glossarie_svg" d="M458.667,362.667h-32v-21.333c11.76,0,21.333-9.573,21.333-21.333v-42.667c0-11.76-9.573-21.333-21.333-21.333v-42.667     c0-57.01-22.208-110.615-62.542-150.906C323.833,22.167,270.292,0,213.344,0c-0.063,0-0.125,0-0.188,0     C95.719,0.094,0.094,95.719,0,213.156c-0.052,57.021,22.125,110.635,62.427,150.969c40.292,40.333,93.896,62.542,150.906,62.542     h86.413c4.956,24.314,26.5,42.667,52.254,42.667h106.667c5.896,0,10.667-4.771,10.667-10.667v-85.333     C469.333,367.438,464.563,362.667,458.667,362.667z M426.688,320l-0.021,10.667V320h-21.333v-42.667h21.333V320     C426.667,320,426.677,320,426.688,320z M299.746,405.333h-86.413c-51.313,0-99.552-19.99-135.823-56.292     C41.24,312.74,21.292,264.49,21.333,213.177c0.094-105.698,86.146-191.75,191.844-191.844c0.052,0,0.104,0,0.167,0     c51.25,0,99.438,19.948,135.698,56.177c36.302,36.271,56.292,84.51,56.292,135.823V256c-11.76,0-21.333,9.573-21.333,21.333V320     c0,11.76,9.573,21.333,21.333,21.333v21.333H352C326.246,362.667,304.702,381.02,299.746,405.333z M448,448h-96     c-17.646,0-32-14.354-32-32c0-17.646,14.354-32,32-32h96V448z" fill="#bcbac2"/>
						<path class="glossarie_svg" d="M292.417,234.667l3.125-3.125c2.667-2.667,3.729-6.531,2.792-10.188c-0.927-3.646-3.719-6.531-7.333-7.594l-15.604-4.573     c1.302-5.823,1.938-11.51,1.938-17.188c0-47.052-38.281-85.333-85.333-85.333S106.667,144.948,106.667,192     c0,52.729,48.385,95.5,102.521,83.396L213.761,291c1.063,3.615,3.948,6.406,7.594,7.333c3.625,0.927,7.51-0.125,10.188-2.792     l3.125-3.125l24.458,24.458c2,2,4.708,3.125,7.542,3.125c0,2.833,1.125,5.542,3.125,7.542l10.667,10.667     c2,2,4.708,3.125,7.542,3.125h42.667c5.896,0,10.667-4.771,10.667-10.667V288c0-2.833-1.125-5.542-3.125-7.542L292.417,234.667z      M320,320h-27.583L288,315.583v-6.25c0-5.896-4.771-10.667-10.667-10.667h-6.25l-28.875-28.875     c-3.49-3.5-8.813-4.063-12.917-1.677l-2.604-8.885c-0.823-2.802-2.76-5.146-5.365-6.49c-2.583-1.333-5.615-1.521-8.396-0.583     C205.531,254.74,198.677,256,192,256c-35.292,0-64-28.708-64-64c0-35.292,28.708-64,64-64s64,28.708,64,64     c0,6.677-1.26,13.531-3.844,20.927c-0.958,2.76-0.75,5.802,0.583,8.396c1.344,2.604,3.688,4.542,6.49,5.365l8.885,2.604     c-2.385,4.083-1.823,9.417,1.677,12.917L320,292.417V320z" fill="#bcbac2"/>
						<circle class="glossarie_svg" cx="170.667" cy="170.667" r="21.333" fill="#bcbac2"/>
					</g>
				</g>
			</g>
		</svg>
		<figcaption><b>Key and Lock Replacement</b><br>Allows you claim the cost of replacement of lock and key in case of loss/theft of vehicle keys
		</figcaption>
	</figure>
</div>
</div>
</section>
<hr>
