@(tabName : java.lang.String = "car")
<div class="outerScroll col-md-12" id="dock-container" >
<div id="dock" class="col-md-12">
<ul class="policyBlock__listTop col-md-12 fill_white">
    <li class="policyBlock__list @if(tabName == "car"){ li--active}">
        <a href="@com.arka.consumerportal.procurementweb.controllers.routes.MotorInsuranceController.carInsuranceLandingPage()" class="@if(tabName == "car"){ selected_block--active}">
            <!--<div class="policyBlock__iconOuter"><span class="policyBlock__carIcon"></span></div>Car</a>-->
            <div class="policyBlock__iconOuter">
                <!--<object type="image/svg+xml" data="images/Car1.svg"></object>-->
<svg version="1.1" class="policyBlock__selectLinkIcon carSvg" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 417.885 417.885" style="enable-background:new 0 0 417.885 417.885;" xml:space="preserve">
<g>
	<path style="stroke:#000000;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;" d="M285.083,278.997H132.804
		l-13.507,32.814l-2.342,5.69h29.362c-0.041-0.257-0.079-0.515-0.079-0.783v-4.907v-9.329c0-2.755,2.233-4.989,4.989-4.989
		c2.755,0,4.989,2.233,4.989,4.989v9.329v4.907c0,0.268-0.038,0.526-0.079,0.783h47.897c-0.041-0.257-0.079-0.515-0.079-0.783
		v-4.907v-9.329c0-2.755,2.233-4.989,4.989-4.989c2.755,0,4.989,2.233,4.989,4.989v9.329v4.907c0,0.268-0.038,0.526-0.079,0.783
		h47.897c-0.041-0.257-0.079-0.515-0.079-0.783v-4.907v-9.329c0-2.755,2.233-4.989,4.989-4.989s4.989,2.233,4.989,4.989v9.329v4.907
		c0,0.268-0.038,0.526-0.079,0.783h29.362l-2.342-5.69L285.083,278.997z"/>
	<path style="stroke:#000000;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;" d="M414.985,150.922
		c-0.994-2.892-4.515-5.142-7.454-5.142c-12.728,0-25.456,0-38.183,0c-2.94,0-6.461,2.251-7.454,5.142
		c-1.366,3.976-2.239,7.347-2.64,10.547c-16.795-32.338-35.393-68.331-35.393-68.331c-1.829-5.111-6.246-8.854-11.586-9.82
		c-34.4-6.222-69.163-9.376-103.322-9.376c-34.158,0-68.928,3.154-103.341,9.376c-5.34,0.965-9.759,4.709-11.588,9.819
		c0,0-18.598,35.994-35.393,68.331c-0.401-3.199-1.274-6.571-2.64-10.547c-0.993-2.892-4.514-5.142-7.453-5.142
		c-12.727,0-25.456,0-38.183,0c-2.939,0-6.46,2.251-7.455,5.142c-3.867,11.258-3.864,17.704,0.001,28.963
		c0.994,2.892,4.515,5.142,7.454,5.142c12.704,0,25.408,0,38.111,0c0.008,0.476,0.035,0.95,0.088,1.424
		c-8.037,2.438-13.888,9.899-13.888,18.732v82.176v4.872v42.301c0,5.197,4.211,9.41,9.409,9.41h47.362c5.197,0,9.41-4.213,9.41-9.41
		v-22.722h7.661l16.342-39.702c0.77-1.87,2.591-3.09,4.613-3.09h158.962c2.022,0,3.844,1.22,4.613,3.09l16.341,39.702h7.661v22.722
		c0,5.197,4.213,9.41,9.41,9.41h47.362c5.197,0,9.409-4.213,9.409-9.41v-42.301v-4.872v-82.176c0-8.833-5.851-16.294-13.888-18.732
		c0.053-0.474,0.08-0.948,0.088-1.424c12.703,0,25.407,0,38.111,0c2.939,0,6.46-2.249,7.455-5.142
		C418.853,168.626,418.851,162.18,414.985,150.922z M115.019,104.224c0,0,22.741-5.772,93.924-5.772s93.923,5.772,93.923,5.772
		l33.38,80.803H81.64L115.019,104.224z M73.533,244.042v-26.548h57.499l17.084,26.548H73.533z M344.352,244.042h-74.583
		l17.084-26.548h57.499V244.042z"/>
</g>
</svg>

            </div>Car</a>
    </li>
    <li class="policyBlock__list @if(tabName == "bike"){ li--active}">
        <a href="@com.arka.consumerportal.procurementweb.controllers.routes.MotorInsuranceController.bikeInsuranceLandingPage()" class="@if(tabName == "bike"){ selected_block--active}">
            <div class="policyBlock__iconOuter">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="policyBlock__selectLinkIcon wheelerSvg" x="0px" y="0px" viewBox="0 0 64 64" width="64px" height="22px" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g>
                        <path  d="M22.859,45.904c-0.193-1.162-0.324-2.326-0.586-3.462c-1.239-5.373-4.822-8.28-10.039-9.183   c-2.997-0.518-6.062-0.64-8.993-0.928c-0.9-1.473-1.842-3.025-2.795-4.571c-0.702-1.139-0.512-2.242,0.121-3.318   c0.982-1.667,2.581-2.43,4.38-2.504c1.669-0.068,3.375,0.136,5.027,0.427c1.526,0.27,2.769,1.235,3.66,2.473   c1.056,1.463,2.53,2.377,3.922,3.401c2.31,1.695,4.668,3.324,7.03,4.946c0.495,0.341,0.615,0.66,0.461,1.245   c-0.372,1.429-0.66,2.878-0.982,4.319c-0.316,1.402,0.418,2.755,1.741,3.209c1.287,0.443,2.73-0.12,3.271-1.421   c0.98-2.367,1.893-4.763,2.787-7.163c0.402-1.081,0.019-2.008-0.748-2.825c-1.564-1.661-3.101-3.346-4.689-5.064   c0.909-1.34,2.083-2.013,3.58-2.106c2.164-0.133,4.1,0.638,5.934,1.664c1.646,0.92,3.234,1.942,5.064,2.852   c-0.08-0.255-0.108-0.542-0.244-0.763c-0.84-1.342-1.704-2.67-2.559-4c1.943-1.258,2.238-2.313,1.172-4.59   c0.75,0.195,1.413,0.252,1.971,0.528c4.299,2.144,8.723,4.08,12.564,7.031c1.312,1.008,2.507,2.209,3.581,3.472   c0.843,0.986,1.459,2.182,1.021,3.622c-0.165,0.554-0.443,0.729-1.017,0.704c-2.373-0.1-4.722,0.086-6.985,0.877   c-2.771,0.969-4.768,2.852-5.999,5.479c-0.764,1.633-1.311,3.371-1.925,5.071c-0.147,0.406-0.276,0.642-0.787,0.64   c-6.198-0.021-12.396-0.015-18.594-0.018C23.1,45.954,22.992,45.924,22.859,45.904z"></path>
                        <path  d="M28.401,19.281c-1.338,1.992-2.611,3.886-3.968,5.907c1.853,2.072,3.678,4.171,5.571,6.202   c0.571,0.612,0.764,1.166,0.453,1.945c-0.83,2.068-1.625,4.15-2.447,6.223c-0.375,0.952-0.96,1.331-1.672,1.125   c-0.805-0.232-1.088-0.883-0.851-1.954c0.369-1.659,0.716-3.324,1.12-4.976c0.125-0.515,0.034-0.802-0.411-1.109   c-2.584-1.789-5.137-3.626-7.718-5.422c-2.021-1.404-2.479-3.616-1.106-5.683c1.711-2.577,3.433-5.148,5.174-7.704   c1.773-2.603,5.16-2.577,6.884,0.042c1.011,1.536,1.975,3.104,3.009,4.625c0.181,0.265,0.587,0.495,0.908,0.521   c1.271,0.103,2.553,0.116,3.828,0.166c0.917,0.035,1.493,0.569,1.463,1.355c-0.025,0.752-0.604,1.284-1.466,1.268   c-1.725-0.03-3.446-0.082-5.167-0.169c-0.304-0.015-0.628-0.202-0.891-0.384C30.229,20.638,29.363,19.986,28.401,19.281z"></path>
                        <path  d="M20.663,44.677c-0.016,5.183-4.176,9.335-9.345,9.323c-5.087-0.013-9.301-4.241-9.291-9.323   c0.01-5.289,4.198-9.415,9.542-9.401C16.558,35.288,20.678,39.546,20.663,44.677z M16.004,44.675   c0.021-2.542-2.028-4.668-4.556-4.719c-2.557-0.056-4.682,2.035-4.712,4.635c-0.031,2.558,1.997,4.659,4.545,4.712   C13.84,49.357,15.983,47.256,16.004,44.675z"></path>
                        <path  d="M54.663,35.275c5.107-0.021,9.308,4.137,9.336,9.255c0.032,5.196-4.098,9.438-9.218,9.47   c-5.103,0.032-9.39-4.107-9.416-9.097C45.335,39.497,49.391,35.3,54.663,35.275z M54.717,39.954   c-2.552-0.015-4.662,2.084-4.691,4.663c-0.027,2.533,2.128,4.701,4.658,4.687c2.573-0.017,4.654-2.119,4.645-4.696   C59.315,42.085,57.219,39.966,54.717,39.954z"></path>
                        <path  d="M36.939,6.936c-1.248,0.057-2.469,0.024-3.662,0.194c-1.315,0.187-1.945,0.909-1.988,1.886   c-0.032,0.73,0.25,1.11,0.998,1.106c0.388-0.001,0.792-0.052,1.164,0.034c0.402,0.094,0.773,0.323,1.156,0.493   c-0.213,0.457-0.311,1.13-0.666,1.323c-0.736,0.4-1.597,0.68-2.431,0.77c-3.171,0.34-6.097-1.761-6.812-4.8   c-0.737-3.125,0.846-6.263,3.766-7.471c2.907-1.204,6.354-0.031,7.973,2.714C37.152,4.398,37.329,5.839,36.939,6.936z"></path>
                    </g>
                </svg>
            </div>2-Wheeler</a>
    </li>
    <li class="policyBlock__list @if(tabName == "health"){ li--active}">
        <a href="@com.arka.consumerportal.procurementweb.controllers.routes.HealthController.health()" class="@if(tabName == "health"){ selected_block--active}">
            <div class="policyBlock__iconOuter">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="policyBlock__selectLinkIcon healthSvg" x="0px" y="0px" width="64px" height="22px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g>
                     <path fill="#0c2f3e" d="M6.275,35.635c-3.381-1.073-5.49-3.142-6.144-6.574c-0.827-4.345,2.34-8.595,6.893-9.225   c4.217-0.585,8.415,2.819,8.762,7.107c0.3,3.699-1.549,6.842-4.993,8.203c-1.015,0.401-1.358,0.902-1.304,1.973   c0.224,4.348,0.171,8.72,0.624,13.037c0.309,2.935,1.78,5.543,3.889,7.687c3.847,3.915,9.116,3.875,12.887-0.131   c2.824-2.996,4.042-6.702,4.274-10.724c0.169-2.918,0.092-5.853,0.03-8.773c-0.008-0.408-0.484-1.035-0.873-1.166   c-2.493-0.832-4.266-2.438-5.555-4.706c-3.17-5.583-6.415-11.123-9.568-16.715c-3.304-5.858-0.792-11.93,5.621-13.809   c0.471-0.138,0.904-0.5,1.286-0.838c1.403-1.245,3.145-1.317,4.436-0.142c1.24,1.127,1.367,3.177,0.279,4.472   c-1.111,1.324-3.036,1.629-4.383,0.415c-0.955-0.861-1.675-0.592-2.539-0.114c-2.584,1.431-3.81,4.783-2.359,7.428   c3.446,6.277,6.952,12.527,10.689,18.63c2.119,3.461,7.243,3.327,9.344-0.169c3.607-5.999,7.066-12.092,10.452-18.22   c1.629-2.942,0.358-6.407-2.578-7.839c-0.766-0.375-1.371-0.474-2.141,0.18c-1.492,1.27-3.333,1.068-4.5-0.312   c-1.099-1.3-1.036-3.117,0.153-4.34c1.258-1.293,3.073-1.267,4.561-0.024c0.496,0.417,1.119,0.765,1.739,0.935   c5.379,1.467,8.4,7.57,5.786,12.52c-3.416,6.47-7.188,12.75-10.876,19.074c-1.021,1.752-2.665,2.895-4.602,3.443   c-0.902,0.256-1.116,0.67-1.126,1.553c-0.049,3.612,0.007,7.238-0.332,10.827c-0.357,3.772-1.915,7.152-4.376,10.069   c-5.135,6.086-13.219,6.195-18.498,0.222c-3.593-4.063-4.887-8.964-4.952-14.271C6.244,42.128,6.275,38.938,6.275,35.635z"></path>
                    </g>
                </svg>
            </div>Health</a>
    </li>
    <li class="policyBlock__list @if(tabName == "travel"){ li--active}">
        <a href="@com.arka.consumerportal.procurementweb.controllers.routes.TravelController.travel()" class="@if(tabName == "travel"){ selected_block--active}">
            <div class="policyBlock__iconOuter">
                <svg version="1.1" class="policyBlock__selectLinkIcon healthSvg" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 461.198 461.198" style="enable-background:new 0 0 461.198 461.198;" xml:space="preserve">
					<g>
						<circle cx="263.002" cy="37.954" r="37.954"></circle>
						<path d="M391.813,311.315c0-6.132-4.971-11.103-11.103-11.103h-15.397v-20.961c4.182-3.837,6.54-9.544,5.833-15.611
							c0,0-11.69-100.249-15.574-133.667c-2.89-24.874-19.926-41.967-43.317-41.967h-98.509c-23.776,0-43.218,19.344-43.337,43.121
							c0,0.045,0,0.091,0,0.136l0.116,47.972c12.214,6.622,20.526,19.558,20.526,34.401v41.694c6.205,0.588,11.843,3.139,16.3,7.015
							l-0.316-131.077c0-0.001,0-0.001,0-0.002c0.023-1.998,1.656-3.603,3.655-3.591c1.998,0.012,3.611,1.636,3.611,3.634l0.008,139.987
							c1.965,3.917,3.074,8.333,3.074,13.005v147.756c0,4.232-0.915,8.252-2.547,11.883c2.183,9.837,10.954,17.195,21.448,17.195
							c12.137,0,21.976-9.839,21.976-21.976V263.506h9.489V439.16c0,12.137,9.839,21.976,21.975,21.976
							c12.137,0,21.976-9.839,21.976-21.976c0-161.971-0.294-277.718-0.377-307.174c-0.006-1.999,1.519-3.67,3.511-3.846
							c1.991-0.176,3.789,1.2,4.132,3.171c0-0.001,0,0,0,0c0.259,1.487,2.717,23.846,15.799,136.568
							c0.767,6.582,4.94,11.925,10.547,14.509v17.826h-15.397c-6.132,0-11.103,4.971-11.103,11.103v111.794
							c0,6.132,4.971,11.103,11.103,11.103h50.794c6.132,0,11.103-4.971,11.103-11.103V311.315z"></path>
						<path d="M190.519,273.424c-1.472-0.301-0.815-0.226-17.468-0.226h0v-59.564c0-11.57-9.418-21.104-21.103-21.104h-35.127
							c-11.636,0-21.103,9.467-21.103,21.104v59.564h0c-16.634,0-15.989-0.077-17.468,0.226c-5.062,1.036-8.865,5.514-8.865,10.877
							v147.756c0,5.928,4.65,10.757,10.5,11.072v0v8.068c0,5.544,4.518,10,10,10c5.461,0,10-4.435,10-10v-8.038h69v8.038
							c0,5.544,4.518,10,10,10c5.461,0,10-4.435,10-10v-8.068v0c5.85-0.315,10.5-5.144,10.5-11.072
							c0-156.313,0.032-148.015-0.057-148.892C198.835,278.317,195.221,274.386,190.519,273.424z M115.718,213.635
							c0-0.604,0.492-1.104,1.103-1.104h35.127c0.612,0,1.103,0.499,1.103,1.104v59.564h-37.333V213.635z M95.718,321.55
							c0.125-0.005,0.248-0.019,0.375-0.019c7.498,0,68.398,0,76.583,0c0.127,0,0.25,0.014,0.375,0.019
							c4.796,0.198,8.625,4.137,8.625,8.981c0,4.844-3.829,8.783-8.625,8.981c-0.125,0.005-0.248,0.019-0.375,0.019H96.093
							c-0.127,0-0.25-0.014-0.375-0.019c-4.795-0.198-8.625-4.137-8.625-8.981C87.093,325.687,90.923,321.748,95.718,321.55z"></path>
					</g>
					</svg>
            </div>Travel</a>
    </li>
    <li class="policyBlock__list @if(tabName == "term"){ li--active}">
        <a href="@com.arka.consumerportal.procurementweb.controllers.routes.TermController.term()" class="@if(tabName == "term"){ selected_block--active}">
            <div class="policyBlock__iconOuter">
				<svg version="1.1" class="policyBlock__selectLinkIcon healthSvg" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 295.531 295.531" style="enable-background:new 0 0 295.531 295.531;" xml:space="preserve">
				<g>
					<path d="M113.063,186.34c-1.979-11.295-1.933-25.818-1.849-52.186c0.018-5.816,0.038-12.207,0.038-19.25l-0.285-21.125
						l20.213,5.613c0.514,0.113,3.738,0.783,8.253,0.783c14.1,0,24.819-5.805,31.863-17.623l5.488-9.021h-39.007
						c10.349-8,17.116-19.516,17.116-33.139C154.894,18.135,136.852,0,114.599,0C92.34,0,74.3,18.182,74.3,40.439
						c0,13.623,6.767,25.092,17.117,33.092H65.896H65.4h-0.766V73.18c-6,0.252-12,6.199-12,12.881v99.875
						c0,6.828,5.936,12.596,12.766,12.596h0.495c5.196,0,9.739-3.504,11.739-8.008v86.383c0,10.078,8.504,18.625,18.583,18.625h0.5
						c10.079,0,18.25-8.172,18.25-18.25c0,10.078,8.171,18.25,18.25,18.25h0.5c10.079,0,17.917-8.547,17.917-18.625v-41.523
						c-8-6.078-16.421-12.756-21.932-18.195C121.191,208.789,115.577,200.697,113.063,186.34z"/>
					<path d="M242.828,114.904c0,0-4.931,1.271-12.181,1.271c-12.752,0-32.681-3.93-45.607-25.619
						c-12.925,21.688-32.855,25.619-45.607,25.619c-7.252,0-12.181-1.271-12.181-1.271c0,67.715-1.859,75.387,13.856,90.897
						c12.672,12.508,43.932,33.355,43.932,33.355s31.26-20.848,43.933-33.355C244.688,190.291,242.828,182.619,242.828,114.904z
						 M223.957,179.207c-1.068,6.09-2.977,9.51-8.169,14.635c-6.325,6.242-19.289,15.568-26.454,20.572l-4.294,3l-4.295-3
						c-7.166-5.006-20.133-14.334-26.452-20.57c-5.194-5.129-7.102-8.549-8.169-14.637c-1.273-7.27-1.238-18.654-1.181-37.52
						l0.031-8.902l7.118-0.34c10.921-0.521,20.329-4.227,27.964-11.016l4.983-4.432l4.984,4.432
						c7.634,6.789,17.043,10.496,27.963,11.016l7.119,0.34l0.03,8.943C225.194,160.568,225.23,171.941,223.957,179.207z"/>
					<polygon points="176.635,174.531 176.635,190.531 192.635,190.531 192.635,174.531 208.635,174.531 208.635,158.531 
						192.635,158.531 192.635,141.531 176.635,141.531 176.635,158.531 159.635,158.531 159.635,174.531 	"/>
				</g>

</svg>

            </div>Term</a>
    </li>
    <li class="policyBlock__list @if(tabName == "criticalIllness"){ li--active}" style="width:14.28571%">
        <a href="@com.arka.consumerportal.procurementweb.controllers.routes.CriticalIllnessController.criticalIllness()" class="@if(tabName == "criticalIllness"){ selected_block--active}">
            <div class="policyBlock__iconOuter policyBlock__iconOuter__criticalIllness">
                <svg version="1.1" id="Capa_1" class="policyBlock__selectLinkIcon criticalIllnessSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 41.078 41.078" style="enable-background:new 0 0 41.078 41.078;" xml:space="preserve">
			<g>
				<g>
					<g>
						<path style="fill:#124c64;" d="M23.018,34.206L18.64,21.067h-4.253l-2.742-10.28l-2.511,10.28H6.258
							c5.448,8.125,15.779,17.029,15.779,17.029s10.247-8.904,15.653-17.029H26.811L23.018,34.206z"/>
						<path style="fill:#124c64;" d="M32.313,3.022c-3.518-0.374-9.342,1.785-10.352,7.426c-1.013-5.641-6.832-7.8-10.347-7.426
							c-4.304,0.46-9.979,2.356-8.541,11.17c0.286,1.749,1.211,3.744,2.498,5.818H8.3l3.297-13.491l3.599,13.491h4.203l3.544,10.637
							l3.072-10.637h12.019v0.529c1.452-2.265,2.506-4.452,2.815-6.348C42.291,5.378,36.609,3.482,32.313,3.022z"/>
						<path style="fill:#010002;" d="M38.034,21.067V20.54c-0.11,0.175-0.229,0.352-0.345,0.527H38.034z"/>
						<path style="fill:#010002;" d="M0,20.01v1.057h6.257c-0.236-0.353-0.465-0.706-0.685-1.057H0z"/>
					</g>
				</g>
			</g>
			
			</svg>
            </div>Critical illness</a>
    </li>
</ul>
</div>
</div>