				<ul class="policyBlock__listTop">
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink policyBlock__selectLink--active">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__carIcon"></span></div>Car</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__healthIcon"></span></div>Health</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__travelIcon"></span></div>Travel</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__termIcon"></span></div>Term</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__bikeIcon"></span></div>2-Wheeler</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__taxIcon"></span></div>Tax-Saving</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__otherIcon"></span></div>Others</a>
                        </li>
                    </ul>