@(imageUrl : String)


	<h2 class="brandSection__title" style="font-size:1.8em;">Be Sure <span class="brandSection__title--color">When You Insure</span></h2>
	<p class="licenseTextBox__text" align="left" style="line-height: 15px !important;margin:16px 25px;">
	 	<h2 class="licenseTextBox__text--color font_cursive brandSection__title">It's not about how quick you are... 
	 	It's about how informed you are when you buy</h2>
	 </p>
	
	<h2 class="licenseTextBox__text--color font_cursive brandSection__title">Be Wise ! Stay Right !</h2>
	
	<div class="licenseContainer"> 
	<img src="@imageUrl/irdai.png" alt="Irdai"  class="licenseImgBox__image">
	<div class="lisenseDetails">
        <span class="">LICENSE NUMBER</span><span class="licenseTextBox__text--color pad-top LicesePadding">585</span><span class="LicenseSeparater">|</span><span class="">BROKER CODE</span><span class="licenseTextBox__text--color pad-top LicesePadding">DB 662/17</span>
   		</div>
	</div>
	        
	