@(session : play.mvc.Http.Session, dataJson :  com.fasterxml.jackson.databind.JsonNode)
@import com.arka.common.utils.JsonUtils
<script>

@makeModelValueSetter(variant : String,typeS : String)={
		@if(typeS.equals("items") && JsonUtils.isValidField(dataJson,"items")){
			@for(element <- dataJson.get("items").elements()){
				@if(JsonUtils.isValidField(element,"code") && JsonUtils.isValidField(element,"value") && element.get("code").asText().equals(variant)){
						@if(element.get("code").asText().equals("AC-REGNO")){
								@element.get("value").asText().replace("[", "").replace("]", "").replace(",", "-")
						}else{
							@element.get("value").asText()
						}
				}
			}
		}else{
			@if(typeS.equals("makeModel") && JsonUtils.isValidField(dataJson,"makeModel") && JsonUtils.isValidField(dataJson.get("makeModel"),variant)){
					@dataJson.get("makeModel").get(variant).asText().toUpperCase()
			}
		}

	}

// madhu : clear input field on click or focus
$(document).ready(function() {
	$("input.js__accessories__dropInput").on("focus", function(){
		$(this).removeAttr("placeholder");
	});
	$("input.js__accessories__dropInput").on("focusout", function(){
		if($(this).val() == '')
			$(this).attr("placeholder", "0");
	});
});
</script>

<!-- Accessories Drop Start -->
        <section class="accessories__drop">
            <div class="checkoutContainerNew__outer">
                <div class="accessories__dropContainer">
                    <div class="checkoutContainerNew__inner">
                        <a class="js__accesoriesDrop__close checkoutContainerNew__close" href="javascript:;" title="Close"></a>
                        <div class="checkoutContainerNew__tabOuterBox">
                            <div class="checkoutContainerNew__tabTitle">
                                <h2 class="checkoutContainerNew__tabTitleText accessoriesTitle">Cover your car accessories.</h2>
                            </div>
                            <div class="checkoutContainerNew__detailsForm">
                                <div class="checkoutContainerNew__tabContent">
                                    <h3 class="checkoutContainerNew__tabContentTitle">Enter electrical accessories value</h3>
                                    <p>Cover your car's extra fitted electrical accessories like stereo, fog lamps, buzzers, etc.</p>
                                    <input  type="text" maxlength="6" placeholder="0"
                                    @if(!makeModelValueSetter("AC-COVER-ELECTRICAL_ACCESSORIES_VALUE","items").toString().trim().equals("") &&
                                    	!makeModelValueSetter("AC-COVER-NON_ELECTRICAL_ACCESSORIES_VALUE","items").toString().trim().equals("0")){
                                                	value='@makeModelValueSetter("AC-COVER-ELECTRICAL_ACCESSORIES_VALUE","items").toString().trim()'
                                     }
									class="accessories__dropInput digit-only js__accessories__dropInput js__electAcess" data-access="1">
                                </div>
                                <span class="error js__electAcc_error"></span>
                                <div class="checkoutContainerNew__tabContent">
                                    <h3 class="checkoutContainerNew__tabContentTitle">Enter non-electrical accessories value</h3>
                                    <p>Cover your car's extra fitted non-electrical accessories like roof rack, wheel cover, etc.</p>
                                    <input type="text" maxlength="6" placeholder="0"
                                     @if(!makeModelValueSetter("AC-COVER-NON_ELECTRICAL_ACCESSORIES_VALUE","items").toString().trim().equals("") &&
                                    		!makeModelValueSetter("AC-COVER-NON_ELECTRICAL_ACCESSORIES_VALUE","items").toString().trim().equals("0")){
                                                	value='@makeModelValueSetter("AC-COVER-NON_ELECTRICAL_ACCESSORIES_VALUE","items").toString().trim()'
                                     }
									class="accessories__dropInput digit-only js__accessories__dropInput js__nonElectAcess" data-access="2">
                                </div>
                                <span class="error js__nonelectAcc_error"></span>
                                <div class="checkoutContainerNew__acknowledge">
                                    <button class="checkoutContainerNew__acknowledgeBtn js__accesoriesDrop__submit view_quotes" onclick="accessoriesSubmit()" type="button" name="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Accessories Drop End -->