@(session : play.mvc.Http.Session, userEnteredData :  com.fasterxml.jackson.databind.JsonNode, attributedetails : com.fasterxml.jackson.databind.JsonNode)
@import java.time.LocalDate
@import com.arka.common.utils.JsonUtils
@import java.time.LocalDate
@import java.time.format.DateTimeFormatter
@import java.time.temporal.ChronoUnit


@makeModelValueSetter(variant : String,typeS : String,ind : Integer, dateTyp : String)={
	@if(typeS.equals("items") && JsonUtils.isValidField(userEnteredData,"items")){
		@for(element <- userEnteredData.get("items").elements()){
			@if(JsonUtils.isValidField(element,"code") && JsonUtils.isValidField(element,"value") && element.get("code").asText().equals(variant)){
					@if(dateTyp.equals("date")){
						@element.get("value").asText().split('-')(ind)
					}else{
						@if(element.get("code").asText().equals("AC-REGNO")){
							@element.get("value").asText().replace("[", "").replace("]", "").replace(",", "-")
						}else{
							@element.get("value").asText()
						}
					}
			}
		}
	}else{
		@if(typeS.equals("makeModel") && JsonUtils.isValidField(userEnteredData,"makeModel") && JsonUtils.isValidField(userEnteredData.get("makeModel"),variant)){
				@userEnteredData.get("makeModel").get(variant).asText().toUpperCase()
		}
	}

}


<script type="text/javascript">
	var policyExpMonthFrmData='';
	@if(makeModelValueSetter("AC-PREVIOUS_POLICY_EXPIRED_ON","items",1,"date").toString().trim().length()>0){
		policyExpMonthFrmData='@makeModelValueSetter("AC-PREVIOUS_POLICY_EXPIRED_ON","items",1,"date").toString().trim()';
	}
	var regMonthFrmData='';
	@if(makeModelValueSetter("AC-DATE_OF_REGISTRATION","items",1,"date").toString().trim().length()>0){
		regMonthFrmData='@makeModelValueSetter("AC-DATE_OF_REGISTRATION","items",1,"date").toString().trim()';
	}
	var ncbValFrmData='';
	@if(JsonUtils.isValidField(userEnteredData,"NCB_PERCENT") && JsonUtils.isValidField(userEnteredData.get("NCB_PERCENT"),"constraint_value")
            && JsonUtils.isValidIndex(userEnteredData.get("NCB_PERCENT").get("constraint_value"),0) && makeModelValueSetter("AC-NCB_PERCENT","items",0,"").toString().trim().length()>0){
		ncbValFrmData='@makeModelValueSetter("AC-NCB_PERCENT","items",0,"").toString().trim()';
	}
	
</script>
<section class="checkoutModal">
            <div class="checkoutContainer__outer">
                <div class="checkoutContainer">
                    <div class="checkoutContainer__inner">
                        <a class="js__checkoutContainer__close checkoutContainer__close" href="javascript:;" title="Close"></a>
                        <div class="checkoutContainer__tabOuterBox">
                            <div class="checkoutContainer__tabTitle">
                                <h2 class="checkoutContainer__tabTitleText sel_ncb_heading">We would need this information now to provide you the final accurate quote.</h2>
                            </div>
                            <div class="checkoutContainer__detailsForm checkoutContainer__ncbPopup">
                                <div class="checkoutContainer__tabContent">
                                    <h3 class="checkoutContainer__tabContentTitle">Exact registration date of your vehicle</h3>
                                    <div class="checkOutDetails__inputOuter date js__vehicleReg">
                                        <input onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 9 || event.which == 46' class="field__input js__regDate__forCar js__regDate digit-only js__regDate__changeEvent" 
                                        value='@makeModelValueSetter("AC-DATE_OF_REGISTRATION","items",2,"date").toString().trim()' 
                                        maxlength="2" type="text" placeholder="Date">
                                        <select class="checkoutContainer__select selectPicker js_checkoutContainer__policySelect js__regMonth" onchange="regDateValidator()">
                                            @defining(0){ i =>
												@for((month,index) <- new java.text.DateFormatSymbols().getMonths().zipWithIndex){
													@defining(index+1){ j =>
														@if(!month.toString().trim().equals("")){
															@defining(makeModelValueSetter("AC-DATE_OF_REGISTRATION","items",1,"date").toString().trim()){mon=>
																@if(mon.equals(String.valueOf(j)) || ((j<10) && mon.equals("0"+String.valueOf(j)) )){
			                                            			<option selected="selected" value="@index" data-value='@if((index+1)<10){0@{index+1}}else{@{index+1}}'>@month</option>
			                                            		}else{
				                                    				<option value="@index" data-value='@if((index+1)<10){0@{index+1}}else{@{index+1}}'>@month</option>
			                                    				}
															}
		                                    			}
												}
												}
												}
                                        </select>
                                        <input onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 9 || event.which == 46' class="field__input js__regYear js__regDate__changeEvent digit-only" readonly="readonly" maxlength="4" type="text" value="@makeModelValueSetter("AC-DATE_OF_REGISTRATION","items",0,"date").toString().trim()" placeholder="YEAR">
                                        <!-- <i class="calender__icon"></i> -->
                                        <!-- <span class="focus-bg"></span> -->
                                    </div>
									<span class="error js__regYear__error js__ncb__error"></span>
                                </div>
                                <div class="checkoutContainer__tabContent">
                                    <h3 class="checkoutContainer__tabContentTitle">Previous policy expiry date</h3>

                                    <div class="checkOutDetails__inputOuter date js__policyExpire">
                                        <input onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 9 || event.which == 46' class="field__input digit-only js__policyExpDate js__policyExpiryDate__changeEvent"
                                         value='@makeModelValueSetter("AC-PREVIOUS_POLICY_EXPIRED_ON","items",2,"date").toString().trim()'
                                         @*"@makeModelValueSetter("AC-PREVIOUS_POLICY_EXPIRED_ON","items",2,"date").toString().trim()"*@
                                          maxlength="2"  type="text" placeholder="Date">
                                        <select class="checkoutContainer__select selectPicker js_checkoutContainer__policySelect js__policyExpMonth js__policyExpire" onchange="expiryDateProcess()">
                                           
                                           @for((month,index) <- new java.text.DateFormatSymbols().getMonths().zipWithIndex){
													@defining(index+1){ j =>
														@if(!month.toString().trim().equals("")){
															@defining(makeModelValueSetter("AC-PREVIOUS_POLICY_EXPIRED_ON","items",1,"date").toString().trim()){mon=>
																@if(mon.equals(String.valueOf(j)) || ((j<10) && mon.equals("0"+String.valueOf(j)) )){
			                                            			<option selected="selected" value="@index" data-value='@if((index+1)<10){0@{index+1}}else{@{index+1}}'>@month</option>
			                                            		}else{
			                                    					<option value="@index" data-value='@if((index+1)<10){0@{index+1}}else{@{index+1}}'>@month</option>
			                                    				}
															}
														
		                                    			}
												}
												}
                                        </select>
                                        <input onkeypress='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 9 || event.which == 46' class="field__input js__policyExpYear digit-only js__policyExpiryDate__changeEvent" type="text" value="@makeModelValueSetter("AC-PREVIOUS_POLICY_EXPIRED_ON","items",0,"date").toString().trim()" maxlength="4" placeholder="YEAR">
                                        <!-- <i class="calender__icon"></i> -->
                                        <!-- <span class="focus-bg"></span> -->
                                    </div>
									<span class="error js__prevPolicy__error js__ncb__error"></span>
                                </div>
                                 <div class="checkoutContainer__policyExpire">
                                    <h3 class="checkoutContainer__tabContentTitle">Your cars Month and Year of manufacturing</h3>
									<input hidden="hidden" class="field__input digit-only js__carManuFacture__day" type="text" value="@makeModelValueSetter("AC-CAR_MANUFACTURE_DATE","items",2,"date").toString().trim()" maxlength="4" placeholder="YEAR">
                                    <div class="checkOutDetails__inputOuter date">
                                        <select class="checkoutContainer__select selectPicker js__manfSelect__picker js__manfMonth" onchange="">
                                         @for((month,index) <- new java.text.DateFormatSymbols().getMonths().zipWithIndex){
													@defining(index+1){ j =>
														@if(!month.toString().trim().equals("")){
															@defining(makeModelValueSetter("AC-CAR_MANUFACTURE_DATE","items",1,"date").toString().trim()){mon=>
																@if(mon.equals(String.valueOf(j)) || ((j<10) && mon.equals("0"+String.valueOf(j)) )){
			                                            			<option selected="selected" value="@index" data-value='@if((index+1)<10){0@{index+1}}else{@{index+1}}'>@month</option>
			                                            		}else{
			                                    					<option value="@index" data-value='@if((index+1)<10){0@{index+1}}else{@{index+1}}'>@month</option>
			                                    				}
															}
														
		                                    			}
												}
											}
                                        </select>
                                        <input onkeypress='' class="field__input digit-only js__carManuFacture__year" type="text" value="@makeModelValueSetter("AC-CAR_MANUFACTURE_DATE","items",0,"date").toString().trim()" maxlength="4" placeholder="YEAR">
                                        <!-- <i class="calender__icon"></i> -->
                                        <!-- <span class="focus-bg"></span> -->
                                    </div>
									<span class="error js__manfError"></span>
                                </div>
                                <div class="checkoutContainer__policyExpire js__ncbDisplayClass" @if(makeModelValueSetter("AC-COVER-POLICY_EXPIRED_BEFORE_90_DAYS","items",0,"").toString().trim().equals("true")){
                               		style="display: none;"
                                }>
                                    <h4>Have you made a claim in the past year?</h4>
                                    <div class="buyPlanRadio__box">
                                    	<div class="buyPlanRadio__check">
                                            <input type="radio" name="ncbClaim" data-name="ncb-claim" value="No" data-wanted="false"
                                            @if(makeModelValueSetter("AC-CLAIMED","items",0,"").toString().trim().equals("false")){
                                        		checked="checked"
                                        	}id="reject" class="buyPlanRadio__input js_ncbClaim ncbClaimed">
                                            <label for="reject" class="buyPlanRadio__label js__noClaim__label js__claim__no ncbClaimed">No</label>
                                        </div>
                                        <div class="buyPlanRadio__check">
                                            <input type="radio" name="ncbClaim" value="Yes" data-name="ncb-claim" data-wanted="true"
                                             @if(makeModelValueSetter("AC-CLAIMED","items",0,"").toString().trim().equals("true")){
                                        		checked="checked"
                                        	}id="accept" class="buyPlanRadio__input js_ncbClaim__Yes  ncbClaimed">
                                            <label for="accept" class="buyPlanRadio__label js__noClaim__label js__claim__yes ncbClaimed">Yes</label>
                                        </div>
                                    </div>
                                </div>
                                <span class='error js__noClaim__error'></span>
                                <div class="checkoutContainer__policyExpire js__ncbProtectorDisplayClass"@if(makeModelValueSetter("AC-COVER-POLICY_EXPIRED_BEFORE_90_DAYS","items",0,"").toString().trim().equals("true")
											|| makeModelValueSetter("AC-CLAIMED","items",0,"").toString().trim().equals("false")
											|| (makeModelValueSetter("AC-CLAIMED","items",0,"").toString().trim().equals("true") 
												&& JsonUtils.isValidField(attributedetails,"vehicleType")
    											&&  !attributedetails.get("vehicleType").asText().equals("car"))){
                                       			style="display:none;"
                                        	}>
                                    <h4>NCB protector Add-on available in the current policy?</h4>
                                    <div class="buyPlanRadio__box">
                                        <div class="buyPlanRadio__check">
                                            <input type="radio" name="ncbProtector" value="Yes" data-name="ncb-protector" data-wanted="true"
                                            @if(makeModelValueSetter("IS-PREVIOUS_POLICY_NCB_ADDON_SELECTED","items",0,"").toString().trim().equals("true")){
                                        		checked="checked"
                                        	}
                                             id="ncbProtectorAccept" class="buyPlanRadio__input js_ncbProtector__Yes">
                                            <label for="ncbProtectorAccept" class="buyPlanRadio__label js__ncbProtector__label js__protector__yes">Yes</label>
                                        </div>
                                    	<div class="buyPlanRadio__check">
                                            <input type="radio" name="ncbProtector" data-name="ncb-protector" value="No" data-wanted="false"
                                            @if(makeModelValueSetter("IS-PREVIOUS_POLICY_NCB_ADDON_SELECTED","items",0,"").toString().trim().equals("false")){
                                        		checked="checked"
                                        	}
                                            id="ncbProtectorReject" class="buyPlanRadio__input js_ncbProtector__No">
                                            <label for="ncbProtectorReject" class="buyPlanRadio__label js__ncbProtector__label js__protector__no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <span class='error js__ncbProtector__error'></span>
                                <div class="checkoutContainer__policyExpire js__ownership__DisplayClass" @if(makeModelValueSetter("AC-COVER-POLICY_EXPIRED_BEFORE_90_DAYS","items",0,"").toString().trim().equals("true")
                                	|| (makeModelValueSetter("AC-CLAIMED","items",0,"").toString().trim().equals("true") 
												&& JsonUtils.isValidField(attributedetails,"vehicleType")
    											&&  !attributedetails.get("vehicleType").asText().equals("car"))){
                                        			style="display:none;"
                                        		}else{
	                                        		@if(makeModelValueSetter("AC-CLAIMED","items",0,"").toString().trim().equals("true")){
		                                				@if(makeModelValueSetter("IS-PREVIOUS_POLICY_NCB_ADDON_SELECTED","items",0,"").toString().trim().equals("false")){
			                                        		style="display:none;"
		                                				}
		                                        	}
                                        		}>
                                    <h4>Vehicle Ownership Changed in Last 12 months?</h4>
                                    <div class="buyPlanRadio__box">
                                    	<div class="buyPlanRadio__check">
                                            <input type="radio" name="ownershipChanged" data-name="ownership-changed" value="No" data-wanted="false"
                                            @if(makeModelValueSetter("IS-OWNERSHIP_CHANGED","items",0,"").toString().trim().equals("false")){
                                        		checked="checked"
                                        	}id="ownership_not_changed" class="buyPlanRadio__input">
                                            <label for="ownership_not_changed" class="buyPlanRadio__label js__ownership__label js__ownership__no">No</label>
                                        </div>
                                        <div class="buyPlanRadio__check">
                                            <input type="radio" name="ownershipChanged" value="Yes" data-name="ownership-changed" data-wanted="true"
                                             @if(makeModelValueSetter("IS-OWNERSHIP_CHANGED","items",0,"").toString().trim().equals("true")){
                                        		checked="checked"
                                        	}id="ownership_changed" class="buyPlanRadio__input">
                                            <label for="ownership_changed" class="buyPlanRadio__label js__ownership__label js_ownership__yes">Yes</label>
                                        </div>
                                    </div>
                                </div>
                                <span class="error js__ownershipError"></span>
                                  <div class="checkoutContainer__noClaim ncb js__ncbDropdown__div" @if(makeModelValueSetter("AC-COVER-POLICY_EXPIRED_BEFORE_90_DAYS","items",0,"").toString().trim().equals("true") || !makeModelValueSetter("IS-OWNERSHIP_CHANGED","items",0,"").toString().trim().equals("false")){
												style="display:none;"
                                        	}>
                                    <h4>Previous No Claim Bonus (NCB)</h4>
                                    <div class="checkoutContainer__tabInnerBox js__checkoutContainer__tabInnerBox">
										<select class="checkoutContainer__select selectPicker js_checkoutContainer__policySelect sele_selectNcb js_newNcbPercent">
										@if(JsonUtils.isValidField(userEnteredData,"NCB_PERCENT") && JsonUtils.isValidField(userEnteredData.get("NCB_PERCENT"),"constraint_value")
                                           && JsonUtils.isValidIndex(userEnteredData.get("NCB_PERCENT").get("constraint_value"),0)){
                                          @for( range <- userEnteredData.get("NCB_PERCENT").get("constraint_value").elements()){
                                            	
                                            	@if(makeModelValueSetter("AC-NCB_PERCENT","items",0,"").toString().trim().equals(range.asText())){
                                            		<option selected="selected" value='@range.asText()'>@range.asText() % </option>
                                            	}else{                                            	
                                            		<option value="@range.asText()">@range.asText() %</option>
                                          		}
                                          }
                                          }
                                        </select>
                                    </div>
                                    <div class="checkoutContainer__noClaimInfo">
                                        <h4>What is NCB?</h4>
                                        <p>No claim bonus (NCB) is the discount you get for every claim free year. Please check the accurate value in your previous policy, to get right discount and to avoid claim rejection.</p>
                                    </div>
	                             </div>
                             	<div >
                             	 <div class="checkOutDetails__check">
                                    <input id="input-acknowledge" type="checkbox" name="ac-arkadeclaration" value="" class="checkOutDetails__checkBtn ac-arkadeclaration">
                                    <label for="input-acknowledge" class="checkOutDetails__checkLabel js__company__label" style="text-transform:none;line-height: 20px;"><span class="js__declaration_firstPart" 
                                    @if(makeModelValueSetter("AC-CLAIMED","items",0,"").toString().trim().equals("true")){
                                        		style="display:none;"
                                        	}else{
                                        		@if(makeModelValueSetter("AC-COVER-POLICY_EXPIRED_BEFORE_90_DAYS","items",0,"").toString().trim().equals("true")){
                                        			style="display:none;"
                                        		}else{
	                                        		@if(makeModelValueSetter("IS-OWNERSHIP_CHANGED","items",0,"").toString().trim().equals("true")){
	                                        			style="display:none;"
	                                        		}
                                        		}
                                        		
                                        	}
                                    >I / We declare that the rate of NCB claimed by me/us is correct and that no claim has arisen in the expiring policy period. I/We further undertake that if this declaration is found to be incorrect, all benefits under the policy in respect of Section I of the Policy will stand forfeited. Further </span><span class="js__declaration_secondPart">I/We confirming that the previous policy is Comprehensive and not just Thirdparty only.</span></label>
                                </div>
                             	</div>
                                <div class="checkoutContainer__acknowledgeImp">
                                 <span class="error" id="commonerror"></span>
                                 <div class="checkoutContainer__acknowledge">
                                    <a href="javascript:;" class="checkoutContainer__acknowledgeBtn js__ncbFinal__submit" id="ncbsubmit" onclick="ncbFormSubmit(this)" title="Submit">Submit</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>