@(image_url : java.lang.String)
<section class="aboutSection">
  <div class="container">

      <div class="row">
          <div class="col-md-12">
              <h2 style="color:#808080;" class="brandSection__title">
                  Our Business
                  <span class="brandSection__title--color">Partners</span>
              </h2>
              <div class="brandBox">
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/bajaj_allianz_logo.jpg" alt="Bajaj Allianz" class="brandBox__innerImg">
                  </div>
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/royal_sundaram_logo.jpg" alt="Royal Sundaram" class="brandBox__innerImg">
                  </div>
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/liberty_videocon_logo.jpg" alt="Liberty Videocon" class="brandBox__innerImg">
                  </div>
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/iffco_tokio_logo.jpg" alt="Iffco Tokio" class="brandBox__innerImg">
                  </div>
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/universal_sompo_logo.jpg" alt="Universal Sompo" class="brandBox__innerImg">
                  </div>
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/united_india_logo.jpg" alt="United India" class="brandBox__innerImg">
                  </div>
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/new_india_assurance_logo.jpg" alt="New India Assurance" class="brandBox__innerImg">
                  </div>
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/hdfc_ergo_logo.jpg" alt="HDFC Ergo" class="brandBox__innerImg">
                  </div>
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/religare_logo.jpg" alt="Religare" class="brandBox__innerImg">
                  </div>
                  <div class="brandBox__inner">
                      <img src="@image_url/partners/star_health_logo.jpg" alt="Star Health" class="brandBox__innerImg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>