@(attributedetails : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils)
@import com.arka.common.utils.JsonUtils
@procurementwebmain("Imright | ConsumerPortal",proputils){
<script type="text/javascript">

function accept(){
	@if(JsonUtils.isValidField(attributedetails,"proposalId")){
		$(".accept").prop( "disabled", true );
		window.location.href="/insurance/purchased/@attributedetails.get("proposalId").asText()";
	}else{
		$(".accept").prop( "disabled", false );
	}
}
function cancel(){
	@if(JsonUtils.isValidField(attributedetails,"proposalId")){
		window.location.href="/insurance/cancelled/@attributedetails.get("proposalId").asText()";
	}
}
</script>
	<section class="checkOut__section">
            <div class="container">
                <div class="checkOut">
                    <div class="checkOut__title">
                        <h1 class="checkOut__titleText checkOut__vendor">Vendor Portal</h1>
                    </div>
                    
                    <div class="checkOut__outer">
                        	<p>Proposal From Vendor</p>
                        <div class="checkOut__inner">
                        <div class="portal__vendor">	
                    	<button class="checkOutDetails__finalSubmitBtn js__accept accept" onclick="accept()">Accept</button>
                    	<button class="checkOutDetails__finalSubmitBtn js__cancel" onclick="cancel()">Cancel</button>    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
     </section>
}