@(proputils : com.arka.common.utils.PropUtils, enquiryId : String, categoryCode : String)

@import com.arka.common.utils.JsonUtils
@import com.arka.common.policy.constants.PolicyFields
@import org.apache.commons.lang3.StringUtils 
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@procurementwebmain("Imright | ConsumerPortal",proputils){

<!-- <section class="checkOut__section">
  <div class="container">
  		<div class="checkOut" id="checkOutId">
			<p class="success">Thank You for purchasing the product</p>
		</div>
	</div>
 </section>	 -->
 
 <section class="policySection @if(categoryCode.equalsIgnoreCase("CAR")){car-insurance-bg} if(categoryCode.equalsIgnoreCase("BIKE")){two-wheeler-insurance-bg} if(categoryCode.equalsIgnoreCase("HEALTH")){}">
	<div class="container">
		<div class="policyBlock">
			<div class="policyBlock__details">
				<div class="policyBlock__detailTabBox">
					<div class="policyBlock__detailBoxOuter policyBlock__detailBoxOuter--active">
							<p class="">
								<div class="brandSection__title">
									<div style="padding-bottom:16px;">Policy for this proposal is already purchased.</div> 
									<div><a href="@com.arka.consumerportal.procurementweb.controllers.routes.MotorInsuranceQuoteController.motorPolicy(enquiryId)">Go back</a> to quotes page to buy new policy</div>
								</div>
							</p>
						<div class="policyBlock__btnBlock" style="margin-top: 47px;">
                               <a href="/policy/consumer/manage/policy/" class="policyBlock__btn">Go to My Account</a>
                           </div>
					</div>
				</div>
			</div>
			 @com.arka.consumerportal.procurementweb.views.html.insurance_list("car")
		</div>
	</div>
</section>
  <section class="brandSection">  
		@com.arka.consumerportal.procurementweb.views.html.licensedby(imageUrl = image_url)
         @com.arka.consumerportal.procurementweb.views.html.glossary()
        </section>

        @com.arka.consumerportal.procurementweb.views.html.all_you_need_to_know(image_url)
        
        @com.arka.consumerportal.procurementweb.views.html.partners(image_url)

}