@(proputils : com.arka.common.utils.PropUtils, policyResp : com.fasterxml.jackson.databind.JsonNode,categoryCode : String)

@import com.arka.common.utils.JsonUtils
@import com.arka.common.policy.constants.PolicyFields
@import org.apache.commons.lang3.StringUtils 
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")

@procurementwebmain(categoryCode.toLowerCase() match {case "car" => {"Imright | Car Insurance Purchased"} case "bike" => {"Imright | Two Wheeler Insurance Purchased"} case "health" => {"Imright | Health Insurance Purchased"}},proputils){

<!-- <section class="checkOut__section">
  <div class="container">
  		<div class="checkOut" id="checkOutId">
			<p class="success">Thank You for purchasing the product</p>
		</div>
	</div>
 </section>	 -->
 
 <section class="policySection @if(categoryCode.equalsIgnoreCase("CAR")){car-insurance-bg} if(categoryCode.equalsIgnoreCase("BIKE")){two-wheeler-insurance-bg} if(categoryCode.equalsIgnoreCase("HEALTH")){}">
	<div class="container">
		<div class="policyBlock">
			<div class="policyBlock__details">
				<div class="policyBlock__detailTabBox">
					<div class="policyBlock__detailBoxOuter policyBlock__detailBoxOuter--active">
							<p class="">
								<div class="brandSection__title">
									<div style="padding-bottom:16px;">Thank You for purchasing the product.</div>
									@if(JsonUtils.isValidField(policyResp, PolicyFields.POLICY_NUMBER.getCode())){
										<div>Your Policy Number is @policyResp.get(PolicyFields.POLICY_NUMBER.getCode()).asText()</div>
									}
									 @if(JsonUtils.isValidField(policyResp,"error")){
									 	<div style="padding-top:16px;padding-bottom:16px;">You will be receiving Policy Document soon</div>
									 }
								</div>
							</p>
						   @if(JsonUtils.isValidField(policyResp,"error")){
						   
						   }else{
						   <div class="policyBlock__btnBlock" style="margin-top: 47px;">
                               <a href="/policy/consumer/manage/policy/" class="policyBlock__btn">Go to My Account</a>
                           </div>
                           }
					</div>
				</div>
			</div>
			 @com.arka.consumerportal.procurementweb.views.html.insurance_list("car")
		</div>
	</div>
</section>
  <section class="brandSection">  
		@com.arka.consumerportal.procurementweb.views.html.licensedby(imageUrl = image_url)
         @com.arka.consumerportal.procurementweb.views.html.glossary()
        </section>

        @com.arka.consumerportal.procurementweb.views.html.all_you_need_to_know(image_url)
        
        @com.arka.consumerportal.procurementweb.views.html.partners(image_url)

}