@(attributedetails : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils, Error : com.fasterxml.jackson.databind.JsonNode)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var png= ".png";
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import com.arka.common.utils.JsonUtils
@csses={
<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
}
@footerJS = {
<script src="@plugins_url/widgets/sweetalert/sweetalert.min.js@version"></script>
<script src="@js_url/site/procurement/car/scheduleinspection.js@version"></script>
<script src="@js_url/site/consumermain/consumer_profile.js@version"></script>
<script src="@js_url/site/account.js@version"></script>
<script>
	var searchPostalUrl="@com.arka.common.controllers.routes.PostalCodeController.postalcodeSearch()"
</script>
}

@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | Travel",proputils,footerJS=footerJS,csses=csses){
<section class="inspection">
            <div class="container">
                <div class="checkOut__title">
                    <h1 class="checkOut__titleText">Schedule Inspection</h1>
                </div>
                <div class="inspection__outer">
                    <div class="inspection__inner">
                        <p class="inspection__subText">Enter the address where our inspection agent can come and perform the inspection</p>
                        <form class="inspection__form" action="javascript:;" method="post">
                            <div class="col-sm-12">
                          	<div class="checkOutDetails__inputOuter full field__select input-effect">
						        <label>Place/Pincode</label>
						        <select class="selectPicker js__postal height-auto" id="pincodeId"  data-width="100%" data-live-search="true">
						            <option value="" disabled="disabled">Type / choose any postal</option>
						        </select>
                                 	</div>
                                 </div>
                            <div class="inspection__formTextBox">
                                <div class="checkOutDetails__inputOuter field input-effect">
                                    <textarea class="field__input" rows="6" type="text" name="ai-address" id="ai-address"></textarea>
                                    <label class="field__label">Address</label>
                                    <span class="focus-bg"></span>
                                </div>
                            </div>
                            <div class="inspection__scheduleBox">
                                <div class="inspection__timeSelect">
                                    <p class="inspection__subtext">Please select the date &amp; time slot for inspection</p>
                                    <h5 class="inspection__timeSelectTitle">Select Date</h5>
                                    <div class="inspection__timeSelectInner dateModule">
                                    @for(dateRange<-0 to 7){
                                    
                                    	@defining(java.time.LocalDate.now().plusDays(dateRange)){day=>
                                    		<div class="inspection__dateInner"> <span class="js__schedule__Date js__inspection__dateInner inspection__dateInnerSelect @if(dateRange==0){inspection__dateInnerSelect--active}">@day.getDayOfMonth()-@day.getMonthValue()-@day.getYear()</span> </div>
                                    	}
                                    
                                    }
                                       @* <div class="inspection__dateInner"><span class="js__inspection__dateInner inspection__dateInnerSelect inspection__dateInnerSelect--active">06-08-2016</span> </div>
                                        <div class="inspection__dateInner"> <span class="js__inspection__dateInner inspection__dateInnerSelect">07-08-2016</span> </div>
                                        <div class="inspection__dateInner"> <span class="js__inspection__dateInner inspection__dateInnerSelect">08-08-2016</span> </div>
                                        <div class="inspection__dateInner"> <span class="js__inspection__dateInner inspection__dateInnerSelect">09-08-2016</span> </div>
                                        <div class="inspection__dateInner"> <span class="js__inspection__dateInner inspection__dateInnerSelect">10-08-2016</span> </div>
                                        <div class="inspection__dateInner"> <span class="js__inspection__dateInner inspection__dateInnerSelect">12-08-2016</span> </div>
                                        <div class="inspection__dateInner"> <span class="js__inspection__dateInner inspection__dateInnerSelect">13-08-2016</span> </div>*@
                                    </div>
                                </div>
                                <div class="inspection__timeSelect">
                                    <h5 class="inspection__timeSelectTitle">Select Time Slot</h5>
                                    <div class="inspection__timeSelectInner">
                                        <div class="inspection__timeselect"> <span class="js__schedule__Time js__inspection__timeInner inspection__dateInnerSelect inspection__dateInnerSelect--active">09:00AM - 11:00AM</span> </div>
                                        <div class="inspection__timeselect"> <span class="js__schedule__Time js__inspection__timeInner inspection__dateInnerSelect">11:00AM - 02:00PM</span> </div>
                                        <div class="inspection__timeselect"> <span class="js__schedule__Time js__inspection__timeInner inspection__dateInnerSelect">02:00PM - 04:00PM</span> </div>
                                        <div class="inspection__timeselect"> <span class="js__schedule__Time js__inspection__timeInner inspection__dateInnerSelect">04:00PM - 06:00PM</span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inspection__noSlot">
                                <div class="filterBox__check">
                                    <input type="checkbox" name="compare-1" value="" id="compare-1" class="filterBox__input">
                                    <label for="compare-1" class="filterBox__label js__scheduleLabel filterBox__label--active">UNABLE TO FIND THE PREFFERED SLOT</label>
                                </div>
                            </div>
                            <div class="checkOutDetails__finalSubmit">
                                <button class="checkOutDetails__finalSubmitBtn" type="button" onclick=scheduleInspection(this) name="button">Schedule</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
}