@(garageJson : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")

@csses={
<link rel="stylesheet" href="@css_url/site/procurement/car/garage.css@version">
}

@footerJS={
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1X_PO9JguSccfY8VxyWDeNlVmorSMlvw&callback=initMap"
    async defer></script>
<script src="@js_url/site/procurement/garagelist.js@version"></script>    
}

@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | ConsumerPortal",proputils,csses=csses,footerJS=footerJS){
	<div class="form-group">
         <div class="col-md-4">
         	<h1 class="checkOut__titleText">Garage Locations</h1>
         	<div class="fields">
         		<input type="hidden" id="vendorCode" value="@if(garageJson.has("vendorCode")&&garageJson.hasNonNull("vendorCode")){@garageJson.get("vendorCode").asText}else{}">
	         	<select class="form-control selectField" id="state" onchange="getFieldVal(this)" data-field="state">
	         		<option value="">select state</option>
	         		 @if(garageJson.has("items")&&garageJson.hasNonNull("items")){
      					@for(garage<-garageJson.get("items").elements()){
      						@if(garage.has("state_name")&&garage.hasNonNull("state_name")){
      							<option value="@garage.get("state_name").asText">@garage.get("state_name").asText</option>
      						}
      					}
      				}
	         	</select>
         	</div>
         	<input type="hidden" id="policyId" value="@if(garageJson.has("policyId")&&garageJson.hasNonNull("policyId")){@garageJson.get("policyId").asText}else{}">
         	<div class="clear"></div>
         	<div class="fields">
	         	<select class="form-control selectField" id="city" onchange="getCityDetails(this)" data-field="city">
	         		<option value="">select city</option>
	         	</select>
         	</div>
         	<div class="clear"></div>
         	<div class="fields">
	         	<input type="text" placeholder="Pin code" autocomplete="on" class="form-control pinInput" id="pincode" data-field="postal_code">
         	</div>
         	 <div class="addressContainer"></div>
         </div>   
         <div id="map" class="col-md-7" style="height:650px;float:right;"></div>  
   	</div>
   	<div class="clear" ></div>
      
      <div class="cloneDiv">
       <div class="addressDiv" style="display:none;">
       		<div class="fieldDiv">
       			<span class="index" data-field="index"></span>
       			<div class="offcialAddress">
	       			<span class="garageName" data-field="name"></span><br>
	       			<span class="addressLine1" data-field="address1"></span>
	       			<span class="addressLine2" data-field="address2"></span>
	       			<span class="addressLine3" data-field="address3"></span><br>
	       			<span class="stateAndCity" data-field="state"></span>
       			</div>
       		</div>
       </div>
      </div>
      <div class="clear"></div>
       @if(garageJson.has("vendorCode")&&garageJson.hasNonNull("vendorCode")){
	      <input type="hidden" id="vendorCode" value="@garageJson.get("vendorCode").asText">
      }
}       