@(product : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils)
@import com.arka.common.utils.JsonUtils

		
<form id="hdfcergoForm" class="checkOutDetails__form" action='@product.get("FORM_URL").asText()' method="post">
         <input type="hidden" id="CustomerId" value='@product.get("CustomerId").asText()' name="CustomerId"><br/>
     	 <input type="hidden" id="TxnAmount" value='@product.get("TxnAmount").asText()' name="TxnAmount"><br/>
     	 <input type="hidden" id="AdditionalInfo1" value="NB" name="AdditionalInfo1"><br/>
    	 <input type="hidden" id="AdditionalInfo2" value='@product.get("AdditionalInfo2").asText()' name="AdditionalInfo2"><br/>
         <input type="hidden" id="AdditionalInfo3" value="1" name="AdditionalInfo3"><br/>
    	 <input type="hidden" id="hdnPayMode" value='@product.get("hdnPayMode").asText()' name="hdnPayMode"><br/>
     	 <input type="hidden" id="UserName" value='@product.get("policyHolderName").asText()' name="UserName"><br/>
         <input type="hidden" id="UserMailId" value='@product.get("UserMailId").asText()' name="UserMailId"><br/>
         <input type="hidden" id="ProductCd" value='@product.get("ProductCd").asText()' name="ProductCd"><br/>
         <input type="hidden" id="ProducerCd" value='@product.get("ProducerCd").asText()' name="ProducerCd"><br/>
		 <input type="submit" class="checkOutDetails__finalSubmitBtn" value="Submit" title="Submit" style="display:none">
</form>