@(product : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils)
@import com.arka.common.utils.JsonUtils
@import com.arka.common.policy.constants.PolicyFields
		
<form id="itgiForm" class="checkOutDetails__form" action='@product.get("FORM_URL").asText()' method="post">
	<input type="hidden" name="RESPONSE_URL" value='@product.get(PolicyFields.RETURN_URL.getCode()).asText()' />
	<input type="hidden" name="PARTNER_CODE" value='@product.get("PARTNER_CODE").asText()' />
	<input type="hidden" name="UNIQUE_QUOTEID" value='@product.get("UNIQUE_QUOTEID").asText()' />
    <input type="hidden" name="XML_DATA" value='@product.get("XML_DATA").asText()'/>
	<input type="submit" class="btn-view-summary" value="Submit" title="Submit" style="display:none">
</form>
