@(product : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils)
@import com.arka.common.utils.JsonUtils

		
<form id="lvgiForm" class="checkOutDetails__form" action='@product.get("BUY_POLICY_URL").asText()' method="post">
			 <input type="hidden" value='@product.get("customerID").asText()' name="customer ID"><br/>
        	 <input type="hidden" value='@product.get("amount").asText()' name="amount"><br/>
       		 <input type="hidden" value='@product.get("txnid").asText()' name="txnid"><br/>
        	 <input type="hidden" value='@product.get("productInfo").asText()' name="product info"><br/>
             <input type="hidden" value='http://@(requestHeader.host)@product.get("SURL").asText()' name="SURL"><br/>
             <input type="hidden" value='http://@(requestHeader.host)@product.get("FURL").asText()' name="FURL"><br/>
             <input type="hidden" value='@product.get("key").asText()' name="key"><br/>
             <input type="hidden" value='@product.get("firstName").asText()' name="firstname"><br/>
	      	 <input type="hidden" name='phone' value='@product.get("phone").asText()'/>
			 <input type="hidden" name='Email' value='@product.get("Email").asText()'/>
			 <input type="hidden" name='hash' value=''/>
             <input type="hidden" value='@product.get("quotationNumber").asText()' name="quotationNumber"><br/>
			 <input type="submit" class="checkOutDetails__finalSubmitBtn" value="Submit" title="Submit" style="display:none">
</form>