@(product : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils)
@import com.arka.common.utils.JsonUtils


<form id="ReligareForm" name="ReligareForm" autocomplete="off" action="https://faveouat.religarehealthinsurance.com/portalui/PortalPayment.run" method="post">
        	
	@if(requestHeader.secure == true){
		<input type="hidden" name="returnURL" value="https://@(requestHeader.host)/insurance/policy/processed/" />        	
	}else{
		<input type="hidden" name="returnURL" value="http://@(requestHeader.host)/insurance/policy/processed/" />
	}
	<input type="hidden" name="proposalNum" value='@product.get("proposalNum").asText()'/>
	<input type="submit" class="checkOutDetails__finalSubmitBtn js__accept accept" name="Accept" style="display:none">
</form>
                    	
