@(product : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils)

<form id="PostForm" name="PostForm" autocomplete="off" action='@product.get("paymentUrl").asText()' method="post">
        <input type="hidden" name="reqType" id="reqType" value="JSON">
		<input type="hidden" name="process"  value="PAYMENTOPTION">
		<input type="hidden" name="apikey" id="apikey" value='@product.get("apikey").asText()'>
		<input type="hidden" name="agentId" id="agentId" value='@product.get("agentId").asText()'>
		<input type="hidden" name="premium" value='@product.get("premium").asText()'>
		<input type="hidden" name="quoteId" id="quoteId" value='@product.get("quoteId").asText()'>
			<input type="hidden" name="version_no" id="version_no" value='@product.get("VERSION_NO").asText()'>
		<input type="hidden" name="strFirstName" id="strFirstName" value='@product.get("strFirstName").asText()'>

		@if(product.get("vehicleType").asText() == "motorCycle") {
			<input type="hidden" name="emailId" id="emailId" value='@product.get("EMAIL").asText()'>
		} else {
			<input type="hidden" name="strEmail" id="strEmail" value='@product.get("EMAIL").asText()'>
		}
		<input type="hidden" name="isQuickRenew" id="isQuickRenew" value="">
		<input type="hidden" name="crossSellProduct" id="crossSellProduct" value="">
		<input type="hidden" name="crossSellQuoteid" id="crossSellQuoteid" value="">
	          @if(requestHeader.secure == true){
			<input type="hidden" name="returnUrl" value="https://@(requestHeader.host)/insurance/policy/processed/" />
		}else{
			<input type="hidden" name="returnUrl" value="http://@(requestHeader.host)/insurance/policy/processed/" />
		}
		<input type="hidden" value="@product.get("vehicleType").asText()" name="vehicleSubLine" id="vehicleSubLine">
		<input type="hidden"   value="billDesk"  name="paymentType"/>
		<input type="submit" class="checkOutDetails__finalSubmitBtn js__accept accept" name="Accept" style="display:none">
    </form>