@(product : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils)
@import com.arka.common.utils.JsonUtils
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
<script src="@js_url/lib/jquery-2.2.4.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	var productCode = $('#prodCode').val();
	
	console.info('productCode = ', productCode);
	callVendorPage(productCode);
	
	function callVendorPage(productCode) {
		if(productCode === "RS_CAR_1" || productCode === "RS_BIKE_1") {
			console.info('RS');
			$('#PostForm').submit();
		} else if(productCode === "ITGI_CAR_1" || productCode === "ITGI_BIKE_1") {
			$('#itgiForm').submit();
		} else if(productCode === "USGI_CAR_1" || productCode === "USGI_BIKE_1") {
			$('#usgiForm').submit();
		} else if(productCode === "BAGIC_CAR_1" || productCode === "BAGIC_BIKE_1") {
			console.info('bajaj');
			$('#bajajForm').submit();
		} else if(productCode === "HDFCERGO_CAR_1" || productCode === "HDFCERGO_BIKE_1") {
			$('#hdfcergoForm').submit();
		} else if(productCode === "LVGI_CAR_1" || productCode === "LVGI_BIKE_1") {
			console.info('LVGI');
			$('#lvgiForm').submit();
		}else if(productCode === "REL_HEALTH_1"){
			console.info('Religare');
			$('#ReligareForm').submit();
		}
	} 
})




</script>
	@if(product.get("productCode") != null) {
   		<input type="hidden" id="prodCode" value="@product.get("productCode").asText()">
   	}
   	
   	@product.get("productCode").asText match {
	    case "RS_CAR_1" => {
	    	@com.arka.consumerportal.procurementweb.views.html.payments.royalsundarampaymentpage(product = product, proputils = proputils)
	    }
	    case "RS_BIKE_1" => { 
			@com.arka.consumerportal.procurementweb.views.html.payments.royalsundarampaymentpage(product = product, proputils = proputils)
 		}
 		case "ITGI_CAR_1" => {
	    	@com.arka.consumerportal.procurementweb.views.html.payments.iffcotokiopaymentpage(product = product, proputils = proputils)
	    }
	    case "ITGI_BIKE_1" => { 
			@com.arka.consumerportal.procurementweb.views.html.payments.iffcotokiopaymentpage(product = product, proputils = proputils)
 		}
 		case "USGI_CAR_1" => {
	    	@com.arka.consumerportal.procurementweb.views.html.payments.usgipaymentpage(product = product, proputils = proputils)
	    }
	    case "USGI_BIKE_1" => { 
			@com.arka.consumerportal.procurementweb.views.html.payments.usgipaymentpage(product = product, proputils = proputils)
 		}
 		case "BAGIC_CAR_1" => {
	    	@com.arka.consumerportal.procurementweb.views.html.payments.bajajpaymentpage(product = product, proputils = proputils)
	    }
	    case "BAGIC_BIKE_1" => { 
			@com.arka.consumerportal.procurementweb.views.html.payments.bajajpaymentpage(product = product, proputils = proputils)
 		}
 		case "HDFCERGO_CAR_1" => {
	    	@com.arka.consumerportal.procurementweb.views.html.payments.hdfcergopaymentpage(product = product, proputils = proputils)
	    }
	    case "HDFCERGO_BIKE_1" => { 
			@com.arka.consumerportal.procurementweb.views.html.payments.hdfcergopaymentpage(product = product, proputils = proputils)
 		}
 		case "LVGI_CAR_1" => {
	    	@com.arka.consumerportal.procurementweb.views.html.payments.lvgipaymentpage(product = product, proputils = proputils)
	    }
	    case "LVGI_BIKE_1" => { 
			@com.arka.consumerportal.procurementweb.views.html.payments.lvgipaymentpage(product = product, proputils = proputils)
 		}
 		case "REL_HEALTH_1" => {
 			@com.arka.consumerportal.procurementweb.views.html.payments.religarepaymentpage(product = product, proputils = proputils)
 		}
	}
