@(proputils : com.arka.common.utils.PropUtils,session : play.mvc.Http.Session)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import java.util.Map; val mainPageMapper=new java.util.HashMap[String,String]();
@import play.libs.Json;
@import java.lang.String; var description = ConfigFactory.load().getString("seo.misp.description");
@import java.lang.String; var site_url = ConfigFactory.load().getString("seo.site.url")+request.uri
@import java.lang.String; var site_name = ConfigFactory.load().getString("seo.site.name")

@csses ={
<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
<link rel="stylesheet" href="@css_url/site/procurement/health/health_home.css@version">
<style>
		.policyBlock__myCarInput{
		text-transform:none;
		}
</style>
}




@sessionGetter(variant : String)={@if(session.containsKey(variant) && session.get(variant)!=null){@session.get(variant)}}

@arka_main("Imright | MISP login",proputils, footerJS=footerJS, csses=csses, mainPageMapper=mainPageMapper, shareQuotes=com.arka.consumerportal.procurementweb.views.html.sharequotes()) {
<!--Template Start-->
<section class="temp-bg">
	<div class="container">
		<div class="policyBlock">
			<div class="policyBlock__details policydetails_page">
				<div class="policyBlock__detailBoxOuter policyBlock__detailBoxOuter--active health__detailBoxOuter"
					data-tab="2" style="display: block; padding: 17px 0 50px">
					<form action="@com.arka.consumerportal.procurementweb.controllers.misp.routes.MISPController.mispLogin()"
						method="post" onsubmit="return (validate());"
						id="login-validation"
						class="js__loginContainer__form loginContainer__form">
						<h3 class="text-center pad25B font-gray text-transform-upr font-size-23">Welcome</h3>
						<div id="login-form" class="content-box bg-default">
							<div class="content-box-wrapper pad20A">
								<div class="form-group formField__column input-effect">
									<div class="input-group loginContainer__inputOuter"
										style="width: 40%">

										<div class="formField_column input-effect">
											<input type="text" class="formField__input login_input f"
												name="userName" id="userName"> <label>User
												Name</label> <span class="focus-border"></span>
												<span class="yErrMsg" style="color: red;"></span>
										</div>

									</div>

									

									<!--<div class="formField__column input-effect">-->
									<!--<input class="formField__input login_input" type="text" placeholder="" id="consumerMobileNumber" maxlength="10">-->
									<!--<label>Mobile Number@session</label>-->
									<!--<span class="focus-border"></span>-->
									<!--<span class="yErrMsg"></span>-->
									<!--</div>-->
									<div class="form-group">
										<br>
										<div class="input-group loginContainer__inputOuter"
											style="width: 40%">

											<div class="formField_column input-effect">
												<input type="password"
													class="formField__input login_input  f" name="password"
													id="password"> <label>Password</label> <span
													class="focus-border"></span>
													<span class="yErrMsg" style="color: red;"></span>
											</div>
										</div>
										
									</div>
									<div class="form-group">
										<button type="submit"
											class="loginContainer__submitBtn js__loginContainer__submitBtn">Login</button>
									</div>
									<div class="row">
									<!--   <div class="checkbox-primary col-md-6" style="height: 20px;">  -->
									<!--      <label> -->
									<!--        <input type="checkbox" id="loginCheckbox1" class="custom-checkbox"> -->
									<!--        Remember me -->
									<!--      </label> -->
									<!--   </div> -->

									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Template End-->
} @footerJS = {

<script type="application/ld+json">
{
  "@@context" : "http://schema.org",
  "@@type" : "Product",
  "name" : "@site_name",
  "image" : "@image_url/logo-min.png",
  "description" : "@description",
  "url" : "@site_url",
  "brand" : {
    "@@type" : "Brand",
    "name" : "Imright",
    "logo" : "@image_url/logo-min.png"
  },
 "sameAs" : [
		"https://in.linkedin.com/company/imright-com"
	  ]
}
</script>
<!--Common-->
<script src="@plugins_url/widgets/sweetalert/sweetalert.min.js@version"></script>
<script src="@js_url/site/index.js@version"></script>
<script src="@js_url/site/validation.js@version"></script>
<script src="@js_url/site/login.js@version"></script>
<script>
    console.info("testing")
    var submit

     function myFunction() {
    alert($("#consumerMobileNumber").val());
}

$('.f').focusout(function() {
   if($(this).val().length!=0){
       $(this).addClass('has-content');  
   }else{
   $(this).removeClass('has-content');  
   }
});

</script>

}