@(jsonData : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils,Error : com.fasterxml.jackson.databind.JsonNode,enquiryAttributeMap : Map[String, String], rtoData : com.fasterxml.jackson.databind.node.ArrayNode,mispDetails : com.fasterxml.jackson.databind.JsonNode)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.util.Map; val mainPageMapper=new java.util.HashMap[String,String]();
@import com.arka.common.utils.JsonUtils


@csses ={

<link rel="stylesheet" href="@css_url/site/procurement/car/carinsurance.css@version"
      xmlns:width="http://www.w3.org/1999/xhtml">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}


@if(JsonUtils.isValidField(mispDetails,"logoUrl")){
	@mainPageMapper.put("mispLogo",mispDetails.get("logoUrl").asText())
}

@footerJS = {
    <!--Common-->
    <script>
    var errorMsg={};
    var className='';
	var activeCarClass='js__know__my__No__Class';
	var changeTitleForIknowCarForNotAvailableData='@proputils.get("iknow.car.title.for.not.available")';
	var changeTitleForIknowCarConfirm='@proputils.get("iknow.car.model.confirm")';
    @if(enquiryAttributeMap.containsKey("className") && enquiryAttributeMap.get("className")!=null){
   	 var dat='@enquiryAttributeMap.get("className").toString()';
   	 if(dat!="" && dat.length>0){
   		 className=dat;
   		if(dat=='js__iDontknowMy__carNo'){
    		activeCarClass='js__dont__know__my__No__Class';
    	}else if(dat=='js__upload__dms__data'){
    		activeCarClass='js__upload__dms__data__Class';
    	}else{
    		dat='js__buyNewCar';
    		activeCarClass='js__buy__new__car__Class';
    	}
   	 }
   	 
   }
    
    $(document).ready(function() {
    	
//             $('.js__subMenuLink').on('click', function() {
//                 $('.mainHeader__subMenuBox').toggleClass('mainHeader__subMenuBox--active');
//             });
//             $('.js__mainHeader__notificationLink').on('click', function() {
//                 $('.mainHeader__notification').toggleClass('mainHeader__notification--active');
//             });
        @if(Error != null){
    		@for(errorMsg<-Error.elements()){
    			var key="@errorMsg.asText";
    			errorMsg[key]="@proputils.get(errorMsg.asText)";
    		}
    	}
    	var d = new Date();
    	$(".js__dont__know__my__No__Class").find(".js__yearShow").find(".carSelect__list").each( function(){
    		if(parseInt($(this).find("span").html()) != d.getFullYear()) {
    			$(this).remove();
    		} else {
    		}
    	});
    	// var functionName = "setCarDetailsInTextField(this.form)";
    	// $(".js__know__my__No__Class").find(".js__yearShow a")[0].click(setCarDetailsInTextField(this.form));
    });
        
    </script>
    <script src="@js_url/site/procurement/motor/motor_make_model.js@version"></script>
	<script src="@js_url/site/procurement/motor/motor_insure.js@version"></script>
	<script src="@js_url/site/procurement/motor/motor_insurance.js@version"></script>
	<script src="@js_url/site/procurement/motor/motor_common.js@version"></script>
	
	<script>

		document.getElementById("dmsData").onchange = function () {
		    document.getElementById("uploadFile").value = this.value;
			$("#dmsDataErr").html("");
			$("#dmsDataErr").css("display", "none");
		};

		function validate(){
			 $("#frm_plugin").find(".yErrMsg").text("");
				var err = 0;
				
				if($.trim($("#userName").val()).length ==0) {
					$("#userName").parent().siblings(".yErrMsg").text("User name required");
					err+=1;
				}
				
				if($.trim($("#password").val()).length ==0) {
					$("#password").parent().siblings(".yErrMsg").text("Password required");
					err+=1;
				}
				if(err === 0){
					return true;
				}
			 return false;
		 }
		
		function uploadDMSData() {
			if( document.getElementById("dmsData").value == '' ) {
				//alert("empty input file");
				$("#dmsDataErr").html("Choose file");
				$("#dmsDataErr").css("display", "block");
			} else {
				$.ajax({
					type: $("#dmsDataForm").attr("method"),
					url: $("#dmsDataForm").attr("action"),
					data: new FormData($("#dmsDataForm")[0]),
					processData: false,
					contentType: false,
					success: function(response) {
						$("#dmsData").val("");
						$("#uploadFile").val("");
                        var successAlertElement = $("#successAlert");
                        successAlertElement.html("Successfully uploaded the file");
                        successAlertElement.show();
                        setTimeout(function(){
                            successAlertElement.fadeOut();
                        }, 3000);
					},
					error: function(response) {
						//TODO: handle error
					}
				});
			}
		}

		function getDMSData(value) {
			$("#dmsDataLoader").css("display", "block");
			$("#dmsId").val(value);
			$("#dmsId").siblings(".dropdown-menu").html("<li><a href='#' onclick='getDMSData(\""+value+"\")'>"+value+"</a></li>");
			$.ajax({
				type: "GET",
				url: "/policy/misp/booking/dms/"+value,
				success: function(response) {
					if(response.items.length != 1) {
						//TODO: handle error
					} else {
						$("#madeModelData").css("display", "block");
						$("#dmsIdErr").html("");
						var clazz = "js__dont__know__my__No__Class";
						var booking = response.items[0];
						$("#dmsId").data("booking-id",booking.id);
						setMakeModelInputValueAndData(response.make.toUpperCase(),clazz);
						setModelInputValueAndData(booking.model.toUpperCase(),clazz);
						setFuelTypeInputValueAndData(booking.fuelType,clazz);
						setVariantInputValueAndData(booking.variant.toUpperCase(),clazz);
						getYear();
					}
				},
				error: function(response) {
					//TODO: handle error
				},
				complete: function(response) {
					$("#dmsDataLoader").css("display", "none");
				}
			});
		}

		$("#dmsId").keyup(function () {
			var dmsIdElement = $("#dmsId");
			var dropdownElement = dmsIdElement.siblings(".dropdown-menu");
			dropdownElement.css("width",dmsIdElement.css("width"));
			$("#dmsIdErr").html("Select a dms id from the list");
			$("#dmsIdErr").css("display", "none");
			if( dmsIdElement.val() == '' ) {
				dropdownElement.html("<li><a href='#'>-- Enter dms id --</a></li>");
			} else {
				dropdownElement.html("<li><a href='#'>-- Finding matches --</a></li>");
				$.ajax({
					type: "GET",
					url: "/policy/misp/booking/check-matches/"+dmsIdElement.val(),
					success: function(response) {
						var items = response.items;
						if(items.length > 0) {
							var html = "";
							for(var index in items) {
							   var item = items[index];
							   //html = html + "<option value='"+item.dmsId+"'>"+item.dmsId+"</option>";
							   html = html + "<li><a href='#' onclick='getDMSData(\""+item.dmsId+"\")'>"+item.dmsId+"</a></li>";
							}
							dropdownElement.html(html);
						} else {
							$("#dmsIdErr").html("Invalid DMS id");
							dropdownElement.html("<li><a href='#'>-- No match found --</a></li>");
						}
					},
					error: function(response) {
						//TODO: handle error
					}
				});
			}
		});
		$("#dmsId").click(function () {
			$("#dmsIdErr").css("display", "none");
			var dmsIdElement = $("#dmsId");
			if( dmsIdElement.val() == '' ) {
				dmsIdElement.siblings(".dropdown-menu").html("<li><a href='#'>-- Enter dms id --</a></li>");
			}
		});

		function getQuotesForDMSId(buttonReference) {
			if($("#dmsId").val() == '') {
				$("#dmsIdErr").html("DMS id required");
				$("#dmsIdErr").css("display", "block");
				return false;
			} else if($("#dmsIdErr").html() != '') {
				$("#dmsIdErr").css("display", "block");
			} else {
				$("#dmsIdErr").css("display", "none");
				mispGetQuotesFromIDN(buttonReference, $("#dmsId").data("booking-id"));
			}
		}

		$("#dmsIdMatched").change(function() {
			$("#dmsId").val(this.value);
			$("#dmsIdMatched").html("");
			$("#dmsIdMatched").css({"display":"none"});
		});
		
		function getYear() {
			$('.js__dont__know__my__No__Class.carModal').addClass('carModal--active');
			$('.js__dont__know__my__No__Class div div.carModal__inner').addClass('carModal__inner--active');
			$(".js__dont__know__my__No__Class")
				.find(".carKnowBody__valueEdit").each(function (index) {
				$(this).css("display", "none");
				$(this).parent().addClass("no-cursorhome");
			});
			var numId = '05';
			var className=carMakeModelActiveClassGetter();
    		var tabLink='a[data-alink="rightBox__tabLink--'+numId+'"]';
    		var classDataVar=$('.'+className).find(tabLink);
    		classDataVar.hide();
    				 if (!$(classDataVar).closest('.carKnowBody__list').hasClass('carKnowBody__list--active')) {
    		            $(classDataVar).closest('.carKnowBody__nav').find('.carKnowBody__list').removeClass('carKnowBody__list--active');
    		            $(classDataVar).closest('.carKnowBody__list').addClass('carKnowBody__list--active');
    		            $(classDataVar).closest('.carKnowBody__nav').find('.carKnowBody__box').hide();
    		            $(classDataVar).closest('.carKnowBody__list').find('.carKnowBody__box').slideDown();
    		            $(classDataVar).hide();
    		        }
    		
    		cursorAndEventReleiver(numId);
    		var confirm = $('.js__dont__know__my__No__Class').find(".js__confirmCheck");
    		confirm.css("display","none");
		}
		
	</script>
    
}

@sessionSetter(variant : String)={@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null){@enquiryAttributeMap.get(variant)}}

@arka_main("Imright | MISP home",proputils, footerJS=footerJS, csses=csses, mainPageMapper=mainPageMapper, shareQuotes=com.arka.consumerportal.procurementweb.views.html.sharequotes()) {
    <!--Template Start-->
    	<span id="serivceProvider" class="hidden">misp</span>
        <section class="temp-bg">
            <div class="container" id="misp-main-container" data-referrer-code="@mispDetails.get("referrerCode").asText()">
                <div class="policyBlock">
                    <div class="policyBlock__details">
                        <div class="policyBlock__detailsBox">
                        	<div class="alert alert-danger invalid_regNo col-md-12" style="display:none;position: relative;">
							  	<strong>Invalid Vehicle Number!</strong> Please give vehicle details here.
							</div>
                            <div class="policyBlock__detailTabBox">
								@upload_DMS_data(enquiryAttributeMap)
								@search_DMS_data(enquiryAttributeMap)
								@if(mispDetails.get("vehicleType").asText == "car") {
									@com.arka.consumerportal.procurementweb.views.html.motor.buying_a_new_motor(enquiryAttributeMap, "car")
								}
								@if(mispDetails.get("vehicleType").asText == "bike") {
									@com.arka.consumerportal.procurementweb.views.html.motor.buying_a_new_motor(enquiryAttributeMap, "bike")
								}
                            </div>
                            <ul class="policyBlock__detailNav">
                                <!--<li class="policyBlock__detailList" data-class="js__upload__dms__data" @if(sessionSetter("className").toString().trim().equals("js__upload__dms__data")){style="display:none ;"}else{style="display: list-item;"}>-->
                                    <!--<a href="javascript:;" class="policyBlock__detailLink js__policyselectLink js__carDetail__link js__upload__dms__data capital" title="I don't remember my @mispDetails.get("vehicleType").asText number" data-nav="1">Upload Booking data</a>-->
                                <!--</li>-->
                                <li class="policyBlock__detailList policyBlock__detailList--inactive" data-class="js__iDontknowMy__carNo" @if(sessionSetter("className").toString().trim().equals("") || sessionSetter("className").toString().trim().equals("js__iDontknowMy__carNo")){style="display:none ;"}else{style="display: list-item;"}>
                                    <a href="javascript:;" class="policyBlock__detailLink js__policyselectLink js__carDetail__link js__iDontknowMy__carNo capital" title="I am buying a new @mispDetails.get("vehicleType").asText" data-nav="2">Select Booking Number</a>
                                </li>
                                <li class="policyBlock__detailList" data-class="js__buyNewCar" @if(sessionSetter("className").toString().trim().equals("js__buyNewCar")){style="display:none ;"}else{style="display: list-item;"}>
                                    <a href="javascript:;" class="policyBlock__detailLink js__policyselectLink js__buyNewCar js__carDetail__link capital" title="" data-nav="3">Select vehicle details</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @*<ul class="policyBlock__listTop">
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink policyBlock__selectLink--active">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__carIcon"></span></div>Car</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__healthIcon"></span></div>Health</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__travelIcon"></span></div>Travel</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__termIcon"></span></div>Term</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__bikeIcon"></span></div>2-Wheeler</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__taxIcon"></span></div>Tax-Saving</a>
                        </li>
                        <li class="policyBlock__list">
                            <a href="javascript:;" class="policyBlock__selectLink">
                                <div class="policyBlock__iconOuter"><span class="policyBlock__otherIcon"></span></div>Others</a>
                        </li>
                    </ul>*@

                </div>
            </div>
    <div id="successAlert" class="alert alert-success" style="position:absolute; left:25%; top:2%; width:50%; text-align: center; display:none;"></div>
        </section>


<!--Template End-->
     <!--Template End-->
		@if(mispDetails.get("vehicleType") != null && mispDetails.get("vehicleType").asText == "car") {
	        <!-- I dont know my number registrationBox -->
			@com.arka.consumerportal.procurementweb.views.html.motor.make_model_fuel_variant("makModelFuelVariantForDontKnowMyNoFrmId","#", "js__dont__know__my__No__Class","setCarDetailsInTextField" , jsonData ,"Which car do you drive?", false, enquiryAttributeMap, "dontknow_cng","js__idnknowCarMake","jsSelect__idnknowCarMake","js__idnknowCarFuel","js__idnknowCarVariant","js__iDontknowMy__carNo", "car", true)
	        
	        <!-- Im buying new car  -->
			@com.arka.consumerportal.procurementweb.views.html.motor.make_model_fuel_variant("makModelFuelVariantForNewCar","#", "js__buy__new__car__Class","setCarDetailsInTextField" , jsonData ,"Which car do you want to buy?", false, enquiryAttributeMap, "newcar_cng","js__idnknowCarMake","jsSelect__idnknowCarMake","js__idnknowCarFuel","js__idnknowCarVariant","js__buyNewCar", "car", true)
			
	        <!-- registrationBox -->
	 
	        <!-- Car Registration Location -->
			@com.arka.consumerportal.procurementweb.views.html.motor.rto_model_box(formId="rtoModelFrm",jsFuncNameToBeCalled="setRtoDetails", title="Where was your car registered?", enquiryAttributeMap=enquiryAttributeMap, rtoData=rtoData, classTypeForSession="js__iDontknowMy__carNo", proputils=proputils)
	        <!-- Car Registration Location(new car) -->
			@com.arka.consumerportal.procurementweb.views.html.motor.rto_model_box(formId="rtoModelFrmNew",jsFuncNameToBeCalled="setRtoDetails", title="Which will be your car registration RTO?", enquiryAttributeMap=enquiryAttributeMap, rtoData=rtoData, classTypeForSession="js__buyNewCar", proputils=proputils)
	        <!--Login section start-->
	        
	        <!--Login section end-->
	        <!-- No Claim drop start -->
	        @com.arka.consumerportal.procurementweb.views.html.motor.ncb_model(jsFuncNameToBeCalled = "ncbSelected", enquiryAttributeMap=enquiryAttributeMap,proputils=proputils, vehicleType="car")
			<!-- No Claim drop ends -->
		}
		
		@if(mispDetails.get("vehicleType") != null && mispDetails.get("vehicleType").asText == "bike") {
	        <!-- I dont know my number registrationBox -->
			@com.arka.consumerportal.procurementweb.views.html.motor.make_model_fuel_variant("makModelFuelVariantForDontKnowMyNoFrmId","#", "js__dont__know__my__No__Class","setCarDetailsInTextField" , jsonData ,"Which bike do you drive?", false, enquiryAttributeMap, "dontknow_cng","js__idnknowCarMake","jsSelect__idnknowCarMake","js__idnknowCarFuel","js__idnknowCarVariant","js__iDontknowMy__carNo", "bike", true)
	        
	        <!-- Im buying new bike  -->
			@com.arka.consumerportal.procurementweb.views.html.motor.make_model_fuel_variant("makModelFuelVariantForNewCar","#", "js__buy__new__car__Class","setCarDetailsInTextField" , jsonData ,"Which bike do you want to buy?", false, enquiryAttributeMap, "newcar_cng","js__idnknowCarMake","jsSelect__idnknowCarMake","js__idnknowCarFuel","js__idnknowCarVariant","js__buyNewCar", "bike", true)
			
	        <!-- registrationBox -->
	 
	        <!-- bike Registration Location -->
			@com.arka.consumerportal.procurementweb.views.html.motor.rto_model_box(formId="rtoModelFrm",jsFuncNameToBeCalled="setRtoDetails", title="Where was your bike registered?", enquiryAttributeMap=enquiryAttributeMap, rtoData=rtoData, classTypeForSession="js__iDontknowMy__carNo", proputils=proputils)
	        <!-- bike Registration Location(new car) -->
			@com.arka.consumerportal.procurementweb.views.html.motor.rto_model_box(formId="rtoModelFrmNew",jsFuncNameToBeCalled="setRtoDetails", title="Which will be your bike registration RTO?", enquiryAttributeMap=enquiryAttributeMap, rtoData=rtoData, classTypeForSession="js__buyNewCar", proputils=proputils)
	        <!--Login section start-->
	        
	        <!--Login section end-->
	        <!-- No Claim drop start -->
	        @com.arka.consumerportal.procurementweb.views.html.motor.ncb_model(jsFuncNameToBeCalled = "ncbSelected", enquiryAttributeMap=enquiryAttributeMap,proputils=proputils, vehicleType="bike")
			<!-- No Claim drop ends -->
		}
    
		}
