@(garageJson : com.fasterxml.jackson.databind.JsonNode,session : play.mvc.Http.Session, proputils : com.arka.common.utils.PropUtils)
@import java.lang.String; var version= "?v=13";
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@csses={
<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
<link rel="stylesheet" href="@css_url/site/procurement/car/motor_policy.css@version">
<link rel="stylesheet" href="@css_url/assets/css/site/common/style.css@version">
}
<script src="@js_url/lib/jquery-2.2.4.min.js@version"></script>

<link rel="stylesheet" href="@css_url/site/procurement/car/garage.css@version">

<script src="@js_url/site/procurement/car/carinsurance.js@version"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1X_PO9JguSccfY8VxyWDeNlVmorSMlvw&callback=initMap"
        async defer></script>


@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | MISP purchased",proputils){

<!-- <section class="checkOut__section">
  <div class="container">
  		<div class="checkOut" id="checkOutId">
			<p class="success">Thank You for purchasing the product</p>
		</div>
	</div>
 </section>	 -->
<section class="modal fade" id="GarageModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="checkoutContainer__inner">
                <a class="js__checkoutContainer__close checkoutContainer__close spriteNew" data-dismiss="modal" title="Close"></a>
                <div class="checkoutContainer__tabOuterBox" style="background:white">
                    <div class="checkoutContainer__tabTitle">
                        <h2 class="checkoutContainer__tabTitleText">Vendor Garages</h2>
                    </div>
                    <div>
                        <div>
                            <div class="form-group">
                                <input type="hidden" id="vendorCode" value="@if(garageJson.has("vendorCode")&&garageJson.hasNonNull("vendorCode")){@garageJson.get("vendorCode").asText}else{}">
                                <div class="fieldsContainer" style="width:100%">
                                    <h1 class="checkOut__titleText" style="margin-left:20px; margin-bottom:20px">Garage Locations</h1>
                                    <div class="fields">
                                        <select  id="state" onchange="getFieldVal(this)" data-field="state">
                                            <option value="">select state</option>
                                            @if(garageJson.has("items")&&garageJson.hasNonNull("items")){
                                            @for(garage<-garageJson.get("items").elements()){
                                            @if(garage.has("state_name")&&garage.hasNonNull("state_name")){
                                            <option value="@garage.get("state_name").asText">@garage.get("state_name").asText</option>
                                            }
                                            }
                                            }
                                        </select>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fields">
                                        <select  id="city" onchange="getCityDetails(this)" data-field="city">
                                            <option value="">select city</option>
                                        </select>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="fields" style="width:95%; margin-left:20px;">
                                        <div id="map" style="width:100%;height:50%;float:center;"></div>
                                    </div>
                                    <div class="addressContainer"></div>
                                </div>

                            </div>
                            <div class="clear" ></div>

                            <div class="cloneDiv">
                                <div class="addressDiv" style="display:none;">
                                    <div class="fieldDiv">
                                        <span class="index" data-field="index"></span>
                                        <div class="offcialAddress">
                                            <span class="garageName" data-field="name"></span><br>
                                            <span class="addressLine1" data-field="address1"></span>
                                            <span class="addressLine2" data-field="address2"></span>
                                            <span class="addressLine3" data-field="address3"></span><br>
                                            <span class="stateAndCity" data-field="state"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            @if(garageJson.has("vendorCode")&&garageJson.hasNonNull("vendorCode")){
                            <input type="hidden" id="vendorCode" value="@garageJson.get("vendorCode").asText">
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="policySection">

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="policyBlock">
            <div class="policyBlock__detailsBox">
                <div class="policyBlock__detailTabBox">
                    <div class="policyBlock__detailBoxOuter policyBlock__detailBoxOuter--active">
                        <div class="brandSection__title" id="dummytest">
                            Thank you. You have successfully bought Car Insurance with ImRight.
                        </div>
                        <div style="margin-left:40%">
                            <div style="margin-top:25px;margin-bottom:10px;">Prefered Service Provider</div>


                            <div class="grid">
                                <input type="radio" data-radiotype="not_expired" data-expiredbefore90days="false" data-previouspolicyexpired="not_expired" class="policyBlock__exiRadioBtn iknowPolicyStatusClass" id="misp-garage-radio" name="iKnowPlicyStatus" value="option1">

                                <lable id="mispRadioButtton"  class="policyBlock__exiRadioLabel">@garageJson.get("referrerDetails").get("referrerName").asText()'s Garage</lable>
                                <div style="align-text:left; padding-left:25px;">
                                    <p style="font-size:10px; padding-top:10px">Phone Number: @garageJson.get("referrerDetails").get("garageMobile").asText()</p>
                                    <p style="font-size:10px">Email Number: @garageJson.get("referrerDetails").get("garageEmail").asText()</p></div>

                                <div class="policyBlock__exiRadioBlock js__expiredShow" style="width:100%">
                                    <input type="radio" class="policyBlock__exiRadioBtn iknowPolicyStatusClass" id="vendor-garage-radio" data-radiotype="expired" name="iKnowPlicyStatus" value="option2">

                                    <lable id="vendorRadioButton" class="policyBlock__exiRadioLabel" href="#GarageModel" role="button" class="btn" data-toggle="modal" >Vendor's Garage</lable>
                                    <p id="userSelectedVendorGarage"></p>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="policyId" value="@if(garageJson.has("policyId")&&garageJson.hasNonNull("policyId")){@garageJson.get("policyId").asText}else{}">


                        <div class="policyBlock__btnBlock">
                            <a href="/myaccount" class="policyBlock__btn">Go to My Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
	$(document).ready(function(){
		$("#state").select2();
		$("#city").select2();
		$('#misp-garage-radio').prop("checked", true);
		setPreferredGarage($('#policyId').val(),0);
		$("#pincode").on('keyup change', function (){
			var vendorCode=$("#vendorCode").val();
			var cityVal=$("#city").val();
			var currentPostalVal=$("#pincode").val();
			if( cityVal != null && currentPostalVal != null ){
				vendorCode=encodeURIComponent(vendorCode);
				cityVal=encodeURIComponent(cityVal);
				currentPostalVal=encodeURIComponent(currentPostalVal);
				$.get("/motor/garage/postal?vendorCode="+vendorCode+"&city="+cityVal+"&suggest&postalCode="+currentPostalVal,function(data){
					var suggest=[];
					$.each(data.items,function(key,value){
						$.each(value,function(key1,value1){
							if(key1=="pin_code"){
								suggest.push(value1);
							}
						});

					});
					if(suggest.length>0){
						$("#pincode").attr('autocomplete','on');
						$("#pincode").autocomplete({source:suggest,
							 minLength : 0,
	    					 select : function(event,ui) {
	    						 var postal=ui.item.value;
	    						 $.get("/motor/garage/postal?vendorCode="+vendorCode+"&city="+cityVal+"&postalCode="+postal,function(data){
	    							 $(".addressContainer").html("");
	    							 createMarker(data.items,true,false);
	    							 drawAddress(data);
	    						 });
	    					 }
						});
					}
				});
			}else{
				$("#pincode").val("");
				alert("choose city");
			}
		});
	});

	function initMap(){
		displayCurrentLocation();
	}

	function createMarker(data,isDisplayCircle,isCurrentLoc){
		var bound = new google.maps.LatLngBounds();
		var mapCanvas = document.getElementById("map");
		var circle = new google.maps.Circle();
		var infoWindow = new google.maps.InfoWindow();
		var map;
		var mapOptions;
		if(data.length > 0){
			mapOptions = {center:new google.maps.LatLng(data[0].latitude,data[0].longitude), zoom: 12};
			map = new google.maps.Map(mapCanvas, mapOptions);
		}
		for(var i=0; i < data.length; i++){

			if(data[i].latitude != "" && data[i].latitude != null){
				var lat = data[i].latitude;
			}else{
				var lat="";
			}

			if(data[i].longitude != "" && data[i].longitude != null){
			    var lng = data[i].longitude;
			}else{
				var lng = "";
			}

			if(data[i].garage_name != "" && data[i].garage_name != null){
				var name = data[i].garage_name;
			}else{
				var name = "";
			}
			if(data[i].address_1 != "" && data[i].address_1 != null){
				var address1 = data[i].address_1;
			}else{
				var address1 ="";
			}
			if(data[i].address_2 != "" && data[i].address_2 != null){
				var address2 = data[i].address_2;
			}else{
				var address2 = "";
			}
			if(data[i].address_3 != "" && data[i].address_3 != null){
				var address3 = data[i].address_3;
			}else{
				var address3 ="";
			}
			if(data[i].pin_code != "" && data[i].pin_code != null){
				var postal_code =data[i].pin_code;
			}else{
				var postal_code ="";
			}
			if(data[i].city_name != "" && data[i].city_name != null){
				var city = data[i].city_name;
			}else{
				var city = "";
			}
			if(data[i].state_name != "" && data[i].state_name != null){
				var state = data[i].state_name;
			}else{
				var state = "";
			}
			if(data[i].garage_code != "" && data[i].garage_code != null){
				var garage_code = data[i].garage_code;
			}else{
				var garage_code = "";
			}

			var iwContent = "";
	      	if( isCurrentLoc == true ){
				iwContent = '<div id="iw_container"> <div class="iw_title"><b>'+data[i].iwcontent+'</b></div></div>';
			}
	      	else {
	      		var policyId = $('#policyId').val();
	      		var button = "<button onclick='onVendorGarageSelected(\"" + policyId + "\",\"" + garage_code + "\",\"" + name+ "\",\"" + postal_code + "\")' class='garageCode loginContainer__submitBtn'>Select</button>";
	      		iwContent = '<div id="iw_container">' +
  				'<div class="iw_title"><b>' + name + '</b></div>' +
	  			'<div class="iw_content">' + address1 + ',<br/>' +address2 + ''+address3 +'-'+postal_code+'<br/>' +city +'<br/>'+state+'<br/>'+button+'</div></div>';

	      	}

			var latlng = new google.maps.LatLng(lat,lng);
			bound.extend(latlng);
			var marker = new google.maps.Marker({
			      map: map,
			      position: latlng,
			      title: name
			});
			google.maps.event.addListener(marker,'click', (function(marker,iwContent,infoWindow){
				return function() {
		        	infoWindow.close();
			        infoWindow.setContent(iwContent);
			        infoWindow.open(map,marker);
		        };
		    })(marker,iwContent,infoWindow));
		}
		if(isDisplayCircle == true){
			setCircle(map,marker,circle,bound);
		}
	}

	function setCircle(map,marker,circle,bound){
		circle = new google.maps.Circle({
			  map: map,
			  radius: 8093,    // 10 miles in metres
			  strokeColor: '#FF0000',
			  strokeWeight: 0.3,
			  fillColor: '#F4A460'
			});
		circle.setCenter(bound.getCenter());
		circle.bindTo('center', marker, 'position');
	}

	function displayCurrentLocation(){
		if (navigator.geolocation) {
	          navigator.geolocation.getCurrentPosition(function(position) {
	        	  var data = [{
	        			  latitude : position.coords.latitude,
	    	              longitude : position.coords.longitude,
	    	              garage_name : "current location",
	    	              address_1 : "",
	    	              address_2 : "",
	    	              address_3 : "",
	    	              state_name : "",
	    	              city_name : "",
	    	              garage_code : "",
	    	              iwcontent : "current location"
	    	      }];
	        	  createMarker(data,true,true);
	        	  var infoWindow = new google.maps.InfoWindow();
	          }, function() {
	            	handleLocationError(true, infowindow, map.getCenter());
	          });
	        } else {
		          handleLocationError(false, infowindow, map.getCenter());
	        }
	}

	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?'Error: The Geolocation service failed.':'Error: Your browser doesn\'t support geolocation.');
  	}

	function getFieldVal(current){
		$("#city").val("");
		$("#pincode").val("");
		 $(".addressContainer").html("");
		var vendorCode=$("#vendorCode").val();
		var value=$(current).val();
		$.get("/motor/garage/city?vendorCode="+vendorCode+"&value="+value,function(data){
			$("#city").find('option').not(':first').remove();
			$.each(data.items,function(key,value){
				$.each(value,function(key1,value1){
					$("#city").append($("<option>").val(value1).html(value1));
				});
			});
		});
	}

	function getCityDetails(current){
		$("#pincode").val("");
		$(".addressContainer").html("");

		var value=encodeURIComponent($(current).val());
		var vendorCode=encodeURIComponent($("#vendorCode").val());
		$.get("/motor/garage/city-details?vendorCode="+vendorCode+"&value="+value,function(data){
			createMarker(data.items,true,false);
		});
	}

	function drawAddress(data){
		$.each(data.items,function(key1,value1){
			var $address=$(".cloneDiv .addressDiv").clone().attr('style','');
			$($address).find("span").each(function(key,value){
				if($(value).data("field")=="index"){
					$(value).html(key1+1);
				}else if($(value).data("field")=="name"){
					if(value1.garage_name != null){
						$(value).html(value1.garage_name);
					}
				}else if($(value).data("field")=="address1"){
					if(value1.address_1 != null){
						$(value).html(value1.address_1);
					}
				}else if($(value).data("field")=="address2"){
					if(value1.address_2 != null){
						$(value).html(value1.address_2+",");
					}
				}else if($(value).data("field")=="address3"){
					if(value1.address_3 != null){
						$(value).html(value1.address_3+"-"+value1.pin_code);
					}
				}else if($(value).data("field")=="garage_code"){
					if(value1.garage_code != null){
						$(value).html(value1.garage_code);
					}
				}else{
					if(value1.city_name != null && value1.state_name != null){
						$(value).html(value1.city_name+"-"+value1.state_name+".");
					}
				}
			});
			$(".addressContainer").append($address);
		});
	}

	function setPreferredGarage(policyId,garage_code){
	   $.ajax ({
		   url: '/motor/preferred-garage',
		   type: "POST",
		   data: JSON.stringify({"policyId":policyId,"garageCode":garage_code}),
		   dataType: "json",
		   contentType: "application/json",
		   success: function(response){
               if(response.status == 200) {
               $('#GarageModel').modal('hide')
               }
		   }
		});

	}
	function onVendorGarageSelected(policyId,garage_code,name,postal_code){
	setPreferredGarage(policyId,garage_code);
	if(garage_code != null && garage_code != 0){
		document.getElementById("userSelectedVendorGarage").innerHTML = '<div id="iw_container">' +
  				'<div class="iw_title"><p style="font-size:10px; padding-top:10px; margin-left:30px;">' + name + '</p></div>' +
	  			'<p style="font-size:10px; margin-left:30px;">pincode:'+postal_code+'</p>'
	  			}
	}

	$('.policyBlock__exiRadioLabel').on( "click", function() {
		console.info('this  = ', $(this).attr('id'));
		if($(this).attr('id') == "mispRadioButtton") {
			$('#misp-garage-radio').prop("checked", true);
			setPreferredGarage($('#policyId').val(),0);
		} else if($(this).attr('id') == "vendorRadioButton") {
			$('#vendor-garage-radio').prop("checked", true);

		}
	})

</script>
}