@(enquiryAttributeMap : Map[String, String])

@import com.arka.common.utils.JsonUtils
@sessionSetter(variant : String,types : String)={@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null && types!="arr"){@enquiryAttributeMap.get(variant)}else{@if(enquiryAttributeMap.containsKey("CarMakeModel") && enquiryAttributeMap.get("CarMakeModel")!=null && types=="arr"){@if(JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).has(variant)){@JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).get(variant).get(0).asText()}}}}
@regNoSessionSetter()={
	@if(enquiryAttributeMap.containsKey("AC-REGNO") && enquiryAttributeMap.get("AC-REGNO")!=null){
		@defining(enquiryAttributeMap.get("AC-REGNO")){ ran =>
			@ran.toString().replace("[", "").replace("]", "").replace(",", "-").replace(" ","")
		}
	}
}
								<div class="policyBlock__detailBoxOuter policyBlock__detailBoxOuter--active" data-tab="2" @if(sessionSetter("className","noarr").toString().trim().equals("") || sessionSetter("className","noarr").toString().trim().equals("js__iDontknowMy__carNo") || sessionSetter("className","noarr").toString().trim().equals("js__iDontknowMy__carNo")){style="display:block ;"}else{style="display:none;"}>
									<div>
	                                    <div class="policyBlock__detailBoxInner">
	                                    	<label class="policyBlock__myCarLabel ">Enter Booking Number</label>
	                                        <!-- <input type="text" id="dmsId" name="dmsId" class="policyBlock__myCarInput">
	                                        <select id="dmsIdMatched" name="dmsIdMatched" style="display:none">
	                                        	
	                                        </select> -->
	                                        <div class="dropdown">
												<input id="dmsId" class="policyBlock__myCarInput dropdown-toggle" type="text" data-toggle="dropdown">
												<span id="dmsIdErr" style="display:none;" class="error"></span>
												<ul class="dropdown-menu">
												</ul>
											</div>
	                                    </div>
                                    </div>
                                    <div id="dmsDataLoader" style="width:100%; float:left; padding-left:47%; display:none">
	                                    <div class="loader-small"></div>
	                                </div>
									<div id="madeModelData" style="width:100%; float:left; margin-top:15px; display:none;">
										<div class="policyBlock__detailBoxInner">
	                                        <div class="policyBlock__detailInputBox">
	                                        	<div class="policyBlock__detailInputOuter" onclick="getYear()">
		                                            <label for="label-12" class="policyBlock__myCarLabel">Your vehicle details</label>
		                                            <input type="text" name="" value="" readonly="readonly" id="label-12" class="policyBlock__myCarInput">
		                                            <span class="policyBlock__myCarValues js__carMake__modelText js__idnWCar capitalize">
								                     	
								                    </span>
								                    <span class="error js__carDetailsError"></span>
								                 </div>
	                                        </div>
	                                    </div>
                                        <div class="policyBlock__detailBoxInner">
	                                        <div class="policyBlock__detailInputBox">
	                                        	<div class="policyBlock__detailInputOuter">
		                                            <label for="label-13" class="policyBlock__myCarLabel">Vehicle registration RTO</label>
		                                            <input type="text" name="" readonly="readonly" value="" id="label-13" class="policyBlock__myCarInput js__rNumber js__newrNumber sel_registrationSelect">
		                                        	<span class="policyBlock__myCarValues policyBlock__myCarValuesBigger js__rtoNumber js__rNumber js__idnRNumber">  </span>
		                                        	<span class="error js__rtoDetailsError js__rtoError"></span>
		                                        </div>
	                                        </div>
	                                    </div>
                                    </div>
                                    <div class="policyBlock__btnBlock" style="margin-top:90px;">
                                        <button type="button" onclick="getQuotesForDMSId(this)" class="policyBlock__btn view_quotes">view quotes</button>
                                    </div>
                                    
                                </div>
                                
     