@(enquiryAttributeMap : Map[String, String])

@import com.arka.common.utils.JsonUtils
@sessionSetter(variant : String,types : String)={@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null && types!="arr"){@enquiryAttributeMap.get(variant)}else{@if(enquiryAttributeMap.containsKey("CarMakeModel") && enquiryAttributeMap.get("CarMakeModel")!=null && types=="arr"){@if(JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).has(variant)){@JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).get(variant).get(0).asText()}}}}
@regNoSessionSetter()={
	@if(enquiryAttributeMap.containsKey("AC-REGNO") && enquiryAttributeMap.get("AC-REGNO")!=null){
		@defining(enquiryAttributeMap.get("AC-REGNO")){ ran =>
			@ran.toString().replace("[", "").replace("]", "").replace(",", "-").replace(" ","")
		}
	}
}
								<div class="policyBlock__detailBoxOuter" data-tab="1" @if(sessionSetter("className","noarr").toString().trim().equals("js__upload__dms__data")){style="display:block ;"}else{style="display:none;"}>
                                    <div class="policyBlock__detailBoxInner" style="width:100%; float:none;">
                                        <label>Upload booking data file(.xls,.xlsx)</label>
                                        <form method="POST" action="/policy/misp/bookings" id="dmsDataForm">
                                            <div>
                                                <div class="col-md-10 input input-group">
                                                    <input type="text"class="form-control uploadFile" placeholder="Choose File" id="uploadFile" disabled="disabled">
                                                    <div class="input-group-btn">
                                                    <input class="hidden " type="file" id="dmsData" name="dmsData" accept=".xls,.xlsx">
                                                    <label for="dmsData" class="policyBlock__btn capital dmsuploadbtn">Browse file</label>
                                                    </div>
                                                </div>
                                               
                                                	
                                              
                                            </div>
                                        </form>
                                        <span id="dmsDataErr" style="display:none; width:100px;" class="error"></span>
                                    </div>
                                    <div class="policyBlock__btnBlock">
                                        <button type="button" onclick="uploadDMSData()" class="policyBlock__btn upload_misp_btn capital">Upload</button>
                                    </div>

                                </div>
                                
     