@(jsonData : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import play.libs.Json;
@import com.arka.common.health.constants.HealthAttributeCode;
@import java.lang.String; var description =ConfigFactory.load().getString("seo.critical.description");
@import java.lang.String; var site_url = ConfigFactory.load().getString("seo.site.url")+request.uri
@import java.lang.String; var site_name = ConfigFactory.load().getString("seo.site.name")
@import com.arka.consumerportal.procurementweb.controllers.HealthController;

@csses ={
	<link rel="stylesheet" href="@css_url/site/procurement/coming-soon/coming_soon.css@version">
}

  @footerJS = {

<script type="application/ld+json">
{
  "@@context" : "http://schema.org",
  "@@type" : "Product",
  "name" : "@site_name",
  "image" : "@image_url/logo-min.png",
  "description" : "@description",
  "url" : "@site_url",
  "brand" : {
    "@@type" : "Brand",
    "name" : "Imright",
    "logo" : "@image_url/logo-min.png"
  },
 "sameAs" : [
		"https://in.linkedin.com/company/imright-com"
	  ]
}
</script>
}

@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | Critical illness Insurance",proputils, footerJS=footerJS,csses=csses) {
   <!--Template Start-->
        <section class="policySection">
            <div class="container">
                <div class="policyBlock">
                    <div class="policyBlock__details">
                        <div class="policyBlock__detailsBox">
                            <div class="policyBlock__detailTabBox">
								@com.arka.consumerportal.procurementweb.views.html.coming_soon()
                            </div>
                           
                        </div>
                    </div>
                    @com.arka.consumerportal.procurementweb.views.html.insurance_list("criticalIllness")
                </div>
            </div>
        </section>
                <section class="brandSection">
            <div class="">
		<!------------------sample--------------->
               @com.arka.consumerportal.procurementweb.views.html.licensedby(imageUrl = image_url)
		<!------------------sample--------------->
                <!-- <div class="row">
                    <div class="col-md-12">
                        <br />
                        <h2 class="brandSection__title">
                            Live the moment,
                            <span class="brandSection__title--color">knowing you have the right cover</span>
                        </h2><br /><br /><br /><br />

                    </div>
                </div> -->

                @com.arka.consumerportal.procurementweb.views.html.glossary()

            </div>
        </section>
       <!-- <section class="marketSection section_3_bg">
            <div class="container">
                <h2 class="marketSection__title">Most trusted insurance marketplace online.</h2>
                <h2 class="marketSection__subTitle">Simple. Affordable. Reliable.</h2>
                <div class="row section_3">
                    <div class="col-md-4">
                        <h2 class="marketSection__title">Latest News</h2>
                        <h3>Consectetuer adipiscing elit sed diam</h3>
                        <p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                        <table align="center" cellpadding="2" cellspacing="2">
                            <tr>
                                <td>
                                    <img src="@image_url/prev.png" />
                                </td>
                                <td>
                                    <img src="@image_url/next.png" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div align="center" class="col-md-4 border-c">
                        <img src="@image_url/boxes.png" />

                    </div>
                    <div align="center" class="col-md-4">
                        <h2 class="marketSection__title">Learning Center</h2>
                        <h2 class="marketSection__title">Watch Our Video</h2>
                        <br />
                        <img style="margin-top:12px;" src="@image_url/video.jpg" />
                    </div>
                </div>

            </div>
        </section> -->
        
        @com.arka.consumerportal.procurementweb.views.html.all_you_need_to_know(image_url)
        
        @com.arka.consumerportal.procurementweb.views.html.partners(image_url)

}