@(quoteReqJson : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import com.arka.common.travel.constants.TravelAttributeCode;

@csses={

<link rel="stylesheet" type="text/css" href="@plugins_url/select2/select2.css">
<link rel="stylesheet" href="@css_url/site/procurement/travel/travel_quotes.css@version">
}

@footerJS={

	<script>

		var imageBaseUrl = "@image_url";
		var quoteReqJson = {};

		var productJson = [];
		var selectedProducts=[];
		var socket;
		var filterRecordArray=[];
		var sessionFilter=[];
		var filterRecordArraySession=[];
		var enquiry_id;
		var productLength=0;
		var ws = new WebSocket("@com.arka.consumerportal.procurementweb.controllers.routes.TravelController.socket().webSocketURL(request)");
		var updateEnqueryUrl = "@com.arka.consumerportal.procurementweb.controllers.routes.TravelController.updateTravelEnquiry()"
		//productid;quotekey;enquiryid
		var byePlanUrl = "@com.arka.consumerportal.procurementweb.controllers.routes.TravelCheckoutController.travelBuyPlan("productid" ,"quotekey" , ""  )"
		@if(quoteReqJson != null && quoteReqJson.hasNonNull("products")){
		    quoteReqJson = @Html(quoteReqJson.get("products").toString());
		    console.log(quoteReqJson.enquiryId)
		    productLength=quoteReqJson.items.length;
		}
		
		 
		 var errorMsg={};
		 
		 
		 var policyDivContent='<div class="row policy-div" style="background: #F7FAFC" data-filter-productcode="{dynamic_product_code}">'
			 +'<div class="col-lg-2">'
			 +'<input type="checkbox" id="compare_quote_1" onclick="doCompareClick(this)" class="policy-chk"><label for="compare_quote_1">&nbsp; Add to compare</label>'
			 +'<img alt="" src="">'
			 +'</div>'
			 +'<div class="col-lg-2">'
			 +'	<p>Medical Cover</p>'
			 +'	<p><b>{dynamic_medical_cover_value}</b></p>'
			 +'	<p>Deductible : {dynamic_medical_cover_deductible_value}</p>'
			 +'</div>'
			 +'<div class="col-lg-2">'
			 +'	<p>Existing Disease Cover</p>'
			 +'	<p><b>{dynamic_existing_diseases_cover_value}</b></p>'
			 +'</div>'
			 +'<div class="col-lg-2">'
			 +'	<p>Baggage Loss Cover</p>'
			+'<p><b>{dynamic_baggage_loss_cover_value}</b></p>'
			+'</div>'
		+'<div class="col-lg-2">'
		+'<p>Trip Delay Cover</p>'
			+'<p><b>{dynamic_trip_delay_cover_value}</b></p>'
			+'</div>'
		+'<div class="col-lg-2">'
		+'<a href="{dynamic_buy_plan_url}" class="btn btn-warning btn-lg" style="color: fff;  background: #FF4E0D; font-size:11px;">Bye For <br/><b>{dynamic_premium_value}</b></a>'
			+'	</div>'
			+'<div  class="col-lg-12 text-right"><a onclick="showPolicyDetails(this)">See details</div>'
	+'</div>';
		 
	</script>
	
	<script type="text/javascript" src="@js_url/site/travel/travel_quotes.js"></script>
}

@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | Travel",proputils,csses=csses,footerJS=footerJS){
	
	<div class="container-fluid" style="background: #F0EFF5">
		<div class="center_div">
			<div class="row">
				<div class="col-lg-3" style="border-right:1px solid #C5CED8;">
				<div class="filterTop__right">
                   <div class="filterTop__innerRight">
	                    <select class="filterTop__select dropdown selectPicker" data-size="4" name="medicalCover" id="medicalCoverFilter">
							<option value="50000" selected="selected">Up to 50000</option>
							<option value="100000">Rs 100000 - 150000</option>
							<option value="200000">Rs 200000 - 300000</option>
							<option value="500000">Rs 500000 - 1000000</option>
						</select>
					</div>
					
				</div>
				</div>
				<div class="col-lg-9">
					<div class="row" style="border-bottom: 1px  solid #C5CED8;">
						<div class="col-lg-12">
							<ul class="list-inline">
								<li><h4>Select a policy</h4></li>
								<li class="pull-right">
									<select class="filterTop__select dropdown selectPicker" data-size="5" onchange="sortProduct(this)">
										<option disabled="disabled">SORT</option>
										<option value="1"  data-attribute="ATR-PRODUCT_PREMIUM" data-lookupfield="ASC">Premium  Low</option>
										<option value="2" data-attribute="ATR-PRODUCT_PREMIUM" data-lookupfield="DES">Premium High</option>
									</select>
								</li>
								<li class="pull-right"><a class="btn  btn-default" onclick="showPreExistingDiseases()"> Pre existing Diseases</a> </li>
								<li class="pull-right"><a href="@com.arka.consumerportal.procurementweb.controllers.routes.TravelController.travel()" class="btn  btn-default"> Edit Travellers</a> </li>
							</ul>
						</div>
					</div>
					
					<div class="row">
					
						<div class="col-lg-12" id="quotes">
							
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	<div class="filterResult">
       <div class="container">
           <div class="row">
               <div class="filterResult__inner">

               </div>
               <div class="filterResult__functions">
                   <a class="filterResult__resetBtn js__filterResult__resetBtn removeall carModal__close" href="javascript:;" title="Remove All"></a>
                   <a class="filterResult__compareBtn js__filterResult__compareBtn" href="javascript:;" title="Compare Now">COMPARE NOW</a>
               </div>
           </div>
       </div>
   </div>
     <!-- ComparePlan Section start-->
        <section class="comparePlan js__comparePlan" id="sampAlloc">
            <div class="comparePlanContainer__outerDiv">
                <div class="comparePlanContainer">
                    <a href="javascript:;" title="Close" class="comparePlanContainer__close js__comparePlanContainer__close"></a>
                   <ul class="comparePlan__vehicleDets">
                        <li class="comparePlan__detailsContent">
                            <h5 class="comparePlan__detailTitle">Travel Plan</h5>
                        </li>
                    </ul> 
                    <div class="comparePlan__empty">
                        <div class="comparePlan__boxOuter comparePlan__emptyOuter">
                            <table class="comparePlan__detailsTable">
                                <tbody class="comparePlan__colBody compareAlternate">
                                    <tr>
                                        <td class="comparePlan__colTitle">Medical Cover</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Out-Patient Care</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Existing Diseases Cover</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Personal Accident</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Accidental Death & Disability (Public Transport)</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Medical Evacuation</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Medical Repatriation</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Dental Cover</td>
                                    </tr>
                                </tbody>
                                <tbody class="comparePlan__colBody compareAlternate">
                                    <tr>
                                        <td class="comparePlan__colTitle comparePlan__colBodyTitle"><b>Travel benefits</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Delay Of Baggage</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Trip Delay</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Trip Cancellation</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Missed Connection</td>
                                    </tr>
                                </tbody>
                                
                                <tbody class="comparePlan__colBody compareAlternate">
                                    <tr>
                                        <td class="comparePlan__colTitle comparePlan__colBodyTitle"><b>Additional Benefits</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Personal Liability</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Emergency Cash Advance</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Loss Of Passport</td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__colTitle">Policy Wordings</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="comparePlan__full" id="compare_div">
                        <div class="comparePlan__boxOuter">
                            <div class="comparePlan__boxInner">
                                <div class="comparePlan__box">
                                    <div class="comparePlan__boxImage">
                                        <img class="comparePlan__image" data-baseUrl="@image_url/" src="" alt="'Future" />
                                    </div>
                                    <div class="comparePlan__amountOuter">
                                        <h3 class="comparePlan__amount js__headerCompare__values" data-lookupfield="ATR-PRODUCT_PREMIUM"></h3>
                                    </div>
                                </div>
                                <a class="comparePlan__linkBuyPlan js__comparePlan__button" href="javascript:void(0);" onclick="toCallBuyplan(this)"  title="BUY PLAN">BUY THIS PLAN</a>
                            </div>
                            <table class="comparePlan__detailsTable">
                                <tbody class="comparePlan__colBody">
                                    
                                    <tr>
                                        <td class="comparePlan__resultTitle">
                                        	<span data-lookupfield="ATR-TRAVEL_MEDICAL_COVER"></span>
                                        	<span data-lookupfield="ATR-TRAVEL_MEDICAL_COVER_CURRENCY"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-OUTPATIENT"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-PRE_EXISTING_DISEASES"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-PERSONAL_ACCIDENT"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-ACCIDENTAL_DEATH_AND_DISMEMBERMENT"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-EVACUATION"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-REPATRIATION"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-EMERGENCY_DENTAL_PAIN"></td>
                                    </tr>
                                </tbody>
                                <tbody class="comparePlan__colBody">
                                    <tr>
                                        <td class="comparePlan__resultTitle empty"><b></b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-DELAY_OF_CHECKED_IN_BAGGAGE"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-TRIP_DELAYS"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-TRIP_CANCELLATION_AND_INTERRUPTION"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-MISSED_FLIGHT_CONNECTION"></td>
                                    </tr>
                                </tbody>
                                <tbody class="comparePlan__colBody">
                                    <tr>
                                        <td class="comparePlan__resultTitle empty"><b></b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-PERSONNAL_LIABILITY_BENEFIT"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-EMERGENCY_CASH_ADVANCE"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle" data-lookupfield="ATR-LOSS_OF_PASSPORT"></td>
                                    </tr>
                                    <tr>
                                        <td class="comparePlan__resultTitle"data-lookupfield="">dynamic_policy_wordings_value</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="comparePlan__linkBuyPlan" href="checkout.html" title="BUY PLAN">BUY THIS PLAN</a>
                        </div>
                	</div>
           		 </div>
           		 </div>
        </section>
        <!-- ComparePlan section End-->
        
        
         <!-- Pre Existing Disease Start -->
        <section class="accessories__drop" id="preExistingDiseases">
            <div class="checkoutContainerNew__outer">
                <div class="accessories__dropContainer">
                    <div class="checkoutContainerNew__inner">
                        <a class="js__accesoriesDrop__close checkoutContainerNew__close" onclick="closePopup(this,'preExistingDiseases')" title="Close"></a>
                        <div class="checkoutContainerNew__tabOuterBox">
                            <div class="checkoutContainerNew__tabTitle">
                                <h2 class="checkoutContainerNew__tabTitleText">Pre Existing Diseases</h2>
                            </div>
                            <div class="checkoutContainerNew__detailsForm">
                                <div class="checkoutContainerNew__tabContent" id="diseases">
                               @*
                                @if(quoteReqJson.hasNonNull("restrictions") 
                                &&quoteReqJson.get("restrictions").hasNonNull(TravelAttributeCode.ATR_PRE_EXISITING_DISEASES.getCode())
                                &&quoteReqJson.get("restrictions").get(TravelAttributeCode.ATR_PRE_EXISITING_DISEASES.getCode()).hasNonNull("restriction")
                               && quoteReqJson.get("restrictions").get(TravelAttributeCode.ATR_PRE_EXISITING_DISEASES.getCode()).get("restriction").hasNonNull("constraint_value")
                                ){
                                	@for( (disease,d_index)<- quoteReqJson.get("restrictions").get(TravelAttributeCode.ATR_PRE_EXISITING_DISEASES.getCode()).get("restriction").get("constraint_value").elements().zipWithIndex){
                                	<div class="row">
                                		<div class="col-lg-12">
                                			<input type="checkbox" id="diseases_@d_index" class="preExistingDisease" value="@disease.asText()">
                                			<label for="diseases_@d_index">@disease.asText()</label>
                                		</div>
                                	</div>
                                	}
                                }
                                *@
                                <div class="checkoutContainerNew__acknowledge">
                                    <button class="checkoutContainerNew__acknowledgeBtn js__accesoriesDrop__submit" onclick="validatePreExistingDisease()" type="button" name="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Pre Existing Disease End -->
        
        
         <!-- Policy Details Start -->
        <section class="accessories__drop" id="policyDetailsDiv">
            <div class="checkoutContainerNew__outer">
                <div class="accessories__dropContainer">
                    <div class="checkoutContainerNew__inner">
                        <a class="js__accesoriesDrop__close checkoutContainerNew__close" onclick="closePopup(this,'policyDetailsDiv')" title="Close"></a>
                        <div class="checkoutContainerNew__tabOuterBox">
                            <div class="checkoutContainerNew__tabTitle">
                                <h2 class="checkoutContainerNew__tabTitleText">Plan Details</h2>
                            </div>
                            <div class="checkoutContainerNew__detailsForm">
                                <div class="checkoutContainerNew__tabContent" id="diseases">
                                	<div class="row">
                                		<div class="col-lg-2">
                                			<img alt="" src="" id="policy_details">
                                		</div>
                                		<div class="col-lg-2">
                                			Medical Cover
                                			<h4 class="policy_medical_cover"></h4>
                                			Deductible
                                			<h4 class="policy_medical_cover_deduction"></h4>
                                		</div>
                                		<div class="col-lg-2">
                                			Existing Diseases Cover
                                			<h4 class="policy_ext_disease_cover"></h4>
                                		</div>
                                		<div class="col-lg-2">
                                			Baggage Loss Cover
                                			<h4 class="policy_baggae_loss_cover"></h4>
                                		</div>
                                		<div class="col-lg-2">
                                			Trip Delay Cover
                                			<h4 class="policy_trip_delay_cover"></h4>
                                		</div>
                                		<div class="col-lg-2">
                                			<a class="btn btn-warning btn-lg" style="color: fff; background: #FF4E0D; font-size:11px;" 
                                			 onclick="toCallBuyplan(this)"  title="BUY PLAN">Buy For <span class="policy_buy_for_cover"></span></a>
                                		</div>
                                	</div>
                                	<div class="row">
	                                	<div class="col-lg-12">
									<table class="table">
										<tr>
											<th colspan="2">Medical Benefits</th>
										</tr>
										<tr>
											<td>
												Medical Cover
												<h4 class="policy_medical_cover"></h4>
												Deductible
                                				<h4 class="policy_medical_cover_deduction"></h4>
											</td>
											<td>
												Out-Patient Care
												<h4 class="policy_out_patient_cover"></h4>
												Included in Medical Expenses (Outpatient treatment, if critical)
											</td>
										</tr>
										<tr>
											<td>
												Existing Diseases Cover
												<h4 class="policy_ext_disease_cover"></h4>
											</td>
											<td>
												Personal Accident
												<h4 class="policy_personal_accident_cover"></h4>
												Death/PTD/PPD within 12 months
											</td>
										</tr>
										<tr>
											<td>
												Accidental Death & Disability (Public Transport)
												<h4 class="policy_accidental_death"></h4>
											</td>
											<td>
												Medical Evacuation
												<h4 class="policy_med_evac"></h4>
												To India
											</td>
										</tr>
										<tr>
											<td>
												Medical Repatriation
												<h4 class="policy_med_repartn"></h4>
											</td>
											<td>
												Dental Cover
												<h4 class="policy_dental_covr"></h4>
												Deductible <span class="policy_dental_deductble"></span>
											</td>
										</tr>
										<tr>
											<th colspan="2">Travel benefits</th>
										</tr>
										<tr>
											<td>
												Baggage Loss Cover
												<h4 class="policy_baggae_loss_cover"></h4>
												Deductible
												<span class="policy_baggae_loss_deductble"></span>
												Max 50% per baggage, max 10% per item in a baggage
											</td>
											<td>
												Delay Of Baggage
												<h4 class="policy_dealy_baggage"></h4>
												Deductible <span class="policy_dealy_baggage_deductble"></span>
											</td>
										</tr>
										
										<tr>
											<th colspan="2">Additional Benefits</th>
										</tr>
										<tr>
											<td>
												Personal Liability
												<h4 class="policy_personal_liability_cover"></h4>
												
											</td>
											<td>
												Loss Of Passport
												<h4 class="policy_passport"></h4>
												Deductible <span class="policy_passport_deductble"></span>
											</td>
										</tr>
										
									</table>
								</div>
                                	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Policy Details End -->
	}
