@(hospitalJson : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")

@csses={
<link rel="stylesheet" href="@css_url/site/procurement/health/hospital_list.css@version">
}

@footerJS={
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1X_PO9JguSccfY8VxyWDeNlVmorSMlvw&callback=initMap"
    async defer></script>
    <script src="@js_url/site/procurement/health/hospital_list.js@version"></script>
<script>
	</script>
}

@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | ConsumerPortal",proputils,csses=csses,footerJS=footerJS){
	<div class="form-group">
         <div class="fieldsContainer">
         	<h1 class="checkOut__titleText">Hospital Locations</h1>
         	<div class="fields">
         		<input type="hidden" id="vendorCode" value="@if(hospitalJson.has("vendorCode")&&hospitalJson.hasNonNull("vendorCode")){@hospitalJson.get("vendorCode").asText}else{}">
	         	<select class="form-control selectField" id="state" onchange="getFieldVal(this)" data-field="state">
	         		<option value="">select state</option>
	         		 @if(hospitalJson.has("items")&&hospitalJson.hasNonNull("items")){
      					@for(hospital<-hospitalJson.get("items").elements()){
      						@if(hospital.has("state_name")&&hospital.hasNonNull("state_name")){
      							<option value="@hospital.get("state_name").asText">@hospital.get("state_name").asText</option>
      						}
      					}
      				}
	         	</select>
         	</div>
         	@if(hospitalJson.has("vendorCode")&&hospitalJson.hasNonNull("vendorCode")){
	      		<input type="hidden" id="vendorCode" value="hospitalJson.get("vendorCode").asText">
      		}
         	<div class="clear"></div>
         	<div class="fields">
	         	<select class="form-control selectField" id="city" onchange="getCityDetails(this)" data-field="city">
	         		<option value="">select city</option>
	         	</select>
         	</div>
         	<div class="clear"></div>
         	<div class="fields">
	         	<input type="text" placeholder="Pin code" autocomplete="on" class="form-control pinInput" id="pincode" data-field="postal_code">
         	</div>
         	 <div class="addressContainer"></div>
         </div>   
         <div id="map" style="width:77%;height:650px;float:right;"></div>  
   	</div>
   	<div class="clear" ></div>
      
        <div class="cloneDiv">
       <div class="addressDiv" style="display:none;">
       		<div class="fieldDiv">
       			<span class="index" data-field="index"></span>
       			<div class="offcialAddress">
	       			<span class="hospitalName" data-field="name"></span><br>
	       			<span class="addressLine1" data-field="address1"></span>
	       			<span class="addressLine2" data-field="address2"></span>
	       			<span class="addressLine3" data-field="address3"></span><br>
	       			<span class="stateAndCity" data-field="state"></span>
       			</div>
       		</div>
       </div>
      </div>
      <div class="clear"></div>
}       