@(enquiryAttributeMap : Map[String, String], vehicleType : String)

@import com.arka.common.utils.JsonUtils
@import org.apache.commons.lang3.StringUtils

@sessionSetter(variant : String,types : String)={@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null && types!="arr"){@enquiryAttributeMap.get(variant)}else{
@if(enquiryAttributeMap.containsKey("CarMakeModel") && enquiryAttributeMap.get("CarMakeModel")!=null && types=="arr"){@if(JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).has(variant)){
@JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).get(variant).get(0).asText()}}}}
@sessionGetForFuel(fueltype :String,types :String)={
	@if(enquiryAttributeMap.containsKey(fueltype) && enquiryAttributeMap.get(fueltype).equals("petrol") && enquiryAttributeMap.containsKey("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED") && enquiryAttributeMap.get("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED").equals("true")){
		lpg/cng (Externally Fitted)
	}else{
		@sessionSetter(fueltype,"out")
	}
}
								<div class="policyBlock__detailBoxOuter" data-tab="3" @if(sessionSetter("className","noarr").toString().trim().equals("js__buyNewCar")){style="display:block;"}else{style="display:none ;"}>
                                    <div class="policyBlock__detailBoxInner">
                                        <div class="policyBlock__detailInputBox">
                                        	<div class="policyBlock__detailInputOuter">
	                                            <label for="label-12" class="policyBlock__myCarLabel ">Which @vehicleType do you want to buy?</label>
	                                            <input type="text" name="" value="" readonly="readonly" id="label-12" class="policyBlock__myCarInput js__wCar js__idnWCar js__newCarInput sel_whichCarInput">
	                                            <span class="policyBlock__myCarValues capitalize js__carMake__modelText js__newWcar js__wCar js__newCarInput">
							                     	@if(sessionSetter("className","out").toString().trim().equals("js__buyNewCar") && !sessionSetter("make","out").toString().trim().equals("")){
							                     		@sessionSetter("make","out") - @sessionSetter("model","out"), @sessionGetForFuel("fuel_type","out"), @if(StringUtils.isNotEmpty(sessionSetter("variant","out").toString())){@sessionSetter("variant","out")}else{@sessionSetter("cc","out")}, @sessionSetter("year","out")
							                     	}
							                    </span>
							                    <span class="error js__carDetailsError"></span>
							                 </div>
                                        </div>
                                    </div>
                                      <div class="policyBlock__detailBoxInner">
                                        <div class="policyBlock__detailInputBox">
                                        	<div class="policyBlock__detailInputOuter">
	                                            <label for="label-13" class="policyBlock__myCarLabel ">@vehicleType registration RTO</label>
	                                            <input type="text" name="" readonly="readonly" value='' id="label-13" class="policyBlock__myCarInput js__rNumber js__newrNumber sel_registrationSelect">
	                                        	<span class="policyBlock__myCarValues policyBlock__myCarValuesBigger js__rtoNumber js__rNumber js__newrNumber"> @if(sessionSetter("className","out").toString().trim().equals("js__buyNewCar") && !sessionSetter("rto_city","out").toString().trim().equals("")){@sessionSetter("rto_city","out") - @sessionSetter("rto_code","out")} </span>
	                                        	<span class="error js__rtoDetailsError js__rtoError"></span>
	                                        </div>
                                        </div>
                                    </div>
                                    <div class="policyBlock__btnBlock">
                                        <button type="button" onclick="getQuotesForNewBuyCar(this)" class="policyBlock__btn newCarViewQuotesButton view_quotes">view quotes</button>
                                    </div>
                                </div>