@(enquiryAttributeMap : Map[String, String], proputils : com.arka.common.utils.PropUtils, vehicleType : String)
@import com.arka.common.utils.JsonUtils
@import org.apache.commons.lang3.StringUtils
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")

@sessionSetter(variant : String,types : String)={@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null && types!="arr"){@enquiryAttributeMap.get(variant)}else{@if(enquiryAttributeMap.containsKey("CarMakeModel") && enquiryAttributeMap.get("CarMakeModel")!=null && types=="arr"){@if(JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).has(variant)){@JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).get(variant).get(0).asText()}}}}

@sessionGetForFuel(fueltype :String,types :String)={
	@if(enquiryAttributeMap.containsKey(fueltype) && enquiryAttributeMap.get(fueltype).equals("petrol") && enquiryAttributeMap.containsKey("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED") && enquiryAttributeMap.get("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED").equals("true")){
		lpg/cng (Externally Fitted)
	}else{
		@sessionSetter(fueltype,"out")
	}
}

<script type="text/javascript" src='@js_url/site/procurement/motor/i_dont_know_my_motor_number.js@version'></script>


		<div class="policyBlock__detailBoxOuter" data-tab="2" @if(sessionSetter("className","noarr").toString().trim().equals("js__iDontknowMy__carNo")){style="display:block ;"}else{style="display:none ;"}>
             <div class="policyBlock__detailBoxInner">
                 <div class="policyBlock__detailInputBox">
                 	<div class="policyBlock__detailInputOuter">
	                     <label for="label-6" class="policyBlock__myCarLabel">which @vehicleType do you drive</label>
	                     <input type="text" name="" readonly="readonly" value="" id="label-6" class="policyBlock__myCarInput js__wCar js__idnWCar sel_iDontKnowWhichCar">
	                     <span class="policyBlock__myCarValues js__carMake__modelText js__wCar js__idnWCar capitalize">
	                     	@if(sessionSetter("className","out").toString().trim().equals("js__iDontknowMy__carNo") && !sessionSetter("make","out").toString().trim().equals("")){
	                     		@sessionSetter("make","out") - @sessionSetter("model","out"),@sessionGetForFuel("fuel_type","out"), @if(StringUtils.isNotEmpty(sessionSetter("variant","out").toString())){@sessionSetter("variant","out")}else{@sessionSetter("cc","out")}, @sessionSetter("year","out")
	                     	}
	                     </span>
	                     <span class="error js__carIdontDetailsError js__idontKnowError"></span>
	                </div>
                 </div>
                 <div class="policyBlock__detailInputBox">
                 	<div class="policyBlock__detailInputOuter">
	                     <label for="label-7" class="policyBlock__myCarLabel">@vehicleType registration rto</label>
	                     <input type="text" readonly="readonly" name=""  id="label-7" value='' class="policyBlock__myCarInput js__rNumber js__idnRNumber sel_car_RtoSelect">
	                 	<span class="policyBlock__myCarValues policyBlock__myCarValuesBigger js__rtoNumber js__rNumber js__idnRNumber"> @if(sessionSetter("className","out").toString().trim().equals("js__iDontknowMy__carNo") && !sessionSetter("rto_city","out").toString().trim().equals("")){@sessionSetter("rto_city","out") - @sessionSetter("rto_code","out")} </span>
	                 	<span class="error js__rtoIdontDetailsError js__idontKnowError"></span>
	                 </div>
                 </div>

             </div>
             @my_number_policy_claim_form_field("myDontNoPolicyClaimFrm",null,"iDontKnowPolicyStatus","iDontKnowClaimStatus","idontknowPolicyStatusClass","idontknowClaimStatusClass", enquiryAttributeMap, "js__iDontknowMy__carNo")
             <div class="policyBlock__btnBlock">
                 <button onclick="getQuotesFromIDN(this)" type="button" class="policyBlock__btn sel_dontknow_viewQuotes view_quotes">view quotes</button>
             </div>
        </div>