@(enquiryAttributeMap : Map[String, String], vehicleType : String)

@import com.arka.common.utils.JsonUtils
@sessionSetter(variant : String,types : String)={@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null && types!="arr"){@enquiryAttributeMap.get(variant)}else{@if(enquiryAttributeMap.containsKey("CarMakeModel") && enquiryAttributeMap.get("CarMakeModel")!=null && types=="arr"){@if(JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).has(variant)){@JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).get(variant).get(0).asText()}}}}
@regNoSessionSetter()={
	@if(enquiryAttributeMap.containsKey("AC-REGNO") && enquiryAttributeMap.get("AC-REGNO")!=null){
		@defining(enquiryAttributeMap.get("AC-REGNO")){ ran =>
			@ran.toString().replace("[", "").replace("]", "").replace(",", "-").replace(" ","")
		}
	}
}
								<div class="policyBlock__detailBoxOuter policyBlock__detailBoxOuter--active" data-tab="1" @if(sessionSetter("className","noarr").toString().trim().equals("") || sessionSetter("className","noarr").toString().trim().equals("js__iknowMy__carNo")){style="display:block ;"}else{style="display:none;"}>
                                    <div class="policyBlock__detailBoxInner">
                                        <label for="label-1" class="policyBlock__myCarLabel">my @vehicleType number</label>
                                        <input type="text" name="" data-earlier_val="" onkeypress="" value='@regNoSessionSetter().toString().trim()' id="label-1" class="policyBlock__myCarInput js__iKnowCarNo__input js__regNo__Ux__design">
                                    	<input hidden="" id="dupdata" value='@regNoSessionSetter().toString().trim()'>
                                    	<span class="error js__error js__iknow__regError"></span>
                                    </div>
                                    @my_number_policy_claim_form_field("myNoPolicyClaimFrm",null,"iKnowPlicyStatus","iKnowClaimStatus","iknowPolicyStatusClass","iknowClaimStatusClass", enquiryAttributeMap , "js__iknowMy__carNo")
                                    <div class="policyBlock__btnBlock">
                                        <button type="button" onclick="getQuote(this)" class="policyBlock__btn">view quotes</button>
                                    </div>
                                    <!-- div class="policyBlock__btnBlock">
                                        <p type="button"  class="policyBlock__btn" id="nothing"></p>
                                    </div -->
                                    
                                </div>
                                
     