@(formId : String ="", formAction : String ="#", formClass : String ="", jsFuncNameToBeCalled : String, dataJson :com.fasterxml.jackson.databind.JsonNode, title : String = "Which vehicle do you drive?", showRegistrationDetail : Boolean, enquiryAttributeMap : Map[String, String], idCng : String="" , carMakeClass : String="", carSelectMakeClass : String="" , carFuelClass : String="", carVariantClass : String="",classTypeForSession : String="", vehicleType : String, isMisp: Boolean) 
@import com.arka.common.utils.JsonUtils
@sessionSetter(variant : String,types :String)={
	@if(!types.equals("arr") && sessionSetterWithClassName("className","out").toString().trim().equals(classTypeForSession)){
		@sessionSetterWithClassName(variant,types)
	}else{
		@if(types.equals("arr") && sessionSetterWithClassName("className","out").toString().trim().equals(classTypeForSession)){
			@sessionSetterWithClassName(variant,types)
		}
	}
}

@sessionSetterWithClassName(variant : String,types :String)={
	@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null&&types!="arr"){@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant).equals("petrol") && enquiryAttributeMap.containsKey("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED") && enquiryAttributeMap.get("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED").equals("true")){lpg/cng}else{@enquiryAttributeMap.get(variant)}}else{@if(enquiryAttributeMap.containsKey("CarMakeModel")&& enquiryAttributeMap.get("CarMakeModel")!=null &&types=="arr"){@if(JsonUtils.isValidField(JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")),"variant")){@JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).get(variant).get(0).asText().trim()}}}
}

@sessionGetForFuel(fueltype :String,types :String)={
	@if(enquiryAttributeMap.containsKey(fueltype) && enquiryAttributeMap.get(fueltype).equals("petrol") && enquiryAttributeMap.containsKey("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED") && enquiryAttributeMap.get("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED").equals("true")){
		lpg/cng
	}else{
		@sessionSetter(fueltype,"out")
	}
}


 <!-- No Claim drop end -->
<section class="carModal @formClass js__carMake__modelDropDown">
     <div class="carModal__outer">
         <div class="carModal__inner">
             <div class="carKnowBox">
                 @if(showRegistrationDetail) {
                 <script>
                  var replaceMakeModelDetails=true;
                  @if(!sessionSetter("make","out").toString().trim().equals("") && !sessionSetter("model","out").toString().trim().equals("") && 
					!sessionSetter("fuel_type","out").toString().trim().equals("") && !sessionSetter("year","out").toString().trim().equals("")){
	                  	replaceMakeModelDetails=false;
					}
                  </script>
                  <div class="carKnowHead">
                      <ul class="carKnowHeadBox">
                          <li class="carKnowHeadList">
                              <span class="carKnowHeadText headinginPopUp">your @vehicleType number</span>
                              <p class="carKnowHeadValue js__leftBox__carNo">@sessionSetter("cityCode","")@sessionSetter("frontReg","")@sessionSetter("regNo","")</p>
                          </li>
                      </ul>
						}else{
							<div class="carKnowHead carDoKnowHead">
						                      <p class="carDoKnowHead__title headinginPopUp"></p>
						}
                      <a href="javascript:;" title="Close" class="carModal__close js__carModal__close"></a>
                  </div>
                  <div class="carKnowBody">
                      <input type="hidden" class="vehicle_type capitalize" data-vehicleType='@vehicleType'>
                      <ul class="carKnowBody__nav makeModelFuelYear">
                          <li class="carKnowBody__list carKnowBody__list--active " data-link="rightBox__tabLink--01">
                              <div class="carKnowBody__navBox addedDetails take_text_div">
                                  <span class="carKnowBody__text">make</span>
                                  <p class="carKnowBody__value js__make__model__label js__carMy__input capitalize" data-make='@sessionSetter("make","out").toString().trim()'>@sessionSetter("make","out").toString().trim().toLowerCase()</p>
                                  <a href="javascript:;" class="carKnowBody__valueEdit js__carModalLink"
                                  @if(!showRegistrationDetail) {style="display: none;"}
                                  data-alink='rightBox__tabLink--01' data-editvalue="make">Edit</a>
                             </div>
                             <div class="carKnowBody__box carKnowBody__box--active">
                                 <div class="carSelect">
                                     <p class="carSearch__line carSearch__popularCities">Popular Makes</p>
                                     <ul class="carSelect__box">
                                         @if(JsonUtils.isValidField(dataJson,"popular_motor_make") && JsonUtils.isValidField(dataJson.get("popular_motor_make"),"items")){
									 @for(makeModel <-	dataJson.get("popular_motor_make").get("items").elements()){
									<li class="carSelect__list">
									<p class='carSelect__value js__popular_car_label @carMakeClass @if(sessionSetter("make","out").toString().trim().equals(makeModel.asText())){carSelect__value--active}' data-make='@makeModel.asText()'>
										<span class="js__popular_car_label" data-make='@makeModel.asText()'>@makeModel.asText()</span>
									</p>
									</li>
									 } }
                                     </ul>
                                      @if(JsonUtils.isValidField(dataJson,"motor_make") && JsonUtils.isValidField(dataJson.get("motor_make"),"items")
                                      		&& JsonUtils.isValidIndex(dataJson.get("motor_make").get("items"),0)){
                                     <hr>
                                     <p class="carSearch__line carSearch__popularCities">Other Makes</p>
                                     <ul class="carSelect__box">
									@for(makeModel <-	dataJson.get("motor_make").get("items").elements()){
										<li class="carSelect__list">
											<p class='carSelect__value js__popular_car_label @carMakeClass @if(sessionSetter("make","out").toString().trim().equals(makeModel.asText())){carSelect__value--active}' data-make='@makeModel.asText()'>
												<span class="js__popular_car_label" data-make='@makeModel.asText()'>@makeModel.asText()</span>
											</p>
										</li>
										} 
                                     </ul>
                                     }
                                     @*<a href="javscript:;" class="carSelect__btn" title="Confirm">CONFIRM</a>*@
                                 </div>
                             </div>
                         </li>
                         <li class="carKnowBody__list" data-link="rightBox__tabLink--02">
                         	<input type="hidden" class="vehicle_type capitalize" data-vehicleType='@vehicleType'>
                             <div class='carKnowBody__navBox take_text_div @if(!classTypeForSession.equals("js__iknowMy__carNo") && sessionSetter("model","out").toString().trim().equals("")){no-cursorhome}' >
                                 <span class="carKnowBody__text">model</span>
                                 <p class="carKnowBody__value js__carMyModel__input capitalize" data-model='@sessionSetter("model","out").toString().trim()'>@sessionSetter("model","out").toString().trim().toLowerCase()</p>
                                 <a href="javascript:;" class='carKnowBody__valueEdit js__carModalLink @if(!classTypeForSession.equals("js__iknowMy__carNo") && sessionSetter("model","out").toString().trim().equals("")){no-eventshome}' data-alink='rightBox__tabLink--02' data-editvalue="model">Edit</a>
                             </div>
                             <div class="carKnowBody__box fuelBox">
                                 <ul class="carSelect__box modelBox js__modelFrom__dB">
                                 </ul>
                                 @*<a href="javscript:;" class="carSelect__btn" title="Confirm">CONFIRM</a>*@
                             </div>
                         </li>
						 <li class="carKnowBody__list" data-link="rightBox__tabLink--03">
                             <div class='carKnowBody__navBox take_text_div @if(!classTypeForSession.equals("js__iknowMy__carNo") && sessionSetter("fuel_type","out").toString().trim().equals("")){no-cursorhome}' >
                                 <span class="carKnowBody__text">fuel type</span>
                                 <p type="text" class="carKnowBody__value js__reg__year__label js__carFuel__input js__makemodelRest capitalize"
										data-fuel='@sessionSetter("fuel_type","out")'
										data-original-fuel='@sessionSetter("fuel_type","out").toString().trim().toLowerCase()'>@sessionSetter("fuel_type","out").toString().trim().toLowerCase()</p>
                           		  <a href="javascript:;" class='carKnowBody__valueEdit js__carModalLink @if(!classTypeForSession.equals("js__iknowMy__carNo") && sessionSetter("fuel_type","out").toString().trim().equals("")){no-eventshome}' data-alink='rightBox__tabLink--03' data-editvalue="fuel">Edit</a>
                             </div>
                             <div class="carKnowBody__box fuelBox">
                                 <ul class="carSelect__box">
                                     <li class="carSelect__list fuel_size js__fuelHide__class" style="display:none;">
                                         <p  class="carSelect__value @carFuelClass js__carSelect__value js__rightBox__fuelValue" data-original-fuel="" data-value="1" data-fuel="petrol">
                                         <span data-original-fuel="" data-value="1" data-fuel="petrol" class="carSelect__fuelVal text-uppercase">Petrol</span>
                                         </p>
                                     </li>
                                     <li class="carSelect__list fuel_size js__fuelHide__class" style="display:none;">
                                         <p  class="carSelect__value @carFuelClass js__carSelect__value js__rightBox__fuelValue" data-original-fuel="" data-value="2" data-fuel="diesel">
                                         <span data-original-fuel="" data-value="2" data-fuel="diesel" class="carSelect__fuelVal text-uppercase">Diesel</span>
                                         </p>
                                     </li>
                                     <li class="carSelect__list fuel_size js__fuelHide__class" style="display:none;">
                                         <p  class="carSelect__value @carFuelClass js__carSelect__value js__rightBox__fuelValue" data-original-fuel="" data-value="4" data-fuel="petrol and cng">
                                         <span data-original-fuel="" data-value="4" data-fuel="petrol and cng" class="carSelect__fuelVal text-uppercase">Petrol/Cng</span>
                                         </p>
                                     </li>
                                     @if(vehicleType=="car"){
                                    	  <li class="carSelect__list fuel_size js__fuelHide__class" style="display:none;">
                                      	   <p  class="carSelect__value @carFuelClass js__carSelect__value js__rightBox__fuelValue" data-original-fuel="" data-value="3" data-fuel="lpg/cng">
                                       		  <span data-original-fuel="" data-value="3" data-fuel="lpg/cng" class="carSelect__fuelVal text-uppercase">Petrol + Lpg/Cng <span class="external_fitted">(Externally Fitted)</span></span>
                                       	  	</p>
                                    	 </li>
                                     }
                                     <li class="carSelect__list fuel_size js__fuelHide__class" style="display:none;">
                                         <p  class="carSelect__value @carFuelClass js__carSelect__value js__rightBox__fuelValue" data-original-fuel="" data-value="5" data-fuel="petrol and lpg">
                                         <span data-original-fuel="" data-value="5" data-fuel="petrol and lpg" class="carSelect__fuelVal text-uppercase">Petrol/Lpg</span>
                                         </p>
                                     </li>
                                 </ul>
                                 <div class="carLpg  js__lpgCng__div">
                                     @* <p>Is the CNG/LPG kit in your @vehicleType externally fitted?</p>
                                   	 <div class="carLpg__radioBox">
										@if(sessionSetter("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED","out").toString().trim().equals("true")){
										
											<input type="radio" checked="checked" name="cng" data-session="true" value="yes" id="@idCng-1"	class="carLpg__radio js__ncgLpgVal">
										
										}else{
											<input type="radio" name="cng" value="yes" data-session="true" id="@idCng-1" class="carLpg__radio js__ncgLpgVal">
										}
	                                     <label for="@idCng-1" class="carLpg__radioLabel js__carLpg__label js__rightBox__cngLabel">Yes</label>
                                     </div>
                                     <div class="carLpg__radioBox">
                                         @if(sessionSetter("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED","out").toString().trim().equals("false")){
											<input type="radio" checked="checked" data-session="false" name="cng" value="no" id="@idCng-2" class="carLpg__radio js__ncgLpgVal">
											}else{
												<input type="radio" name="cng" value="no" data-session="false" id="@idCng-2" class="carLpg__radio js__ncgLpgVal"> 
											}
                                         <label for="@idCng-2" class="carLpg__radioLabel js__carLpg__label js__rightBox__cngLabel">No</label>
                                     </div> *@
                                     <div class="carLpg__form" @if(sessionSetter("AC-IS_CNG_OR_LPG_EXTERNALLY_FITTED","out").toString().trim().equals("true")){style="display:block;"}>
                                         <input type="text"  value='@if(!sessionSetter("AC-CNG_OR_LPG_EXTERNALLY_FITTED_VALUE","out").toString().trim().equals("")){@sessionSetter("AC-CNG_OR_LPG_EXTERNALLY_FITTED_VALUE","out").toString().trim()}'	onkeydown='return (event.which >= 48 && event.which <= 57) || event.which == 8 || event.which == 46' class="carLpg__text js__rightBox__cngFormInput" placeholder="Value of CNG/LPG kit" maxlength="6">
                                         <button type="submit" onclick="getVariantWithLpg(this)" class="carLpg__btn">CONTINUE</button>
                                     	<span class="error js__cngError"></span>
                                     </div>
                                 </div>
                                 @*<a href="javscript:;" class="carSelect__btn" title="Confirm">CONFIRM</a>*@
                             </div>
                         </li>

	 					 <li class="carKnowBody__list " data-link="rightBox__tabLink--04">
                             <div class='carKnowBody__navBox take_text_div @if(!classTypeForSession.equals("js__iknowMy__carNo") && sessionSetter("variant","out").toString().trim().equals("")){no-cursorhome}'>
                                 <span class="carKnowBody__text">Variant</span>
                                 <p class="carKnowBody__value js__carModel__input capitalize @carVariantClass" data-cc='@sessionSetter("cc","out").toString().trim()' data-variant='@sessionSetter("variant","out").toString().trim()'>
                                @if(!sessionSetter("variant","out").toString().trim().equals("")){
                                  @defining(sessionSetter("variant","out")){variant => 
                                  	@if(variant.toString().trim().length>15){
                                  		@variant.toString().trim().toLowerCase().substring(0,14) ... 
                                  	}else{
                                  		@variant.toString().toLowerCase().trim()
                                  	}
                                  }
                                 }else{
                                 	@defining(sessionSetter("cc","out")){cc => 
                                  	@if(cc.toString().trim().length>15){
                                  		@cc.toString().trim().toLowerCase().substring(0,14) ... 
                                  	}else{
                                  		@cc.toString().toLowerCase().trim()
                                  	}
                                  }
                                 }
                                 </p>
                             	<a href="javascript:;" class='carKnowBody__valueEdit js__carModalLink @if(!classTypeForSession.equals("js__iknowMy__carNo") && sessionSetter("variant","out").toString().trim().equals("") && sessionSetter("cc","out").toString().trim().equals("")){no-eventshome}' data-alink='rightBox__tabLink--04' data-editvalue="variant">Edit</a>
                             </div>
                             <div class="carKnowBody__box  fuelBox">
                                 <ul class="carSelect__box modelBox js__modelUl">
                                    
                                 </ul>
                                 @*<a href="javscript:;" class="carSelect__btn" title="Confirm">CONFIRM</a>*@
                             </div>
                         </li>
                         <li class="carKnowBody__list " data-link="rightBox__tabLink--05">
                             <div class='carKnowBody__navBox take_text_div @if(!classTypeForSession.equals("js__iknowMy__carNo") && sessionSetter("variant","out").toString().trim().equals("")){no-cursorhome}'>
                             	<span class="carKnowBody__text">@if(formClass=="js__buy__new__car__Class"){manufacture year}else{registration year}</span>
                                 <p class="carKnowBody__value js__regYear__input capitalize" data-year='@sessionSetter("year","out").toString().trim()'>@sessionSetter("year","out").toString().trim()</p>
                             	<a href="javascript:;" class='carKnowBody__valueEdit js__carModalLink @if(!classTypeForSession.equals("js__iknowMy__carNo") && sessionSetter("year","out").toString().trim().equals("")){no-eventshome}' data-alink='rightBox__tabLink--05'>Edit</a>
                             </div>
                             <div class="carKnowBody__box fuelBox js__yearShow" @if(showRegistrationDetail){style="display: none;"}>
                                 <div class="carSelect">
                                  <ul class="carSelect__box">
                              			@defining(java.time.LocalDate.now().minusMonths(6).getYear()){ year =>
                          					@if(formClass=="js__buy__new__car__Class" || isMisp){
                          					
	                          					
                                   						<li class="carSelect__list">
														<p data-year='@java.time.LocalDate.now().minusYears(1).getYear()' onclick="yearSelect(this)" class='js__carReg__year carSelect__value @if(sessionSetter("year","out").toString().trim().equals("@java.time.LocalDate.now().minusYears(1).getYear()")){carSelect__value--active}'>
																<span class="js__carReg__year"  data-year='@java.time.LocalDate.now().minusYears(1).getYear()'>@java.time.LocalDate.now().minusYears(1).getYear()</span>
															</p>
														</li> 
														<li class="carSelect__list">
															<p data-year='@java.time.LocalDate.now().getYear()' onclick="yearSelect(this)" class='js__carReg__year carSelect__value @if(sessionSetter("year","out").toString().trim().equals("@java.time.LocalDate.now().getYear()")){carSelect__value--active}'>
																<span class="js__carReg__year"  data-year='@java.time.LocalDate.now().getYear()'>@java.time.LocalDate.now().getYear()</span>
															</p>
														</li> 
                                      					
                                      					
                                      					}else{
                                      					
															@for(i <- 0 to 9) {
															<li class="carSelect__list">
															<p data-year='@{year-i}' onclick="yearSelect(this)" class='carSelect__value js__carReg__year @if(sessionSetter("year","out").toString().trim().equals("@{year-i}")){carSelect__value--active}'>
																<span class="js__carReg__year" data-year='@{year-i}'>@{year-i}</span>
															</p>
														</li> 
														}
													}
											}
                                  	 </ul>
                                 </div>
                             	<div class="errordiv">
                             		<p class="error__class js__makeModelFuelError popUpError js__carError"></p>
                             	</div>
                                 <a href="javascript:;" onclick="@{jsFuncNameToBeCalled}(this.form)" class="carSelect__btn view_quotes" title="Confirm">CONFIRM</a>
                             	@*<span class="formField__errorMsg js__makeModelFuelError"></span>*@
                             </div>
                             @if(showRegistrationDetail){
                             <div class="carKnowBody__box fuelBox js__confirmCheck" >
                                <div class="carKnowBody__alertBox">
                                    <p class="carKnowBody__alertText">Please check the details, if the data is correct confirm to generate quotes else click on Edit to change the details.</p>
                                </div>
                                <div class="errordiv">
                                		<span class="error__class js__makeModelFuelError__forConfirm js__carError"></span>
                                </div>
                                <a href="javascript:;" onclick="@{jsFuncNameToBeCalled}(this.form)" class="carSelect__btn view_quotes" title="Confirm">CONFIRM</a>
                            </div>
                            }
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
         </div>
     </div>
 </section>
    <!--Template End-->



<script>
	var motorVar;
	var variantClass='@carVariantClass';
	var previousRegNo='';
    @if(enquiryAttributeMap.containsKey("AC-REGNO") && enquiryAttributeMap.get("AC-REGNO")!=null){
        var datt='@Html(enquiryAttributeMap.get("AC-REGNO"))';
	    if(datt!="" && datt.length>0){
	        previousRegNo=datt.replace(/,/g, "-").replace(/[[\]]/g,'').toUpperCase();
	    }
    }
    
    var alreadyknowVehicle=false;
    $(document).ready(function(){
      @if(enquiryAttributeMap.containsKey("make")||enquiryAttributeMap.containsKey("model") || enquiryAttributeMap.containsKey("variant")||enquiryAttributeMap.containsKey("fuel_type")||enquiryAttributeMap.containsKey("year")){
       alreadyknowVehicle=true;
       setCarDetails("@enquiryAttributeMap.get("make")", "@enquiryAttributeMap.get("model")", "@enquiryAttributeMap.get("fuel_type")","@enquiryAttributeMap.get("variant")","@enquiryAttributeMap.get("year")","@enquiryAttributeMap.get("className")");
    }
    });
      

    </script>
<!--Modal Drop End-->
