@(jsonData : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils,Error : com.fasterxml.jackson.databind.JsonNode, rtoData : com.fasterxml.jackson.databind.node.ArrayNode,enquiryAttributeMap : Map[String, String] )
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var description =if(jsonData.get("vehicleType").asText=="car") {ConfigFactory.load().getString("seo.car.description")} else {ConfigFactory.load().getString("seo.bike.description")};
@import java.lang.String; var site_url = ConfigFactory.load().getString("seo.site.url")+request.uri
@import java.lang.String; var site_name = ConfigFactory.load().getString("seo.site.name")
@import com.arka.common.utils.JsonUtils

@csses ={

<link rel="stylesheet" href="@css_url/site/procurement/car/carinsurance.css@version">


}
@sessionSetter(variant : String)={@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null){@enquiryAttributeMap.get(variant)}}
@com.arka.consumerportal.procurementweb.views.html.procurementwebmain(if(jsonData.get("vehicleType").asText=="car"){"Imright | Car Insurance Online"}else {"Imright | Two Wheeler Insurance Online"},proputils, footerJS=footerJS,csses=csses) {
    <!--Template Start-->
        <section class="policySection @if(jsonData.get("vehicleType").asText=="car"){ car-insurance-bg }else {two-wheeler-insurance-bg}">
            <div class="container">
                <div class="policyBlock">
                    <div class="policyBlock__details">
                        <div class="policyBlock__detailsBox">
                        	<div class="alert alert-danger invalid_regNo col-md-12" style="display:none;position: relative;">
							  	<strong>Invalid Vehicle Number!</strong> Please give vehicle details here.
							</div>
                            <div class="policyBlock__detailTabBox">
								@i_know_my_motor_number(enquiryAttributeMap, jsonData.get("vehicleType").asText)
								@i_dont_know_my_motor_number(enquiryAttributeMap, proputils, jsonData.get("vehicleType").asText)
								@buying_a_new_motor(enquiryAttributeMap, jsonData.get("vehicleType").asText)
                            </div>
                            <ul class="policyBlock__detailNav">
                                <li class="policyBlock__detailList policyBlock__detailList--inactive" data-class="js__iknowMy__carNo" @if(sessionSetter("className").toString().trim().equals("") || sessionSetter("className").toString().trim().equals("js__iknowMy__carNo")){style="display:none ;"}else{style="display: list-item;"}>
                                    <a href="javascript:;" class="policyBlock__detailLink js__policyselectLink js__carDetail__link js__iknowMy__carNo" title="I don't remember my @jsonData.get("vehicleType").asText number" data-nav="1">I know my @jsonData.get("vehicleType").asText number</a>
                                </li>
                                <li class="policyBlock__detailList" data-class="js__iDontknowMy__carNo" @if(sessionSetter("className").toString().trim().equals("js__iDontknowMy__carNo")){style="display:none ;"}else{style="display: list-item;"}>
                                    <a href="javascript:;" class="policyBlock__detailLink js__policyselectLink js__iDontknowMy__carNo js__carDetail__link" title="Share my @jsonData.get("vehicleType").asText number later" data-nav="2">Share my @jsonData.get("vehicleType").asText number later</a>
                                </li>
                                <li class="policyBlock__detailList" data-class="js__buyNewCar" @if(sessionSetter("className").toString().trim().equals("js__buyNewCar")){style="display:none ;"}else{style="display: list-item;"}>
                                    <a href="javascript:;" class="policyBlock__detailLink js__policyselectLink js__buyNewCar js__carDetail__link" title="I am buying a new car" data-nav="3">Insure My New @jsonData.get("vehicleType").asText</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @com.arka.consumerportal.procurementweb.views.html.insurance_list(if(jsonData.get("vehicleType").asText=="car"){"car"}else {"bike"})
                </div>
            </div>
        </section>
        <section class="brandSection">
         
		<!------------------sample--------------->
                
				@com.arka.consumerportal.procurementweb.views.html.licensedby(imageUrl = image_url)
		<!------------------sample--------------->
                <!-- <div class="row">
                    <div class="col-md-12">
                        <br />
                        <h2 class="brandSection__title">
                            Drive more
                            <span class="brandSection__title--color">  with no worries</span>
                        </h2><br /><br /><br /><br />

                    </div>
                </div> -->

                @com.arka.consumerportal.procurementweb.views.html.glossary()

            
        </section>
        <!-- <section class="marketSection section_3_bg">
            <div class="container">
                <h2 class="marketSection__title">Most trusted insurance marketplace online.</h2>
                <h2 class="marketSection__subTitle">Simple. Affordable. Reliable.</h2>
                <div class="row section_3">
                    <div class="col-md-4">
                        <h2 class="marketSection__title">Learning Center</h2>
                        <h3>What is NCB ?</h3>
                        <p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                        <table align="center" cellpadding="2" cellspacing="2">
                            <tr>
                                <td>
                                    <a href=""><img src="@image_url/next.png" /></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div align="center" class="col-md-4 border-c">
                        <img src="@image_url/boxes.png" />

                    </div>
                    <div align="center" class="col-md-4">
                        <h2 class="marketSection__title">Learning Center</h2>
                        <h2 class="marketSection__title">Watch Our Video</h2>
                        <br />
                        <img style="margin-top:12px;" src="@image_url/video.jpg" />
                    </div>
                </div>

            </div>
        </section> -->
        
        @com.arka.consumerportal.procurementweb.views.html.all_you_need_to_know(image_url)
        
        @com.arka.consumerportal.procurementweb.views.html.partners(image_url)

		<!--Template End-->
		@if(jsonData.get("vehicleType") != null && jsonData.get("vehicleType").asText == "car") {
		
    		<!-- I know my number make model fuel -->
			@make_model_fuel_variant("makModelFuelVariantForKnowMyNoFrmId","#", "js__know__my__No__Class","getQuoteConfirm" , jsonData ,"Based on your bike number, is this your bike?", true, enquiryAttributeMap,"know_cng","js__iknowCarMake","jsSelect__iknowCarMake","js__iknowCarFuel","js__iknowCarVariant","js__iknowMy__carNo", "car", false)
	
	        <!-- I dont know my number registrationBox -->
			@make_model_fuel_variant("makModelFuelVariantForDontKnowMyNoFrmId","#", "js__dont__know__my__No__Class","setCarDetailsInTextField" , jsonData ,"Which bike do you drive?", false, enquiryAttributeMap, "dontknow_cng","js__idnknowCarMake","jsSelect__idnknowCarMake","js__idnknowCarFuel","js__idnknowCarVariant","js__iDontknowMy__carNo", "car", false)
	        
	        <!-- Im buying new bike  -->
			@make_model_fuel_variant("makModelFuelVariantForNewBike","#", "js__buy__new__car__Class","setCarDetailsInTextField" , jsonData ,"Which bike do you want to buy?", false, enquiryAttributeMap, "newcar_cng","js__idnknowCarMake","jsSelect__idnknowCarMake","js__idnknowCarFuel","js__idnknowCarVariant","js__buyNewCar", "car", false)
			
	        <!-- registrationBox -->
	 
	        <!-- Car Registration Location -->
			@rto_model_box(formId="rtoModelFrm",jsFuncNameToBeCalled="setRtoDetails", title="Where was your car registered?", enquiryAttributeMap=enquiryAttributeMap, rtoData=rtoData, classTypeForSession="js__iDontknowMy__carNo", proputils=proputils)
	        <!-- Car Registration Location(new car) -->
			@rto_model_box(formId="rtoModelFrmNew",jsFuncNameToBeCalled="setRtoDetails", title="Which will be your car registration RTO?", enquiryAttributeMap=enquiryAttributeMap, rtoData=rtoData, classTypeForSession="js__buyNewCar", proputils=proputils)
	        <!--Login section start-->
	        
	        <!--Login section end-->
	        <!-- No Claim drop start -->
	        @ncb_model(jsFuncNameToBeCalled = "ncbSelected", enquiryAttributeMap=enquiryAttributeMap,proputils=proputils, vehicleType="car")
			<!-- No Claim drop ends -->
		}
		
		@if(jsonData.get("vehicleType") != null && jsonData.get("vehicleType").asText == "bike") {
	     	<!-- I know my number make model fuel -->
			@make_model_fuel_variant("makModelFuelVariantForKnowMyNoFrmId","#", "js__know__my__No__Class","getQuoteConfirm" , jsonData ,"Based on your bike number, is this your bike?", true, enquiryAttributeMap,"know_cng","js__iknowCarMake","jsSelect__iknowCarMake","js__iknowCarFuel","js__iknowCarVariant","js__iknowMy__carNo", "bike", false)
	
	        <!-- I dont know my number registrationBox -->
			@make_model_fuel_variant("makModelFuelVariantForDontKnowMyNoFrmId","#", "js__dont__know__my__No__Class","setCarDetailsInTextField" , jsonData ,"Which bike do you drive?", false, enquiryAttributeMap, "dontknow_cng","js__idnknowCarMake","jsSelect__idnknowCarMake","js__idnknowCarFuel","js__idnknowCarVariant","js__iDontknowMy__carNo", "bike", false)
	        
	        <!-- Im buying new bike  -->
			@make_model_fuel_variant("makModelFuelVariantForNewBike","#", "js__buy__new__car__Class","setCarDetailsInTextField" , jsonData ,"Which bike do you want to buy?", false, enquiryAttributeMap, "newcar_cng","js__idnknowCarMake","jsSelect__idnknowCarMake","js__idnknowCarFuel","js__idnknowCarVariant","js__buyNewCar", "bike", false)
			
	        <!-- registrationBox -->
	 
	        <!-- Car Registration Location -->
			@rto_model_box(formId="rtoModelFrm",jsFuncNameToBeCalled="setRtoDetails", title="Where was your car registered?", enquiryAttributeMap=enquiryAttributeMap, rtoData=rtoData, classTypeForSession="js__iDontknowMy__carNo", proputils=proputils)
	        <!-- Car Registration Location(new car) -->
			@rto_model_box(formId="rtoModelFrmNew",jsFuncNameToBeCalled="setRtoDetails", title="Which will be your car registration RTO?", enquiryAttributeMap=enquiryAttributeMap, rtoData=rtoData, classTypeForSession="js__buyNewCar", proputils=proputils)
	        <!--Login section start-->
	        
	        <!--Login section end-->
	        <!-- No Claim drop start -->
	        @ncb_model(jsFuncNameToBeCalled = "ncbSelected", enquiryAttributeMap=enquiryAttributeMap,proputils=proputils, vehicleType="bike")
			<!-- No Claim drop ends -->
		}
    }@footerJS = {
     <script type="application/ld+json">
{
  "@@context" : "http://schema.org",
  "@@type" : "Product",
  "name" : "@site_name",
  "image" : "@image_url/logo-min.png",
  "description" : "@description",
  "url" : "@site_url",
  "brand" : {
    "@@type" : "Brand",
    "name" : "Imright",
    "logo" : "@image_url/logo-min.png"
  },
 "sameAs" : [
		"https://in.linkedin.com/company/imright-com"
	  ]
}
</script>
    <!--Common-->
    <script>
    var errorMsg={};
    var className='';
	var activeCarClass='js__know__my__No__Class';
	var changeTitleForIknowCarForNotAvailableData='@proputils.get("iknow.car.title.for.not.available")';
	var changeTitleForIknowCarConfirm='@proputils.get("iknow.car.model.confirm")';
	var isCar=false;
    @if(JsonUtils.isValidField(jsonData,"vehicleType")
   		 &&  jsonData.get("vehicleType").asText().equals("car")){
   	 isCar=true;
    }
	
    @if(enquiryAttributeMap.containsKey("className") && enquiryAttributeMap.get("className")!=null){
   	 var dat='@enquiryAttributeMap.get("className").toString()';
   	 if(dat!="" && dat.length>0){
   		 className=dat;
   		if(dat=='js__iknowMy__carNo'){
    		activeCarClass='js__know__my__No__Class';
    	}else if(dat=='js__iDontknowMy__carNo'){
    		activeCarClass='js__dont__know__my__No__Class';
    	}else{
    		activeCarClass='js__buy__new__car__Class';
    	}
   	 }
   	 
   }
    
        $(document).ready(function() {
        	
//             $('.js__subMenuLink').on('click', function() {
//                 $('.mainHeader__subMenuBox').toggleClass('mainHeader__subMenuBox--active');
//             });
//             $('.js__mainHeader__notificationLink').on('click', function() {
//                 $('.mainHeader__notification').toggleClass('mainHeader__notification--active');
//             });
            @if(Error != null){
        		@for(errorMsg<-Error.elements()){
        			var key="@errorMsg.asText";
        			errorMsg[key]="@proputils.get(errorMsg.asText)";
        		}
        	}
        });
        
    </script>
    <script src="@js_url/site/procurement/motor/motor_make_model.js@version"></script>
	<script src="@js_url/site/procurement/motor/motor_insure.js@version"></script>
	<script src="@js_url/site/procurement/motor/motor_insurance.js@version"></script>
	<script src="@js_url/site/procurement/motor/motor_common.js@version"></script>
    
}
