@(formId : String ="", formAction : String ="#", policyStatus : String = "", claimStatus : String, policyStatusClass : String,  claimStatusClass : String, enquiryAttributeMap : Map[String, String], sessionClass : String)

@import com.arka.common.utils.JsonUtils

@sessionSetter(variant : String,types :String)={
	@if(!types.equals("arr") && sessionSetterWithClassName("className","out").toString().trim().equals(sessionClass)){
		@sessionSetterWithClassName(variant,types)
	}else{
		@if(types.equals("arr") && sessionSetterWithClassName("className","out").toString().trim().equals(sessionClass)){
			@sessionSetterWithClassName(variant,types)
		}
	}
}

@sessionSetterWithClassName(variant : String,types :String)={
	@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null&&types!="arr"){@enquiryAttributeMap.get(variant)}else{@if(enquiryAttributeMap.containsKey("CarMakeModel")&& enquiryAttributeMap.get("CarMakeModel")!=null &&types=="arr"){@if(JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).has(variant)){@JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).get(variant).get(0).asText().trim()}}}
}


								<div class="policyBlock__detailBoxInner js__policyClaim__mainDiv">
                                        <label class="policyBlock__myCarLabel">existing policy</label>
                                        <div class="policyBlock__exiRadioBox js__expiredMainDiv">
								<div class="row">
									<div class="col-md-6" style="padding-bottom:10px">
                                            <div class="policyBlock__exiRadioBlock">
                                                <input type="radio" data-radiotype="not_expired" value='not_expired' @if(sessionSetter("AC-PREVPOLICYSTATUS","out").toString().trim().equals("not_expired")){checked="checked"} data-expiredbefore90days='false' data-previouspolicyexpired='not_expired' class="policyBlock__exiRadioBtn @policyStatusClass" id="@formId-8" name="@policyStatus">
                                                <label for="@formId-8" class="policyBlock__exiRadioLabel">Not Expired</label>
                                            </div>
                                            <div class="policyBlock__exiRadioBlock js__expiredShow">
                                                <input type="radio" class="policyBlock__exiRadioBtn @policyStatusClass" id="@formId-81" data-radiotype="expired" @if(sessionSetter("AC-PREVPOLICYSTATUS","out").toString().trim().equals("expired")){checked="checked"} name="@policyStatus">
                                                <label for="@formId-81" class="policyBlock__exiRadioLabel">Expired</label>
                                            </div>
                                            <span class="error @{policyStatusClass}MainError js__myNumber__policyError policyStatusError"></span>
									</div>
									<div class="col-md-6">
										<div class="policyBlock__exiRadioBox js__expiredDiv__class"
                                         @if(sessionSetter("AC-PREVPOLICYSTATUS","out").toString().trim().equals("expired")){}else{style="display: none;"}
                                         >
                                            <div class="policyBlock__exiRadioBlock">
                                                <input type="radio" value='expiredless' @if((sessionSetter("AC-PREVPOLICYSTATUS","out").toString().trim()).equals("expired") && (sessionSetter("AC-COVER-POLICY_EXPIRED_BEFORE_90_DAYS","out").toString().trim()).equals("false")){checked="checked"} data-expiredbefore90days='false' data-previouspolicyexpired='expired' class="policyBlock__exiRadioBtn @{policyStatusClass}exp" id="@formId-9" name="@{policyStatus}exp">
                                                <label for="@formId-9" class="policyBlock__exiRadioLabel">Expired < 90</label>
                                            </div>
                                            <div class="policyBlock__exiRadioBlock js__expiredgt90">
                                                <input type="radio" value='expiredmore' @if((sessionSetter("AC-PREVPOLICYSTATUS","out").toString().trim()).equals("expired") && (sessionSetter("AC-COVER-POLICY_EXPIRED_BEFORE_90_DAYS","out").toString().trim()).equals("true")){checked="checked"} data-expiredbefore90days='true' data-previouspolicyexpired='expired' class="policyBlock__exiRadioBtn @{policyStatusClass}exp" id="@formId-91" name="@{policyStatus}exp">
                                                <label for="@formId-91" class="policyBlock__exiRadioLabel">Expired > 90</label>
                                            </div>
                                            <span class="error @{policyStatusClass}Error expireyLevel js__myNumber__policyError"></span>
                                        </div>
									</div>
                                         
                                       
								</div>
									   <div class="policyBlock__exiRadioBox js__claimStatusDiv" @if((sessionSetter("AC-PREVPOLICYSTATUS","out").toString().trim().equals("expired") && sessionSetter("AC-COVER-POLICY_EXPIRED_BEFORE_90_DAYS","out").toString().trim().equals("true")) || sessionSetter("AC-PREVPOLICYSTATUS","out").toString().trim().equals("")){style="display:none;"}>
                                            <div class="policyBlock__exiRadioBlock">
                                                <input type="radio" @if((sessionSetter("AC-CLAIMED","out").toString().trim()).equals("false")){checked="checked"} data-sessionval="false" value="no" class="policyBlock__exiRadioBtn @claimStatusClass js__claim__input" id="@formId-10" name="@claimStatus">
                                                <label for="@formId-10"  class="policyBlock__exiRadioLabel js__claimedStatus">Not Claimed</label>
                                            </div>
                                            <div class="policyBlock__exiRadioBlock js__claimedSet">
                                                <input type="radio" @if((sessionSetter("AC-CLAIMED","out").toString().trim()).equals("true")){checked="checked"} data-sessionval="true" value="yes" class="policyBlock__exiRadioBtn @claimStatusClass js__claim__input" id="@formId-11" name="@claimStatus">
                                                <label for="@formId-11" class="policyBlock__exiRadioLabel js__claimedStatus">Claimed</label>
                                            </div>
                                            <span class="error @{claimStatusClass}Error claimError js__myNumber__policyError"></span>
                                        </div>
                                    </div>
								</div>
                                    
                                    
