@(formId : String ="", formAction : String ="#", formClass : String = "", jsFuncNameToBeCalled : String, enquiryAttributeMap : Map[String, String] ,proputils : com.arka.common.utils.PropUtils, vehicleType : String)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import com.arka.common.utils.JsonUtils
@sessionSetterForScript(variant : String)={@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null){@enquiryAttributeMap.get(variant)}else{""}}
@sessionSetter(variant : String,types : String)={@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null && types!="arr"){@enquiryAttributeMap.get(variant).toUpperCase()}else{@if(enquiryAttributeMap.containsKey("CarMakeModel") && enquiryAttributeMap.get("CarMakeModel")!=null && types=="arr"){@if(JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).has(variant)){@JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).get(variant).get(0).asText()}}}}

<script>
	var ncbPercent=@Html(sessionSetterForScript("AC-NCB_PERCENT").toString());
</script>
<script src="@js_url/site/procurement/motor/ncb_model.js@version"></script>

 <!-- No Claim drop start -->
        <section class="checkoutModal">
            <div class="checkoutContainer__outer">
                <div class="checkoutContainer">
                    <div class="checkoutContainer__inner">
                        <a class="js__checkoutContainer__close checkoutContainer__close spriteNew" href="javascript:;" title="Close"></a>
                        <div class="checkoutContainer__tabOuterBox">
                            <div class="checkoutContainer__tabTitle">
                                <h2 class="checkoutContainer__tabTitleText">NO CLAIM BONUS</h2>
                            </div>
                            <form class="checkoutContainer__detailsForm" action="javascript:;" method="post">
                            	<input type="hidden" name="vehicleType" value="@vehicleType"/>
                            	<div class="checkoutContainer__policyExpire js__ncbDisplayClass">
                                    <h4>NCB protector Add-on available in the current policy?</h4>
                                    <div class="buyPlanRadio__box">
                                        <div class="buyPlanRadio__check">
                                            <input type="radio" name="ncbClaim" value="Yes" data-name="ncb-claim" data-wanted="true"
                                             id="accept" class="buyPlanRadio__input js_ncbClaim__Yes">
                                            <label for="accept" class="buyPlanRadio__label js__noClaim__label js__claim__yes">Yes</label>
                                        </div>
                                    	<div class="buyPlanRadio__check">
                                            <input type="radio" name="ncbClaim" data-name="ncb-claim" value="No" data-wanted="false"
                                            id="reject" class="buyPlanRadio__input js_ncbClaim">
                                            <label for="reject" class="buyPlanRadio__label js__noClaim__label js__claim__no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <span class='error js__ncbAddOn__available'></span>
                            	 <div class="checkoutContainer__policyExpire js__ownership__DisplayClass" style="display:none;">
                                    <h4>Vehicle Ownership Changed in Last 12 months?</h4>
                                    <div class="buyPlanRadio__box">
                                    	<div class="buyPlanRadio__check">
                                            <input type="radio" name="ownershipChanged" data-name="ownership-changed" value="No" data-wanted="false"
                                            id="ownership_not_changed" class="buyPlanRadio__input">
                                            <label for="ownership_not_changed" class="buyPlanRadio__label js__ownership__label js__ownership__no">No</label>
                                        </div>
                                        <div class="buyPlanRadio__check">
                                            <input type="radio" name="ownershipChanged" value="Yes" data-name="ownership-changed" data-wanted="true"
                                            id="ownership_changed" class="buyPlanRadio__input">
                                            <label for="ownership_changed" class="buyPlanRadio__label js__ownership__label js_ownership__yes">Yes</label>
                                        </div>
                                    </div>
                                </div>
                                <span class='error js__ownerShipError'></span>
                                <div class="checkoutContainer__noClaim ncb js__ncbDropdown__div" style="display:none;">
                                    <h4>Previous No Claim Bonus (NCB)<sup>*</sup></h4>
                                    <div class="checkoutContainer__tabInnerBox js__checkoutContainer__tabInnerBox">
                                       <input type="hidden" name="ncb" id="ncb" value="">
										<select class="checkoutContainer__select selectPicker js__ncb__percent sele_ncb">
											<option value='0' @if(sessionSetter("AC-NCB_PERCENT","out").toString().trim().equals("0")){selected="selected"}>0%</option>
											<option value='20' @if(sessionSetter("AC-NCB_PERCENT","out").toString().trim().equals("20")){selected="selected"}>20%</option>
											<option value='25' @if((sessionSetter("AC-NCB_PERCENT","out").toString().trim()).equals("25")){selected="selected"}>25%</option>
											<option value='35' @if((sessionSetter("AC-NCB_PERCENT","out").toString().trim()).equals("35")){selected="selected"}>35%</option>
											<option value='45' @if((sessionSetter("AC-NCB_PERCENT","out").toString().trim()).equals("45")){selected="selected"}>45%</option>
											<option value='50' @if((sessionSetter("AC-NCB_PERCENT","out").toString().trim()).equals("50")){selected="selected"}>50%</option>
										</select>
                                    </div>
									<div class="checkoutContainer__noClaimInfo">
										<h4>What is NCB?</h4>
										<p>No claim bonus (NCB) is the discount you get for every claim free year. Please check the accurate value in your previous policy, to get right discount and to avoid claim rejection.</p>
									</div>
								</div>
                                
                                <div class="checkoutContainer__acknowledge">
                                    <a href="javascript:;" class="checkoutContainer__acknowledgeBtn js__ncbBtn"  onclick="@{jsFuncNameToBeCalled}(this.form)" title="Submit">SUBMIT</a>
                                </div>
                                <div class="checkoutContainer__acknowledgeImp">
                                    <p><sup>*</sup>Inaccurate information may lead to cancellation of benefits.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- No Claim drop end -->