@(formId : String ="", formAction : String ="#", formClass : String = "", jsFuncNameToBeCalled : String,
	title : String,enquiryAttributeMap : Map[String, String], rtoData : com.fasterxml.jackson.databind.node.ArrayNode, classTypeForSession:String, proputils : com.arka.common.utils.PropUtils)

@import com.arka.common.utils.JsonUtils
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")


@sessionSetter(variant : String,types :String)={
	@if(!types.equals("arr") && sessionSetterWithClassName("className","out").toString().trim().equals(classTypeForSession)){
		@sessionSetterWithClassName(variant,types)
	}else{
		@if(types.equals("arr") && sessionSetterWithClassName("className","out").toString().trim().equals(classTypeForSession)){
			@sessionSetterWithClassName(variant,types)
		}
	}
}

@sessionSetterWithClassName(variant : String,types :String)={
	@if(enquiryAttributeMap.containsKey(variant) && enquiryAttributeMap.get(variant)!=null&&types!="arr"){@enquiryAttributeMap.get(variant)}else{@if(enquiryAttributeMap.containsKey("CarMakeModel")&& enquiryAttributeMap.get("CarMakeModel")!=null &&types=="arr"){@if(JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).has(variant)){@JsonUtils.toJson(enquiryAttributeMap.get("CarMakeModel")).get(variant).get(0).asText().trim()}}}
}



<link rel="stylesheet" href="@css_url/site/procurement/car/rto_model_box.css@version">


<section class="carModal js__rtoModel carModal__carRegistration" id="@formId">
            <div class="carModal__outer">
                <div class="carModal__inner js__rtoModel__Inner">
                    <div class="carKnowBox js__carKnowBox--third">
                        <div class="carKnowHead carDoKnowHead">
                            <p class="carDoKnowHead__title sel_text_forRegPopUp">@title</p>
                            <a href="javascript:;" title="Close" class="carModal__close js__carModal__close"></a>
                        </div>
                        <div class="carKnowBody carRegistrationArea">
                            <ul class="carKnowBody__nav">
                                <li class="carKnowBody__list carKnowBody__list--active js__rtoDisplayList" data-listno="1">
                                    <div class="carKnowBody__navBox">
                                        <span class="carKnowBody__text">select your city</span>
                                        <p class="carKnowBody__value js__regCity" data-rtocity='@if(!sessionSetter("rto_city","out").toString().trim().equals("")){@sessionSetter("rto_city","out").toString().trim()}'>@if(!sessionSetter("rto_city","out").toString().trim().equals("")){@sessionSetter("rto_city","out").toString().trim()}</p>
                                        <a href="javascript:;" class='carKnowBody__valueEdit js__carModalLink js__rtoModelBox js__rtoCityAlink' data-alink="1">Edit</a>
                                    </div>
                                    <div class="carKnowBody__box carKnowBody__box--active">
                                        <div class="carKnowBody__box carRegisterBody__box carKnowBody__box--active">
                                            <p class="carSearch__line">Search for your city or choose from a list of popular cities</p>
                                            <p class="carSearch__line carSearch__popularCities">Popular Cities</p>
                                        </div>
                                        <div class="carSelect">
                                            <!-- <p class="carSelect__text">popular cars</p> -->
                                            <ul class="carSelect__box carSelect__boxTopAdjust">
                                                <li class='carSelect__list js__locationRegister__filterValue'>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("Chennai")){carSelect__value--active}'><span class="" data-rtocity='Chennai'>Chennai</span></p>
                                                </li>
                                                <li class='carSelect__list js__locationRegister__filterValue '>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("Bangalore Kengeri")){carSelect__value--active}'><span class="" data-rtocity='Bangalore Kengeri'>Bangalore Kengeri</span></p>
                                                </li>
                                                <li class='carSelect__list js__locationRegister__filterValue'>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("Hyderabad")){carSelect__value--active}'><span class="" data-rtocity='Hyderabad'>Hyderabad</span></p>
                                                </li>
                                                <li class='carSelect__list js__locationRegister__filterValue'>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("West Delhi")){carSelect__value--active}'><span class="" data-rtocity='West Delhi'>West Delhi</span></p>
                                                </li>
                                                <li class='carSelect__list js__locationRegister__filterValue'>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("Pune")){carSelect__value--active}'><span class="" data-rtocity='Pune'>Pune</span></p>
                                                </li>
                                                <li class='carSelect__list js__locationRegister__filterValue'>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("Kolkata")){carSelect__value--active}'><span class="" data-rtocity='Kolkata'>Kolkata</span></p>
                                                </li>
                                                <li class='carSelect__list js__locationRegister__filterValue'>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("Ahmedabad")){carSelect__value--active}'><span class="" data-rtocity='Ahmedabad'>Ahmedabad</span></p>
                                                </li>
                                                <li class='carSelect__list js__locationRegister__filterValue'>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("Gurgaon")){carSelect__value--active}'><span class="" data-rtocity='Gurgaon'>Gurgaon</span></p>
                                                </li>
                                                <li class='carSelect__list js__locationRegister__filterValue'>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("Faridabad")){carSelect__value--active}'><span class="" data-rtocity='Faridabad'>Faridabad</span></p>
                                                </li>
                                                <li class='carSelect__list js__locationRegister__filterValue'>
                                                    <p class='carSelect__value @if(sessionSetter("rto_city","out").toString().trim().equals("Thane Mumbai")){carSelect__value--active}'><span class="" data-rtocity='Thane Mumbai'>Thane Mumbai</span></p>
                                                </li>
                                            </ul>
                                            <div class="carSearch carSearch__modified">
                                                <select class="selectPicker carSearch__select js__locationRegister__clear js__locationRegister__searchPicker height-auto" data-live-search="true">
                                            		@if(sessionSetter("rto_city","out").toString().trim().length()>0){
																<option selected>@sessionSetter("rto_city","out")</option>
													}else{
															<option selected disabled>Search for your city</option>
													}
													@if(rtoData.size()>0){
														@for(rto <- rtoData.elements()){
																@if(!sessionSetter("rto_city","out").toString().trim().equals(rto.get("city").asText())){
																	<option>@rto.get("city").asText()</option>
																	}
														}
													}
																				
												</select>
                                            </div>
                                           @* <a href="javascript:;" class="carSelect__btn" title="Confirm">CONFIRM</a>*@
                                        </div>
                                    </div>
                                </li>
                                <li class="carKnowBody__list js__rtoDisplayList" data-listno="2">
                                    <div class='carKnowBody__navBox @if(sessionSetter("rto_code","out").toString().trim().equals("")){no-cursorhome}'>
                                        <span class="carKnowBody__text">select RTO</span>
                                        <p class="carKnowBody__value js__rtoCode" data-rtocode="@if(!sessionSetter("rto_code","out").toString().trim().equals("")){@sessionSetter("rto_code","out").toString().trim()}">@if(!sessionSetter("rto_code","out").toString().trim().equals("")){@sessionSetter("rto_code","out").toString().trim()}</p>
                                        <a href="javascript:;" class='carKnowBody__valueEdit js__carModalLink js__rtoModelBox @if(sessionSetter("rto_code","out").toString().trim().equals("")){no-eventshome}' data-alink="2">Edit</a>
                                    </div>
                                    <div class="carKnowBody__box fuelBox">
                                        <ul class="carSelect__box modelBox js__rtoCodeList">
                                            
                                        </ul>
                                        <span class="error js__rtoCodeError js__rtoError rtoConfirmError"></span>
                                        <a href="javascript:;" class="carSelect__btn rtoConfirm" onclick="@{jsFuncNameToBeCalled}(this)" title="Confirm">CONFIRM</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>