@(formClass : String ="",  title : String = "", viewName :String = "",jsonObj : com.fasterxml.jackson.databind.JsonNode,cookieMap:Map[String, String]) 

 <!-- No Claim drop end -->
		<section class="healthModal @formClass">
            <div class="healthModal__outer">
                <div class="healthModal__inner">
                	<div class="healthModal__head">
                        <h2 class="healthModal__headTitle">@title</h2>
                        <a href="javascript:;" title="Close" class="healthModal__close js__healthModal__close"></a>
                    </div>
                    <div class="healthModal__body">
                    	@if(viewName.equals("my_family_details")){
                            	@my_family_details(jsonObj,cookieMap)
                         }
                         @if(viewName.equals("pincode")){
                         	@pincode(cookieMap)
                         }
                         @if(viewName.equals("pre_existing_illness")){
                         	@pre_existing_illness(jsonObj,cookieMap)
                         }
                    </div>
                </div>
            </div>
        </section>
    <!--Template End-->


<!--Modal Drop End-->
