@(quoteReqJson : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import play.libs.Json;
@import com.arka.common.utils.JsonUtils
@import com.arka.consumerportal.procurementweb.controllers.HealthController;
@csses ={
<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
<link rel="stylesheet" href="@css_url/site/procurement/health/health_quotes.css@version">
}
@footerJS = {
<script>
	var imageBaseUrl = "@image_url";
	var quoteReqJson = {};
	var productJson = [];
	var selectedProducts=[];
	var socket;
	var filterRecordArray=[];
	var sessionFilter=[];
	var filterRecordArraySession=[];
	var properProductCountFromHome=0;
	var enquiry_id;
	var productLength=0;
	var selectedProduct;
	var oldproposal_id;
	var product_code;
	var quotesLoading = true;
	@if(JsonUtils.isValidField(quoteReqJson,"selectedProduct")){
		selectedProduct='@quoteReqJson.get("selectedProduct").asText()';
	}
	@if(JsonUtils.isValidField(quoteReqJson,"oldproposal_id")){
		oldproposal_id='@quoteReqJson.get("oldproposal_id").asText()';
	}
	@if(JsonUtils.isValidField(quoteReqJson,"product_code")){
		product_code='@quoteReqJson.get("product_code").asText()';
	}
	
	
	
	/* var wsUrl = "@com.arka.consumerportal.procurementweb.controllers.routes.QuoteController.socket().webSocketURL(request)"; 
	var ws = new WebSocket(wsUrl); */
	var updateEnqueryUrl = "@com.arka.consumerportal.procurementweb.controllers.routes.HealthController.updateHealthEnquiry()"
	var enqueryExludeIncludeAttrUrl = "@com.arka.consumerportal.procurementweb.controllers.routes.HealthController.enquiryExcludeIncludeAttr()"
	var byePlanUrl = "/health-insurance/buyplan/"
	@if(quoteReqJson != null && quoteReqJson.hasNonNull("products")){
	    quoteReqJson = @Html(quoteReqJson.get("products").toString());
	    enquiry_id = quoteReqJson.enquiryId;
	    productLength=quoteReqJson.items.length;
	}
	@if(quoteReqJson.hasNonNull("cookies")&& quoteReqJson.get("cookies").hasNonNull("diseases")){
		localStorage.diseases=@Html(quoteReqJson.get("cookies").get("diseases").toString());
	}
</script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
<script src="@plugins_url/widgets/sweetalert/sweetalert.min.js@version"></script>
<script src="@js_url/socket.io/socket.io.js@version"></script>
<script type="text/javascript" src="@js_url/site/procurement/filter_menu_toggle.js"></script>
<script type="text/javascript" src="@js_url/site/procurement/health/quotes_deatails_attribute_label.js"></script>
<script type="text/javascript" src="@js_url/site/procurement/health/quotes_attr_val.js"></script>
<script type="text/javascript" src="@js_url/site/procurement/health/health_quotes.js"></script>
<script type="text/javascript" src="@js_url/site/procurement/health/health_quotes_template.js"></script>
<script type="text/javascript" src="@js_url/site/procurement/health/health_filter.js"></script>
<script type="text/javascript" src="@js_url/site/procurement/health/health_responsive.js"></script>
<script type="text/javascript" src="@js_url/site/procurement/health/health_quotes_sort.js"></script>


<script>
/* 
$("#quotes").on("click",".know-more-link",function(){
	$(this).closest(".policy-div").find(".know-more-content-div").toggle();
}); */

</script>
<script type="text/javascript">
<!-- Angular -->
/* 
var app = angular.module('ng-quotes', []);
app.controller('controller-qoutes', function($scope) {
    $scope.qoutes =[]
}); */
</script>

}
@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | Health Insurance",proputils, footerJS=footerJS,csses=csses) {
		<!-- Filter Information Start -->
		<section class="information__section healthInformation__section">
            <div class="information__sectionAccord" data-infoappend="mobileclick">
                <h3 class="information__sectionLink">Additional Covers</h3>
            </div>
        </section>
        <!-- Filter Information End -->
        <!--Filter section start-->
        <section class="filterPlans js__healthFilterAppend">
            <div class="container">
                <div class="row filterPlanOverall">
                    <div class="col-sm-3 dataFacility__Box healthFacility__Box" data-information="mobiledrop">
                        <div class="dataFacility__outer healthDataFacility__outer">
                            <div class="dataFacility">
                                
                                <div class="dataFacility__box healthDataFacility__box">
                                
                                    <div class="dataBox__head">
                                    	<a href="@com.arka.consumerportal.procurementweb.controllers.routes.HealthController.health()" class="dataBox__edit">Back</a>
                                        <p class="dataBox__subTitle"> Sum Assured </p>
                                    </div>
                                	<div class="dataFacility__labelBox">
                                	<div class="healthSum">
                                		<span class="rs">rs </span><select class="selectPicker healthSum__select" data-size="4" name="medicalCover" id="medicalCoverFilter">
											@if(JsonUtils.isValidField(quoteReqJson,"cookies") && JsonUtils.isValidField(quoteReqJson.get("cookies"),"sumAssured")){
												
												@if(quoteReqJson!=null && quoteReqJson.hasNonNull("sumAssuredList")){
													@for((amnt) <- quoteReqJson.get("sumAssuredList").fields()){
														<option value="@amnt.getKey()" @if(quoteReqJson.get("cookies").get("sumAssured").asText().equals(amnt.getKey())){selected="selected"} >@amnt.getValue().asText()</option>
													}
												}
												
											}else{
												
												@if(quoteReqJson!=null && quoteReqJson.hasNonNull("sumAssuredList")){
													@for((amnt) <- quoteReqJson.get("sumAssuredList").fields()){
														<option value="@amnt.getKey()" @if("500000".equals(amnt.getKey())){selected="selected"} >@amnt.getValue().asText()</option>
													}
												}
												
											}	
										</select>	
                                	</div>
                                       
									</div>
                                    
                                    <div class="dataBox__head">
                                        <p class="dataBox__subTitle">Policy covered for</p>
                                    </div>
                                    
                                        @if(JsonUtils.isValidField(quoteReqJson,"cookies")&& JsonUtils.isValidField(quoteReqJson.get("cookies"),"selfDisplay")){
                                      	<div class="dataFacility__labelBox">
                                        	<input type="checkbox" name="selfFilter" id="self_filter" class="dataFacility__innerCheck adult-filter-js" 
                                        	@if(JsonUtils.isValidField(quoteReqJson.get("cookies"),"selfExcluded") && !quoteReqJson.get("cookies").get("selfExcluded").asBoolean() ){
                                        	checked
                                        	}>
                                        	<label class="dataFacility__innerLabel" for="self_filter">You (@quoteReqJson.get("cookies").get("selfAge").asText())</label>
                                    	</div>
                                    	}
                                     	@if(JsonUtils.isValidField(quoteReqJson,"cookies") && JsonUtils.isValidField(quoteReqJson.get("cookies"),"spouseDisplay")){
                                      	<div class="dataFacility__labelBox">
                                        	<input type="checkbox" name="spouseFilter" id="spouse_filter" class="dataFacility__innerCheck adult-filter-js" 
												@if(JsonUtils.isValidField(quoteReqJson.get("cookies"),"spouseExcluded") && !quoteReqJson.get("cookies").get("spouseExcluded").asBoolean()){
	                                        		checked
	                                        	}>
                                        	<label class="dataFacility__innerLabel" for="spouse_filter">Spouse (@quoteReqJson.get("cookies").get("spouseAge").asText())</label>
                                        </div>
                                       }
                                      
                                        
                                      @if(JsonUtils.isValidField(quoteReqJson,"cookies") && JsonUtils.isValidField(quoteReqJson.get("cookies"),"sondisplay") 
                                      && Json.parse(quoteReqJson.get("cookies").get("sondisplay").asText()).size()>0){ 
										@for((position,position_index)<- Json.parse(quoteReqJson.get("cookies").get("sondisplay").asText()).elements().zipWithIndex){
                                       	<div class="dataFacility__labelBox">
                                       	<input type="checkbox" name="childrenFilter" value="son_@{position.asInt()}" id="son_filter@{position.asInt()}" class="dataFacility__innerCheck sonFilter"
                                       		@if(JsonUtils.isValidField(quoteReqJson.get("cookies"),"sonAge") &&  
                                       		Json.parse(quoteReqJson.get("cookies").get("sonAge").asText()).hasNonNull("sonAge")
                                       		 && Json.parse(quoteReqJson.get("cookies").get("sonAge").asText()).get("sonAge").size()>0){
                                       			@for((age_include,age_include_index)<- Json.parse(quoteReqJson.get("cookies").get("sonAge").asText()).get("sonAge").elements().zipWithIndex){
                                       				@if(age_include.get("childPosition").asInt() == position.asInt()){
                                       					@if(!age_include.get("excluded").asBoolean()){
                                       						checked 
                                       					}
                                       				}
                                       			}
                                       		}
                                        	>
                                        	<label class="dataFacility__innerLabel" for="son_filter@{position.asInt()}">
		                                       	@if(JsonUtils.isValidField(quoteReqJson.get("cookies"),"sonAge") &&  
                                       		Json.parse(quoteReqJson.get("cookies").get("sonAge").asText()).hasNonNull("sonAge")
                                       		 && Json.parse(quoteReqJson.get("cookies").get("sonAge").asText()).get("sonAge").size()>0){
                                       			@for((age_include,age_include_index)<- Json.parse(quoteReqJson.get("cookies").get("sonAge").asText()).get("sonAge").elements().zipWithIndex){
                                       				@if(age_include.get("childPosition").asInt() == position.asInt()){
                                       					Son (@age_include.get("age").asText())
                                       				}
                                       			}
                                       		}
											</label>
	                                    </div>
                                       }
                                       }
                                      
                                      
                                      
										@if(JsonUtils.isValidField(quoteReqJson,"cookies") && JsonUtils.isValidField(quoteReqJson.get("cookies"),"daughterdisplay") 
                                      && Json.parse(quoteReqJson.get("cookies").get("daughterdisplay").asText()).size()>0){ 
                                      
										@for((position,position_index)<- Json.parse(quoteReqJson.get("cookies").get("daughterdisplay").asText()).elements().zipWithIndex){
										
										
                                       	<div class="dataFacility__labelBox">
                                        	<input type="checkbox" name="childrenFilter" value="daughter_@{position.asInt()}" id="daughter_filter@{position.asInt()}" class="dataFacility__innerCheck daughterFilter" 
                                        	 
                                       		 @if(JsonUtils.isValidField(quoteReqJson.get("cookies"),"daughterAge") &&  
                                       		Json.parse(quoteReqJson.get("cookies").get("daughterAge").asText()).hasNonNull("daughterAge")
                                       		 && Json.parse(quoteReqJson.get("cookies").get("daughterAge").asText()).get("daughterAge").size()>0){
                                       		 
                                       		 
                                       			@for((age_include,age_include_index)<- Json.parse(quoteReqJson.get("cookies").get("daughterAge").asText()).get("daughterAge").elements().zipWithIndex){
                                       				@if(age_include.get("childPosition").asInt() == position.asInt()){
                                       					@if(!age_include.get("excluded").asBoolean()){
                                       						checked 
                                       					}
                                       				}
                                       			}
                                       		}
                                        	
                                        	 >
                                        	<label class="dataFacility__innerLabel" for="daughter_filter@{position.asInt()}">
                                        	@if(JsonUtils.isValidField(quoteReqJson.get("cookies"),"daughterAge") &&  
                                       		Json.parse(quoteReqJson.get("cookies").get("daughterAge").asText()).hasNonNull("daughterAge")
                                       		 && Json.parse(quoteReqJson.get("cookies").get("daughterAge").asText()).get("daughterAge").size()>0){
                                       		 
                                       			@for((age_include,age_include_index)<- Json.parse(quoteReqJson.get("cookies").get("daughterAge").asText()).get("daughterAge").elements().zipWithIndex){
                                       				@if(age_include.get("childPosition").asInt() == position.asInt()){
                                       					Daughter (@age_include.get("age").asText())
                                       				}
                                       			}
                                       		}
                                        	
                                        	</label>
	                                    </div>
                                       }
                                       }
                                       
                                       
                                       @if(JsonUtils.isValidField(quoteReqJson,"cookies") && JsonUtils.isValidField(quoteReqJson.get("cookies"),"fatherDisplay")
										&&  JsonUtils.isValidField(quoteReqJson.get("cookies"),"includeParents") ){
										
                                       	<div class="dataFacility__labelBox">
                                        	<input type="checkbox" name="parentFilter" value="@quoteReqJson.get("cookies").get("fatherAge").asText()" id="father_filter" class="dataFacility__innerCheck adult-filter-js"  
												@if(JsonUtils.isValidField(quoteReqJson.get("cookies"),"fatherExcluded") && 
												!quoteReqJson.get("cookies").get("fatherExcluded").asBoolean()){
	                                        		checked
	                                        	}> 
                                        	<label class="dataFacility__innerLabel " for="father_filter">Father (@quoteReqJson.get("cookies").get("fatherAge").asText())</label>
	                                    </div>
                                       }
                                       
                                       @if(JsonUtils.isValidField(quoteReqJson,"cookies") && JsonUtils.isValidField(quoteReqJson.get("cookies"),"motherDisplay")
										&&  JsonUtils.isValidField(quoteReqJson.get("cookies"),"includeParents") ){
                                       	<div class="dataFacility__labelBox">
                                        	<input type="checkbox" name="parentFilter" value="@quoteReqJson.get("cookies").get("motherAge").asText()" id="mother_filter" class="dataFacility__innerCheck adult-filter-js"   
												@if(JsonUtils.isValidField(quoteReqJson.get("cookies"),"motherExcluded") && 
												!quoteReqJson.get("cookies").get("motherExcluded").asBoolean()){
	                                        		checked
	                                        	}> 
                                        	<label class="dataFacility__innerLabel" for="mother_filter">Mother (@quoteReqJson.get("cookies").get("motherAge").asText())</label>
	                                    </div>
                                       }
                                      
                                      <div class="dataFacility__labelBox">
                                        <button class="healthFilter__refetchBtn" onclick="updateMembers()">Refetch</button>
                                    </div>
                                    </div>
                                    <div class="dataFacility__box healthDataFacility__box">  
                                    <div class="dataBox__head">
                                        <p class="dataBox__subTitle">Room Rent Limit</p>
                                        <a href="javascript:;" onclick = "clearRadioFilter('hasRoomLimit','rent-limit-hide')" class="dataBox__edit healthDataBox__edit">Clear</a>
                                    </div>
                                    <div class="dataFacility__labelBox">
                                    	<input type="checkbox" name="hasRoomLimit" value="no_limit" id="hasRoomLimit_no" class="dataFacility__innerCheck">
                                        <label class="dataFacility__innerLabel hoverTool" for="hasRoomLimit_no" >No Limit</label>
                                        @if(JsonUtils.isValidField(quoteReqJson,"quotesRestictions") && JsonUtils.isValidField(quoteReqJson.get("quotesRestictions"),"AH-ROOM_RENT_NO_LIMIT_LABEL") 
                                        && JsonUtils.isValidField(quoteReqJson.get("quotesRestictions").get("AH-ROOM_RENT_NO_LIMIT_LABEL"),"glossaryDescription")){
	                                        <div class="dataBox__labelHover dataBox__toolTipBox dataBox__toolTipBox--top0"><p class="dataBox__toolTipText">
	                                         	@quoteReqJson.get("quotesRestictions").get("AH-ROOM_RENT_NO_LIMIT_LABEL").get("glossaryDescription").asText()
	                                        </p></div>
                                        }
                                        
	                                     <a href="javascript:;" class="js-hoverToolLink"></a><br/>
                                     </div>
                                     <div class="dataFacility__labelBox">
                                    	<input type="checkbox" name="hasRoomLimit" value="cash_limit" id="hasRoomLimit_with" class="dataFacility__innerCheck">
                                        <label class="dataFacility__innerLabel hoverTool" for="hasRoomLimit_with">With Limit</label>
                                        	@if(JsonUtils.isValidField(quoteReqJson,"quotesRestictions") && JsonUtils.isValidField(quoteReqJson.get("quotesRestictions"),"AH-ROOM_RENT_WITH_LIMIT_LABEL") 
                                        	&& JsonUtils.isValidField(quoteReqJson.get("quotesRestictions").get("AH-ROOM_RENT_WITH_LIMIT_LABEL"),"glossaryDescription")){
                                        	 <div class="dataBox__labelHover dataBox__toolTipBox dataBox__toolTipBox--top0"><p class="dataBox__toolTipText">
                                        		@quoteReqJson.get("quotesRestictions").get("AH-ROOM_RENT_WITH_LIMIT_LABEL").get("glossaryDescription").asText()
                                        	 </p></div>
                                        	}
                                        <a href="javascript:;" class="js-hoverToolLink"></a><br/>
                                     </div>
                                     <div class="dataFacility__labelBox">
                                        <input type="checkbox" name="hasRoomLimit" value="Singleprivateroom" id="hasRoomLimit_private" class="dataFacility__innerCheck">
                                        <label class="dataFacility__innerLabel hoverTool" for="hasRoomLimit_private" >Single private room</label>
	                                        @if(JsonUtils.isValidField(quoteReqJson,"quotesRestictions") && JsonUtils.isValidField(quoteReqJson.get("quotesRestictions"),"AH-ROOM_RENT_SINGLE_PRIVATE_LABEL") 
	                                        && JsonUtils.isValidField(quoteReqJson.get("quotesRestictions").get("AH-ROOM_RENT_SINGLE_PRIVATE_LABEL"),"glossaryDescription")){
		                                        <div class="dataBox__labelHover dataBox__toolTipBox dataBox__toolTipBox--top0"><p class="dataBox__toolTipText">
		                                        	@quoteReqJson.get("quotesRestictions").get("AH-ROOM_RENT_SINGLE_PRIVATE_LABEL").get("glossaryDescription").asText()
		                                        </p></div>
	                                        }
                                        	
                                        	<a href="javascript:;" class="js-hoverToolLink"></a><br/>
                                    </div>
                                    <!-- <div class="dataBox__head">
                                        <p class="dataBox__subTitle">Copay</p>
                                    </div>
                                    <div class="dataFacility__labelBox">
                                        <input type="checkbox" name="copay_filter" id="copay_filter" class="dataFacility__innerCheck">
                                        <label class="dataFacility__innerLabel" for="copay_filter">No Copay</label>
                                    </div>
                                    
                                    <div class="dataBox__head">
                                        <p class="dataBox__subTitle">Cashless Facility</p>
                                    </div>
                                    <div class="dataFacility__labelBox">
                                    	<input type="radio" name="hasCashlessFaciliry" value="yes" id="hasCashlessFacility_yes" class="">
                                        <label class="" for="hasCashlessFacility_yes">Yes</label><br/>
                                        <input type="radio" name="hasCashlessFaciliry" value="no" id="hasCashlessFacility_no" class="">
                                        <label class="" for="hasCashlessFacility_no">No</label>
                                    	<p class="text-right"><a onclick = "clearRadioFilter('hasCashlessFaciliry','cash-facility-hide')" class="clear">Clear</a></p>
                                    </div> -->
                                    </div>
                                    <div class="dataFacility__box healthDataFacility__box">
                                     <div class="dataBox__head dataBox__subHead">
                                        <p class="dataBox__subTitle">Companies</p>
                                        <a href="javascript:;" onclick = "clearRadioFilter('companyFilter','company-hide')" class="dataBox__edit healthDataBox__edit">Clear</a>
                                    </div>
                                    <div id="companiesNameList">
                                    </div>
                                    <a href="javascript:;" class="filterTop__shareText js__shareQuotesPopUpShow"><span class="filterTop__share"></span>Share Quotes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 filterOverall health__filterOverall">
                        <div class="filterTop">
                            <div class="filterTop__inner healthFilterTop">
                                <div class="filterTop__sortingOuter">
                                    <p class="filterTop__sorting">Sort By</p>
                                </div>
                                <div class="filterTop__sortingCont sort_product_asc_js"  data-attribute=["attributes","premium_amount","AH-PREMIUM_AMOUNT","value"] data-lookupfield="ASC">
                                	<p>PREMIUM - Low to High</p>
                                </div>
                                <div class="filterTop__sortingCont sort_product_des_js"  data-attribute=["attributes","premium_amount","AH-PREMIUM_AMOUNT","value"] data-lookupfield="DES">
                                	<p>PREMIUM - High to Low</p>
                                </div>
                                
                                @*<div class="filterTop__sortingCont">
                                    <p>BEST MATCHES</p>
                                </div>*@
                            </div>
                        </div>
                        <div class="filterResult">
                            <div class="container">
                                <div class="row">
                                    <div class="filterResult__inner">

                                    </div>
                                    <div class="filterResult__functions">
                                        <a class="filterResult__resetBtn js__filterResult__resetBtn" href="javascript:;" title="Remove All">REMOVE ALL</a>
                                        <a class="filterResult__compareBtn js__filterResult__compareBtn" href="javascript:;" title="Compare Now">COMPARE NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filterBox filterBoxList" id="quotes" >

                            
                        </div>
                        <div class="loaderBox js__loaderBox">
                            <h2 class="loaderBox__title">Relax,we are with you.</h2>
                            
                            <div class="bubbling">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="NoQuotes js__NoQuotes">
                            <h2 class="NoQuotes__title">Sorry, There are no matching quotes found</h2>
                        </div>
                        <div class="loaderBox js__timeout__quotes" style="display: none;">
                            <h2 class="loaderBox__title text-left">Quotes unavailable at this moment</h2>
                            <ul class="unAttainable_Product_ulTag js__timeoutProduct__list" style="list-style-type: none;">
                            	<li class="unAttainable_Product_liTag" style="display:none;">
                            		<p class="unAttainable_Product_pTag js__productName" data-code=""></p>
                            	</li>
                            </ul>
                        </div>
                        <div></div>
                         <div class="loaderBox js__notsupportable__quotes js__unAttainable__quotes" style="display: none;">
                            <h2 class="loaderBox__title text-left">Quotes not supported</h2>
                            <ul class="unAttainable_Product_ulTag js__notsupportedProduct__list" style="list-style-type: none;">
                            	<li class="unAttainable_Product_liTag" style="display:none;">
                            		<p class="unAttainable_Product_pTag js__productName" data-code=""></p>
                            	</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Filter section end-->
        <!-- Buy Plan Section start-->
        <section class="buyPlanModal" id="policyDetailsDiv">
            <div class="buyPlanContainer__outer">
                <div class="buyPlanContainer healthPlanContainer buyPlanContainer--active">
                    <div class="buyPlan">
                        <ul class="buyPlanTop">
                            <li class="buyPlanTop__list">
                                <div class="buyPlanTop__imageBox">
                                    <img class="buyPlanTop__img js__buyPlanTop__insureLogo lookup-feature-attr" data-lookup-feature-attr = [{"attr":"src","look":["product","image_url"]},{"attr":"alt","look":["product","name"]}] src="" alt="" />
                                </div>
                            </li>
                            <li class="buyPlanTop__list">
                                <p class="buyPlanTop__text">Sum Assured</p>
                                <h4 class="buyPlanTop__totalAmount"><span class="js__buyPlanTop__totalAmount" id="feature_sum_assured"></span></h4>
                            </li>
                            <li class="buyPlanTop__list">
                                <h3 class="filterBoxContent__rupees"><span id="feature_premium"></span></h3>
                            </li>
                            <li class="buyPlanTop__list">
                                <a href="javascript:;" class="filterBoxContent__buyLink " id="feature_buy_plan_link" >
                                    BUY THIS PLAN
                                </a>
                            </li>
                        </ul>
                        <a class="js__buyPlan__close buyPlan__close" href="javascript:;" title="Close"></a>
                    </div>
                    <div class="buyPlanDetail">
                        <div class="buyPlanDetail__box">
                            <div class="buyPlanDetail__vehicle">
                                <div class="buyPlanDetail__vehicleInner">
                                    <p class="buyPlanDetail__vehicleHead">who are all covered <a href="@com.arka.consumerportal.procurementweb.controllers.routes.HealthController.health()" title="Edit" class="healthPlan__edit">edit</a></p>
                                    <span class="buyPlanDetail__vehicleText">
                                    <span id="plan_detail_members_covered_js">
                                    	
                                    </span>
                                </div>
                                <div class="buyPlanDetail__vehicleInner">
                                    <p class="buyPlanDetail__vehicleHead">pincode/place <a href="@com.arka.consumerportal.procurementweb.controllers.routes.HealthController.health()" title="Edit" class="healthPlan__edit">edit</a></p>
                                    @if(JsonUtils.isValidField(quoteReqJson,"cookies") && 
                                    JsonUtils.isValidField(quoteReqJson.get("cookies"),"insuranceType") && JsonUtils.isValidField(quoteReqJson.get("cookies"),"pincodeLabel") ){
							          <span class="buyPlanDetail__vehicleText">
							          @if(JsonUtils.isValidField(quoteReqJson,"cookies") && 
                                    JsonUtils.isValidField(quoteReqJson.get("cookies"),"parentsPincode") && JsonUtils.isValidField(quoteReqJson.get("cookies"),"includeParents") &&
                                     quoteReqJson.get("cookies").get("includeParents").asBoolean() && 
                                     quoteReqJson.get("cookies").hasNonNull("isParentAndMeHasSamePincode") &&
                                      quoteReqJson.get("cookies").get("isParentAndMeHasSamePincode").asText().equals("diff_location")
                                      ){
							          Me - 
                                      }
							          
							          <span>@quoteReqJson.get("cookies").get("pincodeLabel").asText()</span></span>
							         }
                                    @if(JsonUtils.isValidField(quoteReqJson,"cookies") && 
                                    JsonUtils.isValidField(quoteReqJson.get("cookies"),"parentsPincode") && JsonUtils.isValidField(quoteReqJson.get("cookies"),"includeParents") &&
                                     quoteReqJson.get("cookies").get("includeParents").asBoolean() && 
                                     quoteReqJson.get("cookies").hasNonNull("isParentAndMeHasSamePincode") &&
                                      quoteReqJson.get("cookies").get("isParentAndMeHasSamePincode").asText().equals("diff_location")
                                      ){
							         	<span class="buyPlanDetail__vehicleText">Parents - <span>@quoteReqJson.get("cookies").get("parentsPincodeLabel").asText()
							         }
							         
                                </div>
                            </div>
                        </div>
                        <div class="buyPlanDetail__box">
                            <ul class="healthBuyPlan__tab">
                                <li class="healthBuyPlan__tabNav healthBuyPlan__tabNav--active js__healthBuyPlan__tabNav" data-link="1">
                                    <p class="healthBuyPlan__tabNavLink">what is covered</p>
                                </li>
                                <li class="healthBuyPlan__tabNav js__healthBuyPlan__tabNav" data-link="2">
                                    <p class="healthBuyPlan__tabNavLink">what is not covered</p>
                                </li>
                            </ul>
                            <div class="healthBuyPlan__tabBox">
                                <div class="healthBuyPlan__tabInner healthBuyPlan__tabInner--active" data-tab="1">
                                    <div class="buyPlanDetails">
                                        <table class="buyPlanDetails__table">
                                            <tbody class="buyPlanDetails__colBody" id="plan-covered-js">
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="healthBuyPlan__tabInner" data-tab="2">
									<div class="buyPlanDetails healthBuyPlanDetails">
                                        <table class="buyPlanDetails__table">
                                            <tbody class="buyPlanDetails__colBody" id="plan-not-covered-js">
                                                  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="healthBuyPlan__term">
                                    <a href="javascript:;" title="Read the complete terms and conditions of this plan" class="healthBuyPlan__termLink" target="_blank">* Read the complete terms and conditions of this plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Buy Plan Section end-->
        <!-- ComparePlan Section start-->

        <section class="comparePlan healthBuyPlanModal" >
            <div class="comparePlanContainer__outerDiv">
                <div class="comparePlanContainer comparePlanContainerModified">
                    <a href="javascript:;" title="Close" class="comparePlanContainer__close js__comparePlanContainer__close"></a>
                   <ul class="comparePlan__vehicleDets">
                        <li class="comparePlan__detailsContent">
                            <h5 class="comparePlan__detailTitle">Who are all covered</h5>
                            <p class="comparePlan__details">
	                            <span id="compare_plan_detail_members_covered_js">
                                    	
                                       </span>
                            </p>
                        </li>
                        
                    </ul> 
                    <div class="comparePlan__empty">
                        <div class="comparePlan__boxOuter comparePlan__emptyOuter">
                            <table class="comparePlan__detailsTable">
                                <tbody class="comparePlan__colBody compareAlternate compare_plan_features_header_body_js">                             
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="comparePlan__full" id="compare_div">
                        <div class="comparePlan__boxOuter">
                            <div class="comparePlan__boxInner">
                                <div class="comparePlan__box">
                                    <div class="comparePlan__boxImage">
                                        <img class="comparePlan__image lookup-feature-attr" data-lookup-feature-attr = [{"attr":"src","look":["product","image_url"]},{"attr":"alt","look":["product","name"]}] src="" alt="'Future" />
                                    </div>
                                    <div class="comparePlan__amountOuter">
                                        <h3 class="comparePlan__amount js__headerCompare__values lookup-feature-direct" data-lookup-feature-direct=["attributes","AH-PREMIUM_AMOUNT","value"]></h3>
                                    </div>
                                </div>
                                <a class="comparePlan__linkBuyPlan js__comparePlan__button url-querystring" href="" data-url-querystring=[{"field":"enquiryId","look":["enquiryId"]},{"field":"productId","look":["productId"]},{"field":"quoteKey","look":["quoteKey"]}] onclick="toCallBuyplan(this)"  title="BUY PLAN">BUY THIS PLAN</a>
                            </div>
                            <table class="comparePlan__detailsTable">
                                <tbody class="comparePlan__colBody compare_plan_features_value_body_js">

                                </tbody>
                            </table>
                            
                            <a class="comparePlan__linkBuyPlan js__comparePlan__button url-querystring" href="" data-url-querystring=[{"field":"enquiryId","look":["enquiryId"]},{"field":"productId","look":["productId"]},{"field":"quoteKey","look":["quoteKey"]}] onclick="toCallBuyplan(this)"  title="BUY PLAN">BUY THIS PLAN</a>
                        </div>
                	</div>
                </div>
            </div>
        </section>
        <!-- ComparePlan section End-->
       
        @sharequotes()
        
}