@(details : com.fasterxml.jackson.databind.JsonNode ,questions : com.fasterxml.jackson.databind.JsonNode ,proputils : com.arka.common.utils.PropUtils)


@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import com.arka.common.utils.JsonUtils
@import org.apache.commons.lang3.StringUtils 
@import org.apache.commons.lang3.StringEscapeUtils
@import com.arka.common.insurance.constants.InsuranceAttributeCode
@import com.arka.consumerportal.procurementweb.constants.CheckoutSessionKeys

@csses={
	<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
}



@checkElement(mainkey : String,innerkey : String)= {
	@if(JsonUtils.isValidField(details,mainkey) && JsonUtils.isValidIndex(details.get(mainkey),0)){
			@for((element) <- details.get(mainkey).elements()){
			@if(JsonUtils.isValidField(element,"code") && JsonUtils.isValidField(element,"value")){
				@if(element.get("code").asText().equals(innerkey)){
					@element.get("value").asText()
				}
				}
			}
	}
}

@checkElementWithTag(mainkey : String,innerKey : String,tag : String)={
		@if(JsonUtils.isValidField(details,mainkey) && JsonUtils.isValidIndex(details.get(mainkey),0)){
			@for((element)<-details.get(mainkey).elements()){
			@if(JsonUtils.isValidField(element,"tag") && JsonUtils.isValidField(element,"code") && JsonUtils.isValidField(element,"value")){
				@if(element.get("code").asText().equals(innerKey)){
					@for((ele)<-element.get("tag").elements()){
						@if(ele.asText().equals(tag)){
							@element.get("value").asText()
						}
					}
				}
			}
			}
	}
}

@checkMedicalQuestions(mainkey : String,innerKey : String,code : String)={
		@if(JsonUtils.isValidField(details,mainkey) && JsonUtils.isValidIndex(details.get(mainkey),0)){
			@for((element)<-details.get(mainkey).elements()){
			@if(JsonUtils.isValidField(element,"tag") && JsonUtils.isValidField(element,"code") && JsonUtils.isValidField(element,"additionalValue") && JsonUtils.isValidField(element,"value")){
				@if(element.get("code").asText().equals(innerKey)){
					@if(element.get("value").asText().equals(code)){
						@if(element.get("additionalValue").asText().equals("Yes")){
							@for((ele)<-element.get("tag").elements()){
								@element.get("additionalValue").asText()
									@ele.asText()								
							}
						}else{
							No
						}
					}
				}
			}
			}
	}
}

@formatMobileNumber(mobString : String) =  @{
	if(StringUtils.isNotEmpty(mobString) && mobString.length() > 5){
	 	new StringBuilder(mobString).insert(mobString.length()-5, " ").toString();
	 }
}

@formatDate(dateString : String) = @{
	  val sdf = new java.text.SimpleDateFormat("yyyy-MM-dd");
	  sdf.parse(dateString).format("dd-MMM-yyyy");
}
@formatmonth(dateString : String) = @{
	val sdf = new java.text.SimpleDateFormat("dd-MM-yyyy");
	  sdf.parse(dateString).format("dd-MMM-yyyy");
}
@createMembers(memberToBeCreated : String,typeS : String)={
	<div class="insuredMembers" data-member="@typeS">
	<h6 class="checkOutSummary__innerTitleSubtext ">@memberToBeCreated</h6>
										 <div class="checkOutSummary__contentDiv firstNameMainDiv">
                                        <div class="checkOutSummary__contentTitleMembers">
                                            <p class="checkOutSummary__contentTitle">First Name</p>
                                        </div>
                                        <div class="checkOutSummary__contentDetailsMembers firstnameDiv">
                                            <p class="checkOutSummary__contentDetails firstname">
                                            	@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,typeS).toString().trim())) {
                                            		@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,typeS).toString().trim()
                                            	}else{}   
                                            </p>
                                        </div>
                                   		 </div>
                                   		  <div class="checkOutSummary__contentDiv lastNameMainDiv">
                                        <div class="checkOutSummary__contentTitleMembers">
                                            <p class="checkOutSummary__contentTitle">Last Name</p>
                                        </div>
                                        <div class="checkOutSummary__contentDetailsMembers lastnameDiv">
                                            <p class="checkOutSummary__contentDetails lastname">
	                                            @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),typeS).toString().trim())) {
	                                            	@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),typeS).toString().trim()
	                                            }else{}
                                            </p>
                                        </div>
                                   		 </div>
                                   		 <div class="checkOutSummary__contentDiv dobMainDiv">
                                        <div class="checkOutSummary__contentTitleMembers">
                                            <p class="checkOutSummary__contentTitle">Date of Birth</p>
                                        </div>
                                        <div class="checkOutSummary__contentDetailsMembers dobdiv">
                                            <p class="checkOutSummary__contentDetails dob"> 
                                            	@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_DOB.getCode,typeS).toString().trim())) {
                                            		@formatDate(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_DOB.getCode,typeS).toString().trim())
                                            	}
                                            </p>
                                        </div>
                                   		 </div>
                                   		<div class="checkOutSummary__contentDiv heightWeightMainDiv">
                                        <div class="checkOutSummary__contentInnerHW">
                                            <div class="checkOutSummary__contentInnerHWOuter heightMainDiv">
                                                <div class="checkOutSummary__contentTitleMembers">
                                                    <p class="checkOutSummary__contentTitle">Height</p>
                                                </div>
                                                <div class="checkOutSummary__contentDetailsMembers heightDiv">
                                                    <p class="checkOutSummary__contentDetails height">
	                                                    @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params","AI-HEIGHT",typeS).toString().trim())) {
	                                                    	@checkElementWithTag("proposal_params","AI-HEIGHT",typeS).toString().trim()
	                                                    }else{N/A}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="checkOutSummary__contentInnerHWOuter weightMainDiv">
                                                <div class="checkOutSummary__contentTitleMembers">
                                                    <p class="checkOutSummary__contentTitle">Weight</p>
                                                </div>
                                                <div class="checkOutSummary__contentDetailsMembers weightDiv">
                                                    <p class="checkOutSummary__contentDetails weight">
	                                                    @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params","AI-WEIGHT",typeS).toString().trim())) {
	                                                    	@checkElementWithTag("proposal_params","AI-WEIGHT",typeS).toString().trim() <span>Kg</span>
	                                                    }else{N/A}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   		 <div class="checkOutSummary__contentDiv occupationMainDiv">
                                       	 <div class="checkOutSummary__contentTitleMembers">
                                            <p class="checkOutSummary__contentTitle">Occupation</p>
                                        	</div>
                                        	<div class="checkOutSummary__contentDetailsMembers occupationDiv">
                                            <p class="checkOutSummary__contentDetails occupation">
	                                            @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params","AI-OCCUPATION",typeS).toString().trim())) {
	                                            	@checkElementWithTag("proposal_params","AI-OCCUPATION",typeS).toString().trim()
	                                            }else{N/A}
                                            </p>
                                        	</div>
                                   		 </div>
                                   		 </div>
}

@footerJS = {
<script>
var proposalId;
@if(JsonUtils.isValidField(details,"proposalId")){
	proposalId = "@details.get("proposalId").asText()";
}

var sumassured;
@if(JsonUtils.isValidField(details,"output_quote_params")){
	@if(StringUtils.isNotEmpty(checkElement("output_quote_params","AH-HOSPITALIZATION_COVER").toString().trim())) {
		sumassured = @checkElement("output_quote_params","AH-HOSPITALIZATION_COVER").toString().trim();
	}
}
var premium;
@if(JsonUtils.isValidField(details,"output_quote_params")){
	@if(StringUtils.isNotEmpty(checkElement("output_quote_params","AH-PREMIUM_AMOUNT").toString().trim())) {		
		premium = @checkElement("output_quote_params","AH-PREMIUM_AMOUNT").toString().trim();
	}
}
var ruppes;
@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params","AI-ANNUAL_INCOME","self").toString().trim())) {
	ruppes=@checkElementWithTag("proposal_params","AI-ANNUAL_INCOME","self").toString().trim()
}
</script>
<script src="@plugins_url/widgets/sweetalert/sweetalert.min.js@version"></script>
<script src="@js_url/site/procurement/health/healthcheckoutsummary.js@version"></script>
}

@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | Health Insurance",proputils, footerJS=footerJS,csses=csses) {
 	<!--Checkout section start-->
        <section class="checkOut__section">
            <div class="container">
                <div class="checkOut healthCheckOutHead">
                    <div class="checkOut__title">
                        <h1 class="checkOut__titleText checkoutSummaryHeading">Checkout Summary</h1>
                    </div>
                    <div class="checkOut__outer checkOut__summary">
                      <div class="travelCheckout__inner">
                            <div class="travelCheckout__carDetailsBox membersCovered">
                                <h2 class="checkOut__carHeading"></h2>
                                <h4>Members Covered</h4>
	                                	@if(JsonUtils.isValidField(questions,"self")){
	                                			<span class="member">Me <span>@if(JsonUtils.isValidField(questions.get("self"),"age")){(@questions.get("self").get("age").asText())}</span></span>
	                                		}
	                                	@if(JsonUtils.isValidField(questions,"spouse")){
	                                			<span class="member">@if(JsonUtils.isValidField(questions,"self")){,} Spouse <span>@if(JsonUtils.isValidField(questions.get("spouse"),"age")){(@questions.get("spouse").get("age").asText())}</span></span>
	                                		}
	                                	@if(JsonUtils.isValidField(questions,"son 1")){
	                                			<span class="member">@if(JsonUtils.isValidField(questions,"self") || JsonUtils.isValidField(questions,"spouse")){, } Son  <span>@if(JsonUtils.isValidField(questions.get("son 1"),"age")){(@questions.get("son 1").get("age").asText())}</span></span>
	                                		}
	                                	@if(JsonUtils.isValidField(questions,"son 2")){
	                                			<span class="member">@if(JsonUtils.isValidField(questions,"self") || JsonUtils.isValidField(questions,"spouse") || JsonUtils.isValidField(questions,"son 1")){, } Son <span>@if(JsonUtils.isValidField(questions.get("son 2"),"age")){(@questions.get("son 2").get("age").asText())}</span></span>
	                                	}
	                                	@if(JsonUtils.isValidField(questions,"son 3")){
	                                			<span class="member">@if(JsonUtils.isValidField(questions,"self") || JsonUtils.isValidField(questions,"spouse") || JsonUtils.isValidField(questions,"son 1") || JsonUtils.isValidField(questions,"son 2")){, } Son <span>@if(JsonUtils.isValidField(questions.get("son 3"),"age")){(@questions.get("son 3").get("age").asText())}</span></span>
	                                	}
	                                	@if(JsonUtils.isValidField(questions,"daughter 1")){
	                                			<span class="member">@if(JsonUtils.isValidField(questions,"self") || JsonUtils.isValidField(questions,"spouse") || JsonUtils.isValidField(questions,"son 1") || JsonUtils.isValidField(questions,"son 2") || JsonUtils.isValidField(questions,"son 3")){, }  Daughter <span>@if(JsonUtils.isValidField(questions.get("daughter 1"),"age")){(@questions.get("daughter 1").get("age").asText())}</span></span>
	                                	}
	                                	@if(JsonUtils.isValidField(questions,"daughter 2")){
	                                			<span class="member">@if(JsonUtils.isValidField(questions,"self") || JsonUtils.isValidField(questions,"spouse") || JsonUtils.isValidField(questions,"son 1") || JsonUtils.isValidField(questions,"son 2") || JsonUtils.isValidField(questions,"son 3") || JsonUtils.isValidField(questions,"daughter 1")){, } Daughter <span>@if(JsonUtils.isValidField(questions.get("daughter 2"),"age")){(@questions.get("daughter 2").get("age").asText())}</span></span>
	                                	}
	                                	@if(JsonUtils.isValidField(questions,"daughter 3")){
	                                			<span class="member">@if(JsonUtils.isValidField(questions,"self") || JsonUtils.isValidField(questions,"spouse") || JsonUtils.isValidField(questions,"son 1") || JsonUtils.isValidField(questions,"son 2") || JsonUtils.isValidField(questions,"son 3") || JsonUtils.isValidField(questions,"daughter 1") || JsonUtils.isValidField(questions,"daughter 2")){, } Daughter  <span>@if(JsonUtils.isValidField(questions.get("daughter 3"),"age")){(@questions.get("daughter 3").get("age").asText())}</span></span>
	                                	}
	                                	@if(JsonUtils.isValidField(questions,"father")){
	                                			<span class="member">@if(JsonUtils.isValidField(questions,"self") || JsonUtils.isValidField(questions,"spouse") || JsonUtils.isValidField(questions,"son 1") || JsonUtils.isValidField(questions,"son 2") || JsonUtils.isValidField(questions,"son 3") || JsonUtils.isValidField(questions,"daughter 1") || JsonUtils.isValidField(questions,"daughter 2") || JsonUtils.isValidField(questions,"daughter 3")){, } Father <span>@if(JsonUtils.isValidField(questions.get("father"),"age")){(@questions.get("father").get("age").asText())}</span></span>
	                                	}
	                                	@if(JsonUtils.isValidField(questions,"mother")){
	                                			<span class="member">@if(JsonUtils.isValidField(questions,"self") || JsonUtils.isValidField(questions,"spouse") || JsonUtils.isValidField(questions,"son 1") || JsonUtils.isValidField(questions,"son 2") || JsonUtils.isValidField(questions,"son 3") || JsonUtils.isValidField(questions,"daughter 1") || JsonUtils.isValidField(questions,"daughter 2") || JsonUtils.isValidField(questions,"daughter 3") || JsonUtils.isValidField(questions,"father")){, } Mother <span>@if(JsonUtils.isValidField(questions.get("mother"),"age")){(@questions.get("mother").get("age").asText())}</span></span>
	                                	}			
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <div class="checkOutContent__imageBox">
                                 @if(details.has("image_url") && details.hasNonNull("image_url")){
                                    <img src=" @details.get("image_url").asText()"  class="checkOutContent__img" />
                                }
                                </div>
                            </div>
                             <div class="checkOut__carDetailsBox">
                                <span class="checkOut__insureAmountHeading">Sum Assured</span>
                                <span class="checkOut__insureAmountRate"><span class="rs">  rs</span><span class="sumassured"></span></span>
                            </div>
                            <div class="checkOut__carDetailsBox">
                                <span class="checkOut__insureAmountHeading">Premium</span>
                                <span class="checkOut__insureAmountRate"><span class="rs">  rs</span><span class="premium"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="checkOutSummary healthCheckOutSummary">
                        <h3 class="checkOutSummary__title">IMPORTANT DETAILS TO REVIEW BEFORE PAYMENT</h3>
                        
                        <div class="checkOutSummary__outer proposerInformation">
                            <div class="checkOutSummary__block">
                                <h5 class="checkOutSummary__innerTitletext">Proposer Information <a class="checkOutSummary__innerEditText" href="javascript:;" name="proposerTab" onclick="edit(this)" id="editone">Edit</a></h5>
                                <div class="checkOutSummary__innerTitle">
                                <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Name</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="checkOutSummary__contentDetails" id="proposerName">
	                                            @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode(),"self").toString().trim())) {
	                                            	@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode(),"self").toString().trim()
	                                            }else{}   
	                                            <span>
	                                            	@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"self").toString().trim())) { 
	                                            		@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"self").toString().trim()
	                                            	}else{}
	                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                    @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_GENDER.getCode(),"self").toString().trim())) {
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Gender</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="checkOutSummary__contentDetails" id="proposerGender">@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_GENDER.getCode(),"self").toString().trim()</p>
                                        </div>
                                    </div>
                                    }
                                     @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_MARITAL.getCode(),"self").toString().trim())) {
                                    	<div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Marital</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="checkOutSummary__contentDetails" id="proposerMarital">@if(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_MARITAL.getCode(),"self").toString().trim().equalsIgnoreCase("No")){Single}else{Married}</p>
                                        </div>
                                    </div>
                                    }
                                    @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_DOB.getCode,"self").toString().trim())) {
                                    	<div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Date of Birth</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="checkOutSummary__contentDetails" id="proposerDateOfBirth">@formatDate(checkElementWithTag("proposal_params","AI-DOB","self").toString().trim())</p>
                                        </div>
                                    </div>
                                    }
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Occupation</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="checkOutSummary__contentDetails" id="proposerOccupation">
	                                            @if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params","AI-OCCUPATION","self").toString().trim())) {
	                                            	@checkElementWithTag("proposal_params","AI-OCCUPATION","self").toString().trim()
	                                            }else{N/A}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Annual Income</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="checkOutSummary__contentDetails"><span class="rs">  rs</span><span id="annualincome"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkOutSummary__outer">
                                <div class="checkOutSummary__block">
                                   <h5 class="checkOutSummary__innerTitletext">Contact Information <a class="checkOutSummary__innerEditText" href="javascript:;" name="contactInfoTab" onclick="edit(this)" id="edittwo">Edit</a></h5>
                                    <div class="checkOutSummary__innerTitle">
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Address</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="healthCheckoutAddressTag checkOutSummary__contentDetails addressContent">
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params","AI-ADDRESS_LINE_1").toString().trim())) {
	                                            	<span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params","AI-ADDRESS_LINE_1").toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span>
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params","AI-ADDRESS_LINE_2").toString().trim())) { 
	                          					   <span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params","AI-ADDRESS_LINE_2").toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span>
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_PLACE.getCode()).toString().trim())) {
	                                            	<span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params",InsuranceAttributeCode.AI_PLACE.getCode()).toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span> 
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_DISTRICT.getCode()).toString().trim())) {
	                                             <span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params",InsuranceAttributeCode.AI_DISTRICT.getCode()).toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span> 
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_STATE.getCode()).toString().trim())) {
	                                             <span>@StringEscapeUtils.unescapeHtml4(checkElement("proposal_params",InsuranceAttributeCode.AI_STATE.getCode()).toString().trim()).replaceAll("[^\\x20-\\x7e]", ""),</span>
	                                            }
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_PINCODE.getCode()).toString().trim())) {
	                                             <span>@checkElement("proposal_params",InsuranceAttributeCode.AI_PINCODE.getCode()).toString().trim()</span>
	                                            }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Mobile No</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart">
                                            <p class="checkOutSummary__contentDetails" id="mobileNumber">
                                            	@if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_MOBILE_NUMBER.getCode()).toString().trim())) {
                                            		@formatMobileNumber(checkElement("proposal_params",InsuranceAttributeCode.AI_MOBILE_NUMBER.getCode()).toString().trim())
                                            	}else{N/A}</p>
                                        </div>
                                    </div>
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitlePart">
                                            <p class="checkOutSummary__contentTitle">Email</p>
                                        </div>
                                        <div class="checkOutSummary__contentAnswerPart checkOutSummary_email">
                                            <p class="checkOutSummary__contentDetails" id="email">
                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_EMAIL.getCode()).toString().trim())) {
                                            	@checkElement("proposal_params",InsuranceAttributeCode.AI_EMAIL.getCode()).toString().trim()
                                            }else{N/A}</p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                       	 <div class="checkOutSummary__outer">
                       	 <div class="checkOutSummary__block">
                                    <h5 class="checkOutSummary__innerTitletext">Insured Members <a class="checkOutSummary__innerEditText" href="javascript:;" name="insuredMembersTab" onclick="edit(this)" id="editthree">Edit</a></h5>
                                  <div class="checkOutSummary__innerTitle membersListDiv" > 
                                    @if(JsonUtils.isValidField(questions,"self")){
                                    	@createMembers("Self","self")
                                    }
                                    @if(JsonUtils.isValidField(questions,"spouse")){
                                    	@createMembers("Spouse","spouse")
                                    }
                                    @if(JsonUtils.isValidField(questions,"son 1")){
                                    	@createMembers("Son 1","son1")
	                                }
	                                @if(JsonUtils.isValidField(questions,"son 2")){
										@createMembers("Son 2","son2")
	                                }
	                                @if(JsonUtils.isValidField(questions,"son 3")){
										@createMembers("Son 3","son3")
	                                }
	                                @if(JsonUtils.isValidField(questions,"daughter 1")){
										@createMembers("Daughter 1","daughter1")	
	                                }
	                                @if(JsonUtils.isValidField(questions,"daughter 2")){
										@createMembers("Daughter 2","daughter2")
	                                }
	                                @if(JsonUtils.isValidField(questions,"daughter 3")){
	                               		@createMembers("Daughter 3","daughter3")
	                               	}
	                                @if(JsonUtils.isValidField(questions,"father")){
	                               		@createMembers("Father","father")
	                                }
	                                @if(JsonUtils.isValidField(questions,"mother")){
	                               		@createMembers("Mother","mother")
	                                }
	                                </div>	
                                </div>
                            </div>
                            <div class="checkOutSummary__block">
                                <h5 class="checkOutSummary__innerTitletext">Medical Details <a class="checkOutSummary__innerEditText" href="javascript:;" name="medicalHistoryTab" onclick="edit(this)" id="editfour">Edit</a></h5>
                                   <div class="checkOutSummary__innerTitle">
                                    <h6 class="checkOutSummary__innerTitleSubtext">Nominee Details</h6>
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitleMembers">
                                            <p class="checkOutSummary__contentTitle" >Name</p>
                                        </div>
                                        <div class="checkOutSummary__contentDetailsMembers">
                                            <p class="checkOutSummary__contentDetails" id="nomineeName">
                                            	@if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_NOMINEE_NAME.getCode()).toString().trim())) {
                                            		@checkElement("proposal_params",InsuranceAttributeCode.AI_NOMINEE_NAME.getCode()).toString().trim()
                                            	}else{N/A}
                                            </p>
                                        </div>
                                    </div>
                                     <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitleMembers">
                                            <p class="checkOutSummary__contentTitle">Age</p>
                                        </div>
                                        <div class="checkOutSummary__contentDetailsMembers">
                                            <p class="checkOutSummary__contentDetails" id="nomineeAge">
                                            	@if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_NOMINEE_AGE.getCode()).toString().trim())) {
                                            		@checkElement("proposal_params",InsuranceAttributeCode.AI_NOMINEE_AGE.getCode()).toString().trim()
                                            	}else{N/A}</p>
                                        </div>
                                    </div>
                                    <div class="checkOutSummary__contentDiv">
                                        <div class="checkOutSummary__contentTitleMembers">
                                            <p class="checkOutSummary__contentTitle">Relationship</p>
                                        </div>
                                        <div class="checkOutSummary__contentDetailsMembers">
                                            <p class="checkOutSummary__contentDetails" id="nomineeRelationShip">
	                                            @if(StringUtils.isNotEmpty(checkElement("proposal_params",InsuranceAttributeCode.AI_NOMINEE_RELATIONSHIP.getCode()).toString().trim())) {
	                                            	@checkElement("proposal_params",InsuranceAttributeCode.AI_NOMINEE_RELATIONSHIP.getCode()).toString().trim()
	                                            }else{N/A}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                      @if(JsonUtils.isValidField(questions,"MedicalQuestions") && JsonUtils.isValidField(questions.get("MedicalQuestions"),"items")){
                                            	@for(data <- questions.get("MedicalQuestions").get("items").elements){
                                            		@if(data.has("data") && data.hasNonNull("data") && data.get("data").has("items") && data.get("data").hasNonNull("items")){
                                            			@for((items,index) <- data.get("data").get("items").elements().zipWithIndex){
                                            					<div class="checkOutSummary__block medicalQuestionDiv">
                               									 <div class="checkOutSummary__innerTitle">
                               									 	@if(index == 0){
                               									 	<h6 class="checkOutSummary__innerTitleSubtext" >Declarations</h6>                                   
																	}
																	<div class="checkOutDetails__declarationQuestions">
                                       									 <p class="travelCheckOutDetails__declarationQuestion js_questions" data-questionNo="@index">@items.get("description").asText()</p>
                                        									<p class="checkOutDetails__declarationAnswer js_members" >@if(! checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("Yes")){<span class="checkOutSummary__declarationAnswerSpan">&nbsp;&nbsp;N/A</span>}else{
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("self")){
                                            							
                                            							<span class="checkOutSummary__declarationAnswerSpan self" data-member="self">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"self").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"self").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"self").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"self").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("spouse")){
                                            							<span class="checkOutSummary__declarationAnswerSpan spouse" data-member="spouse">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"spouse").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"spouse").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"spouse").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"spouse").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("son1")){
                                            							<span class="checkOutSummary__declarationAnswerSpan son1" data-member="son1">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"son1").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"son1").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"son1").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"son1").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("son2")){
                                            							<span class="checkOutSummary__declarationAnswerSpan son2" data-member="son2">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"son2").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"son2").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"son2").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"son2").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("son3")){
                                            							<span class="checkOutSummary__declarationAnswerSpan son3" data-member="son3">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"son3").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"son3").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"son3").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"son3").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("daughter1")){
                                            							<span class="checkOutSummary__declarationAnswerSpan daughter1" data-member="daughter1">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"daughter1").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"daughter1").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"daughter1").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"daughter1").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("daughter2")){
                                            							<span class="checkOutSummary__declarationAnswerSpan daughter2" data-member="daughter2">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"daughter2").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"daughter2").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"daughter2").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"daughter2").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("daughter3")){
                                            							<span class="checkOutSummary__declarationAnswerSpan daughter3" data-member="daughter3">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"daughter3").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"daughter3").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"daughter3").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"daughter3").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("father")){
                                            							<span class="checkOutSummary__declarationAnswerSpan father" data-member="father">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"father").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"father").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"father").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"father").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					@if(checkMedicalQuestions("proposal_params","AH-MEDICAL_QUESTIONS",items.get("code").asText()).toString().trim().contains("mother")){
                                            							<span class="checkOutSummary__declarationAnswerSpan mother" data-member="mother">&nbsp;&nbsp;
                                            							@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"mother").toString().trim())) {
                                            								@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_FIRST_NAME.getCode,"mother").toString().trim()
                                            							}
                                            							<span>
	                                            						@if(StringUtils.isNotEmpty(checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"mother").toString().trim())) {
	                                            							@checkElementWithTag("proposal_params",InsuranceAttributeCode.AI_LAST_NAME.getCode(),"mother").toString().trim()
	                                            						}
                                            							</span>
                                            							</span>
                                            					}
                                            					}</p>
                                   									 </div>
                                								 </div>
                            									</div>
                                            			}
                                            		}
                                            	}
                                            }
                            <div class="checkOutSummary__acknowledgeContent">
                                <div class="checkOutDetails__check">
                                    <input id="input-acknowledge" type="checkbox" name="ac-arkadeclaration" value="" class="checkOutDetails__checkBtn ac-arkadeclaration">
                                    <label for="input-acknowledge" class="checkOutDetails__checkLabel js__company__label" style="text-transform:none;">I am aware that the insurance policy is being issued based on the information provided by me in the proposal form.  I also understand that any incorrect information or suppression of facts in the proposal form may result in either cancellation of policy or rejection of claim or both. I hereby authorise Arka Insurance Broking Private Limited (imright.com) to represent on my behalf with the Insurance Companies in all matters relating to my insurance policy.</label>
                                </div>
                                <span class="error" id="commonerror"></span>
                            </div>
                            <div class="checkOutDetails__finalSubmit">
                               <button class="checkOutDetails__finalSubmitBtn" onclick="vendorPortal()" id="readyToPay" type="button" name="button">Ready to Pay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Checkout section end-->

}