@(jsonData : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils, cookieMap:Map[String, String])
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import play.libs.Json;
@import com.arka.common.health.constants.HealthAttributeCode;
@import com.arka.common.utils.JsonUtils;
@import java.lang.String; var description =ConfigFactory.load().getString("seo.health.description");
@import java.lang.String; var site_url = ConfigFactory.load().getString("seo.site.url")+request.uri
@import java.lang.String; var site_name = ConfigFactory.load().getString("seo.site.name")

@import com.arka.consumerportal.procurementweb.controllers.HealthController;

@csses ={
<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
<link rel="stylesheet" href="@css_url/site/procurement/health/health_home.css@version">
}
@restrictionValue(restrictnJson: com.fasterxml.jackson.databind.JsonNode, attributeName : String) = {
  @if(restrictnJson!=null  && restrictnJson.hasNonNull("healthRestictions") 
  && restrictnJson.get("healthRestictions").hasNonNull(attributeName)){@restrictnJson.get("healthRestictions").get(attributeName).asText()}else{0}
}

@sessionGetter(variant : String)={@if(session.containsKey(variant) && session.get(variant)!=null){@session.get(variant)}}

		
@com.arka.consumerportal.procurementweb.views.html.procurementwebmain("Imright | Health Insurance",proputils, footerJS=footerJS,csses=csses) {
   <!--Template Start-->
        <section class="policySection">
            <div class="container">
                <div class="policyBlock">
                    <div class="policyBlock__details">
                        <div class="policyBlock__detailsBox">
                            <div class="policyBlock__detailTabBox">
									 @if(JsonUtils.isValidField(jsonData,"healthCategory") 
										&& JsonUtils.isValidField(jsonData.get("healthCategory"),"items")
										&& JsonUtils.isValidIndex(jsonData.get("healthCategory").get("items"),0)
										&& JsonUtils.isValidField(jsonData.get("healthCategory").get("items").get(0),"status")
										&& jsonData.get("healthCategory").get("items").get(0).get("status").asText().equals("INACTIVE")){
											@com.arka.consumerportal.procurementweb.views.html.coming_soon()
									}else{
								<div class="policyBlock__detailBoxOuter policyBlock__detailBoxOuter--active health__detailBoxOuter" data-tab="1" style="display: block;">
										@whome_do_you_want_to_cover(jsonData,cookieMap)
                                    <div class="policyBlock__btnBlock">
                                        <button type="button" onclick="validateAndFetchQuotes(this)" class="policyBlock__btn">view quotes</button>
                                    </div>
                                </div>
									}
                            </div>
                           
                        </div>
                    </div>
                    @com.arka.consumerportal.procurementweb.views.html.insurance_list("health")
                </div>
            </div>
        </section>
        <section class="brandSection">
           	@com.arka.consumerportal.procurementweb.views.html.licensedby(imageUrl = image_url)
         	@com.arka.consumerportal.procurementweb.views.html.glossary()
        </section>
        <!-- <section class="marketSection section_3_bg">
            <div class="container">
                <h2 class="marketSection__title">Most trusted insurance marketplace online.</h2>
                <h2 class="marketSection__subTitle">Simple. Affordable. Reliable.</h2>
                <div class="row section_3">
                    <div class="col-md-4">
                        <h2 class="marketSection__title">Latest News</h2>
                        <h3>Consectetuer adipiscing elit sed diam</h3>
                        <p>Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                        <table align="center" cellpadding="2" cellspacing="2">
                            <tr>
                                <td>
                                    <img src="@image_url/prev.png" />
                                </td>
                                <td>
                                    <img src="@image_url/next.png" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div align="center" class="col-md-4 border-c">
                        <img src="@image_url/boxes.png" />

                    </div>
                    <div align="center" class="col-md-4">
                        <h2 class="marketSection__title">Learning Center</h2>
                        <h2 class="marketSection__title">Watch Our Video</h2>
                        <br />
                        <img style="margin-top:12px;" src="@image_url/video.jpg" />
                    </div>
                </div>

            </div>
        </section>-->
  
        @com.arka.consumerportal.procurementweb.views.html.all_you_need_to_know(image_url)
        
        @com.arka.consumerportal.procurementweb.views.html.partners(image_url)


        <!--Template End-->
     <!-- I know my number make model fuel -->
		@family_details( "js__know__my__No__Class","Whom do you want to cover?", "my_family_details",jsonData,cookieMap)
		@family_details( "js__pincode_Class","Pincode?" ,"pincode",jsonData,cookieMap)
		@pre_existing_illness(jsonData,cookieMap)
		

        <!-- I dont know my number registrationBox -->
        <!-- registrationBox -->

        <!-- Car Registration Location -->
        <!-- Car Registration Location -->
        
        <!--Login section start-->
        
        <!--Login section end-->
        <!-- No Claim drop start -->
		<!-- No Claim drop ends -->
} @footerJS = {

	<script type="application/ld+json">
{
  "@@context" : "http://schema.org",
  "@@type" : "Product",
  "name" : "@site_name",
  "image" : "@image_url/logo-min.png",
  "description" : "@description",
  "url" : "@site_url",
  "brand" : {
    "@@type" : "Brand",
    "name" : "Imright",
    "logo" : "@image_url/logo-min.png"
  },
 "sameAs" : [
		"https://in.linkedin.com/company/imright-com"
	  ]
}
</script>
  
    <!--Common-->
    <script src="@plugins_url/widgets/sweetalert/sweetalert.min.js@version"></script>
    <script src="@js_url/site/index.js@version"></script>
	<script src="@js_url/site/procurement/health/health_home.js@version"></script>
	<script src="@js_url/site/procurement/health/children_add.js@version"></script>
	<script src="@js_url/site/procurement/health/validate_family.js@version"></script>
	<script src="@js_url/site/procurement/health/enquiry_validator.js@version"></script>
	<script src="@js_url/site/procurement/health/disease_matrix.js@version"></script>
	<script src="@js_url/site/procurement/health/search_city.js@version"></script>
	
    <script>
    
		var createEnquiryUrl = "@com.arka.consumerportal.procurementweb.controllers.routes.HealthController.createEnquiry()"
		var productsUrl = "@com.arka.consumerportal.procurementweb.controllers.routes.HealthController.products()"
		var citySearchUrl = "@com.arka.common.controllers.routes.PostalCodeController.postalcodeSearch()";
		var errorProperties = '@if(jsonData !=null && jsonData.hasNonNull("errorProperties")){@Html(Json.stringify(jsonData.get("errorProperties")))}'
		var errorPropertiesJson = JSON.parse(errorProperties);
		
		var minAgeSelf = @restrictionValue(jsonData,HealthAttributeCode.AH_SELF_AGE.getCode()+"_min");
		var maxAgeSelf = @restrictionValue(jsonData,HealthAttributeCode.AH_SELF_AGE.getCode()+"_max");
		var occurnceSelf = @restrictionValue(jsonData,HealthAttributeCode.AH_SELF_AGE.getCode()+"_max_occurrence");

		var minAgeSpouse = @restrictionValue(jsonData,HealthAttributeCode.AH_SPOUSE_AGE.getCode()+"_min");
		var maxAgeSpouse = @restrictionValue(jsonData,HealthAttributeCode.AH_SPOUSE_AGE.getCode()+"_max");
		var occurnceSpouse = @restrictionValue(jsonData,HealthAttributeCode.AH_SPOUSE_AGE.getCode()+"_max_occurrence");

		var minAgeSon = @restrictionValue(jsonData,HealthAttributeCode.AH_SON_AGE.getCode()+"_min");
		var maxAgeSon = @restrictionValue(jsonData,HealthAttributeCode.AH_SON_AGE.getCode()+"_max");
		var occurnceSon = @restrictionValue(jsonData,HealthAttributeCode.AH_SON_AGE.getCode()+"_max_occurrence");

		var minAgeDaughter = @restrictionValue(jsonData,HealthAttributeCode.AH_DAUGHTER_AGE.getCode()+"_min");
		var maxAgeDaughter = @restrictionValue(jsonData,HealthAttributeCode.AH_DAUGHTER_AGE.getCode()+"_max");
		var occurnceDaughter = @restrictionValue(jsonData,HealthAttributeCode.AH_DAUGHTER_AGE.getCode()+"_max_occurrence");
		
		var minAgeParent = @restrictionValue(jsonData,HealthAttributeCode.AH_FATHER_AGE.getCode()+"_min");
		var maxAgeParent = @restrictionValue(jsonData,HealthAttributeCode.AH_FATHER_AGE.getCode()+"_max");
		var occurnceParent = @restrictionValue(jsonData,HealthAttributeCode.AH_FATHER_AGE.getCode()+"_max_occurrence");
		

		var maxMembrCount = @restrictionValue(jsonData,"max_mem_count");
		
		initAge(minAgeSelf,maxAgeSelf,minAgeSpouse,maxAgeSpouse,minAgeSon,maxAgeSon,minAgeParent,maxAgeParent)
		initMemberCount(maxMembrCount,occurnceSon,@(cookieMap!=null && cookieMap.contains("includeParents") && cookieMap.get("includeParents").trim().equals("true")))
		
		
		var diseasesJson = JSON.parse('@if(jsonData!=null && jsonData.hasNonNull("diseases") && jsonData.get("diseases").hasNonNull("items")){@Html(jsonData.get("diseases").get("items").toString().replace("'","&#39;"))}else{@Html("[]")}')
		
		var userSpecifiedDiseases = @if(cookieMap!=null && cookieMap.contains("diseases")){@Html(cookieMap.get("diseases"))}else{@Html("{}")};
		var isParentAndMeHasSamePincodeChecked=@if(cookieMap!=null && cookieMap.contains("isParentAndMeHasSamePincode") &&cookieMap.get("isParentAndMeHasSamePincode").equals("diff_location") ){false}else{true};
		
    </script>
    	
    
}