@(jsonData : com.fasterxml.jackson.databind.JsonNode, cookieMap:Map[String, String])
@import play.libs.Json;
@import com.arka.common.health.constants.HealthAttributeCode;
@import com.arka.consumerportal.procurementweb.controllers.HealthController;


<div class="healthModal__cover" id="family">
	<p class="healthModal__subText">AGE</p>
	<ul class="healthModal__coverBox familyMember">
		<li class="healthModal__coverList"><span
			class="healthModal__coverListText">You</span></li>
		<li class="healthModal__coverList">
			<select  name="gender"
				class="selectPicker healthModal__coverselect js__healthModal__coverselect height-auto"
				tabindex="-98" id="gender">
					@if( cookieMap !=null && cookieMap.contains("gender")){
						<option disabled>Gender</option>
						<option value="Male"  @if( cookieMap.get("gender").trim().equals("Male")){selected="selected"}>Male</option>
						<option value="Female"  @if( cookieMap.get("gender").trim().equals("Female")){selected="selected"}>Female</option>	
					}else{
					<option disabled selected>Gender</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>	
					}
			</select>
		</li>
		<li class="healthModal__coverList">
			<input id="selfAge" type='text' value="@if( cookieMap !=null && cookieMap.contains("selfAge")){@cookieMap.get("selfAge")}" name="selfAge" class="healthModal__coverInput digit-only">
		</li>
	</ul>
	<ul class="healthModal__coverBox familyMember">
		<li class="healthModal__coverList"><span
			class="healthModal__coverListText">Spouse</span></li>
		<li class="healthModal__coverList">
			@if( cookieMap !=null && cookieMap.contains("spouseGender") && !cookieMap.get("spouseGender").trim().equals("")){ 
				<input type="text" disabled="disabled" class="healthModal__coverInput digit-only" id="spouseDisabledGender" value="@cookieMap.get("spouseGender")">
			}else{
			@if( cookieMap !=null && cookieMap.contains("gender") && !cookieMap.get("gender").trim().equals("")){ 
				@if(cookieMap.get("gender").equals("Female")){
				<input type="text" disabled="disabled" id="spouseDisabledGender" value="Male">
				}else{
					<input type="text" disabled="disabled" id="spouseDisabledGender" value="Female">
				}
			}else{
				<input type="text" disabled="disabled" id="spouseDisabledGender" value="">
			}
		}
		<div style="display:none;">
			<select name="spouseGender" id="spouseGender"
				class="selectPicker healthModal__coverselect js__healthModal__coverselect"
				tabindex="-98" >
				@if( cookieMap !=null && cookieMap.contains("spouseGender") && !cookieMap.get("spouseGender").trim().equals("") ){
					<option disabled>Gender</option>
					<option value="Male" @if(cookieMap.get("spouseGender").equals("Male")){selected="selected"}>Male</option>
					<option value="Female" @if(cookieMap.get("spouseGender").equals("Female")){selected="selected"}>Female</option>	
				}else{
						
					<option disabled>Gender</option>
					<option value="Male" @if( cookieMap !=null && cookieMap.contains("gender") && cookieMap.get("gender").equals("Female")){selected="selected"}>Male</option>
					<option value="Female" @if( cookieMap !=null && cookieMap.contains("gender") && cookieMap.get("gender").equals("Male")){selected="selected"}>Female</option>	
					}
			</select>
			</div>
		</li>
		<li class="healthModal__coverList">
			
			<input type='text' value="@if( cookieMap !=null && cookieMap.contains("spouseAge")){@cookieMap.get( "spouseAge")}" name="spouseAge"
					class="healthModal__coverInput digit-only" id = "spouseAge"/> 
			
			</li>
	</ul>
	
@if( cookieMap !=null && cookieMap.contains("sonAge")  && Json.parse(cookieMap.get("sonAge")).hasNonNull("sonAge")
&& Json.parse(cookieMap.get("sonAge")).get("sonAge").size()>0){ 
	@for((age,age_index)<- Json.parse(cookieMap.get("sonAge")).get("sonAge").elements().zipWithIndex){
		<ul class="healthModal__coverBox familyMember son" data-cover="Son">
			<li class="healthModal__coverList"><span
				class="healthModal__coverListText">Son</span></li>
			<li class="healthModal__coverList">
			<input type="text" class="healthModal__coverInput child_age child_age digit-only" value="@age.get("age").asText()" name="sonAge"> 
				<span class="add-child">
					
					
					@if(Json.parse(cookieMap.get("sonAge")).get("sonAge").size()==1){
						<span class="healthModal__coverAdd js__cover__add" title="Add" onclick="addChild('son','family')"></span>
					}else{
					
						@if(jsonData!=null  && jsonData.hasNonNull("healthRestictions") && jsonData.get("healthRestictions").hasNonNull(HealthAttributeCode.AH_SON_AGE.getCode()+"_max_occurrence")){
							
							@if( Json.parse(cookieMap.get("sonAge")).get("sonAge").size() < jsonData.get("healthRestictions").get(HealthAttributeCode.AH_SON_AGE.getCode()+"_max_occurrence").asInt()){ 
								@if( age_index>0){ 
									<span class="healthModal__coverAdd js__cover__add" title="Add" onclick="addChild('son','family')"></span>
								}
							}
						<span class="healthModal__coverRemove js__cover__remove" onclick="removeChildren(this,'son','family')" title="Close"></span>
						}
						
					}
				</span>
			</li>
		</ul>
	}
}else{
	<ul class="healthModal__coverBox familyMember son" data-cover="Son">
		<li class="healthModal__coverList"><span
			class="healthModal__coverListText">Son</span></li>
		<li class="healthModal__coverList">
		<input type="text" class="healthModal__coverInput child_age child_age digit-only" value="" name="sonAge"> 
			<span class="add-child">
				<span class="healthModal__coverAdd js__cover__add" title="Add" onclick="addChild('son','family')"></span>
			</span>
		</li>
	</ul>
	}
	@if( cookieMap !=null && cookieMap.contains("daughterAge") && Json.parse(cookieMap.get("daughterAge")).hasNonNull("daughterAge") 
	&& Json.parse(cookieMap.get("daughterAge")).get("daughterAge").size()>0){
	@for((age,age_index)<- Json.parse(cookieMap.get("daughterAge")).get("daughterAge").elements().zipWithIndex){
	<ul class="healthModal__coverBox familyMember daughter" data-cover="Daughter">
		<li class="healthModal__coverList"><span
			class="healthModal__coverListText">Daughter</span></li>
		<li class="healthModal__coverList ">
			
			<input type='text' value="@age.get("age").asText()" name="daughterAge" class="healthModal__coverInput child_age digit-only"  />
			<span class="add-child">
			
			@if(Json.parse(cookieMap.get("daughterAge")).get("daughterAge").size()==1){
						<span class="healthModal__coverAdd js__cover__add" title="Add" onclick="addChild('daughter','family')"></span>
					}else{
						@if(jsonData!=null  && jsonData.hasNonNull("healthRestictions") && jsonData.get("healthRestictions").hasNonNull(HealthAttributeCode.AH_SON_AGE.getCode()+"_max_occurrence")){
							
							@if( Json.parse(cookieMap.get("daughterAge")).get("daughterAge").size() < jsonData.get("healthRestictions").get(HealthAttributeCode.AH_SON_AGE.getCode()+"_max_occurrence").asInt()){ 
								
								@if( age_index>0){  
									<span class="healthModal__coverAdd js__cover__add" title="Add" onclick="addChild('daughter','family')"></span>
								}
							}
						<span class="healthModal__coverRemove js__cover__remove" onclick="removeChildren(this,'daughter','family')" title="Close"></span>
						}
					}
			
			</span>
		</li>
	</ul>
	} 
	}else{
		<ul class="healthModal__coverBox familyMember daughter" data-cover="Daughter">
		<li class="healthModal__coverList"><span
			class="healthModal__coverListText">Daughter</span></li>
		<li class="healthModal__coverList ">
			<input type='text'  name="daughterAge" class="healthModal__coverInput child_age digit-only"  />
			<span class="add-child">
			<span class="healthModal__coverAdd js__cover__add" title="Add"  onclick="addChild('daughter','family')"></span> 
			</span>
		</li>
	</ul>
	}
	<ul class="healthModal__coverBox  parent-chk-box">
		<li class="healthModal__coverList">
			
			<input type="checkbox" name="includeParents" id="includeParents" 
			@if( cookieMap !=null && cookieMap.contains("includeParents") && cookieMap.get("includeParents").trim().equals("true") ){checked} class="healthModal__coverCheck">
			<label class="healthModal__coverListText healthModal__coverLabel js__healthParent"
			for="includeParents">Parents</label>
		</li>
	</ul>
	<div class="healthModal__parentCover familyMember parents">
		<ul class="healthModal__coverBox" data-cover="Parent">
			<li class="healthModal__coverList"><span
				class="healthModal__coverListText">Father</span></li>
			<li class="healthModal__coverList">
			<input type='text' value="@if( cookieMap !=null && cookieMap.contains("fatherAge")){@cookieMap.get( "fatherAge")}" name="fatherAge"
					class="healthModal__coverInput digit-only"  id="fatherAge"/> 
			
			</li>
		</ul>
		<ul class="healthModal__coverBox familyMember parents" data-cover="Parent">
			<li class="healthModal__coverList"><span
				class="healthModal__coverListText">Mother</span></li>
			<li class="healthModal__coverList">
			<input type='text' value="@if( cookieMap !=null && cookieMap.contains("motherAge")){@cookieMap.get( "motherAge")}" name="motherAge"
			class="healthModal__coverInput digit-only"  id="motherAge"/> 
			</li>
		</ul>
	</div>
</div>
<div class="healthModal__parentCoverBox">
	<p class="healthModal__parentText">Health Insurance premium is calculated based on the age of eldest in the family. Including parents naturally results in high premium,
	 hence it is recommended to buy separate policy for your parents,
	  this may save overall premium.</p>
	<ul class="healthModal__parentBox">
		<li class="healthModal__parentList"><a href="javascript:;"
			class="healthModal__parentLink js__proceed__link"
			title="Proceed anyway including parents">Proceed anyway including
				parents</a></li>
		<li class="healthModal__parentList"><a href="javascript:;"
			class="healthModal__parentLink js__sep__link"
			title="I will buy seperately for my parents">I will buy
				seperately for my parents</a></li>
	</ul>
</div>
<div class="healthModal__btnBox">
	<button class="healthModal__btn" onclick="validateFamily()">confirm</button>
</div>