@import com.arka.consumerportal.procurementweb.controllers.HealthController;
@(cookieMap:Map[String, String])
<div class="healthModal__location">
                            <div class="healthModal__locationBox">
                                <label class="healthModal__locationLabel"> Enter your pincode/place</label>
                                <div class="healthModal__locationSelect">
                                
                                
                                    <select name="" id="pincode" class="selectPicker healthModal__locationselect city-pincode-js height-auto" data-live-search="true">
                                    @if(cookieMap!=null && cookieMap.contains("pincode") && cookieMap.contains("pincodeLabel")&& cookieMap.contains("pincodeDisplay") ){
                                       <option data-pincode="@cookieMap.get("pincodeDisplay")" value="@cookieMap.get("pincode")" selected="selected">@cookieMap.get("pincodeLabel")</option>
                                    }else{
                                        <option value="" selected="selected">Type in your pincode/place</option>
                                    }	
                                    </select>
                                </div>
                            </div>
                            <div class="healthModal__locationBox">
                            
	                            <div class="healthModal__Label_hasSamePincodeForParent  hasSamePincodeForParent_div_js">
	                            <input type="checkbox" name="hasSamePincodeForParent" id="hasSamePincodeForParent_js"
	                             @if( cookieMap !=null && cookieMap.contains("hasSamePincodeForParent") && 
	                             cookieMap.get("hasSamePincodeForParent").equals("true") && cookieMap.contains("includeParents") &&
	                              cookieMap.get("includeParents").trim().equals("true")&& cookieMap.contains("parentsPincodeDisplay")  ){checked="checked"}>
	                                <label for="hasSamePincodeForParent_js">My Parents live with me</label>
	                            </div>
                            </div>
                            <div class="healthModal__locationBox parent-pincode-entry"  @if( cookieMap !=null && cookieMap.contains("hasSamePincodeForParent") && cookieMap.get("hasSamePincodeForParent").equals("true")){style="display: none;"}>
                                <label class="healthModal__locationLabel">Enter your parents pincode/place</label>
                                <div class="healthModal__locationSelect">
                                    <select name="" id="parentsPincode" class="selectPicker healthModal__locationselect city-pincode-js height-auto" data-live-search="true">
                                    @if(cookieMap.contains("parentsPincode") && cookieMap.contains("parentsPincodeLabel")  
                                    && cookieMap.contains("includeParents") && cookieMap.get("includeParents").trim().equals("true") 
                                    && cookieMap.contains("parentsPincodeDisplay") ){
                                        <option data-pincode="@cookieMap.get("parentsPincodeDisplay")" value="@cookieMap.get( "parentsPincode")" selected="selected">@cookieMap.get("parentsPincodeLabel")</option>
                                    }else{
                                        <option value="" selected="selected">Type in your parents pincode/place</option>
                                    }
                                    </select>
                                </div>
                            </div>
                            <div class="healthModal__locationBtnBox">
                                <button type="submit" class="policyBlock__btn" onclick="validatePincodeAndCloseModal()">confirm</button>
                            </div>
                        </div>
