@(jsonDisease : com.fasterxml.jackson.databind.JsonNode,cookieMap:Map[String, String])

@import com.arka.consumerportal.procurementweb.controllers.HealthController;

	<section class="healthDiseaseModal">    
            <div class="healthDiseaseModal__outer">
                <div class="healthDiseaseModal__inner healthDiseaseModal__inner--active">
                    <div class="healthModal__head">
                        <h2 class="healthModal__headTitle">Are there any Pre Existing Illness to declare?</h2>
                        <a href="javascript:;" title="Close" class="healthModal__close js__healthDiseaseModal__close"></a>
                    </div>
                    <div class="healthDiseaseModal__body">
                        <div class="healthDisease__selectBox">
                            <div class="healthDisease__select">
                            <input type="radio" name="hasAnyDisease" value="false" class="hasAnyDisease healthDisease__selectInput" id="no"
                             @if( cookieMap !=null && cookieMap.contains("hasAnyDisease") && cookieMap.get("hasAnyDisease").equals("false")){checked="checked"}>
                                <label for="no" class="healthDisease__selectLabel js__diseaseSelect">no, there are no diseases to declare</label>
                            </div>
                            <div class="healthDisease__select">
                            <input type="radio" name="hasAnyDisease" class="hasAnyDisease healthDisease__selectInput"  value="true" 
                            id="yes" @if( cookieMap !=null && cookieMap.contains("hasAnyDisease") && cookieMap.get("hasAnyDisease").equals("true")){checked="checked"}>
                                <label for="yes" class="healthDisease__selectLabel js__diseaseSelect">yes, i want to declare diseases</label>
                            </div>
                        </div>
                        <div class="healthDisease__detail">
                            <ul class="healthDisease__nav" id="health-disease-header-js">
                               
                                 
                            </ul>
                            <div class="healthDisease__tab" id="health-disease-content-js">
                                
                            </div>
                        </div>
                        
                               <div class="healthDisease__btnBox">
	                                <div class="confirmBox text-center">
											<a class="btn policyBlock__btn" onclick="validatePreExistingDisease()">CONFIRM</a>
									</div>
                               </div>
                               <div>&nbsp;</div>
                    </div>
                </div>
            </div>
        </section>