@()
<section class="shareDrop js__shareQuotes__popUp">
            <div class="checkoutContainerNew__outer">
                <div class="shareDrop__container">
                    <div class="checkoutContainerNew__inner">
                        <a class="js__shareDrop__close checkoutContainerNew__close" href="javascript:;" title="Close"></a>
                        <div class="checkoutContainerNew__tabOuterBox">
                            <div class="checkoutContainerNew__tabTitle">
                                <h2 class="checkoutContainerNew__tabTitleText">Share Quotes
                                    <quotes></quotes>
                                </h2>
                            </div>
                            <div class="checkoutContainerNew__detailsForm">
                                <h2 class="shareDrop__title">Copy the url below</h2>
                                <a href="javascript:;" title="" class="shareDrop__link js__shareQuotesLink"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>