@(jsonresponse : com.fasterxml.jackson.databind.JsonNode, cookieMap:Map[String, String])
@import com.arka.common.health.constants.HealthAttributeCode;
@import play.libs.Json;
@import com.arka.consumerportal.procurementweb.controllers.HealthController;




<div class="policyBlock__detailBoxInner">
	<label for="label-1" class="policyBlock__myCarLabel">Whom do you want to cover</label> 
		<select class="selectPicker healthMem__select insuranceType-js height-auto" id="insuranceType">
			@if( cookieMap !=null && cookieMap.contains("insuranceType") && ! cookieMap.get("insuranceType").trim().equals("")){
				<option value="" disabled>Select</option>
				<option value="INDIVIDUAL" @if( cookieMap.contains("insuranceType") && cookieMap.get("insuranceType").equals("INDIVIDUAL")){selected="selected"}>Me</option>
				<option value="FAMILY" @if( cookieMap.contains("insuranceType") && cookieMap.get("insuranceType").equals("FAMILY")){selected="selected"}>Me &amp; My Family</option>
			}else{
			<option value="" disabled selected>Select</option>
			<option value="INDIVIDUAL">Me</option>
			<option value="FAMILY">Me &amp; My Family</option>
			}	
		</select>
		<span class="error"></span>
	
		<div id="memberChoosedCount" class="policyBlock__healthChoosenFamily">
			@if( cookieMap !=null && cookieMap.contains("selfAge") && !cookieMap.get("selfAge").trim().equals("")){
				<span class="label-content">You</span>
			}@if( cookieMap !=null && cookieMap.contains("spouseAge")&& !cookieMap.get("spouseAge").trim().equals("")){
				@if( cookieMap.contains("selfAge")&& !cookieMap.get("selfAge").trim().equals("")){
					,&nbsp;
				}
				<span class="label-content">Spouse</span>
			}
			@if( cookieMap !=null && cookieMap.contains("fatherAge") && !cookieMap.get("fatherAge").trim().equals("")
			 && cookieMap.contains("includeParents") && cookieMap.get("includeParents").trim().equals("true")){
				@if( (cookieMap.contains("selfAge") && !cookieMap.get("selfAge").trim().equals("")) ||
				 (cookieMap.contains("spouseAge") && !cookieMap.get("spouseAge").trim().equals(""))){
					,&nbsp;
				}
				<span class="label-content"> Father </span>
			}
			@if( cookieMap !=null && cookieMap.contains("motherAge") && !cookieMap.get("motherAge").trim().equals("")
			  && cookieMap.contains("includeParents") && cookieMap.get("includeParents").trim().equals("true")){
			
			@if( (cookieMap.contains("selfAge") && !cookieMap.get("selfAge").trim().equals("")) ||
				 (cookieMap.contains("spouseAge") && !cookieMap.get("spouseAge").trim().equals(""))
			|| (cookieMap.contains("fatherAge") && !cookieMap.get("fatherAge").trim().equals(""))){
					,&nbsp;
				}
				<span class="label-content">Mother </span>
			}
			@if( cookieMap !=null && cookieMap.contains("sonAge") && Json.parse(cookieMap.get("sonAge")).hasNonNull("sonAge")&& Json.parse(cookieMap.get("sonAge")).get("sonAge").size()>0){
			<span class="label-content"> 
				@if( (cookieMap.contains("selfAge")&& !cookieMap.get("selfAge").trim().equals("")) ||
				 (cookieMap.contains("spouseAge") && !cookieMap.get("spouseAge").trim().equals("")) || 
				 (cookieMap.contains("includeParents")&& cookieMap.get("includeParents").trim().equals("true"))){
					,&nbsp;
				}
			 Son @if(Json.parse(cookieMap.get("sonAge")).get("sonAge").size()>1){(@Json.parse(cookieMap.get("sonAge")).get("sonAge").size())} </span>
			 
			}@if( cookieMap !=null && cookieMap.contains("daughterAge") && Json.parse(cookieMap.get("daughterAge")).hasNonNull("daughterAge") && Json.parse(cookieMap.get("daughterAge")).get("daughterAge").size()>0){ 
			 <span class="label-content">
					@if( cookieMap.contains("selfAge") || cookieMap.get("spouseAge")!=null || 
					(cookieMap.contains("includeParents") && cookieMap.get("includeParents").trim().equals("true") )){
					,&nbsp;
				}
 				Daughter @if(Json.parse(cookieMap.get("daughterAge")).get("daughterAge").size()>1){(@Json.parse(cookieMap.get("daughterAge")).get("daughterAge").size())} </span>
			 
			}
		</div> 
		
		
	<div class="policyBlock__detailBoxInner healthPolicyBlock__detailBoxInner  hide-pincode-div-js
	@if(!cookieMap.contains("insuranceType")){hide-pincode-div}" 
	onclick='showPincodePopUp()'>
         <p data-sam="sdsd" for="pin-label" class="policyBlock__myCarLabel">pincode </p>
         <input type="text" name="" value="" id="pin-label" class="policyBlock__myCarInput">
         <span class="healthPolicyBlock__myCarValues policyBlock__myCarValues js__policyBlock__myCarValues pincode-span  pincode-display-txt-js">
         @if( cookieMap !=null && cookieMap.contains("insuranceType") && cookieMap.contains("pincodeDisplay") ){
          @cookieMap.get("pincodeDisplay")
          
         }
         @if( cookieMap !=null && cookieMap.contains("insuranceType") && cookieMap.contains("parentsPincodeDisplay")
          && cookieMap.contains("includeParents")&& cookieMap.get("includeParents").trim().equals("true")){
          
	          @if( cookieMap.contains("pincodeDisplay") && cookieMap.get("pincodeDisplay").equals(cookieMap.get("parentsPincodeDisplay")) ){
	         	
	          }else{
		          @if( cookieMap.contains("pincodeDisplay")){
		          ;
		          }
         		@cookieMap.get("parentsPincodeDisplay")
         	}
         }
 		</span>
         <span class="error"></span>
     </div>
</div>
<div class="policyBlock__detailBoxInner">
	<label for="label-1" class="policyBlock__myCarLabel">Sum Assured</label> 
	<div class="health-sumSelect">
		<span class="rs">rs </span>
		<select class="selectPicker healthMem__select" data-size="4" name="sumAssured" id="sumAssured">
		
		
			@if( cookieMap !=null && cookieMap.contains("sumAssured") && !cookieMap.get("sumAssured").equals("")){
				
				@if(jsonresponse!=null && jsonresponse.hasNonNull("sumAssuredList")){
					@for((amnt) <- jsonresponse.get("sumAssuredList").fields()){
						<option value="@amnt.getKey()" @if( cookieMap.contains("sumAssured") && cookieMap.get("sumAssured").equals(amnt.getKey())){selected="selected"}>@amnt.getValue().asText()</option>
					}
				}
				
			}else{
				@if(jsonresponse!=null && jsonresponse.hasNonNull("sumAssuredList")){
					@for((amnt) <- jsonresponse.get("sumAssuredList").fields()){
						<option value="@amnt.getKey()" @if("500000".equals(amnt.getKey())){selected="selected"} >@amnt.getValue().asText() </option>
					}
				}
				
			}	
		</select>
		
	</div>
</div>